{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<style media="screen">

</style>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service
    </span>
  </p>
</div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l ">Fish</span>
    <h1 class="govuk-heading-l">Manage certificate routing</h1>


<form method="post" action="/form-builder/conditional-routing-2/index">
  <table class="govuk-table">
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th scope="col" class="govuk-table__header">Commodity type</th>
<th scope="col" class="govuk-table__header">Commodity name</th>
<th scope="col" class="govuk-table__header">Certificate destination</th>
<th scope="col" class="govuk-table__header"></th>
</tr>
</thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
  <td class="govuk-table__cell" valign="top">Live shellfish</td>
  <td class="govuk-table__cell" valign="top">Clams</br>
                                            Crabs</br>
                                            Crayfish</br>
                                            Lobster</br>
                                            Mixed shellfish</br>
                                            Molluscs</br>
                                            Mussels</br>
                                            Oysters</br>
                                            Prawns</br>
                                            Whelks</br>
                                            Other</td>
  <td class="govuk-table__cell" valign="top">{{ data['disease-clearance-clams'] }}<br/>
    {{ data['disease-clearance-crabs'] }}<br/>
    {{ data['disease-clearance-crayfish'] }}<br/>
    {{ data['disease-clearance-lobster'] }}<br/>
    {{ data['disease-clearance-mixedshellfish'] }}<br/>
    {{ data['disease-clearance-molluscs'] }}<br/>
    {{ data['disease-clearance-mussels'] }}<br/>
    {{ data['disease-clearance-oysters'] }}<br/>
    {{ data['disease-clearance-prawns'] }}<br/>
    {{ data['disease-clearance-whelks'] }}<br/>
    {{ data['disease-clearance-other'] }}<br/>

  </td>
  <td class="govuk-table__cell" valign="top"><a href="disease-check">Change</a></td>
</tr>
<tr class="govuk-table__row">
<td class="govuk-table__cell" valign="top">Fishery products</td>
<td class="govuk-table__cell" valign="top">Clams<br/>
Cod<br/>
Crab<br/>
Crayfish<br/>
Fish oil<br/>
Haddock<br/>
Halibut<br/>
Langoustines<br/>
Lobster<br/>
Mackerel<br/>
Mixed products<br/>
Molluscs<br/>
Mussels<br/>
Other<br/>
Oysters<br/>
Prawns<br/>
Salmon<br/>
Trout <br/>
Whelks
<td class="govuk-table__cell" valign="top">
  Certifier<br/>
  Certifier<br/>
  Certifier<br/>
  Certifier<br/>
  Certifier<br/>
  Certifier<br/>
  Certifier<br/>
  Certifier<br/>
  Certifier<br/>
  Certifier<br/>
  Certifier<br/>
  Certifier<br/>
  Certifier<br/>
  Not needed<br/>
  Case worker<br/>
  Certifier<br/>
  Certifier<br/>
  Certifier<br/>
  Case worker
</td>
<td class="govuk-table__cell" valign="top"><a href="javascript:alert('Not in prototype!');">Change</a></td>
</tr>
</tbody>
</table>
            <input class="govuk-button"
                   type="submit"
                   value="Save and continue"
                   >
            </form>
  </div>
</div>
{% endblock %}
