{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<style media="screen">
.align_top {
  valign: top !important;
}
</style>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service
    </span>
  </p>
</div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l ">Fish</span>
    <h1 class="govuk-heading-l">Manage certificate routing</h1>


<form method="post" action="/form-builder/conditional-routing-2/reference-data/fish">
  <table class="govuk-table">
<thead class="govuk-table__head">
<tr class="govuk-table__row">
<th scope="col" class="govuk-table__header">Commodity type</th>
<th scope="col" class="govuk-table__header">Commodity name</th>
<th scope="col" class="govuk-table__header">Certificate destination</th>
<th scope="col" class="govuk-table__header"></th>
</tr>
</thead>
<tbody class="govuk-table__body">
<tr class="govuk-table__row">
<td class="align_top govuk-table__row ">Live shellfish</th>
<td class="govuk-table__row">Clams</br>
Crabs</br>
Crayfish</br>
Lobster</br>
Mixed shellfish</br>
Molluscs</br>
Mussels</br>
Oysters</br>
Prawns</br>
Whelks</br>
Other</td>
<td class="govuk-table__row">First 6 weeks</th>
<td class="govuk-table__row">£109.80 per week</td>
</tr>
</tbody>
</table>
            <input class="govuk-button"
                   type="submit"
                   value="Save and continue"
                   >
            </form>
  </div>
</div>
{% endblock %}
