{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div>
          <h2 class="govuk-heading-xl heading-with-help">Edit Page</h2>
        </div>

        <form class="case-update" style="display: inline;" action="pages" method="get">
          <input type="hidden" name="crumb_csrf_token" value="tHqzFHlMR8fdGv61rRffxpboiFBlQTXyVy5J6026StE">

          <div class="govuk-form-group margin-top-30">
            <label class="govuk-label govuk-!-font-weight-bold" for="title">Page title</label>
            <input class="govuk-input" id="title" name="title" data-qa-id="Input-title" value="{{page_title or 'How will the horse be identified?'}}">
          </div>
          <input type="hidden" name="updated_id" data-qa-id="Input-title" value="{{query.updated_id}}">
          <div class="govuk-form-group margin-top-30">
            <label class="govuk-label govuk-!-font-weight-bold" for="title">Task list title (optional)</label>
            <span class="govuk-hint">For pages with very long titles, or to group pages into a sub-section, enter a short task title.
Only shows on the task list. If empty the page title will show on the task list.</span>
            <div id="task-title-container">
<input class="govuk-input" id="task-group-title-backup" name="task_title" data-qa-id="Input-title" value="{{query.task_title or 'Horse identification'}}">
            </div>

          </div>
          <div class="defra-alert defra-alert--info" style="display:none">
            <p class="govuk-body govuk-!-margin-bottom-0">This page will be grouped under the title <strong class="task-linked-page-name">Hourse details</strong> with 2 other pages</p>
          </div>
          <div class="govuk-form-group margin-top-30">
            <label class="govuk-label govuk-!-font-weight-bold" for="subtitle">Subtitle</label>
            <input class="govuk-input" id="subtitle" name="subtitle" data-qa-id="Input-subtitle" value="">
          </div>

          <div class="govuk-form-group margin-top-30">
            <label class="govuk-label govuk-!-font-weight-bold" for="hint">Hint</label>
            <input class="govuk-input" id="hint" name="hint" data-qa-id="Input-hint" value="">
          </div>

          <input type="hidden" name="pageOrder" value="2">

          <input class="govuk-button" type="submit" id="Button-Save-Page" value="Save page" name="save_page">
        </form>
      </div>
    </div>
    <script src="/public/javascripts/accessible-autocomplete.min.js" charset="utf-8"></script>

    <script type="text/javascript">
      window.addEventListener('load', function() {
        $('#task-group-title-backup').hide()
        var groups = ["Horse details","Consignment details","Examination details","Consignor","Consigee"]
        var element = document.querySelector('#task-title-container')
        var id = 'task-group-title'
        var d = document.getElementById('task-group-title-backup').value
        function showGrouping(confirmed){
          if(confirmed){
            $(".defra-alert").show()
            $(".task-linked-page-name").text(confirmed)
          }else{
            $(".defra-alert").hide()
          }

        }
        accessibleAutocomplete({
          element: element,
          id: id,
          showAllValues: true,
          tNoResults:function(){return "Add new group or task name"},
          showNoOptionsFound: true,
          onConfirm: showGrouping,
          defaultValue: d,
          source: groups

        })
      })


    </script>
{% endblock %}
