{% extends "layout.html" %}

{% block pageTitle %}
{{page.title}} - GOV.UK
{% endblock %}

{% block beforeContent%}
{{super()}}
<a href="{{page.content.prev or 'javascript:history.back()'}}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" class="form">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-xl">
            {{ data.title or 'Your products'}}
          </h1>

          <p class="govuk-body">{{ data.paragraph }}</p>
          <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
                Do you want to add manually or upload a schedule?
            </legend>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-contacted-conditional" name="add_product_method" type="radio" value="manually" {% if data.add_product_method == 'manually' %}checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="one-at-a-time">
                  add manually (recommended for up to {{data.max or "5"}})
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-contacted-conditional" name="add_product_method" type="radio" value="upload" data-aria-controls="conditional-how-add-products" {% if data.add_product_method == 'upload' %}checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="upload-a-file">
                  upload a schedule
                </label>
              </div>
              <!-- <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-add-products">
                <p class="govuk-body">You </p>
              </div> -->
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">
        Save and continue
        </button>


      </form>
    </div>
  </div>
{% endblock %}
