{% extends "layout.html" %}

{% block pageTitle %}
{{page.title}} - GOV.UK
{% endblock %}

{% block beforeContent%}
{{super()}}
<a href="{{page.content.prev or 'javascript:history.back()'}}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" class="form">
        <div class="govuk-form-group">
          <h1 class="govuk-heading-xl">
            {{query.title or 'What are the details of the product?'}}
          </h1>
          <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m ">
              <h2 class="govuk-fieldset__heading">
                Do you want to add a schedule?
              </h2>
            </legend>

            <p class="govuk-body">You can add up to 5 manually, if you need to add more, you can attach a schedule.</p>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-contacted-conditional" name="add_product_method" type="radio" value="manually" {% if data.add_product_method == 'manually' %}checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="one-at-a-time">
                  No, add manually (up to maximum of 5)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="how-contacted-conditional" name="add_product_method" type="radio" value="upload" data-aria-controls="conditional-how-add-products" {% if data.add_product_method == 'upload' %}checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="upload-a-file">
                  Yes, attach a schedule (recommended for more than 5)
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-add-products">
                <p class="govuk-body">You can upload your schedule on the next screen, or just continue and upload it later.</p>
              </div>
            </div>
          </fieldset>
        </div>
<button class="govuk-button" data-module="govuk-button">
Continue
</button>


      </form>
    </div>
  </div>
{% endblock %}
