
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
        <style>.app-tabs {
            border: 1px solid #b58840;
        }
        .app-tabs:hover {
            border: 1px solid #1d70b8	;
        }
       </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Admin (form builder) prototype
      </h1>

      <h3 class="govuk-heading-s">Audit</h3>
      <ul class="govuk-list">
        <li><a href="/form-builder/EXP-12730-audit/index">Audit history</a></li>
        <li><a href="/form-builder/EXP-12730-audit/reasons-for-change">Audit input page</a></li>
        <li><a href="/form-builder/EXP-12730-audit/reasons-for-change-error">Audit input page - validation error</a></li>
      </ul>

      <h3 class="govuk-heading-s"></h3>
      <ul class="govuk-list">
        <li><a href="v1-4/index" class="govuk-link--no-visited-state">Version 1.4 </a></li>
        <li><a href="v1-3/index" class="govuk-link--no-visited-state">Version 1.3 </a></li>
        <li><a href="v1-2/index" class="govuk-link--no-visited-state">Version 1.2 </a></li>
        <li><a href="v1-1/index" class="govuk-link--no-visited-state">Version 1.1 </a></li>
        <br/>
        <li><a href="EXP-10904-restricted-publishing-2/contents" class="govuk-link--no-visited-state">EXP-10904 restricted publishing v2</a></li>

    </div>
</div>

{% endblock %}
