<div class="govuk-form-group">
  <p class="govuk-body">
    If you are only able to complet partially you can leave the rest for the OV
  </p>
  <div class="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
      <label class="govuk-label govuk-checkboxes__label" for="waste">
        Leave remaining for the <abbr title="Enviromental health office">EHO</abbr>
      </label>
    </div>
  </div>
</div>
