{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block pageTitle %}
  Group number
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" id="form" class="form">

      <!--<span class="govuk-caption-l"></span>-->
      <h1 class="govuk-heading-l">Group number</h1>

      <p class="govuk-body">
        If you want to link multiple applications together enter a reference number to connect them as a group.
      </p>

      <p class="govuk-body">
        Your reference number:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>must be 10 characters or less</li>
        <li>can include both letters and numbers</li>
      </ul>
      
      <p class="govuk-body">
        If you do not want to link your applications leave this box blank and select 'Save and continue'.
      </p>

      <fieldset class="govuk-fieldset">

        <div class="govuk-form-group">
          <label class="govuk-label" for="group-number">
            Group number
          </label>
          <input class="govuk-input govuk-input--width-10" id="group-number" name="group-number" type="text" value="{groupNumber}">
        </div>
          
      </fieldset>

      <a href="#" class="govuk-button">
        Save and continue
      </a>

      <p>
        <a href="dashboard.html">
          Save and continue later
        </a>
      </p>

      </form>
    
    </div>
</div>

{% endblock %}