
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}




<style>h2{padding-top: 50px!important;}</style>





<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>

<div class="govuk-width-container">

<div class="govuk-grid-row">
<div class="govuk-grid-column-full">


<h1 class="govuk-heading-xl">
    Review your answers
</h1>

<div class="govuk-details__text">
    <strong class="govuk-body ">
        Your application for a health certificate is now ready to be submitted.<br>
        Please check that the answers you've provided are correct.
    </strong>
</div>
<br/><br/>
<table class="govuk-table">
<tbody class="govuk-table__body">

<tr class="govuk-table__row">
    <td colspan="3">
		<h2 class="govuk-heading-m">
			General Information about your export
		</h2>

    </td>
</tr>

<!--<tr class="govuk-table__row">
   <!-- <td class="govuk-table__header" scope="row" id="specific-commodity-question">
        What specific commodity are you exporting?
    </td>
    <td class="govuk-table__cell" scope="row" id="specific-commodity-answer"><p>{{ data['selectedCommodityNameOrCommodityType'] }}</p>
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="1" data-qa-id="Link-ChangeAnswer" id="Link-specific-commodity-question">Edit</a>
    </td>
</tr>-->
<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="-question">Select the certifier practice to include with your application
    </td>
    <td class="govuk-table__cell" scope="row" id="0-answer">{{ data['certifier'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="4-plus-plus-plus?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-0">Edit</a>
    </td>
</tr>

<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="-question">Alert your OV or certifier you have begun this application?
    </td>
    <td class="govuk-table__cell" scope="row" id="0-answer">{{ data['alert'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="3-plus?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-0">Edit</a>
    </td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="-question">Select certificate delivery address
    </td>
    <td class="govuk-table__cell" scope="row" id="1-answer">{{ data['ov_address'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="15c?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-1">Edit</a>
    </td>
</tr>

<tr class="govuk-table__row"><td/>&nbsp;</td></tr>
<tr class="govuk-table__row">
    <td colspan="3">
		<h2 class="govuk-heading-m">
			Exporter information
		</h2>

    </td>
</tr>

<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="50-question">Are you the exporter or the agent of the exporter?
    </td>
    <td class="govuk-table__cell" scope="row" id="2-answer">{{ data['exporter_correct'] }}


        {% if  (  data.exporter_correct and data.full_name and data.email and  data.telephone_number  )




         %}
        <br>Exporter details:
        {{ data['full_name'] }} {{ data['email'] }}  {{ data['telephone_number'] }}

        {% endif %}

    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="3-plus-plus?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-2">Edit</a>
    </td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="41-question">

        Do you want to create your own unique reference number?


    </td>
    <td class="govuk-table__cell" scope="row" id="3-answer">
        {{ data['reference_number'] }} &nbsp;&nbsp;&nbsp;
        {{ data['ref_number'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="3?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-3">Edit</a>
    </td>
</tr>
<!--<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="40-question">What is the name of the exporter?
    </td>
    <td class="govuk-table__cell" scope="row" id="4-answer">{{ data['exporter'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="1?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-4">Edit</a>
    </td>
</tr>-->

<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="49-question">In which region will the certification take place?
    </td>
    <td class="govuk-table__cell" scope="row" id="6-answer">{{ data['region'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="16?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-6">Edit</a>
    </td>
</tr>

<tr class="govuk-table__row"><td/>&nbsp;</td></tr>
<tr class="govuk-table__row">
    <td colspan="3">
		<h2 class="govuk-heading-m">
			Details of origin of the consignment
		</h2>

    </td>
</tr>




<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="44-question">Slaughterhouse name
    </td>
    <td class="govuk-table__cell" scope="row" id="7-answer">{{ data['slaughterhouse_name'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="7?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-7">Edit</a>
    </td>
</tr>

<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="44-question">Slaughterhouse postcode
    </td>
    <td class="govuk-table__cell" scope="row" id="7-answer">{{ data['address_postcode'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="7?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-7">Edit</a>
    </td>
</tr>

<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="44-question">Slaughterhouse veterinary approval number
    </td>
    <td class="govuk-table__cell" scope="row" id="7-answer">{{ data['veterinary_approval_number'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="7?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-7">Edit</a>
    </td>
</tr>

<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="44-question">What is the origin of the raw materials?
    </td>
    <td class="govuk-table__cell" scope="row" id="7-answer">{{ data['origin'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="5?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-7">Edit</a>
    </td>
</tr><tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="44-question">Where were the animals slaughtered?
    </td>
    <td class="govuk-table__cell" scope="row" id="7-answer">{{ data['where_slaughtered'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="5?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-7">Edit</a>
    </td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="46-question">What are the dates of processing of the product?
    </td>
    <td class="govuk-table__cell" scope="row" id="8-answer">From {{ data['processing_day'] }} {{  data['processing_month'] }} {{  data['processing_year'] }} To {{ data['processing_day2'] }} {{  data['processing_month2']}} {{  data['processing_year2'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="4?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-8">Edit</a>
    </td>
</tr>


<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="42-question">What is the planned date of certification?
    </td>
    <td class="govuk-table__cell" scope="row" id="11-answer">{{ data['certification_day'] }} {{ data['certification_month'] }} {{ data['certification_year'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="5?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-11">Edit</a>
    </td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="43-question">What is the planned export date of the consignment?
    </td>
    <td class="govuk-table__cell" scope="row" id="12-answer">{{ data['export_day'] }} {{ data['export_month'] }} {{ data['export_year'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="5?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-12">Edit</a>
    </td>
</tr>



<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="224-question">Provide cutting plant name

    </td>
    <td class="govuk-table__cell" scope="row" id="16-answer">{{ data['cutting_name'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="9?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-16">Edit</a>
    </td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="262-question">Cutting plant address
    </td>
    <td class="govuk-table__cell" scope="row" id="17-answer">{{ data['cutting_postcode'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="9?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-17">Edit</a>
    </td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="263-question">Provide cutting plant Veterinary Approval number.
    </td>
    <td class="govuk-table__cell" scope="row" id="18-answer">{{ data['cutting_van'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="9?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-18">Edit</a>
    </td>
</tr>

<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="46-question">What are the dates of processing of the product?
    </td>
    <td class="govuk-table__cell" scope="row" id="8-answer">From {{ data['cutting_day'] }} {{  data['cutting_month'] }} {{  data['cutting_year'] }} To {{ data['cutting_day2'] }} {{  data['cutting_month2']}} {{  data['cutting_year2'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="4?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-8">Edit</a>
    </td>
</tr>




<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="227-question">What are the details of the cold store?
    </td>
    <td class="govuk-table__cell" scope="row" id="19-answer">{{ data['coldstore_name'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="11?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-19">Edit</a>
    </td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="227-question">What are the details of the cold store?
    </td>
    <td class="govuk-table__cell" scope="row" id="19-answer">{{ data['coldstore_postcode'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="11?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-19">Edit</a>
    </td>
</tr><tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="227-question">What are the details of the cold store?
    </td>
    <td class="govuk-table__cell" scope="row" id="19-answer">{{ data['coldstore_van'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="11?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-19">Edit</a>
    </td>
</tr>


<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="46-question">What is the shelf life of the product(s)?
    </td>
    <td class="govuk-table__cell" scope="row" id="8-answer">From {{ data['shelf_day'] }} {{  data['shelf_month'] }} {{  data['shelf_year'] }} To {{ data['shelf_day2'] }} {{  data['shelf_month2']}} {{  data['shelf_year2'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="11?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-8">Edit</a>
    </td>
</tr>




<tr class="govuk-table__row"><td/>&nbsp;</td></tr>
<tr class="govuk-table__row">
    <td colspan="3">
		<h2 class="govuk-heading-m">
			Exported product details
		</h2>

    </td>
</tr>

<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="228-question">What is the name of the product?
    </td>
    <td class="govuk-table__cell" scope="row" id="20-answer">{{ data['product_name'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="11-minus?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-20">Edit</a>
    </td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="229-question">What type of product is it?
    </td>
    <td class="govuk-table__cell" scope="row" id="21-answer">{{ data['product_type'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="11-minus?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-21">Edit</a>
    </td>
</tr>




<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="46-question">Over what range of dates was the product processed, wrapped and packaged for export?
    </td>
    <td class="govuk-table__cell" scope="row" id="8-answer">From {{ data['processed_day'] }} {{  data['processed_month'] }} {{  data['processed_year'] }} To {{ data['processed_day2'] }} {{  data['processed_month2']}} {{  data['processed_year2'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="11-minus?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-8">Edit</a>
    </td>
</tr>




<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="230-question">What is the type and number of packages?
    </td>
    <td class="govuk-table__cell" scope="row" id="22-answer">{{ data['packages'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="13?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-22">Edit</a>
    </td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="231-question">What is the gross and net weight of the product?
    </td>
    <td class="govuk-table__cell" scope="row" id="23-answer">{{ data['weight'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="13?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-23">Edit</a>
    </td>
</tr>

<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="243-question">What are the batch numbers?
    </td>
    <td class="govuk-table__cell" scope="row" id="29-answer">{{ data['batch'] }} <div class="blue-tag" style="width: auto">
        EHO or OV to answer
    </div>
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="13?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-29">Edit</a>
    </td>
</tr>

<tr class="govuk-table__row"><td/>&nbsp;</td></tr>
<tr class="govuk-table__row">
    <td colspan="3">
		<h2 class="govuk-heading-m">
			Transport details
		</h2>

    </td>
</tr>

<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="244-question">What are the shipping marks?
    </td>
    <td class="govuk-table__cell" scope="row" id="30-answer">{{ data['marks'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="13?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-30">Edit</a>
    </td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="246-question">What is the storage temperature?
    </td>
    <td class="govuk-table__cell" scope="row" id="31-answer">{{ data['temperature'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="13?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-31">Edit</a>
    </td>
</tr>

<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="249-question">What is the port(s) of departure?
    </td>
    <td class="govuk-table__cell" scope="row" id="33-answer">{{ data['port'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="14?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-33">Edit</a>
    </td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="251-question">What is the port(s) of entry in China?
    </td>
    <td class="govuk-table__cell" scope="row" id="34-answer">{{ data['china_port'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="14?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-34">Edit</a>
    </td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="254-question">What is the means of transport?
    </td>
    <td class="govuk-table__cell" scope="row" id="35-answer">{{ data['transport_means'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="14?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-35">Edit</a>
    </td>
</tr>
<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="255-question">What is the container number?
    </td>
    <td class="govuk-table__cell" scope="row" id="36-answer">{{ data['container_number'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="14?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-36">Edit</a>
    </td>
</tr><tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="255-question">What is the seal number?
    </td>
    <td class="govuk-table__cell" scope="row" id="36-answer">{{ data['seal_number'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="14?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-36">Edit</a>
    </td>
</tr>

<tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="257-question">What is the name of the consignor?
    </td>
    <td class="govuk-table__cell" scope="row" id="38-answer">{{ data['consignor'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="15?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-38">Edit</a>
    </td>
</tr><tr class="govuk-table__row">
    <td class="govuk-table__header" scope="row" id="257-question">What is the address of the consignor?
    </td>
    <td class="govuk-table__cell" scope="row" id="38-answer">{{ data['importer_address'] }}
    </td>
    <td class="govuk-table__cell align-right" scope="row">
        <a class="govuk-link" href="15?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-38">Edit</a>
    </td>
</tr>


</tbody>
</table>



</div>
</div>




<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div>
            <form action="specimen" method="POST">
                <input type="hidden" name="crumb_csrf_token" value="gTlLBKyL-1hcIX_eIlqttNqVHhFrTHmuqTG5yTJsotb">
                <input type="hidden" name="applicationFormStatus" value="">
                <input class="govuk-button margin-top-30" type="submit" value="Continue" id="Button-Continue" data-qa-id="Button-Continue">
            </form>
        </div>
    </div>
</div>
</div>






<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-body">


        <form action="dashboard">
            <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
        </form>


    </div>
</div>










{% endblock %}
