<style media="screen">
  .defra-callout{
    background: #f3f2f1	;
    padding: 20px;
  }
</style>

<div class="govuk-form-group defra-callout">
  <h3 class="govuk-heading-m">Skip answers</h3>
  <p class="govuk-body">
    If you are only able to complete partially you can leave the rest for the OV
  </p>
  <div class="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
      <label class="govuk-label govuk-checkboxes__label" for="waste">
        Leave remaining for the <abbr title="Enviromental health office">EHO</abbr>
      </label>
    </div>
  </div>
</div>

<script type="text/javascript">

window.addEventListener('load', function() {

})
</script>
