{% if query.hasError and (data.empty | length) > 0%}
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">

    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <!--<p class="govuk-body govuk-!-margin-bottom-0">If you wish to skip these questions</p>-->
        <a href="#passport-issued-error">Confirm you have answered as many questions as you can</a>
      </li>
    </ul>
  </div>
</div>
{% endif %}
