{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Create a new {{data.certificate_code or "2849"}}
        <span class="govuk-caption-l">Permanently export horses to the United Arab Emirates (UAE)</span>

      </h1>

        {% if query.first_time=="yes" %}
        <p class="govuk-body">
          You are about to create a new export health certificate and add it to your application.
        </p>
        <p class="govuk-body">
          When you have finished, you can create and add more certificates. You can add up to {{data.mulitiple_max}} certificates to this application.
        </p>
        {% endif %}

      <form method="post" >
        <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">


                  <div class="govuk-form-group " id="conditional-certificates">
                    <label class="govuk-label govuk-label--s" for="reference_num">Your reference for this certificate</label>
                    <span class="govuk-hint">
                        Enter a reference such as the name of the animal or an invoice number. This reference will not appear in the certificate.
                    </span>
                    <input class="govuk-input govuk-input--width-20" id="reference_num" name="ehc_reference_num" value="{% if query.change == 'yes'%}{{ data.ehc_reference_num }}{%endif%}" type="text">
                  </div>
              </fieldset>
            </div>
            <p class="govuk-body"><button type="submit" class="govuk-button">Continue</button>
        </form>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-body">
          <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
        </div>
      </div>
      <h2 class="govuk-heading-m">Before you start</h2>
      <p class="govuk-body">Your answers will go into an export health certificate: <a href="https://assets.publishing.service.gov.uk/media/5bc45a36ed915d0ae0044a25/2849EHC_V1.pdf">download a sample  {{data.certificate_code}} certificate </a></p>
      <p class="govuk-body">Read <a href="https://assets.publishing.service.gov.uk/media/5bc45a53ed915d0ad7db6c87/2849NFG.doc">APHA's guidance for exporters and certifiers</a></p>

      <p></p>
    </div>
  </div>
</div>
{% endblock %}
