{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Create a new {{data.certificate_code or "2849"}}
      </h1>

        {% if query.first_time=="yes" %}
        <p class="govuk-body">
          All information in this section will appear on the certificate. If you are unable to answer questions you can leave it for the certifier.
        </p>
        <p class="govuk-body">
          You will be able to create up to {{data.mulitiple_max}} horses on this application
        </p>
        <p class="govuk-body">Before you start you might want to look at the following:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
          <li><a href="https://assets.publishing.service.gov.uk/media/5bc45a36ed915d0ae0044a25/2849EHC_V1.pdf">Download a sample of the {{data.certificate_code}} certificate </a></li>
          <li><a href=  "https://assets.publishing.service.gov.uk/media/5bc45a53ed915d0ad7db6c87/2849NFG.doc">Download guidance notes for certificate {{data.certificate_code}}</a></li>
        </ul>
        {% endif %}

      <form method="post" >
        <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">


                  <div class="govuk-form-group " id="conditional-certificates">
                    <label class="govuk-label govuk-label--s" for="reference_num">Reference name for this certificate</label>
                    <span class="govuk-hint">
                        You can give this certificate a reference to make it easier to identify the certificate. This can be the name of the horse or a unique ID.
                    </span>
                    <input class="govuk-input govuk-input--width-20" id="reference_num" name="ehc_reference_num" value="{% if query.change == 'yes'%}{{ data.ehc_reference_num }}{%endif%}" type="text">
                  </div>
              </fieldset>
            </div>
            <p class="govuk-body"><button type="submit" class="govuk-button">Continue</button>
        </form>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-body">
          <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
        </div>
      </div>
      <p></p>
    </div>
  </div>
</div>
{% endblock %}
