
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
<a href="index" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <!--<span class="govuk-caption-xl">Certificate 2849</span>

        <h1 class="govuk-heading-xl">
          Permanently export horses to the United Arab Emirates (UAE)
      </h1>-->
        <span class="govuk-caption-xl">Horse 2 of 4</span>
        <h1 class="govuk-heading-xl">
            Horse details
        </h1>

        <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
                What is the horse called? (optional)
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
                What is the breed of the horse? (optional)
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>

        <a href="2" type="submit" class="govuk-button govuk-!-margin-bottom-5">
            Add a horse
        </a>

        <a href="index" style="padding: 0 0 0 10px;position: relative;top:8px">Cancel and return to the previous page</a>
        <br>
<a href="1">Save and continue later</a><br>


    </div>
</div>
</div>

{% endblock %}
