<div class="govuk-grid-column-full">

  <div class="derfa-filter--content">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Start date
                </legend>
                <input class="govuk-input" id="event-name" name="event-name" type="text">
                <div id="account-number-hint" class="govuk-body-s">
                  For example 2020 or 21/05/2020
                </div>
            </div>
        </div>
        </fieldset>
      </div>


      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              End date
            </legend>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
   
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              User
            </legend>
            <select class="govuk-select govuk-!-width-full" id="filter_name" name="filter_name">
              <option value="All users">All users</option>
              {% set list = []%}
              {% for cert in data.applications %}
              {% if not cert.name in list %}
              <option value="{{cert.name}}" {% if cert.name==data.filter_name %}selected{%endif%}>{{cert.name}}{% if
                logged_in_as == cert.name %} <strong>(you)</strong>{%endif%}</option>
              {{list.push(cert.name)}}
              {% endif %}
              {% endfor %}
            </select>         
        </div>
      </div>
    </div>
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Status
                </legend>
                <select class="govuk-select govuk-!-width-full" id="filter_name" name="filter_name">
                  <option value="All">All</option>
                  <option value="Live">Live</option>
                  <option value="Pending">Pending</option>
                  <option value="Draft">Draft</option>
                  <option value="Expired">Expired</option>
                </select>
                <div id="account-number-hint" class="govuk-body-s">
                 </div>
            </div>
        </div>
        </fieldset>
      </div>


      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Message type
            </legend>
            <select class="govuk-select govuk-!-width-full" id="filter_name" name="filter_name">
              <option value="All">All</option>
              <option Exporters="All">Alert</option>
              <option Certifiers="All">Information</option>
            </select>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Audience
            </legend>
            <select class="govuk-select govuk-!-width-full" id="filter_name" name="filter_name">
              <option value="All">All</option>
              <option Exporters="All">Exporters</option>
              <option Certifiers="All">Certifiers</option>
             </select>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <button type="submit" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button" name="has_filter"
          value="yes">
          Apply filter
        </button>
        <a href="?filter_status=&has_filter=&date_range=&filter_name=&show_applications_by=me"
          class="defra-link-button defra-link-button--inline" data-module="govuk-button">
          Clear filters
        </a>
      </div>
    </div>
  </div>





</div>