{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
  .app-tabs {
    border: 1px solid #b58840;
  }

  .app-tabs:hover {
    border: 1px solid #1d70b8;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      EXP-9761 Enhancements to skipping
    </h1>
    <p class="govuk-body"><a href="https://eaflood.atlassian.net/browse/EXP-9761">View jira story</a></p>

    <ul class="govuk-list">
      <li><a href="../multiples-1-4/certificate/page?id=8&next=2&hasError=yes&certificate=ehc2849&hasError=&empty=">Skip multiple questions</a> </li>
      <li><a href="../multiples-1-4/certificate/page?id=2&next=2&certificate=ehc2849&hasError=&empty=">Skip single question page</a> </li>
      <br>
      <li><a href="../multiples-1-4/certificate/check-your-answers-ehc?certificate=ehc2849">Check your answers, with skipped content </a><span class="govuk-hint">Note: This prototype page is for multiples. Its used for only showing the "
You skipped this question" text</span></li>
      <br>
      <li><a href="../multiples-1-4/certificate/page?id=2&next=2&hasError=yes&certificate=ehc2849&&empty=this">Error on multiple page</a> </li>
      <li><a href="../multiples-1-4/certificate/page?id=8&next=2&certificate=ehc2849&empty=this">Error on single page</a> </li>
    </ul>
  </div>
</div>

{% endblock %}
