{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<style media="screen">
  .defra-check-answers-title{
    background: #f3f2f1;
    padding: 10px;
  }
</style>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <!-- Error message -->
      {% if query.has_error == "yes" %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#consignor-name-error">Seabiscuit certificate has 2 errors</a>
            </li>
            <li>
              <a href="#consignor-address-error">Redrum certificate has 1 error</a>
            </li>
          </ul>
        </div>
      </div>
      {% endif %}
      {% if query.show_alert == "yes"%}
      {% if alert_type == "added"%}
      <div class="defra-alert defra-alert--success"><p class="govuk-body govuk-!-margin-bottom-0">Successfully added a new certificate</p></div>
      {% elseif alert_type == "deleted" %}
      <div class="defra-alert defra-alert--success"><p class="govuk-body govuk-!-margin-bottom-0">Successfully removed certificate</p></div>
      {% endif %}
      {% endif %}
      <!-- title -->
      <h1 class="govuk-heading-xl">
        Check your application answers
      </h1>
      {% if query.has_warning == "yes"%}
      <!-- //Mini task, in-page navigation.  -->

        <div class="defra-alert defra-alert--warning govuk-!-margin-bottom-8">
          {%  if data.warning_type == "certificates"%}
      <p class="govuk-body govuk-!-margin-bottom-1">3 certificates have issues you will need to fix</p>
      <ol class="govuk-list govuk-!-margin-bottom-0">
        <li><a href="#certificarte-section--seabiscuit">Seabiscuit</a></li>
        <li><a href="#certificarte-section--last-suspect">Last suspect</a></li>
        <li><a href="#certificarte-section--redrum">Redrum</a></li>
        {% endif %}
      </ol>
      </div>
      {% endif %}
      <h2 id="section-application-info" class="govuk-heading-m ">About the application</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" >
        <div class="govuk-summary-list__row">
        {% if (db.commodities | length) > 1 %}
          <dt class="govuk-summary-list__key">
            What are you exporting?
          </dt>
          <dd class="govuk-summary-list__value">
              {{data.commodity_type}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="exa/your-commodity?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-specific-commodity-question">Change</a>
          </dd>
        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Create a reference number
          </dt>
          <dd class="govuk-summary-list__value">
              {{data.reference_num or "no reference"}}
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="exa/reference?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-0">Change</a>
          </dd>
        </div>
        {% if data.is_block_application == "yes"%}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of certificates
          </dt>
          <dd class="govuk-summary-list__value">
              {{data.certificate_request_amount or "1"}}
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="exa/certificates?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-1">Change</a>
          </dd>
        </div>
        {% endif %}
        {% if db.destination == "EU" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Point of entry into the European Economic Area
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.export_destination_entry}}
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="exa/export-destination?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-2">Change</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Destination in the European Economic Area
          </dt>
          <dd class="govuk-summary-list__value">{{data.export_destination}}
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="exa/export-destination?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-2">Change</a>
          </dd>
        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Select the certifier practice to include with your application
          </dt>
          <dd class="govuk-summary-list__value">{{data.certifier_name or 'CBA VETS LIMITED'}}
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="exa/certifier?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-4">Change</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Select certificate delivery address
          </dt>
          <dd class="govuk-summary-list__value">{{data.certifier_addressLine1}} {{data.certifier_addressLine2}}, {{data.certifier_town}}, {{data.certifier_postcode}},
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="exa/certifier-confirm-address?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-5">Change</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Delivery method
          </dt>
          <dd class="govuk-summary-list__value">{{data.delivery_options}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="exa/certifier-certificate-delevery?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-6">Change</a>
          </dd>
        </div>
      </dl>

      <!-- GET BESPOKE EXA QUESTIONS -->

      <h2 id="section-application-info" class="govuk-heading-m">Information needed by APHA</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
      {% for task in db.pages %}
      {% if task.exa == "yes" %}
        {% for field in task.content.fields %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{field.label}}
          </dt>
          <dd class="govuk-summary-list__value">
            {% if field.type=="date"%}
              {{data[field.name+'_day']}}/{{data[field.name+'_month']}}/{{data[field.name+'_year']}}
            {% else %}
              {{data[field.name]}}
            {% endif %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="page?id={{task.page}}&next=check-your-answers">
              Change<span class="govuk-visually-hidden"> {{field.label}}</span>
            </a>
          </dd>
        </div>
        {% endfor %}
      {% endif %}
      {% endfor %}
      </dl>

            <h2 id="section-ehc-info" class="govuk-heading-m">{{(data.added_certificates | length) or "5"}} horse certificates added to application</h2>
            <!-- If multiple show only the EHC's This is now split into partials -->
            {% if db.is_multiple %}
              <p class="govuk-body"></p>
              {% block ehcAnswersMultiple %}{% include "./partials/check-answer-ehc-multiple.html" %}{% endblock%}
              <p class="govuk-body govuk-!-margin-bottom-9"><a href="ehc-reference?first_time=no&new=yes&return_check_answers=check-your-answers?has_alert=yes&alert_type=added">Add another horse</a></p>
            {% else %}
              {% block ehcAnswers %}{% include "./partials/check-answer-ehc.html" %}{% endblock%}
            {% endif %}
            <!-- {Tasks -->


      <h2 id="section-documents-info" class="govuk-heading-m">Supporting documents</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
        {% if (data.uploaded_files | length) > 0 %}
        {% for file in data.uploaded_files %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            File name
            <br> Description
          </dt>
          <dd class="govuk-summary-list__value">
            {{file.name}}
            <br>{{file.description}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="supporting-documents?change=yes">
              Change<span class="govuk-visually-hidden"> previous application number</span>
            </a>
          </dd>
        </div>
        {% endfor%}
        {% else %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            File name
            <br> Description
          </dt>
          <dd class="govuk-summary-list__value">
            No documents uploaded
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="supporting-documents?change=yes">
              Change<span class="govuk-visually-hidden"> previous application number</span>
            </a>
          </dd>
        </div>
        {% endif %}
        <dl>
    </div>
  </div>
  {% if db.is_multiple != "yes"%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="notice">
        <span class="icon icon-file-download"><span class="govuk-visually-hidden">File download</span></span>
        <strong>Preview your answers in a <a href="/public/images/ehc-2849ehc-3.1.pdf"  data-qa-id="Link-PreviewCertificate" target="_blank" class="govuk-link">specimen certificate</a>.</strong>
      </p>
    </div>
  </div>
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div>
        <form action="review" method="POST">
          <input type="hidden" name="crumb_csrf_token" value="gTlLBKyL-1hcIX_eIlqttNqVHhFrTHmuqTG5yTJsotb">
          <input type="hidden" name="applicationFormStatus" value="">
          <input class="govuk-button margin-top-30" type="submit" value="Continue" id="Button-Continue" data-qa-id="Button-Continue">
        </form>
      </div>
    </div>
  </div>
</div>
{% block chatbot %}{% include "../../../../includes/chat.html" %}{%endblock%}
{% endblock %}
