{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Are you sure you want to delete this certificate?
    </h1>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Any information you have entered will not be saved
      </strong>
    </div>
    <form method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="confirm_delete_certificate-yes" name="confirm_delete_certificate" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="application_type_clone">
                Yes, delete certificate: {{query.title or "Seabiscuit"}}
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="confirm_delete_certificate-no" name="confirm_delete_certificate" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="application_type_new">
                No, go back
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>






{% endblock %}
