{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<style media="screen">
  /* ==========================================================================
   #TIMELINE
   ========================================================================== */
.hmcts-timeline {
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.hmcts-timeline:before {
  background-color: #1d70b8;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 10px;
  width: 5px;
}

.hmcts-timeline--full {
  margin-bottom: 0;
}

.hmcts-timeline--full:before {
  height: calc(100% - 75px);
}

.hmcts-timeline__item {
  padding-bottom: 30px;
  padding-left: 20px;
  position: relative;
}

.hmcts-timeline__item:before {
  background-color: #1d70b8;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 15px;
}

.hmcts-timeline__title {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: inline;
}

@media print {
  .hmcts-timeline__title {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmcts-timeline__title {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .hmcts-timeline__title {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.hmcts-timeline__by {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #6f777b;
  display: inline;
  margin: 0;
}

@media print {
  .hmcts-timeline__by {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmcts-timeline__by {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .hmcts-timeline__by {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.hmcts-timeline__date {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  margin-top: 5px;
  margin-bottom: 0;
}

@media print {
  .hmcts-timeline__date {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmcts-timeline__date {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .hmcts-timeline__date {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.hmcts-timeline__description {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  margin-top: 20px;
}

@media print {
  .hmcts-timeline__description {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .hmcts-timeline__description {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media print {
  .hmcts-timeline__description {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.hmcts-timeline__documents {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.hmcts-timeline__document-item {
  margin-bottom: 5px;
}

.hmcts-timeline__document-item:last-child {
  margin-bottom: 0;
}

.hmcts-timeline__document-link {
  background-image: url(/hmcts-assets/images/icon-document.svg);
  background-repeat: no-repeat;
  background-size: 20px 16px;
  background-position: 0 50%;
  padding-left: 25px;
}

.hmcts-timeline__document-link:focus {
  color: #0b0c0c;
}

</style>

{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-xl">Manage {{query.ehc or '2849EHC'}}</h2>
    <!-- <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Status
    </dt>
    <dd class="govuk-summary-list__value">
      <strong class="green-tag" data-qa-id="Field-AvailabilityStatus">
        Unrestricted
      </strong>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> status</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Active version
    </dt>
    <dd class="govuk-summary-list__value">
      1.2
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> version</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Contact information
    </dt>
    <dd class="govuk-summary-list__value">
      72 Guild Street<br>London<br>SE23 6FH
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> contact information</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Contact details
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">07700 900457</p>
      <p class="govuk-body">sarah.phillips@example.com</p>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>
    </dl> -->
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Something
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="green-tag" data-qa-id="Field-AvailabilityStatus">
            Unrestricted
          </strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Active version
        </dt>
        <dd class="govuk-summary-list__value">
          1.2
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Destination
        </dt>
        <dd class="govuk-summary-list__value">
          AE
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Commodity Group
        </dt>
        <dd class="govuk-summary-list__value">
          Equine
        </dd>
      </div>
    </dl>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" id="linkManage-X005-2849EHC" href="health-cert-editor?change=yes">Edit
          Certificate</a>
      </li>
      <li>
        <a class="govuk-link" id="X005-2849EHC" href="../form/versions" data-qa-id="form/versions">Manage
          versions</a>
      </li>
      <li>
        <a class="govuk-link" href="..//protected/health-certificates/X005-2849EHC/update-availability-status" data-qa-id="changeStatusLink-X005-2849EHC">Change
          Status</a>
      </li>
    </ul>
    <h3 class="govuk-heading-m">Link to active certificate</h3>
    <div data-module="app-copy" class="defra-callout defra-callout--code govuk-!-margin-bottom-6" id="organisation-banner-example-html" role="panel" aria-hidden="false">
      <!-- <button class="app-copy-button js-copy-btn" aria-live="assertive">Copy URL</button> -->
      <p class="govuk-body app-copy-content">https://apply-export-health-certificate-exporter-int-snd.azure.defra.cloud:443/forms/X005-2849EHC</p>
      <input id="copy_url" class="" type="hidden" name="copy_content" value="https://apply-export-health-certificate-exporter-int-snd.azure.defra.cloud:443/forms/X005-2849EHC"></input>
    </div>
    <h3 class="govuk-heading-m">Activity</h3>
      

<div class="hmcts-timeline">

<div class="hmcts-timeline__item">

<div class="hmcts-timeline__header">
  <h2 class="hmcts-timeline__title">
    Response submitted
  </h2>

  <p class="hmcts-timeline__by">by DWP Appeals Officer</p>

</div>

<p class="hmcts-timeline__date"><time datetime="2018-01-25T14:04">25 Jan 2018 at 14:04pm</time></p>

<p class="hmcts-timeline__description">This is a description of the event. And this is what happens when it is long.</p>

<ul class="hmcts-timeline__documents">

  <li class="hmcts-timeline__document-item"><a class="hmcts-timeline__document-link" href="#1">Statement of information</a></li>

  <li class="hmcts-timeline__document-item"><a class="hmcts-timeline__document-link" href="#2">Another document</a></li>

</ul>

</div>

<div class="hmcts-timeline__item">

<div class="hmcts-timeline__header">
  <h2 class="hmcts-timeline__title">
    Appeal marked as compliant
  </h2>

  <p class="hmcts-timeline__by">by DJ DeVere</p>

</div>

<p class="hmcts-timeline__date"><time datetime="2017-12-05T09:10">5 Dec 2017 at 9:10am</time></p>

<p class="hmcts-timeline__description">This is a description of the event. And this is what happens when it is long.</p>

<ul class="hmcts-timeline__documents">

  <li class="hmcts-timeline__document-item"><a class="hmcts-timeline__document-link" href="#3">Statement of information</a></li>

</ul>

</div>

<div class="hmcts-timeline__item">

<div class="hmcts-timeline__header">
  <h2 class="hmcts-timeline__title">
    Interlocutory referral to DJ DeVere
  </h2>

  <p class="hmcts-timeline__by">by DLC Admin</p>

</div>

<p class="hmcts-timeline__date"><time datetime="2017-11-20T14:27">20 Nov 2017 at 14:27pm</time></p>

<p class="hmcts-timeline__description">This is a description of the event. And this is what happens when it is long.</p>

</div>

</div>
    <form>
    </form>

  </div>

</div>

{% endblock %}
{% block pageScripts %}
{{super()}}
<script type="text/javascript">

  <!-- create copy button -->
  var t = document.createElement("button");
  var e = document.querySelector('.app-copy-content')
	t.className = "app-copy-button js-copy-button", t.setAttribute("aria-live", "assertive"), t.textContent = "Copy URL", e.insertBefore(t, e.firstChild)

  <!-- Fallback copy paste -->
  function fallbackCopyTextToClipboard(text) {
    var textArea = document.createElement("textarea");
    textArea.value = text;

    // Avoid scrolling to bottom
    textArea.style.top = "0";
    textArea.style.left = "0";
    textArea.style.position = "fixed";

    document.body.appendChild(textArea);
    textArea.focus();
    textArea.select();

    try {
      var successful = document.execCommand('copy');
      var msg = successful ? 'successful' : 'unsuccessful';
      console.log('Fallback: Copying text command was ' + msg);
    } catch (err) {
      console.error('Fallback: Oops, unable to copy', err);
    }

    document.body.removeChild(textArea);
  }

  <!-- Asyc copy to clipboard -->
  function copyTextToClipboard(text) {
    if (!navigator.clipboard) {
      fallbackCopyTextToClipboard(text);
      return;
    }
    navigator.clipboard.writeText(text).then(function() {
      console.log('Async: Copying to clipboard was successful!');
    }, function(err) {
      console.error('Async: Could not copy text: ', err);
    });
  }


  <!-- Copy button actions (needs better code)-->
  var copyBtn = document.querySelector('.js-copy-button')
  copyBtn.addEventListener('click', function(event) {
    changeTextButton(this)



    var ipt = document.getElementById("copy_url").value
    copyTextToClipboard(ipt);
  });

  function changeTextButton($btn){
    $btn.textContent = 'URL copied'

    setTimeout(function(){
      $btn.textContent = 'Copy URL'
    }, 5e3);
  }



function updateClipboard() {
  // Here You Can Debug without DomException
  debugger
  const clipboard = document.querySelector('.clipboard-content').innerText;
  document.querySelector('.clipboard-content').innerText = 'Updated => ' + clipboard;
}
</script>


{% endblock %}
