

<table class="govuk-table">

<tbody class="govuk-table__body">
  {% if (data.added_certificates | length) %}

    {% for certificate in data.added_certificates %}
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__header">{{loop.index}}.</td>
        <td class="govuk-table__cell">{{certificate.title}}<br><a href="/public/images/ehc-2849ehc-3.1.pdf" target="_blank" class="govuk-link">Preview certificate (opens in a new tab or window)</a></td>
      </tr>
    {% endfor%}
  {% else %}
    <!-- default content  -->
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__header">1.</td>
      <td class="govuk-table__cell">Seabiscuit<br><a href="/public/images/ehc-2849ehc-3.1.pdf" target="_blank">Preview certificate (opens in a new tab or window)</a></td>
    </tr>


    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__header">2.</td>
      <td class="govuk-table__cell">Santa's little helper<br><a href="/public/images/ehc-2849ehc-3.1.pdf" target="_blank">Preview certificate (opens in a new tab or window)</a></td>
    </tr>


    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__header">3.</td>
      <td class="govuk-table__cell">Redrum<br><a href="/public/images/ehc-2849ehc-3.1.pdf" target="_blank">Preview certificate (opens in a new tab or window)</a></td>
    </tr>


    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__header">4.</td>
      <td class="govuk-table__cell">Bucephalus<br><a href="/public/images/ehc-2849ehc-3.1.pdf" target="_blank">Preview certificate (opens in a new tab or window)</a></td>
    </tr>

    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__header">5.</td>
      <td class="govuk-table__cell">Northern Dancer<br><a href="/public/images/ehc-2849ehc-3.1.pdf" target="_blank">Preview certificate (opens in a new tab or window)</a></td>
    </tr>
  {%endif%}
</tbody>
</table>
<!-- <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Certificates
    </dt>
    <dd class="govuk-summary-list__value">
      {% for certificate in data.added_certificates %}
      {{certificate.title}}<br><a href="#">Preview certificate (opens in a new tab or window)</a><br>
      {% endfor %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="page?id={{task.page}}&next=check-your-answers">
        Change<span class="govuk-visually-hidden"> {{field.label}}</span>
      </a>
    </dd>
  </div>
</dl> -->
<p class="govuk-body govuk-!-margin-bottom-9"><a href="certificate-list?return=check-your-answers">Change, add or delete certificates</a></p>
