<style media="screen">
  .defra-callout{
    background: #f3f2f1	;
    padding: 25px;
  }
</style>

<div class="govuk-form-group defra-callout {% if (data.empty | length) > 0 %}govuk-form-group--error{% endif %}">
  <h3 class="govuk-heading-m">You do not have to answer every question</h3>
  {% if (data.empty | length) > 0 %}
  <span id="slaughterhouse_name_error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> Select if you have answered as many questions as you can
  </span>
  {% endif %}
  <p class="govuk-body">
    You can leave questions for your certifier to answer.
  </p>
  <div class="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="skip_answers" name="skip_answers" type="checkbox" value="skip">
      <label class="govuk-label govuk-checkboxes__label" for="skip_answers" >
          I've answered as many questions as I can on this page
      </label>
    </div>
  </div>
</div>

<!-- <div class="govuk-form-group defra-callout">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Do you want to leave the remaining questions for your EHO or OV to answer?
      </h1>
    </legend>
    <span id="changed-name-hint" class="govuk-hint">
      If you have answered as many questions as you can, you can leave the rest for your EHO or OV to answer.
    </span>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="change" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Yes, EHO or OV will answer the remaining questions
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No, I will continue this later
        </label>
      </div>
    </div>
  </fieldset>
</div> -->
<script type="text/javascript">

window.addEventListener('load', function() {

})
</script>
