{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl">
        {% if data.change_ehc == "yes"%}Update{% else %}Check{% endif %} your answers for {{data.ehc_reference_num or "Seabiscuit"}}
      </h1>
      {% if query.has_warning == "yes"%}
      <!-- //Mini task, in-page navigation.  -->

        <div class="defra-alert defra-alert--error govuk-!-margin-bottom-8">
          <h3 class="govuk-heading-s">You will need to fix the following</h3>
          <ul class="govuk-list govuk-!-margin-bottom-0 govuk-error-summary__list" >
            {% for task in db.pages %}
            {% if task.page != "supporting-documents" and task.exa != "yes" %}
            {% for field in task.content.fields %}
                {% if field.required == "yes" and not data[field.name] %}
                  <li><a href="#certificarte-section--seabiscuit">Must enter {{field.label}}</a>
              {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}


          </ul>


      </div>
      {% endif %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Certificate reference name (does not appear on the certificate)
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.ehc_reference_num or "Seabiscuit"}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="ehc-reference?return_check_answers=check-your-answers-ehc&change=yes&first-time=no">
              Change<span class="govuk-visually-hidden"> Name</span>
            </a>
          </dd>
      </div>
      </dl>

      {% for task in db.pages %}
      {% if task.page != "supporting-documents" and task.exa != "yes" and task.repeatable == "yes"%}
      <h2 class="govuk-heading-m">{{task.title}}</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
        {% for field in task.content.fields %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{field.label}}
          </dt>
          <dd class="govuk-summary-list__value">
            {% if field.type=="date" and data[field.name+'_day']%}
              {{data[field.name+'_day']}}/{{data[field.name+'_month']}}/{{data[field.name+'_year']}}
            {% elseif data[field.name]%}
              {{data[field.name]}}
            {%else%}
              <span class="govuk-hint">You skipped this question</span>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="page?id={{task.page}}&next=check-your-answers-ehc{%if task.page.repeatable!='yes' %}&confirm=yes{% endif%}&change=yes">
              Change<span class="govuk-visually-hidden"> {{field.label}}</span>
            </a>
          </dd>
        </div>
        {% endfor %}
      </dl>
      {% endif %}
      {% endfor %}
      <!-- {Tasks -->
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div>
        <form method="POST">
          <input type="hidden" name="crumb_csrf_token" value="gTlLBKyL-1hcIX_eIlqttNqVHhFrTHmuqTG5yTJsotb">
          <input type="hidden" name="applicationFormStatus" value="">
          <input class="govuk-button margin-top-30" type="submit" value="{% if data.change_ehc == 'yes'%}Update this horse{%else%}Add this horse{%endif%}" id="Button-Continue" data-qa-id="Button-Continue">
        </form>
      </div>
    </div>
  </div>
</div>
{% block chatbot %}{% include "../../../../includes/chat.html" %}{%endblock%}
{% endblock %}
