// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


// Recommended - Use these styles for the check your answers pattern
.app-check-your-answers {
  @include govuk-font(19);
  margin-top: 0;
  @include govuk-responsive-margin(9, "bottom");
  @include govuk-media-query($from: desktop) {
    display: table;
  }
}

.app-check-your-answers--short {
  @include govuk-media-query($from: desktop) {
    // to make group of q&a line up horizontally (unless there is just one group)
    width: 100%;
    // recommended for mostly short questions
    .app-check-your-answers__question {
      width: 30%;
    }
  }
}

.app-check-your-answers--long {
  @include govuk-media-query($from: desktop) {
    // to make group of q&a line up horizontally (unless there is just one group)
    width: 100%;
    // recommended for mostly long questions
    .app-check-your-answers__question {
      width: 50%;
    }
  }
}

.app-check-your-answers__contents {
  position: relative;
  border-bottom: 1px solid $govuk-border-colour;

  @include govuk-media-query($from: desktop) {
    display: table-row;
    border-bottom-width: 0;
  }
}

.app-check-your-answers__contents:first-child .app-check-your-answers__question,
.app-check-your-answers__contents:first-child .app-check-your-answers__answer,
.app-check-your-answers__contents:first-child .app-check-your-answers__change {
  @include govuk-media-query($from: desktop) {
    padding-top: 0;
  }
}

.app-check-your-answers__question,
.app-check-your-answers__answer,
.app-check-your-answers__change {
  display: block;
  margin: 0;
  @include govuk-media-query($from: desktop) {
    display: table-cell;
    border-bottom: 1px solid $govuk-border-colour;
    padding: govuk-em(12, 19) govuk-em(20, 19) govuk-em(9, 19) 0;
  }
}

.app-check-your-answers__question {
  font-weight: bold;
  margin: govuk-em(12, 19) 4em govuk-em(4,19) 0;
  // using margin instead of padding because of easier absolutely positioning of .app-check-your-answers__change
}

.app-check-your-answers__answer {
  padding-bottom: govuk-em(9, 19);
}

.app-check-your-answers__change {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;

  @include govuk-media-query($from: desktop) {
    position: static;
    padding-right: 0;
  }
}


// 7006 ehc

.govuk-radios.govuk-radios--small.govuk-radios--inline {
  padding-bottom: 20px;
  border-bottom: 1px solid #bfc1c3;
}

.link-button {
  background: none !important;
  color: #005ea5;
  border: none;
  padding: 0 !important;
  font: inherit;
  border-bottom: 1px solid #005ea5;
  cursor: pointer;
}

.govuk-radios__input {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0;
  opacity: 0;
}

.govuk-radios__input + .govuk-radios__label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid currentColor;
  border-radius: 50%;
  background: transparent;
}

.govuk-radios__label {
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 15px 5px!important;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.margin-top-45 {
  margin-top: 45px;
}
.margin-top-30 {
  margin-top: 30px;
}

.icon-file-download {
  width: 30px;
  height: 39px;
  background-image: url(/public/images/icon-file-download.png);
}
.icon {
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;
}