$govuk-assets-path: '/govuk/assets/';
// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/search";
@import "components/autocomplete";
// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


// 7006 ehc

.govuk-radios.govuk-radios--small.govuk-radios--inline {
  padding-bottom: 20px;
  border-bottom: 1px solid #bfc1c3;
}

.link-button {
  background: none !important;
  color: #005ea5;
  border: none;
  padding: 0 !important;
  font: inherit;
  border-bottom: 1px solid #005ea5;
  cursor: pointer;
  text-decoration:none;
}

.govuk-radios__input {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0;
  opacity: 0;
}

.govuk-radios__input + .govuk-radios__label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid currentColor;
  border-radius: 50%;
  background: transparent;
}

.govuk-radios__label {
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 15px 5px!important;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.margin-top-45 {
  margin-top: 45px;
}
.margin-top-30 {
  margin-top: 30px;
}

.icon-file-download {
  width: 30px;
  height: 39px;
  background-image: url(/public/images/icon-file-download.png);
}
.icon {
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;
}


.login-nav {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  color: #0b0c0c;
  margin-top: 15px;
  margin-bottom: 10px; }
.login-nav:after {
  content: "";
  display: block;
  clear: both; }
@media print {
  .login-nav {
    font-family: sans-serif; } }
@media (min-width: 40.0625em) {
  .login-nav {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25; } }
@media print {
  .login-nav {
    font-size: 14pt;
    line-height: 1.2; } }
@media print {
  .login-nav {
    color: #000000; } }

.login-border {
  border-bottom: 1px solid #bfc1c3; }

.login-nav__list {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  list-style-type: none;
  float: right; }
.login-nav__list:after {
  content: "";
  display: block;
  clear: both; }

.login-nav__list-item {
  position: relative;
  margin-bottom: 5px;
  padding-right: 5px;
  padding-left: 0;
  float: left; }

#profile .profile, #account .account {
  text-decoration: none;
  font-weight: 600; }

.login-nav__link {
  margin-right: 5px; }

.login-nav__details {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  color: #0b0c0c;
  margin: 0;
  padding-bottom: 10px;
  float: left; }
.login-nav__details:after {
  content: "";
  display: block;
  clear: both; }
@media print {
  .login-nav__details {
    font-family: sans-serif; } }
@media (min-width: 40.0625em) {
  .login-nav__details {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25; } }
@media print {
  .login-nav__details {
    font-size: 14pt;
    line-height: 1.2; } }
@media print {
  .login-nav__details {
    color: #000000; } }

/*** Small viewports ***/
@media all and (max-width: 40.0625em) {
  .login-nav__details {
    float: none; }
  .login-nav__list {
    float: none; } }




.inputfile {
  line-height: 1.25em;
  display: inline-block;
  outline: 1px solid transparent;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1em;
  position: relative;
  color: #bfc1c3; }

.grey-label {
  color: #bfc1c3; }

#correlation-id {
  display: none; }

.grey-button {
  background-color: #bfc1c3;
  color: #0b0c0c; }

.govuk-button.grey-black-text, .grey-black-text.govuk-button_no_margin_bottom {
  background-color: #bfc1c3;
  color: #0b0c0c; }

.organisation-form {
  padding-top: 15px;
  padding-bottom: 0px; }

.organisation-dropdown {
  width: 200px; }

.blue-button {
  background-color: #005ea5;
  color: #ffffff; }

button.blue-button:hover {
  background-color: #005ea5;
  color: #ffffff; }

.align-right {
  text-align: right; }

.green-tag {
  background-color: #006435;
  font-size: 12px; }

.orange-tag {
  background-color: #f47738;
  width: 75px;
  text-align: center;
  display: inline-block;
  font-size: 12px; }

.blue-tag {
  background-color: #005ea5;
  width: 75px;
  text-align: center;
  display: inline-block;
  font-size: 12px; }

.red-tag {
  background-color: #b10e1e;
  width: 75px;
  text-align: center;
  display: inline-block;
  font-size: 12px; }

.actions-column {
  width: 40%;
  border-bottom: 1px solid #bfc1c3; }

.applicationRef-column {
  white-space: nowrap; }

.submitted-column {
  white-space: nowrap; }

.commodity-column {
  white-space: nowrap;
  width: 15%;
  border-bottom: 1px solid #bfc1c3; }

.status-cell {
  padding: 10px 18px 10px 0; }

.no-decoration {
  text-decoration: none; }


.govuk-radios__hint {
  display: block;
  padding-right: 15px;
  padding-left: 0;
}

@media (min-width: 40.0625em){
.gem-c-pagination__link-text {
  font-size: 19px;
  line-height: 1.3157894737;

  font-weight: 600;
}
}
.gem-c-pagination__link-label {padding-left: 20px;text-decoration: underline}
a.gem-c-pagination__link {
text-decoration:none}

// .govuk-fieldset__legend--m {font-weight: normal}


.govuk-button_no_margin_bottom {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.1875;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin-top: 0;
  margin-bottom: 22px;
  padding: 7px 10px;
  border: 2px solid transparent;
  border-radius: 0;
  color: #ffffff;
  background-color: #00823b;
  box-shadow: 0 2px 0 #003618;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none;
}
.govuk-button:link, .govuk-button_no_margin_bottom:link, .govuk-button:visited, .govuk-button_no_margin_bottom:visited, .govuk-button:active, .govuk-button_no_margin_bottom:active, .govuk-button:hover, .govuk-button_no_margin_bottom:hover {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1875rem;
  line-height: 1;
}
.login-border {
  margin-bottom: 45px;
}
.govuk-button_no_margin_bottom {
  padding-top: 9px;
  padding-bottom: 6px;
}
.govuk-tag, .green-tag, .orange-tag, .blue-tag, .red-tag {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.25;
  display: inline-block;
  padding: 4px 8px;
  padding-bottom: 1px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  color: #ffffff;
  background-color: #005ea5;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
.orange-tag {
  background-color: #f47738;
  width: 75px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-size: 0.875rem;
}
.govuk-button--secondary, .govuk-button--secondary:link, .govuk-button--secondary:visited, .govuk-button--secondary:active, .govuk-button--secondary:hover {
  color: #0b0c0c;
}
.icon {
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.icon-important {
  width: 35px;
  height: 35px;
  background-image: url(/public/images/icon-information-2x.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), not all, not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx){
.icon-important {
  background-image: url(/public/images/icon-information-2x.png);
  background-size: 100%;
}
}
.notice .icon {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -17px;
}
.visually-hidden, .visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.app-tabs {
  margin: -1px auto;
  padding: 30px 0 0 30px ;
  overflow: visible;
  list-style-type: none;
  border: 1px solid #b1b4b6;
  margin-bottom: 20px;
}
.in-progress{background:#71767e}
.not-started{background:white;color:#141414;border: solid 1px #cbcbcb }

.turquoise-tag{background:#28a197;font-size: 0.875rem; }


h3#section-a-forms,h3#section-b-guidance {
  font-size: 19px;
  line-height: 1.3157894737;
}
.app-c-important-metadata dt,.app-c-important-metadata dd {
  font-size: 120%;
  font-family: "GDS Transport", Arial, sans-serif;

  }
.app-c-important-metadata dt{font-weight: 100!important;}
.app-c-important-metadata__definition {
}

.govuk-radios--fixed .govuk-radios__item{
  width:auto;
  @media (min-width: 40.0625em){
    width: 40%
  }
}
@media (min-width: 40.0625em){
  .app-task-list__task-name{
    max-width:75%
  }
}

@media (min-width: 40.0625em) {
  dl.govuk-summary-list.govuk-\!-margin-bottom-9 {
    .govuk-summary-list__key {
      width: 60%;
    }
    .govuk-summary-list__value {
      width: 30%;
    }
    .govuk-summary-list__actions {
      width: 10%;
    }
  }
  .govuk-summary-list__m{
    .govuk-summary-list__key {
     width: 50%;
   }
   .govuk-summary-list__value {
     width: 40%;
   }
   .govuk-summary-list__actions {
     width: 10%;
   }
  }
  .govuk-link-group--right{
    margin-top:10px;
    text-align: right;
  }
}
.govuk-govuk-summary-list__disabled{
  background-color: #f3f2f1;
}

.notice strong {
    display: block;
    padding-left: 40px;
}
.notice .icon {
    position: absolute;
    left: 0;
    top:50%;
    margin-top:-20px;
}
.notice{
    position: relative;
    margin-bottom:48px;
}
//summary_list extension
@media (min-width: 40.0625em){
  .govuk-summary-list__40 {
      width: 40% !important;
  }

}
.govuk-table__disabled td{
  background-color: #f3f2f1;
}
