
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main" data-qa-page="Page-Organisation-Search" data-qa-id="Question-Page-Form-Question-1">

	<a href="index" class="govuk-back-link govuk-!-margin-bottom-8 govuk-!-margin-top-0">Back</a>
	
        <div class="govuk-form-group " id="Form-Organisation">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Select certifying organisation
                    </h1>
                </legend>
        <span id="Hint-CertifierOrganisation" class="govuk-hint">
          Select the certifier practice to include with your application
        </span>
            </fieldset>
        </div>

        <!--<form name="search-form" action="" method="GET">
            <div class="border-box govuk-grid-column-full">


                <div class="govuk-grid-column-one-half govuk-form-group">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-font-weight-bold" for="filter">Filter</label>
                        <input class="govuk-input" id="filter" type="text" name="filter" data-qa-id="TextField-filter" value="" placeholder="">
                    </div>
                </div>

                <div class="govuk-form-group govuk-grid-column-one-quarter">
                    <div class="govuk-label margin-top-45">
                        <button type="submit" name="name" value="" class="link-button" id="Button-Search" data-qa-id="Button-Search">
                            Search
                        </button>
                        <button type="submit" name="clear" value="clear" class="link-button" id="Button-Clear" data-qa-id="Button-Clear">
                            Clear
                        </button>
                    </div>
                </div>

            </div>
        </form>-->
		
<style>


#filter-cert-org #filter-container {
    bottom: 0px;
    color: rgb(255, 255, 255);
    height: 40px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    width: 300px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 150px 20px;
    transform-origin: 150px 20px;
    caret-color: rgb(255, 255, 255);
    background: rgb(0, 94, 165) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='40' height='40'%3E%3Cpath d='M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z' fill='white'%3E%3C/path%3E%3C/svg%3E") no-repeat scroll 0% 0% / 40px 40px padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / normal "Times New Roman";
    outline: rgb(255, 255, 255) none 0px;
}/*#filter-container*/

#filter-cert-org #filter-container:after {
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / normal "Times New Roman";
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_4:after*/

#filter-cert-org #filter-container:before {
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / normal "Times New Roman";
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_4:before*/


#filter-cert-org #filter-input {
    bottom: 0px;
    height: 22px;
    left: 0px;
    position: relative;
    right: 0px;
    text-size-adjust: 100%;
    top: 0px;
    width: 260px;
    perspective-origin: 130px 20px;
    transform-origin: 130px 20px;
    border: 2px solid rgb(255, 255, 255);
    font: normal normal 400 normal 19px / 25px nta, Arial, sans-serif;
    margin: 0px 0px 0px 40px;
    padding: 9px 10px 5px;
	border: solid 2px #000;
	outline: none;
}/*#filter-input*/

#filter-cert-org #filter-input:focus {
	border: solid 2px #ffbf47;
	outline: none;
}/*#filter-input*/

#filter-cert-org #filter-input:after {
    text-size-adjust: 100%;
    font: normal normal 400 normal 19px / 25px nta, Arial, sans-serif;
}/*#filter-input:after*/

#filter-cert-org #filter-input:before {
    text-size-adjust: 100%;
    font: normal normal 400 normal 19px / 25px nta, Arial, sans-serif;
}/*#filter-input:before*/






</style>
	
	<div id="filter-cert-org">
	<div id="filter-container">
		<input id="filter-input" name="input-autocomplete" placeholder="Filter" type="text" />
	</div>
	</div>

        <table class="govuk-table" data-qa-id="TABLE_FORM_CERTIFIER">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Name</th>
                <th class="govuk-table__header">Address</th>
                <th class="govuk-table__header">Area</th>
                <th class="govuk-table__header">Category of certification</th>
                <th class="govuk-table__header">Actions</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    Amsa 123 Address Line1  POSTCODE
                </td>
                <td class="govuk-table__cell wrap">
                    <span>123 Address Line1</span>
                    <span>1</span>
                    <span>1</span>
					<span>d</span>
                    <span>POSTCODE</span>
                </td>
                <td class="govuk-table__cell">

                </td>
                <td class="govuk-table__cell">
                    CERTIFIER QUALIFICATION
                </td>
                <td class="govuk-table__cell">
                    <form action="2" method="POST">
					
						<input type="hidden" name="address1" value="123 Address Line1">
						<input type="hidden" name="address2" value="1">
						<input type="hidden" name="city" value="1">
						<input type="hidden" name="county" value="d">
						<input type="hidden" name="postcode" value="POSTCODE">
					
                        <input type="hidden" name="crumb_csrf_token" value="gTlLBKyL-1hcIX_eIlqttNqVHhFrTHmuqTG5yTJsotb">
                        <input type="hidden" name="ehcNumber" value="7006EHC">
                        <input type="hidden" name="applicationFormId" value="1721147986171">
                        <input type="hidden" name="pageSequence" value="1">
                        <input id="certifier-organisation-name-field-0" type="hidden" name="certifierName" value="Amsa 123 Address Line1  POSTCODE  ">

                        <input id="certifier-organisation-address-id-field-0" type="hidden" name="addressId" value="a14e40ea-568d-e911-a95f-000d3ab6488a">
                        <input id="certifier-organisation-id-field-0" type="hidden" name="certifierOrganisationId" value="b3194990-568d-e911-a95f-000d3ab6488a">
                        <input class="link-button" type="submit" name="saveAndContinue" value="Select" id="Button-SaveAndContinue-0" data-qa-id="Button-SaveAndContinue">
                    </form>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    ADM ACCOUNTING LIMITED Hornbeam House CW12 3ER
                </td>
                <td class="govuk-table__cell wrap">
                    <span>Hornbeam House Electra Way Crewe CE12 3ER</span>
      
                </td>
                <td class="govuk-table__cell">

                </td>
                <td class="govuk-table__cell">
                    CERTIFIER QUALIFICATION
                </td>
                <td class="govuk-table__cell">
                    <form action="2" method="POST">
					
						<input type="hidden" name="address1" value="Hornbeam House">
						<input type="hidden" name="address2" value="Electra Way">
						<input type="hidden" name="city" value="Crewe">
						<input type="hidden" name="county" value="">
						<input type="hidden" name="postcode" value="CW12 3ER">
					
                        <input type="hidden" name="crumb_csrf_token" value="gTlLBKyL-1hcIX_eIlqttNqVHhFrTHmuqTG5yTJsotb">
                        <input type="hidden" name="ehcNumber" value="7006EHC">
                        <input type="hidden" name="applicationFormId" value="1721147986171">
                        <input type="hidden" name="pageSequence" value="1">
                        <input id="certifier-organisation-name-field-0" type="hidden" name="certifierName" value="Amsa 123 Address Line1  POSTCODE  ">

                        <input id="certifier-organisation-address-id-field-0" type="hidden" name="addressId" value="a14e40ea-568d-e911-a95f-000d3ab6488a">
                        <input id="certifier-organisation-id-field-0" type="hidden" name="certifierOrganisationId" value="b3194990-568d-e911-a95f-000d3ab6488a">
                        <input class="link-button" type="submit" name="saveAndContinue" value="Select" id="Button-SaveAndContinue-0" data-qa-id="Button-SaveAndContinue">
                    </form>
                </td>
            </tr>			
            </tbody>
        </table>
    </main>
    </main>
</div>



{% endblock %}
