
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="2" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="3" method="POST">
                <input type="hidden" name="crumb_csrf_token" value="-OFEIl7HkGmNi3ZbrlI4BeayEl-1-jTpR6CRsveyix5">
                <input type="hidden" name="ehcNumber" value="7006EHC">
                <input type="hidden" name="applicationFormId" value="1721147986165">
                <input type="hidden" name="pageSequence" value="1">
                <input type="hidden" name="certifierName" value="Amsa 123 Address Line1  POSTCODE  ">
                <input type="hidden" name="certifierOrganisationId" value="b3194990-568d-e911-a95f-000d3ab6488a">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            What is your delivery address?
                        </h1>
                    </legend>
                    <div class="govuk-form-group ">
                        <label class="govuk-label" for="certifier-address-line-1">
                            Building and street
                            <span class="govuk-visually-hidden">line 1 of 2</span>
                        </label>
                        <input class="govuk-input" id="certifier-address-line-1" name="address1" type="text" value="123 Address Line1">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="certifier-address-line-2">
                            <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
                        </label>
                        <input class="govuk-input" id="certifier-address-line-2" name="address2" type="text" value="1">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="certifier-address-town">
                            Town or city
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="city" name="town" type="text" value="">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="certifier-address-county">
                            County
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="county" name="county" type="text" value="">
                    </div>
                    <div class="govuk-form-group ">
                        <label class="govuk-label" for="certifier-address-postcode">
                            Postcode
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" value="POSTCODE" type="text">
                    </div>
                </fieldset>
                <br>
                <div class="govuk-!-margin-left-0 govuk-grid-column-one-quarter govuk-!-padding-0">
                    <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full govuk-body">
                        <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
                    </div>
                </div>
            </form>
        </div>
    </div>




{% endblock %}
