
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>

<div class="govuk-width-container">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div>
                <h1 id="questionPageHeading" class="govuk-heading-l">About the animals
                </h1>
                <p>
                </p>


                <div class="govuk-form-group ">
                    <label class="govuk-label  " for="3926EHC-0">What is the name of the animal?</label>
                    <input class="govuk-input form-control-3-4" id="3926EHC-0" name="0" value="" type="text" autofocus="autofocus" data-qa-id="Question-3926EHC-0">
                </div>



                <form action="check-your-progress1-plus" method="POST" enctype="application/x-www-form-urlencoded">



                    <div class="govuk-form-group ">
                        <label class="govuk-label  " for="3926EHC-0">What is the age/date of birth of the animal?  </label>
                        <input class="govuk-input form-control-3-4" id="3926EHC-0" name="0" value="" type="text" autofocus="autofocus" data-qa-id="Question-3926EHC-0">
                    </div>



                    <div class="govuk-form-group ">
                        <label class="govuk-label " for="3926EHC-1">What is the breed of the animal?  </label>
                        <input class="govuk-input form-control-3-4" id="3926EHC-1" name="1" value="" type="text" data-qa-id="Question-3926EHC-1">
                    </div>
                    <div class="govuk-form-group ">
                        <label class="govuk-label " for="3926EHC-2">What sex is the animal? </label>
                        <input class="govuk-input form-control-3-4" id="3926EHC-2" name="2" value="" type="text" data-qa-id="Question-3926EHC-2">
                    </div>

                    <div class="govuk-form-group ">
                        <label class="govuk-label  " for="3926EHC-3">What is the colour and any distinguishing features of the animal?  </label>
                        <input class="govuk-input form-control-3-4" id="3926EHC-3" name="3" value="" type="text" data-qa-id="Question-3926EHC-3">
                    </div>















                <input type="hidden" name="3-formQuestionId" value="47">
                <input type="hidden" name="3-questionId" value="12">
                <input type="hidden" name="3-formName" value="exa07---meat">
                <input type="hidden" name="3-questionText" value="Where were the animals slaughtered?">
                <input type="hidden" name="3-questionType" value="multi_select">
                <input type="hidden" name="3-questionOrder" value="4">
                <input type="hidden" name="3-questionScope" value="APPLICANT">
                <input type="hidden" name="questionSequence-47" value="3">            <!-- @formatter:on -->
                <input type="hidden" id="numQuestionsOnPage" name="numQuestionsOnPage" value="4">
                <div class="govuk-grid-row margin-top-30"></div>
                <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
                    <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                </div>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full govuk-body">
                        <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">
                    </div>
                </div>

            </form>

                <p></p>
            </div>
        </div>
    </div>
</div>












{% endblock %}
