
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>

<div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


                <h1 class="govuk-heading-xl" style="margin-bottom: 5px">Microchip</h1>



<p></p>


                    <form action="7" method="POST" enctype="application/x-www-form-urlencoded">






                        <div class="govuk-form-group ">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <label class="govuk-label govuk-!-font-weight-bol">When was the microchip implanted in the animal?  </label>
                                </legend>
                                <div class="govuk-date-input">
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="3926EHC-0-day">Day</label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="3926EHC-0-day" name="0-day" value="NaN" data-qa-id="Question-3926EHC-0-Day" autofocus="autofocus" type="number" pattern="^[0-9]{2}$">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="3926EHC-0-month">Month</label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="3926EHC-0-month" name="0-month" value="NaN" data-qa-id="Question-3926EHC-0-Month" type="number" pattern="^[0-9]{2}$">
                                        </div>
                                    </div>
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="3926EHC-0-year">Year</label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="3926EHC-0-year" name="0-year" value="NaN" data-qa-id="Question-3926EHC-0-Year" type="number" pattern="^[0-9]{4}$">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>





                        <div class="govuk-form-group ">
                            <label class="govuk-label govuk-!-font-weigh-bold" for="3926EHC-1">What type of scanner can be used to read the microchip? </label>
                            <input class="govuk-input form-control-3-4" id="3926EHC-1" name="1" value="" type="text" data-qa-id="Question-3926EHC-1">
                        </div>




                        <div class="govuk-form-group ">
                            <label class="govuk-label govuk-!-font-weight-bld" for="3926EHC-2">Where in the animal is the microchip located? </label>
                            <input class="govuk-input form-control-3-4" id="3926EHC-2" name="2" value="" type="text" data-qa-id="Question-3926EHC-2">
                        </div>

                        <div class="govuk-form-group ">
                            <label class="govuk-label govuk-!-font-weight-bol" for="3926EHC-3">What is the microchip number? </label>
                            <input class="govuk-input form-control-3-4" id="3926EHC-3" name="3" value="" type="text" data-qa-id="Question-3926EHC-3">
                        </div>


                        <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
                            <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                        </div>

                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full govuk-body">
                                <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">
                            </div>
                        </div>


                        </form>



            </div>
        </div>
        </div>
</div>
        












{% endblock %}
