{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
  .app-tabs {
    border: 1px solid #b58840;
  }

  .app-tabs:hover {
    border: 1px solid #1d70b8;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Start page
    </h1>

    <h3 class="govuk-heading-m">Start page exporter</h3>
    <ul class="govuk-list">
        <li><a href="google-search?logged_in=no">Start with google search</a></li>
        <li><a href="govuk-home?logged_in=no">Start from govuk</a></li>
        <li><a href="service-start-page?logged_in=no">Service start exporter</a></li>
    </ul>
    <h3 class="govuk-heading-m">Start page certifier</h3>
    <ul class="govuk-list">
        <li><a href="google-search-certifier?logged_in=no">Start with google search</a></li>
        <li><a href="apha?logged_in=no">Start from APHA page</a></li>
        <li><a href="service-start-page-certifiers?logged_in=no">Certifier - service start certifier</a></li>
    </ul>
  </div>
</div>


{% endblock %}
