{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Are you sure you want to unpublish form version {{query.form_version or "3.2"}}?
      </h1>



  <form class="case-update" style="display: inline;" action="./versions" method="GET">
    <input type="hidden" name="crumb_csrf_token" value="tHqzFHlMR8fdGv61rRffxpboiFBlQTXyVy5J6026StE">
    <input type="hidden" value="2849EHC" name="documentNumber">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">

        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live" name="unpublished" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="where-do-you-live-2" name="unpublished" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <input class="govuk-button" type="submit" value="Submit" data-qa-id="Button-Save">
  </form>
  </div>
</div>
{% endblock %}
