
{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block pageTitle %}
  Number of certificates
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" id="form" class="form">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#error-1">Enter the number of certificates required</a>
            </li>
          </ul>
        </div>
      </div>

      <!--<span class="govuk-caption-l"></span>-->
      <h1 class="govuk-heading-l">Number of certificates</h1>

      <p>
        You can apply for a block of up to 100 certificates for frequent and regular consignments to the same country.
      </p>

      <fieldset class="govuk-fieldset">

        <div class="govuk-form-group govuk-form-group--error">
          <span id="error-1" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the number of certificates required
          </span>          
          <label class="govuk-label" for="block-certificate-quanity">
            Number of certificates required
          </label>
          <input class="govuk-input govuk-input--width-3" id="block-certificate-quanity" name="block-certificate-quanity" type="number">
        </div>
          
      </fieldset>

      <a href="#" class="govuk-button">
        Save and continue
      </a>

      <p>
        <a href="dashboard.html">
          Save and continue later
        </a>
      </p>

      </form>
    
    </div>
</div>

{% endblock %}
