{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<form method="post" id="form" class="form">

        <div class="govuk-panel govuk-panel--confirmation" style="margin-top: 20px;">
          <h1 class="govuk-panel__title">
            Application complete
          </h1>
          <div class="govuk-panel__body">
            Your application number
            <br><strong>1651965956603</strong>
          </div>
        </div>

        <p class="govuk-body">We have sent you a confirmation email.</p>

		<h2 class="govuk-heading-m">What happens next</h2>

		<p class="govuk-body">
			We will send your export health certificate (EHC) to your nominated authorised signatory.
		</p>

		<p class="govuk-body">
			They will check the product meets the health requirements of the destination country, and complete and sign the EHC.
		</p>	

		<p class="govuk-body">
			The completed EHC will go with the product and the authorised signatory will send us a copy.
		</p>	

		<br>	

		<!--<ul class="govuk-list govuk-list--bullet">
			<li>We will send your export health certificate (EHC) to your nominated authorised signatory.</li>
			<li>They will check the product meets the health requirements of the destination country, and complete and sign the EHC.</li>
			<li>The completed EHC will go with the product and the authorised signatory will send us a copy.</li>
		</ul>-->

		<a href="./dashboard/dashboard.html" class="govuk-button">
			Continue
		</a>

		</form>

	</div>
</div>

{% endblock %}
