{% extends "layout.html" %}

{% block beforeContent %}
	<a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block pageTitle %}
  Declaration
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<form method="post" id="form" class="form">

		<h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Declaration</h1>

		<p class="govuk-body">
			By submitting this application you agree that:
		</p>

		<ul class="govuk-list govuk-list--bullet">
			<li>the information you’ve provided is correct to the best of your knowledge</li>
			<li>you will comply with all legal requirements</li>
		</ul>

		<div class="govuk-form-group">
		  <fieldset class="govuk-fieldset" aria-describedby="declaration">

		    <div class="govuk-checkboxes">
		      <div class="govuk-checkboxes__item">
		        <input class="govuk-checkboxes__input" name="declaration" type="checkbox" value="agree" onchange="document.getElementById('submitApplication').disabled = !this.checked;" autofocus="autofocus" id="agree">
		        <label class="govuk-label govuk-checkboxes__label" for="agree">
					I agree
		        </label>
		      </div>

		    </div>
		  </fieldset>
		</div>

		<a href="confirmation.html" class="govuk-button" disabled="" id="submitApplication">
			Submit application
		</a>

		</form>

	</div>
</div>

{% endblock %}
