{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block pageTitle %}
  Export Health Certificate (EHC) application search
{% endblock %}

{% block content %}

  <h2 class="govuk-heading-l">
    Export health certificate application search
  </h2>

  <p>
    Use this tool to find an export health certificate application.
  </p>

  <br>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <div class="govuk-form-group">
        <label class="govuk-label" for="name" style="font-weight: bold;">
          Search
        </label>
        <input class="govuk-input" id="name" name="name" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="name" style="font-weight: bold;">
          Destination country
        </label>
        <select class="govuk-select" style="width: 100%;">
          <option value="option">Select...</option>
          <option value="option">Afghanistan</option>
          <option value="option">Albania</option>
          <option value="option">Algeria</option>
          <option value="option">Andean Community of Peru, Bolivia, Colombia, Ecuador</option>
        </select>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="name" style="font-weight: bold;">
          Commodity type
        </label>
        <select class="govuk-select" style="width: 100%;">
          <option value="option">Select...</option>
          <option value="option">Equine</option>
          <option value="option">Fish</option>
          <option value="option">Germplasm</option>
          <option value="option">Livestock</option>
        </select>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="name" style="font-weight: bold;">
          Certificate status
        </label>
        <select class="govuk-select" style="width: 100%; border-bottom-left-radius: 0;">
          <option value="option">Select...</option>
          <option value="option">Draft</option>
          <option value="option">Processing</option>
          <option value="option">On hold</option>
          <option value="option">EHC issued</option>
        </select>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
          <label class="govuk-label" for="name" style="font-weight: bold;">
            Date range
          </label>
          <div class="govuk-date-input" id="dob">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-day">
                  Start date
                </label>
                <input class="govuk-input govuk-date-input__input" id="dob-day" name="dob-day" type="number" autocomplete="bday-day" pattern="[0-9]*" style="max-width: 12.79ex;">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <p>to</p>
              </div>
            </div>
            <div class="govuk-date-input__item" style="margin-right: 0;">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-year">
                  End date
                </label>
                <input class="govuk-input govuk-date-input__input" id="dob-year" name="dob-year" type="number" autocomplete="bday-year" pattern="[0-9]*" style="max-width: 12.79ex;">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" style="float: left;">
        Filter
      </button>
      
      <p style="float: left; margin: 9px 6px; padding-left: 20px;">
        <a href="#" class="govuk-link">Clear Filter</a>
      </p>

    </div>
    <div class="govuk-grid-column-two-thirds">

      <img src="https://defra-exports-prototype.herokuapp.com/1-0-0/dashboard/images/search-tags.png">

      <ul class="govuk-list">
        <li style="border-bottom: solid 1px #bfc1c3; margin-bottom: 15px;">
          <h2 class="govuk-heading-s" style="margin-bottom: 0;">
            <a href="#" class="govuk-link" style="text-decoration: none;">
              Permanently export horses to the United Arab Emirates (UAE): certificate 2849
            </a>
          </h2>
          <table class="govuk-table" style="font-size: 14px; margin-bottom: 15px;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">United Arab Emirates</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Equine</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Draft</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">154349627718</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li style="border-bottom: solid 1px #bfc1c3; margin-bottom: 15px;">
          <h2 class="govuk-heading-s" style="margin-bottom: 0;">
            <a href="#" class="govuk-link" style="text-decoration: none;">
              Permanently export horses to the United Arab Emirates (UAE): certificate 2849
            </a>
          </h2>
          <table class="govuk-table" style="font-size: 14px; margin-bottom: 15px;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">United Arab Emirates</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Equine</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Processing</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">154349627718</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li style="border-bottom: solid 1px #bfc1c3; margin-bottom: 15px;">
          <h2 class="govuk-heading-s" style="margin-bottom: 0;">
            <a href="#" class="govuk-link" style="text-decoration: none;">
              Permanently export horses to the United Arab Emirates (UAE): certificate 2849
            </a>
          </h2>
          <table class="govuk-table" style="font-size: 14px; margin-bottom: 15px;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">United Arab Emirates</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Equine</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">On hold</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">154349627718</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li style="border-bottom: solid 1px #bfc1c3; margin-bottom: 15px;">
          <h2 class="govuk-heading-s" style="margin-bottom: 0;">
            <a href="#" class="govuk-link" style="text-decoration: none;">
              Permanently export horses to the United Arab Emirates (UAE): certificate 2849
            </a>
          </h2>
          <table class="govuk-table" style="font-size: 14px; margin-bottom: 15px;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">United Arab Emirates</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Equine</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">EHC issued</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">154349627718</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li style="border-bottom: solid 1px #bfc1c3; margin-bottom: 15px;">
          <h2 class="govuk-heading-s" style="margin-bottom: 0;">
            <a href="#" class="govuk-link" style="text-decoration: none;">
              Permanently export horses to the United Arab Emirates (UAE): certificate 2849
            </a>
          </h2>
          <table class="govuk-table" style="font-size: 14px; margin-bottom: 15px;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">United Arab Emirates</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Equine</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Processing</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">154349627718</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li style="border-bottom: solid 1px #bfc1c3; margin-bottom: 15px;">
          <h2 class="govuk-heading-s" style="margin-bottom: 0;">
            <a href="#" class="govuk-link" style="text-decoration: none;">
              Permanently export horses to the United Arab Emirates (UAE): certificate 2849
            </a>
          </h2>
          <table class="govuk-table" style="font-size: 14px; margin-bottom: 15px;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">United Arab Emirates</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Equine</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">EHC issued</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">154349627718</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li style="border-bottom: solid 1px #bfc1c3; margin-bottom: 15px;">
          <h2 class="govuk-heading-s" style="margin-bottom: 0;">
            <a href="#" class="govuk-link" style="text-decoration: none;">
              Permanently export horses to the United Arab Emirates (UAE): certificate 2849
            </a>
          </h2>
          <table class="govuk-table" style="font-size: 14px; margin-bottom: 15px;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">United Arab Emirates</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Equine</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">EHC issued</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">154349627718</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li style="border-bottom: solid 1px #bfc1c3; margin-bottom: 15px;">
          <h2 class="govuk-heading-s" style="margin-bottom: 0;">
            <a href="#" class="govuk-link" style="text-decoration: none;">
              Permanently export horses to the United Arab Emirates (UAE): certificate 2849
            </a>
          </h2>
          <table class="govuk-table" style="font-size: 14px; margin-bottom: 15px;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">United Arab Emirates</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Equine</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">EHC issued</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">154349627718</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li style="border-bottom: solid 1px #bfc1c3; margin-bottom: 15px;">
          <h2 class="govuk-heading-s" style="margin-bottom: 0;">
            <a href="#" class="govuk-link" style="text-decoration: none;">
              Permanently export horses to the United Arab Emirates (UAE): certificate 2849
            </a>
          </h2>
          <table class="govuk-table" style="font-size: 14px; margin-bottom: 15px;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">United Arab Emirates</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Equine</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">EHC issued</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">154349627718</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li style="border-bottom: solid 1px #bfc1c3; margin-bottom: 15px;">
          <h2 class="govuk-heading-s" style="margin-bottom: 0;">
            <a href="#" class="govuk-link" style="text-decoration: none;">
              Permanently export horses to the United Arab Emirates (UAE): certificate 2849
            </a>
          </h2>
          <table class="govuk-table" style="font-size: 14px; margin-bottom: 15px;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">United Arab Emirates</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Equine</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">EHC issued</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">154349627718</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li style="border-bottom: solid 1px #bfc1c3; margin-bottom: 15px;">
          <h2 class="govuk-heading-s" style="margin-bottom: 0;">
            <a href="#" class="govuk-link" style="text-decoration: none;">
              Permanently export horses to the United Arab Emirates (UAE): certificate 2849
            </a>
          </h2>
          <table class="govuk-table" style="font-size: 14px; margin-bottom: 15px;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">United Arab Emirates</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Equine</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">EHC issued</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">154349627718</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li style="border-bottom: solid 1px #bfc1c3; margin-bottom: 15px;">
          <h2 class="govuk-heading-s" style="margin-bottom: 0;">
            <a href="#" class="govuk-link" style="text-decoration: none;">
              Permanently export horses to the United Arab Emirates (UAE): certificate 2849
            </a>
          </h2>
          <table class="govuk-table" style="font-size: 14px; margin-bottom: 15px;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">United Arab Emirates</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Equine</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">EHC issued</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">154349627718</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li style="border-bottom: solid 1px #bfc1c3; margin-bottom: 15px;">
          <h2 class="govuk-heading-s" style="margin-bottom: 0;">
            <a href="#" class="govuk-link" style="text-decoration: none;">
              Permanently export horses to the United Arab Emirates (UAE): certificate 2849
            </a>
          </h2>
          <table class="govuk-table" style="font-size: 14px; margin-bottom: 15px;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">United Arab Emirates</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Equine</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">EHC issued</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">154349627718</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li style="border-bottom: solid 1px #bfc1c3; margin-bottom: 15px;">
          <h2 class="govuk-heading-s" style="margin-bottom: 0;">
            <a href="#" class="govuk-link" style="text-decoration: none;">
              Permanently export horses to the United Arab Emirates (UAE): certificate 2849
            </a>
          </h2>
          <table class="govuk-table" style="font-size: 14px; margin-bottom: 15px;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">United Arab Emirates</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Equine</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">EHC issued</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">154349627718</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li style="border-bottom: solid 1px #bfc1c3; margin-bottom: 15px;">
          <h2 class="govuk-heading-s" style="margin-bottom: 0;">
            <a href="#" class="govuk-link" style="text-decoration: none;">
              Permanently export horses to the United Arab Emirates (UAE): certificate 2849
            </a>
          </h2>
          <table class="govuk-table" style="font-size: 14px; margin-bottom: 15px;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">United Arab Emirates</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Equine</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">EHC issued</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">154349627718</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li style="border-bottom: solid 1px #bfc1c3; margin-bottom: 15px;">
          <h2 class="govuk-heading-s" style="margin-bottom: 0;">
            <a href="#" class="govuk-link" style="text-decoration: none;">
              Permanently export horses to the United Arab Emirates (UAE): certificate 2849
            </a>
          </h2>
          <table class="govuk-table" style="font-size: 14px; margin-bottom: 15px;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">United Arab Emirates</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Equine</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">EHC issued</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">154349627718</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li style="border-bottom: solid 1px #bfc1c3; margin-bottom: 15px;">
          <h2 class="govuk-heading-s" style="margin-bottom: 0;">
            <a href="#" class="govuk-link" style="text-decoration: none;">
              Permanently export horses to the United Arab Emirates (UAE): certificate 2849
            </a>
          </h2>
          <table class="govuk-table" style="font-size: 14px; margin-bottom: 15px;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">United Arab Emirates</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Equine</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">EHC issued</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">154349627718</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li style="border-bottom: solid 1px #bfc1c3; margin-bottom: 15px;">
          <h2 class="govuk-heading-s" style="margin-bottom: 0;">
            <a href="#" class="govuk-link" style="text-decoration: none;">
              Permanently export horses to the United Arab Emirates (UAE): certificate 2849
            </a>
          </h2>
          <table class="govuk-table" style="font-size: 14px; margin-bottom: 15px;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">United Arab Emirates</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Equine</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">EHC issued</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">154349627718</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li style="border-bottom: solid 1px #bfc1c3; margin-bottom: 15px;">
          <h2 class="govuk-heading-s" style="margin-bottom: 0;">
            <a href="#" class="govuk-link" style="text-decoration: none;">
              Permanently export horses to the United Arab Emirates (UAE): certificate 2849
            </a>
          </h2>
          <table class="govuk-table" style="font-size: 14px; margin-bottom: 15px;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">United Arab Emirates</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Equine</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">EHC issued</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">154349627718</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li style="border-bottom: solid 1px #bfc1c3; margin-bottom: 15px;">
          <h2 class="govuk-heading-s" style="margin-bottom: 0;">
            <a href="#" class="govuk-link" style="text-decoration: none;">
              Permanently export horses to the United Arab Emirates (UAE): certificate 2849
            </a>
          </h2>
          <table class="govuk-table" style="font-size: 14px; margin-bottom: 15px;">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">United Arab Emirates</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">Equine</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">EHC issued</td>
                <td class="govuk-table__cell" scope="row" style="border: none; line-height: 24px; float: left; padding: 0 10px 0 0;">154349627718</td>
              </tr>
            </tbody>
          </table>
        </li>
     </ul>

      <div id="pager" class="pager" style="text-align: center; margin-bottom: 60px;">
        <div class="pager-controls">
          <ul class="pager-items" style="display: inline-block; list-style-type: none; font-size: 16px; margin: 0; padding: 0;">
            <li style="display: inline-block; font-family: nta,Arial,sans-serif; padding: 7.5px 10px;">
            <strong>1</strong>
            </li>
            <li style="display: inline-block; padding: 7.5px 10px;">
            <a href="#">2</a>
            </li>
            <li style="display: inline-block; padding: 7.5px 10px;">
            <a href="#">3</a>
            </li>
            <li style="display: inline-block; padding: 7.5px 10px;">
            <a href="#">4</a>
            </li>
            <li style="display: inline-block; padding: 7.5px 10px;">
            <a href="#">5</a>
            </li>
            <li style="display: inline-block; padding: 7.5px 10px;">...
            </li>
            <li style="display: inline-block; padding: 7.5px 10px;">
            <a href="#">9</a>
            </li>
            <li style="display: inline-block; padding: 7.5px 10px;">
            <a href="#">10</a>
            </li>
          </ul>
          <a class="pager-next" href="https://findajob.dwp.gov.uk/search?cat=28&amp;loc=86383&amp;page=2">next
          »</a>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
