{% extends "layout.html" %}

{% block beforeContent %}
  <div style="padding: 15px 0; border-bottom: 1px solid #bfc1c3;">
    <a href="#" class="govuk-link govuk-link--no-visited-state" style="padding: 10px 0; text-decoration: none; color: #000; font-weight: bold;">[Organisation name]</a>
    <a href="#" class="govuk-link govuk-link--no-visited-state" style="padding: 10px 0 10px 30px; text-decoration: none;">Switch organisation</a>
    <a href="#" class="govuk-link govuk-link--no-visited-state" style="float: right; padding-left: 30px; text-decoration: none;">Sign out</a>
    <a href="#" class="govuk-link govuk-link--no-visited-state" style="float: right; padding-left: 30px; text-decoration: none;">Manage account</a>
    <a href="#" class="govuk-link govuk-link--no-visited-state" style="float: right; text-decoration: none;">Jane Doe</a>
  </div>
{% endblock %}

{% block pageTitle %}
  Your applications
{% endblock %}

{% block content %}

      <form method="post" id="form" class="form">

      <h1 class="govuk-heading-l">
        Your applications
      </h1>

      <table class="govuk-table" style="margin-bottom: 30px;">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row" style="border: none;">
              <a href="https://www.gov.uk/export-health-certificates" class="govuk-button" style="margin-bottom: 0; float: left;">
                Start a new application
              </a>
              <p style="float: left; margin: 9px 6px; padding-left: 30px;">
                <a href="dashboardSearchAndFilter" class="govuk-link govuk-link--no-visited-state">Filter applications</a>
              </p>
            </td>
            <td class="govuk-table__cell" scope="row" style="border: none; float: right;">
              <select class="govuk-select">
                <option value="option">Sort by</option>
                <option value="option">Commodity (ascending)</option>
                <option value="option">Commodity (descending)</option>
                <option value="option">Destination (A to Z)</option>
                <option value="option">Destination (Z to A)</option>
                <option value="option">Date (ascending)</option>
                <option value="option">Date (descending)</option>
                <option value="option">Status (ascending)</option>
                <option value="option">Status (descending)</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Application #</th>
            <th class="govuk-table__header" scope="col">EHC</th>
            <th class="govuk-table__header" scope="col">Commodity</th>
            <th class="govuk-table__header" scope="col">Destination</th>
            <th class="govuk-table__header" scope="col">Submitted</th>
            <th class="govuk-table__header" scope="col">Status</th>
            <th class="govuk-table__header" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">2849EHC</td>
            <td class="govuk-table__cell" scope="row">Horses</td>
            <td class="govuk-table__cell" scope="row">UAE</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">
              <span style="background-color: #005ea5; color: #fff; font-size: 15px; text-transform: uppercase; font-weight: bold; width: 100%; display: block; text-align: center; padding: 5px 0;">
                Processing
              </span>
            </td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">2849EHC</td>
            <td class="govuk-table__cell" scope="row">Dairy</td>
            <td class="govuk-table__cell" scope="row">Australia</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">
              <span style="background-color: #f47738; color: #fff; font-size: 15px; text-transform: uppercase; font-weight: bold; width: 100%; display: block; text-align: center; padding: 5px 0;">
                Draft
              </span>
            </td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">2849EHC</td>
            <td class="govuk-table__cell" scope="row">Dogs and cats</td>
            <td class="govuk-table__cell" scope="row">Canada</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">
              <span style="background-color: #006435; color: #fff; font-size: 15px; text-transform: uppercase; font-weight: bold; width: 100%; display: block; text-align: center; padding: 5px 0;">
                EHC issued
              </span>
            </td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">2849EHC</td>
            <td class="govuk-table__cell" scope="row">Dogs and cats</td>
            <td class="govuk-table__cell" scope="row">Canada</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">
              <span style="background-color: #df3034; color: #fff; font-size: 15px; text-transform: uppercase; font-weight: bold; width: 100%; display: block; text-align: center; padding: 5px 0;">
                Declined
              </span>
            </td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">2849EHC</td>
            <td class="govuk-table__cell" scope="row">Horses</td>
            <td class="govuk-table__cell" scope="row">UAE</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">
              <span style="background-color: #005ea5; color: #fff; font-size: 15px; text-transform: uppercase; font-weight: bold; width: 100%; display: block; text-align: center; padding: 5px 0;">
                Processing
              </span>
            </td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">2849EHC</td>
            <td class="govuk-table__cell" scope="row">Dairy</td>
            <td class="govuk-table__cell" scope="row">Australia</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">
              <span style="background-color: #006435; color: #fff; font-size: 15px; text-transform: uppercase; font-weight: bold; width: 100%; display: block; text-align: center; padding: 5px 0;">
                EHC issued
              </span>
            </td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">2849EHC</td>
            <td class="govuk-table__cell" scope="row">Dogs and cats</td>
            <td class="govuk-table__cell" scope="row">Canada</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">
              <span style="background-color: #006435; color: #fff; font-size: 15px; text-transform: uppercase; font-weight: bold; width: 100%; display: block; text-align: center; padding: 5px 0;">
                EHC issued
              </span>
            </td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">2849EHC</td>
            <td class="govuk-table__cell" scope="row">Dogs and cats</td>
            <td class="govuk-table__cell" scope="row">Canada</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">
              <span style="background-color: #006435; color: #fff; font-size: 15px; text-transform: uppercase; font-weight: bold; width: 100%; display: block; text-align: center; padding: 5px 0;">
                EHC issued
              </span>
            </td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">2849EHC</td>
            <td class="govuk-table__cell" scope="row">Dairy</td>
            <td class="govuk-table__cell" scope="row">Australia</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">
              <span style="background-color: #006435; color: #fff; font-size: 15px; text-transform: uppercase; font-weight: bold; width: 100%; display: block; text-align: center; padding: 5px 0;">
                EHC issued
              </span>
            </td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">2849EHC</td>
            <td class="govuk-table__cell" scope="row">Dogs and cats</td>
            <td class="govuk-table__cell" scope="row">Canada</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">
              <span style="background-color: #006435; color: #fff; font-size: 15px; text-transform: uppercase; font-weight: bold; width: 100%; display: block; text-align: center; padding: 5px 0;">
                EHC issued
              </span>
            </td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">2849EHC</td>
            <td class="govuk-table__cell" scope="row">Dogs and cats</td>
            <td class="govuk-table__cell" scope="row">Canada</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">
              <span style="background-color: #006435; color: #fff; font-size: 15px; text-transform: uppercase; font-weight: bold; width: 100%; display: block; text-align: center; padding: 5px 0;">
                EHC issued
              </span>
            </td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">2849EHC</td>
            <td class="govuk-table__cell" scope="row">Dogs and cats</td>
            <td class="govuk-table__cell" scope="row">Canada</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">
              <span style="background-color: #006435; color: #fff; font-size: 15px; text-transform: uppercase; font-weight: bold; width: 100%; display: block; text-align: center; padding: 5px 0;">
                EHC issued
              </span>
            </td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">2849EHC</td>
            <td class="govuk-table__cell" scope="row">Dogs and cats</td>
            <td class="govuk-table__cell" scope="row">Canada</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">
              <span style="background-color: #006435; color: #fff; font-size: 15px; text-transform: uppercase; font-weight: bold; width: 100%; display: block; text-align: center; padding: 5px 0;">
                EHC issued
              </span>
            </td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">2849EHC</td>
            <td class="govuk-table__cell" scope="row">Dogs and cats</td>
            <td class="govuk-table__cell" scope="row">Canada</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">
              <span style="background-color: #006435; color: #fff; font-size: 15px; text-transform: uppercase; font-weight: bold; width: 100%; display: block; text-align: center; padding: 5px 0;">
                EHC issued
              </span>
            </td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">2849EHC</td>
            <td class="govuk-table__cell" scope="row">Dogs and cats</td>
            <td class="govuk-table__cell" scope="row">Canada</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">
              <span style="background-color: #006435; color: #fff; font-size: 15px; text-transform: uppercase; font-weight: bold; width: 100%; display: block; text-align: center; padding: 5px 0;">
                EHC issued
              </span>
            </td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">2849EHC</td>
            <td class="govuk-table__cell" scope="row">Dogs and cats</td>
            <td class="govuk-table__cell" scope="row">Canada</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">
              <span style="background-color: #006435; color: #fff; font-size: 15px; text-transform: uppercase; font-weight: bold; width: 100%; display: block; text-align: center; padding: 5px 0;">
                EHC issued
              </span>
            </td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">2849EHC</td>
            <td class="govuk-table__cell" scope="row">Dogs and cats</td>
            <td class="govuk-table__cell" scope="row">Canada</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">
              <span style="background-color: #006435; color: #fff; font-size: 15px; text-transform: uppercase; font-weight: bold; width: 100%; display: block; text-align: center; padding: 5px 0;">
                EHC issued
              </span>
            </td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">2849EHC</td>
            <td class="govuk-table__cell" scope="row">Dogs and cats</td>
            <td class="govuk-table__cell" scope="row">Canada</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">
              <span style="background-color: #df3034; color: #fff; font-size: 15px; text-transform: uppercase; font-weight: bold; width: 100%; display: block; text-align: center; padding: 5px 0;">
                Declined
              </span>
            </td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">2849EHC</td>
            <td class="govuk-table__cell" scope="row">Dogs and cats</td>
            <td class="govuk-table__cell" scope="row">Canada</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">
              <span style="background-color: #006435; color: #fff; font-size: 15px; text-transform: uppercase; font-weight: bold; width: 100%; display: block; text-align: center; padding: 5px 0;">
                EHC issued
              </span>
            </td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">2849EHC</td>
            <td class="govuk-table__cell" scope="row">Dogs and cats</td>
            <td class="govuk-table__cell" scope="row">Canada</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">
              <span style="background-color: #006435; color: #fff; font-size: 15px; text-transform: uppercase; font-weight: bold; width: 100%; display: block; text-align: center; padding: 5px 0;">
                EHC issued
              </span>
            </td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>

      <div id="pager" class="pager" style="text-align: center; margin-bottom: 60px;">
        <div class="pager-controls">
          <ul class="pager-items" style="display: inline-block; list-style-type: none; font-size: 16px; margin: 0; padding: 0;">
            <li style="display: inline-block; font-family: nta,Arial,sans-serif; padding: 7.5px 10px;">
            <strong>1</strong>
            </li>
            <li style="display: inline-block; padding: 7.5px 10px;">
            <a href="#">2</a>
            </li>
            <li style="display: inline-block; padding: 7.5px 10px;">
            <a href="#">3</a>
            </li>
            <li style="display: inline-block; padding: 7.5px 10px;">
            <a href="#">4</a>
            </li>
            <li style="display: inline-block; padding: 7.5px 10px;">
            <a href="#">5</a>
            </li>
            <li style="display: inline-block; padding: 7.5px 10px;">...
            </li>
            <li style="display: inline-block; padding: 7.5px 10px;">
            <a href="#">9</a>
            </li>
            <li style="display: inline-block; padding: 7.5px 10px;">
            <a href="#">10</a>
            </li>
          </ul>
          <a class="pager-next" href="https://findajob.dwp.gov.uk/search?cat=28&amp;loc=86383&amp;page=2">next
          »</a>
        </div>
      </div>

      </form>

{% endblock %}
