{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent%}
{{super()}}

{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      You will need to update these answers
    </h1>
    <div class="defra-alert defra-alert--info">
      <p class="govuk-body govuk-!-margin-bottom-0">There are 5 answers from application 10000324234 that cannot be {% if data.copy_as_new %}copied{% else %}cloned{% endif%} in this new application.</p>
    </div>
    <p class="govuk-body"></p>
    <h3 class="govuk-heading-s">Invalid dates</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Planned date of certification: 02/11/2020</li>
      <li>Earliest date of collection: 20/10/2019</li>
      <li>Latest date of collection: 20/10/2019</li>
      <li>Earliest date of processing: 20/10/2019</li>
      <li>Latest date of processing: 20/10/2019</li>
    </ul>
    <p class="govuk-body">You will need to update these answers before you can submit.</p>
    <form method="post" action="certificate/check-your-progress" novalidate>
      <div class="govuk-form-group">


        <a class="govuk-button" data-module="govuk-button" href="check-your-answers-cloned?alert=cloned">
          Confirm and clone
        </a>
    </form>

  </div>
</div>
{% endblock %}
