
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  
<style>
    main{padding-top: 0px!important;}
    .green-tag{background: #00823b}
</style>
<div class="govuk-width-container">
<div class="login-nav login-border">
    <ul class="login-nav__list">
        <li class="login-nav__list-item" id="Nav-DisplayName">Ann Cooper</li>
        <li class="login-nav__list-item"> | <a href="https://identity-management-app.herokuapp.com/manage/team-members/services-on-team-member-admin-account_company-exports?serviceLine=Exporter%20Service&serviceRole=Exporter&numUsers=1&numAgents=0&numServices=1&multiOrg=no&parentChild=parent" class="govuk-link login-nav__link govuk-link--no-visited-state profile" id="Link-ManageAccount">Manage account</a>|</li>
        <li class="login-nav__list-item"><a href="#ß" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
    </ul></div>
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<style>


    #filter-cert-org #filter-container {
        bottom: 0px;
        color: rgb(255, 255, 255);
        height: 40px;
        left: 0px;
        position: relative;
        right: 0px;
        text-decoration: none solid rgb(255, 255, 255);
        text-size-adjust: 100%;
        top: 0px;
        width: 300px;
        column-rule-color: rgb(255, 255, 255);
        perspective-origin: 150px 20px;
        transform-origin: 150px 20px;
        caret-color: rgb(255, 255, 255);
        background: rgb(0, 94, 165) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='40' height='40'%3E%3Cpath d='M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z' fill='white'%3E%3C/path%3E%3C/svg%3E") no-repeat scroll 0% 0% / 40px 40px padding-box border-box;
        border: 0px none rgb(255, 255, 255);
        font: normal normal 400 normal 16px / normal "Times New Roman";
        outline: rgb(255, 255, 255) none 0px;
    }/*#filter-container*/

    #filter-cert-org #filter-container:after {
        color: rgb(255, 255, 255);
        text-decoration: none solid rgb(255, 255, 255);
        text-size-adjust: 100%;
        column-rule-color: rgb(255, 255, 255);
        caret-color: rgb(255, 255, 255);
        border: 0px none rgb(255, 255, 255);
        font: normal normal 400 normal 16px / normal "Times New Roman";
        outline: rgb(255, 255, 255) none 0px;
    }/*#DIV_4:after*/

    #filter-cert-org #filter-container:before {
        color: rgb(255, 255, 255);
        text-decoration: none solid rgb(255, 255, 255);
        text-size-adjust: 100%;
        column-rule-color: rgb(255, 255, 255);
        caret-color: rgb(255, 255, 255);
        border: 0px none rgb(255, 255, 255);
        font: normal normal 400 normal 16px / normal "Times New Roman";
        outline: rgb(255, 255, 255) none 0px;
    }/*#DIV_4:before*/


    #filter-cert-org #filter-input {
        bottom: 0px;
        height: 22px;
        left: 0px;
        position: relative;
        right: 0px;
        text-size-adjust: 100%;
        top: 0px;
        width: 260px;
        perspective-origin: 130px 20px;
        transform-origin: 130px 20px;
        border: 2px solid rgb(255, 255, 255);
        font: normal normal 400 normal 19px / 25px nta, Arial, sans-serif;
        margin: 0px 0px 0px 40px;
        padding: 9px 10px 5px;
        border: solid 2px #000;
        outline: none;
    }/*#filter-input*/

    #filter-cert-org #filter-input:focus {
        border: solid 2px #ffbf47;
        outline: none;
    }/*#filter-input*/

    #filter-cert-org #filter-input:after {
        text-size-adjust: 100%;
        font: normal normal 400 normal 19px / 25px nta, Arial, sans-serif;
    }/*#filter-input:after*/

    #filter-cert-org #filter-input:before {
        text-size-adjust: 100%;
        font: normal normal 400 normal 19px / 25px nta, Arial, sans-serif;
    }/*#filter-input:before*/



    .govuk-details__summary:before{display: none}

    .b{font-weight: 700!important;}




    .govuk-tag, .green-tag, .orange-tag, .blue-tag, .red-tag {

          font-size: 17px;

     

          text-transform: none;
      }


    .blue-tag{background: none!important;color: inherit!important;font-weight: normal!important;}

</style>

<h1 class="govuk-heading-xl heading" style="margin-bottom: 25px">Your applications</h1>






<a id="link-startNewApplicationLink" href="index" class="govuk-button" style="margin-bottom: 20px">
    Start a new application

</a>





<!--<div style="float: right">
    <div id="filter-cert-org" style="margin-right: 30px">
        <div id="filter-container">
            <input id="filter-input" name="input-autocomplete" placeholder="Search applications" type="text">
        </div>
    </div>
</div>-->

<style>

.search-what-cont {
	width:100%;
	height:auto;
	margin-top:10px;
	font: normal normal 400 normal 19px / 25px nta, Arial, sans-serif;
	display:none;
}

.search-what-label {
	font-size: 14px;
	display:inline-block;
	margin-top:10px;
	margin-right:10px;
}

.search-what {
	padding:5px 10px;
	border-radius:8px;
	font-size: 15px;
	display:inline-block;
	border: solid 1px #000;
}

.search-what-close {
	cursor:pointer;
}

</style>

<script>

$(document).ready(function (e) {

	$("#search").click(function (e) {
		$(".search-what-text").text($("#search-input").val());
		$(".search-what-cont").show();
		$(".result").each(function (e) {
			var text=$(this).text().toLowerCase();
			if (text.indexOf($("#search-input").val().toLowerCase())>-1) {
				$(this).show();
			} else {
				$(this).hide();
			}
		});
	}); 
	
	$("#clear-search, .search-what-close").click(function (e) {
		e.preventDefault();
		$(".search-what-cont").hide();
		$("#search-input").val("");
		$(".result").each(function (e) {
			$(this).show();
		});
		$(this).blur();
	});	
	

});

</script>

<div class="search-wrapper govuk-form-group" style="float:right;width:300px;">
                <div class="search-input-wrapper">
                    <input type="search" value="" id="search-input" name="keywords" title="Search" class="govuk-input" style="height:40px;">
                    <div class="search-input-submit-wrapper">
                        <button type="button" class="search-submit" id="search" style="height:40px;">Search</button>
                    </div>
                </div>
				<!--
				appear after you search
				<a href="#" id="clear-search" style="display:block;margin-top:5px;">Clear</a>
				 -->
				
				<div class="search-what-cont">
				<div class="search-what-label">Containing: </div>
				<div class="search-what"><span class="search-what-close">✕</span>&nbsp;&nbsp;<span class="search-what-text"></div></div>
				</div>
				
            </div>



<div class="govuk-tabs" data-module="govuk-tabs" style="margin-top:45px;">

<!--table-->




    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#past-day">
                Applications
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#past-week">
               Favourites
            </a>
        </li>
        </ul>

    <section class="govuk-tabs__panel" id="past-day">
<div style="clear: both">
    <hr style="    top: 10px;
    position: relative;">
    <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header">
                <div class="applicationRef-column">Application</div>
            </th>
            <th class="govuk-table__header">Reference</th>
            <th class="govuk-table__header">Destination</th>
            <th class="govuk-table__header">Submitted date</th>
            <th class="govuk-table__header">Status</th>

        </tr>
        </thead>
        <tbody>
        <tr class="govuk-table__row result">


            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">7006-47986484</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
              7836-Peking
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                China
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                22/11/2019
            </td>




            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                    <div class="blue-tag" style="width: auto">
                        Submitted
                </div>
            </td>




        </tr>





        </tbody><tbody>





        <tr class="govuk-table__row result">


            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">7006-98786484</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                7836-Tientun
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                China
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                10/11/2019
            </td>




            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Processing
                </div>
            </td>




        </tr>





        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1-dispatched">8327-40868887</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                 Skins and Hides-Berlin 337376
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Germany
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                09/11/2019
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Dispatched
                </div>
            </td>
        </tr>


        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">8327-47867777</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                Skins and Hides-Berlin 887376
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Germany
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                08/11/2019
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                  Rejected
                </div>
            </td>
        </tr>


        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">8327-37867567</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                Skins and Hides-Berlin 997376
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Germany
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                07/11/2019
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                   Cancelled
                </div>
            </td>
        </tr>



        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">8327-31367567</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                Skins and Hides-Berlin 994476
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Germany
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                06/11/2019
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Completed
                </div>
            </td>
        </tr>


        <tr class="govuk-table__row result">

        <td id="1721147986156-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
            <a href="ehc-page-draft-1">7006-47986156</a>
        </td>

        <td id="1721147986156-group-number" class="govuk-table__cell" scope="row">

        </td>

        <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
            China
        </td>

        <td id="1721147986156-submitted" class="govuk-table__cell submitted-column" scope="row">

        </td>

        <td id="1721147986156-status" class="govuk-table__cell" scope="row">
            <div class="blue-tag" style="width: auto">
                Draft
            </div>
        </td>





    </tr>





    </tbody><tbody>
    <!--<tr class="govuk-table__row">

        <td id="1721147985832-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
            <a href="ehc-page-1-pending">   7866-47985832</a>
        </td>


        <td id="1721147985832-group-number" class="govuk-table__cell" scope="row">
            3421-Harbin
        </td>

        <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
            China
        </td>
        <td id="1721147985832-submitted" class="govuk-table__cell submitted-column" scope="row">
            12/11/2019
        </td>

        <td id="1721147985832-status" class="govuk-table__cell" scope="row">
                <div class="orange-tag turquoise-tag">
                    PENDING
                </div>
        </td>




    </tr>-->
    </tbody>




        <tr class="govuk-table__row result">

            <td id="1651965956486-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-draft-1"> 7006-65956486</a>
            </td>


            <td id="1651965956486-group-number" class="govuk-table__cell" scope="row">
                2366-Shanghai
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                China
            </td>


            <td id="1651965956486-submitted" class="govuk-table__cell submitted-column" scope="row">

            </td>


            <td id="1651965956486-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Draft
                </div>
            </td>



        </tr>







        <tbody>





        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">3987-47868887</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                USA Atlanta 2234523
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                USA
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                22/10/2019
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>


        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">8327-47868887</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                4564774 Skins&Hides
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Germany
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                31/09/2019
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>





        <tr class="govuk-table__row result">

            <td id="1651965956486-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-draft-1"> 3926-65956486</a>
            </td>


            <td id="1651965956486-group-number" class="govuk-table__cell" scope="row">
                PO-243536
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                United Arab Emirates
            </td>


            <td id="1651965956486-submitted" class="govuk-table__cell submitted-column" scope="row">

            </td>


            <td id="1651965956486-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Draft
                </div>
            </td>



        </tr>



        <tr class="govuk-table__row result">

            <td id="1651965956486-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-draft-1"> 6969-65956486</a>
            </td>


            <td id="1651965956486-group-number" class="govuk-table__cell" scope="row">
                PO-77686868
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
               Australia
            </td>


            <td id="1651965956486-submitted" class="govuk-table__cell submitted-column" scope="row">

            </td>


            <td id="1651965956486-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Draft
                </div>
            </td>



        </tr>



        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">8270-47868887</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                EU-fishery w84789
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Spain
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                08/08/2019
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>


        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">8270-47868887</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                EU-fishery w84991
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
               France
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                01/08/2019
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>



        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">8270-47868777</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                EU w84789998
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Italy
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                09/07/2019
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>

        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">8249-47868777</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                EU  bivalve molluscs PO 5647
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
             Austria
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                02/06/2019
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>



        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">7490-47868777</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
               PO 15699747
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Argentina
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                08/05/2019
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>


        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">7490-47868707</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                PO 15699749
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Argentina
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                10/04/2019
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>

        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">7490-47868997</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                PO 99699747
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Argentina
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                11/03/2019
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>


        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">7490-47888777</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                PO 15999747
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Argentina
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                10/03/2019
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>


        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">5498-47868777</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                PO 78377583 equine
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Brazil
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                08/03/2019
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>



        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">7421-47868777</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                PO 22277583 Horses
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
            Canada
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                08/03/2019
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>




        <tr class="govuk-table__row result">

            <td id="1651965956486-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-draft-1"> 2185-65956486</a>
            </td>


            <td id="1651965956486-group-number" class="govuk-table__cell" scope="row">

            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
               Bahrain
            </td>


            <td id="1651965956486-submitted" class="govuk-table__cell submitted-column" scope="row">

            </td>


            <td id="1651965956486-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Draft
                </div>
            </td>



        </tr>



        <tr class="govuk-table__row result">

            <td id="1651965956486-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-draft-1"> 2300-65956486</a>
            </td>


            <td id="1651965956486-group-number" class="govuk-table__cell" scope="row">

            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Hong Kong
            </td>


            <td id="1651965956486-submitted" class="govuk-table__cell submitted-column" scope="row">

            </td>


            <td id="1651965956486-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Draft
                </div>
            </td>



        </tr>





        <tr class="govuk-table__row result">

            <td id="1651965956486-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-draft-1"> 7546-65977486</a>
            </td>


            <td id="1651965956486-group-number" class="govuk-table__cell" scope="row">

            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Hong Kong
            </td>


            <td id="1651965956486-submitted" class="govuk-table__cell submitted-column" scope="row">

            </td>


            <td id="1651965956486-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Draft
                </div>
            </td>

        </tr>



        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">7321-47868776</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                Ornamental Fish PO 3388687
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Canada
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                01/02/2019
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>


        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">7321-47868700</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                Ornamental Fish PO 3388787
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Canada
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                01/02/2019
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>


        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">7321-47868990</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                Ornamental Fish PO 3399787
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Canada
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                30/01/2019
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>


        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">7321-47868899</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                Ornamental Fish PO 3397887
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Canada
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                28/01/2019
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>


        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">7321-47868877</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                Ornamental Fish PO 3397843
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Canada
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                27/01/2018
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>

        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">7321-477777790</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                Ornamental Fish PO 3388843
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Canada
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                26/01/2018
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>



        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">7321-477778889</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                Ornamental Fish PO 1288843
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Canada
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                25/01/2018
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>


        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">7321-477778909</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                Ornamental Fish PO 2535637
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Canada
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                20/01/2018
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>


        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">7455-477778909</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                Feedstuff PO 8835637
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Iran
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                18/01/2018
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>

        <tr class="govuk-table__row result">
            <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                <a href="ehc-page-1">5353-477778909</a>
            </td>


            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                PO 8333998 SA
            </td>

            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                Uruguay
            </td>


            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                17/01/2018
            </td>

            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                <div class="blue-tag" style="width: auto">
                    Submitted
                </div>
            </td>
        </tr>

        </tbody>
    </table>



    <div class="app-example-page">

        <nav class="moj-pagination" id="pagination-label">

            <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

            <ul class="moj-pagination__list">
                <li class="moj-pagination__item  moj-pagination__item--prev">
                    <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
                </li>


                <li class="moj-pagination__item moj-pagination__item--active"><a class="moj-pagination__link" href="#" style="color: black!important;font-weight: 700">1</a></li>

                <li class="moj-pagination__item"><a class="moj-pagination__link" href="#">2</a></li>



                <li class="moj-pagination__item"><a class="moj-pagination__link" href="#">3</a></li>

                <li class="moj-pagination__item  moj-pagination__item--next">
                    <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
                </li>
            </ul>
            <p class="moj-pagination__results">Showing <b>1</b> to <b>30</b> of <b>90</b> results</p>
        </nav>

    </div>




</div>


</section>
<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">







    <div style="clear: both">
        <hr style="    top: 10px;
    position: relative;">
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">


                <th class="govuk-table__header">
                    <div class="applicationRef-column">Application</div>
                </th>
                <th class="govuk-table__header">Reference</th>
                <th class="govuk-table__header">Country</th>
                <th class="govuk-table__header">Submitted date</th>
                <th class="govuk-table__header">Status</th>

            </tr>
            </thead>
            <tbody>




            <tr class="govuk-table__row">
                <td id="1721147986456-appRef" class="b govuk-table__cell applicationRef-column" scope="row">
                    <a href="ehc-page-1-fav">7321-47868899</a>
                </td>


                <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">
                    Ornamental Fish PO 3397887
                </td>

                <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                    Canada
                </td>


                <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">
                    28/01/2019
                </td>

                <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                    <div class="blue-tag" style="width: auto">
                        Submitted
                    </div>
                </td>
            </tr>





            </table>





            </div>

<!--

<a href="#" class="b">Create a new template</a>
-->







</section>

</div>

</div>

</div>






{% endblock %}
