
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<a href="index" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>
<div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">Who is completing this application?
                </h1>

                <form action="3" method="POST" enctype="application/x-www-form-urlencoded">
                    <!-- @formatter:off -->
                    <div class="govuk-form-group govuk-\!-margin-top-9">
                        <!-- @formatter:off -->
                        <fieldset id="7006EHC-0" class="govuk-fieldset">
                            <!-- @formatter:on -->
                            <legend class="govuk-fieldset__legend" for="7006EHC-0">
                                <label class="ovuk-label">Are you the exporter or the agent of the exporter?</label>
                            </legend>

                            <div class="govuk-hint">An agent is someone who is applying on behalf of the exporter</div>

                            <div class="govuk-radios govuk-radios--inline">
                                <div class="govuk-radios__item">
                                    <input type="radio" class="govuk-radios__input" id="Exporter" value="Exporter" name="agent-exporter" data-qa-id="Question-radio-" autofocus="autofocus" {{ checked("agent-exporter", "Exporter") }}>
                                    <label class="govuk-label govuk-radios__label" for="Exporter">Exporter</label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input type="radio" class="govuk-radios__input" id="watch-me2" value="Agent" name="agent-exporter" data-qa-id="Question-radio-" {{ ("agent-exporter", "Agent") }}>
                                    <label class="govuk-label govuk-radios__label" for="Agent">Agent</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div id='show-me2' style='display:none'>

                    <div class="govuk-form-group ">
                        <h2 class="govuk-label form-label-bold govuk-\!-font-weight-bold govuk-!-font-weight-bold" for="7006EHC-0">Provide exporter details</h2>


                        <div class="govuk-form-group">
                            <label class="govuk-label" for="full-name" {{ data['exporter'] }}>
                                Full name
                            </label>
                            <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false">
                        </div>


                        <div class="govuk-form-group">
                            <label class="govuk-label" for="email" {{ data['exporter'] }}>
                                Email address
                            </label>
  <span id="email-hint" class="govuk-hint">
    We’ll only use this to send you a receipt
  </span>
                            <input class="govuk-input" id="email" name="email" type="email" aria-describedby="email-hint" autocomplete="email" spellcheck="false">
                        </div>

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="telephone-number">
                                UK telephone number
                            </label>
                            <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel">
                        </div>


                    </div>






</div>
                    <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
                        <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-body">
                            <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">
                        </div>
                    </div>

                </form>

                    <p></p>
                </div>
            </div>
        </div>
</div>


        <script>

            window.onload = function(){
          $(document).ready(function () {
                $("#watch-me").click(function() {
                    $("#show-me:hidden").show('slow');
                });
                $("#watch-me").click(function(){
                    if($('watch-me').prop('checked')===false) {
                        $('#show-me').hide();}
                });
            });



                $(document).ready(function () {
                    $("#watch-me2").click(function() {
                        $("#show-me2:hidden").show('slow');
                    });
                    $("#watch-me2").click(function(){
                        if($('watch-me2').prop('checked')===false) {
                            $('#show-me2').hide();}
                    });
                });



            }
        </script>


{% endblock %}
