
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="9" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div>
                <h1 id="questionPageHeading" class="govuk-heading-l">About your finished product</h1>
                <p>
                </p><form action="11-plus" method="POST" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="crumb_csrf_token" value="gTlLBKyL-1hcIX_eIlqttNqVHhFrTHmuqTG5yTJsotb">

                <!-- @formatter:off -->
                <div class="govuk-form-group ">
                    <label class="govuk-label " for="7006EHC-0">What is the name of the finished product(s) </label>
                    <div class="govuk-hint">The name of the product should correspond exactly with the name of the product on the label. Up to four different product names may be included.</div>
                    <textarea class="govuk-textarea" id="7006EHC-0" name="product-name" rows="3" autofocus="autofocus" data-qa-id="Question-7006EHC-0" spellcheck="false">{{ data['product-name'] }}</textarea>
                </div>
                <input type="hidden" name="0-formQuestionId" value="228">
                <input type="hidden" name="0-questionId" value="16">
                <input type="hidden" name="0-formName" value="7006EHC">
                <input type="hidden" name="0-questionText" value="What is the name of the product? ">
                <input type="hidden" name="0-questionType" value="textarea">
                <input type="hidden" name="0-questionOrder" value="6">
                <input type="hidden" name="0-questionScope" value="BOTH">
                <input type="hidden" name="questionSequence-228" value="0"><div class="govuk-form-group ">
                <label class="govuk-label " for="7006EHC-1">What type of product is it? </label>
                <div class="govuk-hint">For example, condition and type of cut</div>
                <textarea class="govuk-textarea" id="7006EHC-1" name="product-type" rows="3" data-qa-id="Question-7006EHC-1">{{ data['product-type'] }}</textarea>
            </div>
                <input type="hidden" name="1-formQuestionId" value="229">
                <input type="hidden" name="1-questionId" value="17">
                <input type="hidden" name="1-formName" value="7006EHC">
                <input type="hidden" name="1-questionText" value="What type of product is it? ">
                <input type="hidden" name="1-questionType" value="textarea">
                <input type="hidden" name="1-questionOrder" value="7">
                <input type="hidden" name="1-questionScope" value="BOTH">
                <input type="hidden" name="questionSequence-229" value="1">            <!-- @formatter:on -->
                <input type="hidden" id="numQuestionsOnPage" name="numQuestionsOnPage" value="2">


               <!-- <a href="11-plus" type="submit" class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">
                    Add another product
                </a>-->



                <h2 class="govuk-heading-m govuk-\!-margin-bottom-0 govuk-\!-margin-top-9" style="margin-top: 50px">
                   Production dates
                </h2>


                <!-- @formatter:off -->
                <div class="govuk-form-group ">
                    <label class="govuk-label " for="7006EHC-0">What are the dates of production?</label>
                    <div class="govuk-hint">Enter the range of dates</div>
                </div>
                <div class="govuk-form-group" {{ data['production-dates'] }}>
                    <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">

                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                            From date
                        </label>

                         <span id="passport-issued-hint" class="govuk-hint">
      For example, 27 3 2007
    </span>
                        <div class="govuk-date-input" id="passport-issued">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>


                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">

                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                            To date
                        </label>

                         <span id="passport-issued-hint" class="govuk-hint">
      For example, 27 4 2007
    </span>
                        <div class="govuk-date-input" id="passport-issued">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>



                <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
                    <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                </div>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full govuk-body">
                        <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">
                    </div>
                </div>

            </form>

                <p></p>
            </div>
        </div>
    </div>
</div>










{% endblock %}
