
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="11-minus" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>

<div class="govuk-width-container">
    <div class="govuk-grid-row">
            <div>
                <h1 id="questionPageHeading" class="govuk-heading-l">About your finished product</h1>
                <p>
                </p><form action="11" method="POST" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="crumb_csrf_token" value="gTlLBKyL-1hcIX_eIlqttNqVHhFrTHmuqTG5yTJsotb">





                <table class="govuk-table">


                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header ">Product 1</th>
                        <th scope="col" class="govuk-table__header "></th>
                        <th scope="col" class="govuk-table__header "></th>
                        <th scope="col" class="govuk-table__header "></th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
                        <th scope="col" class="govuk-table__header"><a href="#">Edit</a>&nbsp;&nbsp;<a href="#">Delete</a></th>
                    </tr>
                    </thead>




                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header ">Slaughterhouse Name</th>
                        <th scope="col" class="govuk-table__header ">Approval number</th>
                        <th scope="col" class="govuk-table__header ">From date</th>
                        <th scope="col" class="govuk-table__header ">To date</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Address</th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Bolton&nbsp;plant</td>
                        <td class="govuk-table__cell">649887200</td>
                        <td class="govuk-table__cell">22&nbsp;11&nbsp;2019</td>
                        <td class="govuk-table__cell">23&nbsp;11&nbsp;2019</td>
                        <td class="govuk-table__cell">27 Square caste road, BO10 8NY, Bolton </td>
                        <td class="govuk-table__cell"> </td>
                    </tr>
                    </tbody>

                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header ">Cutting plant Name</th>
                        <th scope="col" class="govuk-table__header ">Approval number</th>
                        <th scope="col" class="govuk-table__header ">From date</th>
                        <th scope="col" class="govuk-table__header ">To date</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Address</th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>
                    </thead>


                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Crewe&nbsp;cutting&nbsp;plant</td>
                        <td class="govuk-table__cell">649887200</td>
                        <td class="govuk-table__cell">22&nbsp;11&nbsp;2019</td>
                        <td class="govuk-table__cell">23&nbsp;11&nbsp;2019</td>
                        <td class="govuk-table__cell">27 Square caste road, CR10 8NY, Crewe </td>
                        <td class="govuk-table__cell"> </td>
                    </tr>
                    </tbody>

                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header ">Finished product name</th>
                        <th scope="col" class="govuk-table__header ">Product type</th>
                        <th scope="col" class="govuk-table__header ">From date</th>
                        <th scope="col" class="govuk-table__header ">To date</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>
                    </thead>


                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Pig lunch meat </td>
                        <td class="govuk-table__cell">Cold cuts</td>
                        <td class="govuk-table__cell">22&nbsp;11&nbsp;2019</td>
                        <td class="govuk-table__cell">23&nbsp;11&nbsp;2019</td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell"> </td>
                    </tr>
                    </tbody>




                </table>



                <table class="govuk-table">


                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header ">Product 2</th>
                        <th scope="col" class="govuk-table__header "></th>
                        <th scope="col" class="govuk-table__header "></th>
                        <th scope="col" class="govuk-table__header "></th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
                        <th scope="col" class="govuk-table__header"><a href="#">Edit</a>&nbsp;&nbsp;<a href="#">Delete</a></th>
                    </tr>
                    </thead>




                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header ">Slaughterhouse Name</th>
                        <th scope="col" class="govuk-table__header ">Approval number</th>
                        <th scope="col" class="govuk-table__header ">From date</th>
                        <th scope="col" class="govuk-table__header ">To date</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Address</th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Bolton&nbsp;plant</td>
                        <td class="govuk-table__cell">649887200</td>
                        <td class="govuk-table__cell">22&nbsp;11&nbsp;2019</td>
                        <td class="govuk-table__cell">23&nbsp;11&nbsp;2019</td>
                        <td class="govuk-table__cell">27 Square caste road, BO10 8NY, Bolton </td>
                        <td class="govuk-table__cell"> </td>
                    </tr>
                    </tbody>

                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header ">Cutting plant Name</th>
                        <th scope="col" class="govuk-table__header ">Approval number</th>
                        <th scope="col" class="govuk-table__header ">From date</th>
                        <th scope="col" class="govuk-table__header ">To date</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Address</th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>
                    </thead>


                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Crewe&nbsp;cutting&nbsp;plant</td>
                        <td class="govuk-table__cell">649887200</td>
                        <td class="govuk-table__cell">22&nbsp;11&nbsp;2019</td>
                        <td class="govuk-table__cell">23&nbsp;11&nbsp;2019</td>
                        <td class="govuk-table__cell">27 Square caste road, CR10 8NY, Crewe </td>
                        <td class="govuk-table__cell"> </td>
                    </tr>
                    </tbody>




                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header ">Finished product name</th>
                        <th scope="col" class="govuk-table__header ">Product type</th>
                        <th scope="col" class="govuk-table__header ">From date</th>
                        <th scope="col" class="govuk-table__header ">To date</th>
                        <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
                        <th scope="col" class="govuk-table__header"></th>
                    </tr>
                    </thead>


                    <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Pig lunch meat </td>
                        <td class="govuk-table__cell">Cold cuts</td>
                        <td class="govuk-table__cell">22&nbsp;11&nbsp;2019</td>
                        <td class="govuk-table__cell">23&nbsp;11&nbsp;2019</td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell"> </td>
                    </tr>
                    </tbody>



                </table>




                <a href="7" type="submit" class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">
                    Add another product
                </a>






                <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
                    <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                </div>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full govuk-body">
                        <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">
                    </div>
                </div>

            </form>

                <p></p>
            </div>
        </div>
</div>










{% endblock %}
