
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<a href="14" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div>

                <h1 class="govuk-heading-l">Name and address of the organisation receiving your export</h1>

                <form action="check-your-answers" method="POST" enctype="application/x-www-form-urlencoded">
                    <fieldset class="govuk-fieldset">


                        <div class="govuk-form-group ">
                            <label class="govuk-label" for="7006EHC-0">What is the name of the importer? </label>
                            <input class="govuk-textarea" id="7006EHC-0" name="consignor" rows="3" autofocus="autofocus" data-qa-id="Question-7006EHC-0" spellcheck="false"></textarea>
                        </div>



                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <label class="govuk-label " for="full-name">

                            </label>
                        </legend>



                        <fieldset class="govuk-fieldset">
                            <div class="govuk-form-group ">
                                <label class="govuk-label" for="certifier-address-line-1">
                                    Building and street
                                    <span class="govuk-visually-hidden">line 1 of 2</span>
                                </label>
                                <input class="govuk-input" id="certifier-address-line-1" name="address1" type="text" value="">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="certifier-address-line-2">
                                    <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
                                </label>
                                <input class="govuk-input" id="certifier-address-line-2" name="address2" type="text" value="">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="certifier-address-town">
                                    Town or city
                                </label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="city" name="town" type="text" value="">
                            </div>
                            <div class="govuk-form-group">
                            </div>
                            <div class="govuk-form-group ">
                                <label class="govuk-label" for="certifier-address-postcode">
                                    Postcode
                                </label>
                                <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" value="" type="text">
                            </div>
                        </fieldset>





                        <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
                            <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                        </div>

                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full govuk-body">
                                <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">
                            </div>
                        </div>
                    </fieldset>
                </form>



            </div>
        </div>
    </div>
</div>













{% endblock %}
