
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="7" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div>
                <h1 id="questionPageHeading" class="govuk-heading-l">About the slaughterhouse(s) you used</h1>
                <p>
                </p><form action="11-minus" method="POST" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="crumb_csrf_token" value="gTlLBKyL-1hcIX_eIlqttNqVHhFrTHmuqTG5yTJsotb">

                <!-- @formatter:off -->
                <div class="govuk-form-group ">


                    <div class="govuk-form-group margin-top-45">
                        <label class="govuk-label" for="full-name">
                            Provide veterinary approval number
                        </label>
                        <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false">
                    </div>



                    <label class="govuk-label " for="7006EHC-0">What are the details of the slaughterhouse of origin?</label>
<br>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="full-name">
                            Provide slaughterhouse name
                        </label>
                        <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false">
                    </div>




                    <h2 class="govuk-heading-m govuk-\!-margin-bottom-0 govuk-\!-margin-top-9" style="margin-top: 50px">
                        Select the slaughterhouse address
                    </h2>

                    <p class="govuk-body">
                        Postcode:
                        <span class="govuk-!-font-weight-bold">BS1 5AH</span>&nbsp;&nbsp;
                        <a href="7" class="govuk-link">Change<span class="govuk-visually-hidden"> postcode</span>
                        </a>
                    </p>
                    <div class="govuk-form-group">



                        <select class="govuk-select" id="addressList" name="addressList">

                            <option value="" selected="">15 addresses found</option>

                            <option value="1,3">Flat 1, 3, Grange Road, Bristol, BS1 5AH</option>

                            <option value="2,3">Flat 2, 3, Grange Road, Bristol, BS1 5AH</option>

                            <option value="5">Flat 5, Grange Road, Bristol, BS1 5AH</option>

                            <option value="7">7, Grange Road, Bristol, BS1 5AH</option>

                            <option value="9">9, Grange Road, Bristol, BS1 5AH</option>

                            <option value="11">11, Grange Road, Bristol, BS1 5AH</option>

                            <option value="15">15, Grange Road, Bristol, BS1 5AH</option>

                            <option value="17">17, Grange Road, Bristol, BS1 5AH</option>

                            <option value="19">19, Grange Road, Bristol, BS1 5AH</option>

                            <option value="21">21, Grange Road, Bristol, BS1 5AH</option>

                        </select>
                    </div>

                    <p class="govuk-body">
                        <a href="#">
                            I cannot find the address in the list
                        </a>
                    </p>











                </div>



                <h2 class="govuk-heading-m govuk-\!-margin-bottom-0 govuk-\!-margin-top-9" style="margin-top: 50px">
                    Slaughter dates
                </h2>


                <!-- @formatter:off -->
                <div class="govuk-form-group ">
                    <label class="govuk-label " for="7006EHC-0">What is the range of slaughter dates?</label>
                    <div class="govuk-hint">From earliest to latest</div>
                </div>
                <div class="govuk-form-group" {{ data['production-dates'] }}>
                <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">

                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                        From date
                    </label>

                         <span id="passport-issued-hint" class="govuk-hint">
      For example, 27 3 2007
    </span>
                    <div class="govuk-date-input" id="passport-issued">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>


            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">

                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                        To date
                    </label>

                         <span id="passport-issued-hint" class="govuk-hint">
      For example, 27 4 2007
    </span>
                    <div class="govuk-date-input" id="passport-issued">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>






            <div class="govuk-grid-row margin-top-30"></div>
            <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
                <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-body">
                    <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">
                </div>
            </div>













            </form>

            <p></p>
        </div>
    </div>
</div>
</div>















{% endblock %}
