{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<!--start-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      What certificate do you want to authenticate?
    </h1>
    <img src="/public/images/cert-number-illustration.jpg" alt="Certificate number illustration" width="400px;">
    <form method="post" action="/certificate-number-handler">
      <!-- <form  action="check-your-progress"  method="POST"> -->
      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="certificate-number">
            Certificate number
          </label>
      <p class="govuk-body">Enter the number on the certificate that starts with with "No:"</p>
          <input class="govuk-input govuk-input--width-20" id="certificate-number" name="certificate-number" type="text" aria-describedby="certificate-number-hint" value="">
        </div>
        <input class="govuk-button" type="submit" name="saveAndContinue" value="continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">

      </fieldset>
    </form>
    <p class="govuk-body">

  </div>
</div>
{% endblock %}
