{% extends "layout.html" %}

{% block pageTitle %}
Scan the QR code - Check an export health certificate - GOV.UK
{% endblock %}

{% block content %}
<script src="/public/javascripts/html5-qrcode.min.js"></script>
<style media="screen">
  #qr-reader{
    border:3px dashed #0b0c0c!important;
    font-family: "GDS Transport", Arial, sans-serif;
  }
  #qr-reader__status_span{
    display: inline-block !important;
    outline: 2px solid transparent !important;
    outline-offset: -2px !important;
    color: #fff !important;
    background-color: #1d70b8 !important;
    letter-spacing: 1px !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    font-family: "GDS Transport",Arial,sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    font-size: .875rem !important;
    line-height: 1 !important;
    padding-top: 5px !important;
    padding-right: 8px !important;
    padding-bottom: 4px !important;
    padding-left: 8px !important;
  }
  #qr-reader button{
    font-family: "GDS Transport",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1875;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin-top: 0;
    margin-bottom: 22px;
    margin-right: 20px;
    padding: 8px 10px 7px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #fff;
    background-color: #00703c;
    -webkit-box-shadow: 0 2px 0 #002d18;
    box-shadow: 0 2px 0 #002d18;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
}
#qr-reader__dashboard_section_swaplink {
  margin-right: 19px;
}
#scan-qr-image {
  max-width: 100%;
  max-height: 100%;
  margin-left: 9px;
}

</style>
<h1 class="govuk-heading-xl" id="scan-qr-heading">Scan the QR code</h1>
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">
    <noscript>
      <style>
         #qr-reader {display:none;}
          #qr-reader-results {display:none;}
          #scan-qr-heading {display:none;}
          #qr-fallback {display:none;}.
     </style>
      <h1 class="govuk-heading-l">Javascript is turned off</h1>
      <p class="govuk-body">The QR code scanner uses to javascript. Turn on javascript or <a href="unique-code">manually enter the unique code</a>.</p>
    </noscript>

    <div id="qr-reader" ></div>
    <div id="qr-reader-results"></div>
  </div>

</div>

<script>
  function docReady(fn) {
    // see if DOM is already available
    if (document.readyState === "complete" ||
      document.readyState === "interactive") {
      // call on next available tick
      setTimeout(fn, 1);
    } else {
      document.addEventListener("DOMContentLoaded", fn);
    }
  }

  docReady(function() {
    var resultContainer = document.getElementById('qr-reader-results');
    var lastResult, countResults = 0;

    function onScanSuccess(qrCodeMessage) {
      if (qrCodeMessage !== lastResult) {

        window.location.href = qrCodeMessage;
        ++countResults;
        lastResult = qrCodeMessage;
        resultContainer.innerHTML += `<div>[${countResults}] - ${qrCodeMessage}</div>`;
      }
    }

    var html5QrcodeScanner = new Html5QrcodeScanner(
      "qr-reader", {
        fps: 10,
        qrbox: 250
      });
    html5QrcodeScanner.render(onScanSuccess);
  });
</script>
<br/>
<a href="unique-code" class="govuk-link" id="qr-fallback">I cannot use the QR scanner</a>

{% endblock %}
