{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<!--start-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      What certificate do you want to authenticate?
    </h1>

    <form action="contents" method="POST">
      <!-- <form  action="check-your-progress"  method="POST"> -->
      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label" for="exporter_name">
            Certificate number
          </label>
          <span class="govuk-hint">This can be found on paper certificate. Example 20/08/938404 </span>
          <input class="govuk-input govuk-input--width-20" id="exporter_name" name="certificate_num" type="text" aria-describedby="exporter_name-hint" value="">
        </div>
        <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
          <input class="govuk-button margin-top-30 " type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
        </div>
      </fieldset>
    </form>
    <p class="govuk-body"><a class=govuk-button href="contents" value="Continue" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">Continue</a></p>
  </div>
</div>
{% endblock %}
