{% extends "layout.html" %}
{% block pageTitle %}
What is the unique code? - Check an export health certificate - GOV.UK
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<!--start-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      What is the unique code?
    </h1>
    <img src="/public/images/cert-number-unique-ref.jpg" alt="Certificate number illustration" style="max-width:100%;
    max-height:100%;">
    <form action="/check-ehc/valid" method="POST">
      <!-- <form  action="check-your-progress"  method="POST"> -->
      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="unique-code">
            Unique code
          </label>
          <p class="govuk-hint">Enter the unique 20 letter code from the QR code on the certificate</p>
          <input class="govuk-input govuk-input--width-20" id="exporter_name" name="unique-code" type="text" aria-describedby="exporter_name-hint" value="">
        </div>
        <input class="govuk-button" type="submit" name="saveAndContinue" value="Continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">

      </fieldset>
    </form>
    <p class="govuk-body">

  </div>
</div>
{% endblock %}
