{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<!--start-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      What is the unique code?
    </h1>

    <form action="/check-ehc/valid" method="POST">
      <!-- <form  action="check-your-progress"  method="POST"> -->
      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="unique-code">
            Unique code
          </label>

          <input class="govuk-input govuk-input--width-20" id="exporter_name" name="unique-code" type="text" aria-describedby="exporter_name-hint" value="">
        </div>
        <input class="govuk-button" type="submit" name="saveAndContinue" value="continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">

      </fieldset>
    </form>
    <p class="govuk-body">

  </div>
</div>
{% endblock %}
