{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<style media="screen">

</style>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service
    </span>
  </p>
</div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l" data-qa-id="list-versions-SOPHIE123EHC">SOPHIE123EHC</span>
                <h1 id="versionsHeading" class="govuk-heading-l disabled">EHC form editor</h1>
                <div class="app-summary-card ">
          <header class="app-summary-card--header">
            <h2 class="app-summary-card--title">305</h2>
            <div class="app-summary-card__actions">
              <ul class="app-summary-card__actions-list">
                <li class="app-summary-card__actions-list-item">
                  <a class="govuk-link" href="">
                    Delete<span class="govuk-visually-hidden"></span>
                  </a>
                </li>

              </ul>
            </div>
          </header>
          <div class="app-summary-card--content">
            <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
              <tr class="govuk-table__row">
<h3 class="govuk-heading-m">Behaviours</h3>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Form question
                </dt>
                <dd class="govuk-summary-list__value">

                    Approval number of place of origin

                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Page
                </dt>
                <dd class="govuk-summary-list__value">

                    1: Test page

                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Certificate fields
                </dt>
                <dd class="govuk-summary-list__value">

                    Description of products 2 69

                </dd>
              </div>






              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Order
                </dt>
                <dd class="govuk-summary-list__value">

                    1

                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Audience
                </dt>
                <dd class="govuk-summary-list__value">

                    Exporter

                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Mandatory
                </dt>
                <dd class="govuk-summary-list__value">

                  Yes

                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Min characters
                </dt>
                <dd class="govuk-summary-list__value">

                    100

                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Max characters
                </dt>
                <dd class="govuk-summary-list__value">

                    150

                </dd>
              </div>

              <h3 class="govuk-heading-m govuk-!-margin-top-9">Rules</h3>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Dependent question ID
                </dt>
                <dd class="govuk-summary-list__value">

                    1

                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Dependent question
                </dt>
                <dd class="govuk-summary-list__value">



                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Operator
                </dt>
                <dd class="govuk-summary-list__value">



                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Response
                </dt>
                <dd class="govuk-summary-list__value">



                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Action
                </dt>
                <dd class="govuk-summary-list__value">



                </dd>
              </div>

            </dl>
          </div>
        </div>
        <p><a href="#" class="govuk-link">Add a question</a></p>
                <form action="javascript:alert('Not in prototype');" method="GET">
                    <div>
                        <input class="govuk-button margin-top-30"
                               type="submit"
                               value="Save and continue"
                               id="Button-CreateNewDocumentVersion"
                               data-qa-id="Button-CreateNewEHCDocumentVersion">
                    </div>
                </form>

  </div>
</div>
{% endblock %}
