
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
        <style>.app-tabs {
            border: 1px solid #b58840;
        }
        .app-tabs:hover {
            border: 1px solid #1d70b8	;
        }
       </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Certifier search
      </h1>{{releaseVersion | log }}
      <p class="govuk-body">No jira ticket available yet</p>
        <ul class="govuk-list">
          <li><a href="certificate/check-your-progress?certificate=ehc8327&export_date_day=1&has_reference_num=&reference_num=">From the task list (no reference)</a></li>
          <li><a href="certificate/exa/certifier?search=">Find certifer:  with no search query (start)</a></li>
          <li><a href="certificate/exa/certifier?search=Crewe veterinarian service">Find certifer: with search query</a></li>
          <li><a href="certificate/exa/certifier?search=no vets">Find certifer: no search results</a></li>
    </div>
  </div>

{% endblock %}
