{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent%}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Return to your applications</a>
{% endblock %}
{% block content %}
div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if query.has_error == "yes" %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a href="#decision_identification_number_error">Identification number must start with SP or NV</a>
          </li>
        </ul>
      </div>
    </div>
    {% endif %}
    <h1 class="govuk-heading-xl">
      Decision and confirmation
    </h1>
    <!-- <form action="./summary/case-{{data.return or 'certifier-action'}}" id="CloseCaseForm" method="POST"> -->
    <form id="CloseCaseForm" action="close-question" method="POST">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              What is your decision about this export health certificate?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="approved" name="decision" type="radio" value="approved" {% if data.decision == "approved" and query.hasError =="yes" %}selected="selected"{% endif %} >
              <label class="govuk-label govuk-radios__label" for="approved">
                Approve
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="rejected" name="decision" type="radio" value="rejected" data-aria-controls="conditional-decision-conditional-2">
              <label class="govuk-label govuk-radios__label" for="rejected">
                Reject
              </label>
            </div>
            <div class="govuk-radios__conditional" id="conditional-decision-conditional-2">
              <div class="govuk-form-group">
                <label class="govuk-label" for="rejected-reason">
                  Reason for rejection
                </label>
                <input class="govuk-input" id="rejected-reason" name="rejected-reason" type="" value="">
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="cancelled" name="decision" type="radio" value="cancelled" data-aria-controls="conditional-decision-conditional-3" {% if data.decision == "cancelled"%}selected="selected"{% endif %}>
              <label class="govuk-label govuk-radios__label" for="cancelled">
                Cancel
              </label>
            </div>
            <div class="govuk-radios__conditional" id="conditional-decision-conditional-3">
              <div class="govuk-form-group">
                <label class="govuk-label" for="rejected-reason">
                  Reason for cancellation
                </label>
                <input class="govuk-input" id="rejected-reason" name="rejected-reason" type="" value="">
              </div>
            </div>
        </fieldset>
      </div>
      <div class="govuk-form-group ">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Certifier details
            </h1>
          </legend>
          <div class="govuk-form-group">
            <label class="govuk-label" for="fullname">
              Full name
            </label>
            <input class="govuk-input  govuk-!-width-three-quarters" id="fullname" name="fullname" type="text" value="{{data.fullname}}">
          </div>
          <div class="govuk-form-group {% if query.has_error == 'yes' %}govuk-form-group--error{% endif %}">
            <label class="govuk-label" for="id-number">
              Identification number
            </label>
            {% if query.has_error == 'yes' %}
            <span id="decision_identification_number_error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error: </span>Identification number must start with SP or NV
            </span>
            {% endif %}
            <span id="decision_identification_number" class="govuk-hint">
              Enter the number on your stamp including SP or NV.
            </span>
            <input class="govuk-input govuk-input--width-10" id="decision_identification_number" name="decision_identification_number" type="text" value="{% if query.hasError =="yes" %}{{data.decision_identification_number}}{% endif %}">
          </div>
        </fieldset>
      </div>
      <h2 class="govuk-heading-m">Now submit your decision to APHA</h2>
      <p class="govuk-body">By submitting this form you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
      <div class="govuk-form-group">
        <input class="govuk-button" type="submit" name="acceptAndSubmit" value="Submit" id="Button-CertifierRecordDecisionSubmit">
      </div>
    </form>
  </div>
</div>
{% endblock %}
