{% extends "layout.html" %}

{% block pageTitle %}
{{page.title}} - GOV.UK
{% endblock %}

{% block beforeContent%}
{{super()}}
<a href="{{page.content.prev or 'javascript:history.back()'}}" class="govuk-back-link">Back</a>
<style media="screen">
.govuk-summary-list {
    margin-bottom: 0;
}
.govuk-summary-list__key {
    width: 50%;
}
@media (min-width: 40.0625em){
  .govuk-summary-list__value:last-child {
      width: 50%;
  }
}

</style>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
            Your products
          </h1>
          <p class="govuk-body">You can add up to 5 products to this certificate.</p>
          <p class="govuk-body">For longer product lists, attach a schedule as a <a href="exa/supporting-documents" class="govuk-link">supporting document</a> at the end of this application.</p>
  </div>

  <div class="govuk-grid-column-full">


      <!-- <p class="govuk-body">{{ data.products | length }} product{% if (data.products | length )!=1%}s{%endif%} added</p> -->
        {% if (data.products | length ) > 0 %}
    <table class="govuk-table" id="Table-RepeatablePageReview" style="border-top:1px solid #b1b4b6;">
      <!-- <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">
          Product
        </th>
        <th class="govuk-table__header" colspan="2">
          Summary
        </th>
        {% for question in product.content.fields %}
        <th class="govuk-table__header">
          {{question.label}} {% if question.required != 'yes'%}{%endif%}
        </th>
        {% endfor %}
        <th class="govuk-table__header"></th>
      </tr>
      </thead> -->

      <tbody class="govuk-table__body" id="TableBody-RepeatablePageReview">
      {% for prod in data.products %}
      <tr class="govuk-table__row">
        <th class="govuk-table__cell" style="width:20%;">
          Product {{ loop.index }}
        </th>
        <td class="govuk-table__cell" >
          {% for question in product.content.fields %}
          {% if loop.index <= 2 %}
          {{prod[question.name]}},
          {% endif %}
          {% endfor %}
          
          <!-- <dl class="govuk-summary-list govuk-summary-list--no-border">
            {% for question in product.content.fields %}

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {{question.label}}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{prod[question.name]}}
                  </dd>
                </div>
              {% endfor %}
          </dl> -->
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric" style="width:25%;">
          <a class="govuk-link" href="page?id={{query.id or 2}}&edit={{prod.id}}&next=product-list&product_page=yes" data-qa-id="Link-ChangeRepeatablePage" id="Link-ChangeRepeatablePage-0">Change</a>
          &nbsp;&nbsp;<a class="govuk-link" href="product-list?delete={{loop.index -1}}&id={{query.id}}" id="0-deleteLink">Remove</a>
        </td>
      </tr>

      {% endfor %}
      </tbody>

    </table>
      {% endif %}
    <a class="govuk-button grey-black-text"  style="color:#000000" href="page?id={{query.id or 2}}&next=product-check-answers&product_page=yes&new=yes" id="Button-AddAnother">{% if (data.products | length) == 0 %}Add{%else%}Add another{% endif %}</a>
    <form {% if query.change=="yes" %} action="check-your-answers" {% elseif page.content.prodcut and query.change=="product" %} action="product-list" {% else %} action="{{page.content.next or 'check-your-progress'}}" {% endif %} method="POST">
      <input type="hidden" name="crumb_csrf_token" value="nAitoNVyVGtnnzUQ-QQk78LOMzR_-9L6qqu86Lg9aRY">
      <div class="govuk-!-margin-left-0 govuk-grid-column-one-quarter govuk-!-padding-0">
        <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-body">
          <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
        </div>
      </div>
    </form>
    </div>
{% endblock %}
