{% extends "layout.html" %}

{% block pageTitle %}
{{page.title}} - GOV.UK
{% endblock %}

{% block beforeContent%}
{{super()}}
<a href="{{page.content.prev or 'javascript:history.back()'}}" class="govuk-back-link">Back</a>
<style media="screen">
  .govuk-summary-list {
    margin-bottom: 0;
}
  .govuk-summary-list__key {
    width: 50%;

}
@media (min-width: 40.0625em){
  .govuk-summary-list__value:last-child {
      width: 50%;
  }
}

</style>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
            Check the product details
          </h1>

       <dl class="govuk-summary-list govuk-!-margin-bottom-9">
         {% for question in product.content.fields %}

         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
             {{question.label}}
           </dt>
           <dd class="govuk-summary-list__value">
             {% set i = (data.products | length)-1 %}
             {{data.products[i][question.name]}}
           </dd>
           <dd class="govuk-summary-list__actions">
             <a class="govuk-link" href="page?id={{query.id or 2}}&edit={{i}}&next=product-check-answers&product_page=yes">
               Change<span class="govuk-visually-hidden"> name</span>
             </a>
           </dd>
         </div>
          {% endfor%}
        </dl>
    <form method="POST">
      <input type="hidden" name="crumb_csrf_token" value="nAitoNVyVGtnnzUQ-QQk78LOMzR_-9L6qqu86Lg9aRY">
      <div class="govuk-!-margin-left-0 govuk-grid-column-one-quarter govuk-!-padding-0">
        <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-body">
          <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
        </div>
      </div>
    </form>
    </div>
{% endblock %}
