tion
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">What certificate do you want apply for?</h1>

    <div class="margin-top-30">
      <p class="govuk-body" lang="en">
        Recently certificates you have applied for:
      </p>
    </div>
    <form method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="certificate-6969EHC" name="certificate" type="radio" value="ehc6969">
              <label class="govuk-label govuk-radios__label" for="certificate-6969EHC">
                <strong>6969EHC </strong> Export dairy and dairy products to Australia
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="certificate-7003EHC" name="certificate" type="radio" value="ehc7003">
              <label class="govuk-label govuk-radios__label" for="certificate-7003EHC">
                <strong>7003EHC </strong> Export non UK bovine semen to Northern Ireland, the Isle of Man, Jersey and Guernesy
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="certificate-8254EHC" name="certificate" type="radio" value="ehc8254">
              <label class="govuk-label govuk-radios__label" for="certificate-8254EHC">
                <strong>8254EHC </strong> Export certain meat products and treated stomachs, bladders and intestines to the European Union
              </label>
            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="certificate-different" name="certificate" type="radio" value="different">
              <label class="govuk-label govuk-radios__label" for="certificate-different">
                a different certifcate
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>






{% endblock %}
