
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div>

                         <span class="govuk-caption-xl">
          Step 1 of 2
        </span>

                <h1 class="govuk-heading-xl">EU Transit</h1>

                <form action="14" method="POST" enctype="application/x-www-form-urlencoded">



                    <div class="govuk-form-group ">
                        <!-- @formatter:off -->
                        <fieldset id="3987EHC%20-0" class="govuk-fieldset">
                            <!-- @formatter:on -->
                            <legend class="govuk-fieldset__legend" for="3987EHC%20-0">
                                <label class="govuk-label govuk-!-font-weight-old">Will the consignment transit the European Union and require an Intra Trade Animal Health Certificate?</label>
                            </legend>


                            <div class="govuk-radios govuk-radios--inline">
                                <div class="govuk-radios__item">
                                    <input type="radio" class="govuk-radios__input" id="3987EHC%20-0" value="Yes" name="0" data-qa-id="Question-radio-Yes" autofocus="autofocus">
                                    <label class="govuk-label govuk-radios__label" for="3987EHC%20-0">Yes</label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input type="radio" class="govuk-radios__input" id="3987EHC%20-0" value="No" name="0" data-qa-id="Question-radio-No">
                                    <label class="govuk-label govuk-radios__label" for="3987EHC%20-0">No</label>
                                </div>
                            </div>
                        </fieldset>
                    </div>



                    <div class="govuk-form-group ">
                        <label class="govuk-label govuk-!-font-weighbold" for="3987EHC%20-1">What is the serial number of the Intra Trade Animal Health Certificate? </label>
                        <div class="govuk-hint">If created</div>
                        <textarea class="govuk-textarea" id="3987EHC%20-1" name="1" rows="3" data-qa-id="Question-3987EHC%20-1"></textarea>
                    </div>



                    <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
                        <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-body">
                            <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">
                        </div>
                    </div>


                </form>

                <p></p>
            </div>
        </div>
    </div>
</div>












{% endblock %}
