{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
  .app-tabs {
    border: 1px solid #b58840;
  }

  .app-tabs:hover {
    border: 1px solid #1d70b8;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      EXP-10145: Cancel & Replace - Exporter sees summary of all certificates in the 'daisy chain'
    </h1>
    <p class="govuk-body"><a href="https://eaflood.atlassian.net/browse/EXP-10145?atlOrigin=eyJpIjoiZGJhYjhkYzYwYjUwNDBkNGE1MDI4YjczZjY5ZjMyZmIiLCJwIjoiaiJ9">Java Jira ticket EXP-10145</a></p>
    <!-- <p class="govuk-body"><a href="https://eaflood.atlassian.net/browse/EXP-8086"><span class="govuk-!-font-weight-bold">Jira:</span> Increase prominence of 'Search' CTA on the 'Certifier Search' page</a></p> -->
    <h3 class="govuk-heading-m">Start journey</h3>
    <ul class="govuk-list">
      <li>Version 1: if exporter can view replacements on dashboard</li>
      <li><a href="dashboard">Dashboard</a> </li>
      <li><a href="application?is_replacement_multiple=yes&application_status=cancelled">Summary page for a replaced replacement (updated)</a></li>

      <li><br>Version 2: if export cannot view replacements</li>
      <li><a href="application2?is_replaced=yes&application_status=cancelled&has_replacement_multiple=yes">Summary of replaced certifcate (updated)</a></li>
      <li><a href="replacement-chain?has_replacement_multiple=yes">Replacement of certifcate - multiple replacements (new)</a></li>
      <li><a href="replacement-chain?has_replacement_multiple=no">Replacement of certifcate - single replacements (new)</a></li>
      <li><a href="replacement-chain?has_replacement_multiple=yes&has_PDF=no">Replacement of certifcate - no PDF available (new)</a></li>
    </ul>
  </div>
</div>

{% endblock %}
