
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
        <style>.app-tabs {
            border: 1px solid #b58840;
        }
        .app-tabs:hover {
            border: 1px solid #1d70b8	;
        }
       </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        EXP-8086 Certifier search improvements
      </h1>{{releaseVersion | log }}
      <p class="govuk-body"><a href="https://eaflood.atlassian.net/browse/EXP-8086"><span class="govuk-!-font-weight-bold">Jira:</span> Increase prominence of 'Search' CTA on the 'Certifier Search' page</a></p>
        <ul class="govuk-list">
          <li><a href="certificate/check-your-progress?certificate=ehc8327&export_date_day=1&has_reference_num=&reference_num=">From the task list</a></li>
          <li><a href="certificate/exa/certifier?search=">Find certifier:  with no search query (start)</a></li>
          <li><a href="certificate/exa/certifier?search=Crewe veterinarian service">Find certifier: with search query</a></li>
          <li><a href="certificate/exa/certifier?search=Crewe veterinarian service&single=yes">Find certifier: Single result</a></li>
          <li><a href="certificate/exa/certifier?search=no vets">Find certifier: no search results</a></li>
          <br>
          <li><a href="certificate/exa/certifier-2?search=">Alternative design</a></li>
    </div>
  </div>

{% endblock %}
