{% extends "layout.html" %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<style> main{padding-top: 0!important;}</style>
<div class="gem-c-contextual-breadcrumbs">
    <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item" aria-current="false">
                <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="index">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="false">
                <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/export-health-certificates" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Export health certificates&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="#">Export health certificates</a>
            </li>
        </ol>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
            Export sheepskins to China: certificate 5725
            </h1>
            <p class="govuk-body-l" style="font-size: 24px;">
              Apply for an export health certificate to export sheepskins to the People’s Republic of China.</p>
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <h2 class="govuk-heading-l">Apply for an export health certificate online</h2>
            <p class="govuk-body">Exporters in England, Scotland and Wales can apply for an export health certificate (EHC) online.</p>
            <p class="govuk-body">If you’re in Northern Ireland, you’ll need to <a href="#other-ways">apply to DAERA</a></p>
            <p class="govuk-body">Applying online means you can:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>see the status of your applications</li>
              <li>always use the latest version of the EHC</li>
              <li>copy existing applications</li>
              <li>apply for blocks of certificates</li>
            </ul>
            <h3 class="govuk-heading-m">Checks you need for your export</h3>
            <p class="govuk-body">Find out about <a href="govuk-link" href="#" target="_blank">requirements for export [PDF]</a></p>
            <h3 class="govuk-heading-m">Apply online</h3>
            <p class="govuk-body">You’ll need:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>a Government Gateway account</li>
              <li>a Defra IDC</li>
            </ul>
            <p class="govuk-body">
              You will need to create these accounts if you do not already have them.
            </p>

            <p class="govuk-body">Your official vet or inspector will need to <a href="#">register to use the service</a>.</p>
            <p class="govuk-body"><a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a></p>
<p class="govuk-body"><a href="#">Find out how to register to use this service [PDF]</a>.</p>

            <h2 id="other-ways" class="govuk-heading-l">Other ways to apply</h2>
            <p class="govuk-body">You can still apply by sending your application to APHA by email or uploading it for DAERA in Northern Ireland.</p>
<p class="govuk-body">Make sure you use the latest version of the EHC as they are sometimes updated. The latest version in on this page.
</p>
<p class="govuk-body">If you do not use the latest version, APHA or DAERA will not accept your application.
</p>
<p class="govuk-body">Exporters in Northern Ireland, <a href="https://selfservice.daera-ni.gov.uk/Daera/Forms/#/export" class="govuk-link">upload your application</a>.
  Check if there are any other forms to submit with your application in the <a href="https://www.daera-ni.gov.uk/landing-pages/exporting-animals-and-animal-products-northern-ireland" class="govuk-link">commodity section of the DAERA website</a>.</p>
  <h3 class="govuk-heading-m">Help with your application</h3>
<p class="govuk-body">In England, Scotland and Wales, call APHA on 03000 200 301.</p>
<p class="govuk-body">In Northern Ireland, call DAERA on 02877442060.</p>
<p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>.</p>




<h3 class="govuk-heading-m">1. Download and fill in these forms</h3>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="govuk-link"><a href="govuk-link" href="#">EHC 5725, version 2: Export sheepskins to the People’s Republic of China</a> (all exporters)</a></li>
  <li><a href="govuk-link"><a href="govuk-link" href="#">EXA07: meat, dairy, miscellaneous products, fish and fishery products</a> (exporters in England, Scotland and Wales only - not needed for Northern Ireland)</li>
</ul>
<p class="govuk-body">Find out about <a href="govuk-link" href="#" target="_blank">requirements for export [PDF]</a></p>
<h3 class="govuk-heading-m">2. Submit your application</h3>
<p class="govuk-body">Exporters in England, Scotland and Wales, email your application to <a href="mailto:processingteam@apha.gov.uk">processingteam@apha.gov.uk</a><p>

    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <div class="grid-row">
        <div class="govuk-grid-column-full">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col"></th>
                    <th class="govuk-table__header" scope="col"></th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row" style="border-bottom: 0px; font-size: 16px;">Published 29 November
                        2018<br>
                        <label class="govuk-label" style="font-size: 16px;">
                            From: <a class="govuk-breadcrumbs govuk-!-font-weight-bold" style="font-size: 16px;" href="/government/organisations/animal-and-plant-health-agency">
Animal and Plant Health Agency</a>
                        </label>
                    </td>
                    <td class="govuk-table__cell"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <style>
            .app-c-important-metadata--bottom-margin {
                margin-bottom: 45px;
            }
            .app-c-important-metadata--bottom-margin {
                margin-bottom: 15px;
            }
            .app-c-important-metadata {
                overflow: auto;
                padding: 20px 30px;
            }
            .app-c-important-metadata {
                font-size: 16px;
                line-height: 1.25;
            }
            .app-c-important-metadata {
                font-family: "nta", Arial, sans-serif;
                font-weight: 400;
                text-transform: none;
                font-size: 14px;
                line-height: 1.1428571429;
                background: #005ea5;
                color: #fff;
                padding: 15px;
            }
            .app-c-important-metadata a,
            .app-c-important-metadata a:visited,
            .app-c-important-metadata a:hover {
                color: #fff;
                text-decoration: underline;
            }
            .app-c-important-metadata__definition {
                font-weight: bold;
            }
            .app-c-important-metadata__term {
                float: left;
                padding-right: 5px;
            }
            .gem-c-govspeak h2:first-child, .gem-c-govspeak h3:first-child, .gem-c-govspeak h4:first-child, .gem-c-govspeak p:first-child {
                margin-top: 0;
            }
            .gem-c-govspeak h3 {
                font-size: 19px;
                line-height: 1.3157894737;
            }
            .gem-c-govspeak h3 {
                font-family: "nta", Arial, sans-serif;
                font-weight: 700;
                text-transform: none;
                font-size: 16px;
                line-height: 1.25;
                margin-top: 35px;
                margin-bottom: 0;
            }
            .gem-c-govspeak ol, .gem-c-govspeak ul, .gem-c-govspeak p {
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .gem-c-govspeak ol, .gem-c-govspeak ul, .gem-c-govspeak p {
                font-size: 19px;
                line-height: 1.3157894737;
            }
            .gem-c-govspeak .call-to-action {
                margin: 2em 0;
                background-color: #dee0e2;
                padding: 2em;
            }
            .gem-c-govspeak h2 {
                font-family: "nta", Arial, sans-serif;
                font-weight: 700;
                text-transform: none;
                font-size: 20px;
                line-height: 1.1111111111;
                margin-top: 30px;
                margin-bottom: 0;
            }
        </style>
        <div class="app-c-important-metadata app-c-important-metadata--bottom-margin">
            <dl>
                <dt class="app-c-important-metadata__term">Destination country: </dt>
                <dd class="app-c-important-metadata__definition"><a href="/export-health-certificates?destination_country%5B%5D=china">Australia</a></dd>
                <dt class="app-c-important-metadata__term">Commodity type: </dt>
                <dd class="app-c-important-metadata__definition"><a href="/export-health-certificates?commodity_type%5B%5D=animal-products-including-food">Animal products including food</a></dd>
                <dt class="app-c-important-metadata__term">Certificate status: </dt>
                <dd class="app-c-important-metadata__definition"><a href="/export-health-certificates?certificate_status%5B%5D=active">Active</a></dd>
            </dl>
        </div>
        <div class="column-one-third">
            <div class="gem-c-contextual-sidebar">
            </div>
        </div>
 <style>
     .gem-c-contents-list__list-item {
         padding-top: 10px;
         line-height: 1.3;
         list-style-type: none;
     }
     .gem-c-contents-list__list-item {
         padding-top: 7.5px;
     }
     .gem-c-contents-list__title {
         color: #0b0c0c;
         font-family: "GDS Transport", Arial, sans-serif;
         -webkit-font-smoothing: antialiased;
         -moz-osx-font-smoothing: grayscale;
         font-weight: 400;
         font-size: 14px;
         line-height: 1.5;
         margin: 0;
     }
     .gem-c-contents-list__link {
         color: #0b0c0c;
         font-family: "GDS Transport", Arial, sans-serif;
         -webkit-font-smoothing: antialiased;
         -moz-osx-font-smoothing: grayscale;
         font-weight: 400;
         font-size: 14px!important;
         line-height: 1.5;
         margin: 0;
     }
     .gem-c-contents-list--no-underline .gem-c-contents-list__link {
         text-decoration: none;
     }
     .gem-c-contents-list__list-item--dashed::before {
         content: "—";
         position: absolute;
         left: 0px;
         width: 20px;
         overflow: hidden;
     }
     .gem-c-contents-list__list-item {
         padding-top: 10px;
         line-height: 1.3;
         list-style-type: none;
     }
     .gem-c-contents-list__list-item--dashed {
         position: relative;
         padding-left: 25px;
         padding-right: 25px;
     }
     .gem-c-contents-list__list-item{
          padding-top: 7.5px;
     }
     .call-to-action{background: #f3f2f1!important;}
 </style>
        <div class="responsive-bottom-margin" style="margin-top: 40px;margin-bottom: 40px">
            <nav class="gem-c-contents-list  gem-c-contents-list--no-underline " role="navigation" data-module="track-click">
                <h2 class="gem-c-contents-list__title" style="padding:0;margin: 0">Contents</h2>
                <ol class="gem-c-contents-list__list" style="padding:0;margin:0">
                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                        <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#what-you-need-to-do" data-track-options="{&quot;dimension29&quot;:&quot;What you need to do&quot;}" href="#what-you-need-to-do">Option 1: Apply online</a>
                    </li>
                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                        <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#always-use-the-latest-certificate" data-track-options="{&quot;dimension29&quot;:&quot;Always use the latest certificate&quot;}" href="#always-use-the-latest-certificate">Option 2: Apply by email</a>
                    </li>
                    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                        <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#what-exporters-in-northern-ireland-need-to-do" data-track-options="{&quot;dimension29&quot;:&quot;What exporters in Northern Ireland need to do&quot;}" href="#what-exporters-in-northern-ireland-need-to-do">What exporters in Northern Ireland need to do</a>
                    </li>
                </ol>
            </nav>
        </div>
        <div id="contents" class="app-c-contents-list-with-body">
            <div class="responsive-bottom-margin">
                <div class="gem-c-govspeak govuk-govspeak direction-ltr">
                    <div class="call-to-action">
                        <h2 id="" class="govuk-heading-xl" style="font-size:24px!important;font-family: GDS Transport">Option 1: Apply online </h2>
                        <a role="button" class="govuk-button" style="margin-top: 20px;margin-bottom: 0" href="../start?certificate=ehc6969&journey=new">Apply online</a>
                       <!-- <p>
                            <a href="service-start-logged-out-exports">Apply online </a>
                            to export pig meat from Great Britain to China</p>-->
                        <h3 id="section-b-guidance">If you need help to complete online forms</h3>
                        <p>Exporters in England, Scotland and Wales can request help by contacting the Application Processing Team:</p>
                        <p>Email: <a href="mailto:processingteam@apha.gov.uk">processingteam@apha.gov.uk</a> </p>
                        <p>Telephone helpline: 03000 200 301 </p>
                        <p>Exporters in Northern Ireland can call:<br> The DAERA helpline: 02877442060</p>
                    </div>
                    <div class="responsive-bottom-margin">
                        <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
                            <div class="call-to-action">
                                <h2 id="" class="govuk-heading-xl" style="font-size:24px!important;font-family: GDS Transport">Option 2: Apply by email </h2>
                                <p>Download, fill out and email.</p>
                                <ul>
                                  <li>
                                    <p><span class="attachment-inline"><a href="https://assets.publishing.service.gov.uk/media/5c5ac214ed915d045f3778c3/ET169.pdf">EHC 6969, version 8: Export dairy and dairy products to Australia</a></span></p>
                                  </li>
                                  <li>
                                    <p>Exporters in England, Scotland and Wales must download and fill in the EXA.<br>
                                      <span class="attachment-inline"><a href="https://assets.publishing.service.gov.uk/media/5d6d1e36ed915d53af175c34/8283EHC_V3.pdf">Export application EXA07: meat, dairy, miscellaneous products, fish and fishery products</a></span></p>
                                  </li>
                                </ul>
                                <h3 id="section-b-guidance">Apply by email guidance </h3>
                                <p>The following documents have guidance, extra export conditions and information.</p>
                                <p>The guidance notes are split into parts, to help you with each part of the certificate.</p>
                                <ul>
  <li>
    <p><span class="attachment-inline"><a href="https://assets.publishing.service.gov.uk/media/5c59dc4b40f0b676d487cfd6/ET169.pdf">Guidance notes for certificate 6969</a></span></p>
  </li>
</ul>
                            </div>
                            <h2 id="what-you-need-to-do">What you need to do</h2>
                            <p>You need to fill out this certificate, the export application form (EXA) and all other documents in Section A to export. The guidance notes in Section B have information for exporters and official veterinarians.</p>
                            <p>Email all documents in Section A to <a href="mailto:processingteam@apha.gov.uk">processingteam@apha.gov.uk</a>. Send one email for each application.</p>
                            <h2 id="what-exporters-in-northern-ireland-need-to-do">What exporters in Northern Ireland need to do</h2>
                            <ul class="govuk-list">
                                <li>Find <a href="https://www.gov.uk/export-health-certificates/export-pig-meat-from-northern-ireland-to-china-certificate-7006ni">documents and instructions for exporting pig meat to China from Northern Ireland</a>.</li>
                            </ul>
                            <h2 id="always-use-the-latest-certificate">Always use the latest certificate</h2>
                            <p>Before you apply, make sure you have the most up to date version of the certificate as certificates are sometimes updated. The most up to date versions will be on this page.</p>
                            <p>If you do not use the latest version, your application will not be accepted.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <label class="govuk-label" style="font-size: 16px;">
                    Published 29 November 2018
                </label>
            </div>
        </div>
    </div>
</div>
<div class="column-one-third">
    <div class="gem-c-contextual-sidebar">
    </div>
</div>
{% endblock %}
