{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div>
          <table class="govuk-table">
            <tbody class="govuk-table__body">
            <tr>

            </tr></tbody>
          </table>
          <h1 class="govuk-heading-l heading">Form EXA169-standard Version 0.1</h1>
          <h2 class="govuk-heading-l heading"> Page 1 What are the details of the horse?
            Questions</h2>
        </div>
        <div>
          <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Question Order</th>
              <th class="govuk-table__header">Text</th>
              <th class="govuk-table__header">Type</th>
              <th class="govuk-table__header">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="govuk-table__row">
              <td id="942-questionOrder" class="govuk-table__cell applicationRef-column" scope="row">
                1
              </td>
              <td id="942-text" class="govuk-table__cell" scope="row">
                County Parish Holding number 
              </td>
              <td id="942-type" class="govuk-table__cell" scope="row">
                TEXT
              </td>
              <td class="govuk-table__cell actions-column">
                <a id="946-moveUpLink" class="govuk-link" href="javascript:alert('Not in prototype!');">move
                  up</a>
                <a id="946-moveDownLink" class="govuk-link" href="javascript:alert('Not in prototype!');">move down</a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td id="943-questionOrder" class="govuk-table__cell applicationRef-column" scope="row">
                2
              </td>
              <td id="943-text" class="govuk-table__cell" scope="row">
                Breed
              </td>
              <td id="943-type" class="govuk-table__cell" scope="row">
                TEXT
              </td>
              <td class="govuk-table__cell actions-column">
                <a id="946-moveUpLink" class="govuk-link" href="javascript:alert('Not in prototype!');">move
                  up</a>
                <a id="946-moveDownLink" class="govuk-link" href="javascript:alert('Not in prototype!');">move down</a>
              </td>
            </tr>
            </tbody><tbody>
            <tr class="govuk-table__row">
              <td id="944-questionOrder" class="govuk-table__cell applicationRef-column" scope="row">
                3
              </td>
              <td id="944-text" class="govuk-table__cell" scope="row">
                Age
              </td>
              <td id="944-type" class="govuk-table__cell" scope="row">
                TEXT
              </td>
              <td class="govuk-table__cell actions-column">
                <a id="946-moveUpLink" class="govuk-link" href="javascript:alert('Not in prototype!');">move
                  up</a>
                <a id="946-moveDownLink" class="govuk-link" href="javascript:alert('Not in prototype!');">move down</a>
              </td>
            </tr>
            </tbody><tbody>
            <tr class="govuk-table__row">
              <td id="945-questionOrder" class="govuk-table__cell applicationRef-column" scope="row">
                4
              </td>
              <td id="945-text" class="govuk-table__cell" scope="row">
                Colour
              </td>
              <td id="945-type" class="govuk-table__cell" scope="row">
                TEXT
              </td>
              <td class="govuk-table__cell actions-column">
                <a id="946-moveUpLink" class="govuk-link" href="javascript:alert('Not in prototype!');">move
                  up</a>
                <a id="946-moveDownLink" class="govuk-link" href="javascript:alert('Not in prototype!');">move down</a>
              </td>
            </tr>
            </tbody><tbody>
            <tr class="govuk-table__row">
              <td id="946-questionOrder" class="govuk-table__cell applicationRef-column" scope="row">
                5
              </td>
              <td id="946-text" class="govuk-table__cell" scope="row">
                Sex
              </td>
              <td id="946-type" class="govuk-table__cell" scope="row">
                TEXT
              </td>
              <td class="govuk-table__cell actions-column">
                <a id="946-moveUpLink" class="govuk-link" href="javascript:alert('Not in prototype!');">move
                  up</a>
                <a id="946-moveDownLink" class="govuk-link" href="javascript:alert('Not in prototype!');">move down</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

{% endblock %}
