{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">\
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Do you to start with a copy of the last certificate?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_clone" name="clone_as_new" type="radio" value="yes" data-aria-controls="conditional-copy-as-new">
              <label class="govuk-label govuk-radios__label" for="application_type_clone">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-copy-as-new">
              <p class="govuk-body">
                We will copy all information except the <strong>identification of the animal</strong> section, you will be able to enter this to create a unique certificate
              </p>

            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="application_type_new" name="clone_as_new" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="application_type_new">
                No, I want to create a new EHC from scratch
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>






{% endblock %}
