{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="app-content__header">
        <h1 class="govuk-heading-xl">
          Do you want to provide an applicant reference number?
        </h1>
      </div>
      <p id="changed-name-hint" class="govuk-hint">
        You can assign your own reference number to a:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-hint">
            <li>single application</li>
            <li>group or block applications</li>
        </ul>
<p class="govuk-hint">
  Your number can be made up of numbers and letters and be up to 10 characters long.
      </p>
      <form {% if query.change=="yes" %} action="../check-your-answers{% if data.cloned == 'yes'%}-cloned{%endif%}" {% elseif page.content.prodcut and query.change=="product" %} action="product-list" {% else %} action="{{page.content.next or '../check-your-progress'}}" {% endif %} method="POST">
        <div class="govuk-form-group">
          <div class="govuk-from-group">
            <label class="govuk-label" for="reference_num">Applicant reference number (optional)</label>
            <input class="govuk-input govuk-input--width-20" id="reference_num" name="reference_num" value="{{ data.reference_num }}" type="text" data-qa-id="Question-7006EHC-1">
          </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
          <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
        </div>
      </form>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-body">
          <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
        </div>
      </div>
      <p></p>
    </div>
  </div>
</div>

{% endblock %}
