{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block pageTitle %}
    What are the European Union countries of transit for this consignment?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" id="form" class="form">

      <span class="govuk-caption-l">Section 2: Details of European Union transit</span>
      <h1 class="govuk-heading-l">What are the European Union countries of transit for this consignment?</h1>

      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Country of transit 1
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="select" selected>Select...</option>
          <option value="country">Albania</option>
          <option value="country">Andorra</option>
          <option value="country">Armenia</option>
          <option value="country">Austria</option>
          <option value="country">Azerbaijan</option>
          <option value="country">Belarus</option>
          <option value="country">Belgium</option>
          <option value="country">Bosnia and Herzegovina</option>
          <option value="country">Bulgaria</option>
          <option value="country">Croatia</option>
          <option value="country">Cyprus</option>
          <option value="country">Czech Republic</option>
          <option value="country">Denmark</option>
          <option value="country">Estonia</option>
          <option value="country">Finland</option>
          <option value="country">France</option>
          <option value="country">Georgia</option>
          <option value="country">Germany</option>
          <option value="country">Greece</option>
          <option value="country">Hungary</option>
          <option value="country">Iceland</option>
          <option value="country">Ireland</option>
          <option value="country">Italy</option>
          <option value="country">Kazakhstan</option>
          <option value="country">Latvia</option>
          <option value="country">Liechtenstein</option>
          <option value="country">Lithuania</option>
          <option value="country">Luxembourg</option>
          <option value="country">Macedonia</option>
          <option value="country">Malta</option>
          <option value="country">Moldova</option>
          <option value="country">Monaco</option>
          <option value="country">Montenegro</option>
          <option value="country">Netherlands</option>
          <option value="country">Norway</option>
          <option value="country">Poland</option>
          <option value="country">Portugal</option>
          <option value="country">Romania</option>
          <option value="country">Russia</option>
          <option value="country">San Marino</option>
          <option value="country">Serbia</option>
          <option value="country">Slovakia</option>
          <option value="country">Slovenia</option>
          <option value="country">Spain</option>
          <option value="country">Sweden</option>
          <option value="country">Switzerland</option>
          <option value="country">Turkey</option>
          <option value="country">Ukraine</option>
          <option value="country">Vatican City</option>
        </select>
      </div>

      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label" for="country-of-transit-1">
            Country of transit 1
          </label>
          <input class="govuk-input" id="country-of-transit-1" name="country-of-transit-1" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="country-of-transit-2">
            Country of transit 2
          </label>
          <input class="govuk-input" id="country-of-transit-2" name="country-of-transit-2" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="country-of-transit-3">
            Country of transit 3
          </label>
          <input class="govuk-input" id="country-of-transit-3" name="country-of-transit-3" type="text">
        </div>
      </fieldset>

      <a href="q2b.html" class="govuk-button">
        Save and continue
      </a>

      <p>
        <a href="../dashboard/dashboard.html">
          Save and continue later
        </a>
      </p>

      </form>
    
    </div>
</div>

{% endblock %}
