{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="certifier?search={{data.search}}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<!--start-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form  method="POST">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-6">
            <!-- In this version we treat non digital the same as digital. version 2 of this flow was to post white paper certificate to non-digital certifier -->
            {%if db.printable !="yes" and data.certifier_has_cg_paper == "no"
            %}
              <h1 class="govuk-fieldset__heading">Is this the right delivery address for your certificate?</h1>
            {% else %}
              <h1 class="govuk-fieldset__heading">Confirm the certifier</h1>
            {% endif %}
          </legend>
          {%if db.printable !="yes" and data.certifier_has_cg_paper == "no" %}
          <p class="govuk-body">APHA will print this certificate {% if db.printable !="yes" %} on crown gold paper {% else %} on white paper {% endif %}and send it to your certifier. </p>
          {% endif %}
          <p class="govuk-body-l govuk-!-font-weight-bold">{{data.certifier_name or 'Aberdour Vets'}}<br>
            <span id="certificate-delivery-address-line-1">{{data.certifier_addressLine1 or '182a'}} {{data.certifier_addressLine2 or 'High Street'}}</span><br>
            {% if data.certifier_addressLine3 %}<span id="certificate-delivery-address-line-3">{{data.certifier_addressLine3}}</span><br>{% endif %}
            <span id="certificate-delivery-address-town">{{data.certifier_town or 'Beckenham'}}</span><br>
            <span id="certificate-delivery-address-country">{{data.certifier_county or 'Kent'}}</span><br>
            <span id="certificate-delivery-address-postcode">{{data.certifier_postcode or 'BR3 1EW'}}</span><br>
          </p>
            {%if  db.printable !="yes" and data.certifier_has_cg_paper == "no"%}
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="default-address-option" name="is_certifier_address_correct" type="radio" value="yes">
              <label id="default-address-option-label" class="govuk-label govuk-radios__label" for="default-address-option">
                Yes, deliver to this address
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="manual-address-option" name="is_certifier_address_correct" type="radio" value="no" aria-describedby="manual-address-option-hint" data-aria-controls="conditional-manual-address">
              <label id="manual-address-option-label" class="govuk-label govuk-radios__label " for="manual-address-option">
                No, deliver to a different address
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-manual-address">
                <p class="govuk-body">
              To avoid delays, check if your certifier has given us permission to send the certificate to a different address.
                </p>
                <p class="govuk-body">
              If they have not, they will need to contact us at <a href="mailto:exports@apha.gov.uk">exports@apha.gov.uk</a>.
              </p>
            </div>
          </div>
          {% else %}
          <div class="defra-alert defra-alert--info">
            <h3 class="govuk-heading-s">{{data.certifier_name}} {% if data.certifier_has_cg_paper == "yes" and db.printable != "yes"%}can{%else%}will{% endif%} print this certificate {% if data.certifier_has_cg_paper == "yes" and db.printable != "yes"%} on crown gold paper{%else%}on white paper{%endif%} </h3>
            <p class="govuk-body">We will contact {{data.certifier_name}} by email when the certificate is available to download and print {% if data.certifier_has_cg_paper == "yes" and db.printable != "yes"%} on crown gold paper{%else%}on white paper{%endif%}</p>
          </div>
          <p class="govuk-body"><a href="certifier?search={{data.search or 'Crewe'}}">Change certifier</a></p>

          {% endif %}
        </fieldset>
      </div>
      <div class="govuk-!-margin-left-0 govuk-grid-column-one-quarter govuk-!-padding-0">
        {%if db.printable !="yes" and data.certifier_has_cg_paper == "no"%}
        <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-CertificateDeliveryAddressSaveAndContinue" data-qa-id="Button-SaveAndContinue">
        {% else %}
        <input class="govuk-button" type="submit" name="saveAndContinue" value="Confirm and continue" id="Button-CertificateDeliveryAddressSaveAndContinue" data-qa-id="Button-SaveAndContinue">
        {% endif %}
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-body">
          <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
        </div>
      </div>
    </form>
  </div>
</div>
{% block chatbot %}{% include "../../../../../includes/chat.html" %}{%endblock%}
{% endblock %}
