{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Your reference
      </h1>
      <span class="govuk-hint">
        Enter a reference up to 20 letters or numbers long, such as an invoice number or consignee
      </span>
      <form {% if query.change=="yes" %} action="../check-your-answers" {% elseif page.content.prodcut and query.change=="product" %} action="product-list" {% elseif data.is_blank_block == "yes" %} action="certifier" {% else %} action="{{page.content.next or '../check-your-progress'}}" {% endif %} method="POST">
        <div class="govuk-form-group">
          <label class="govuk-label" for="reference_num">Your reference for this application</label>
          <input class="govuk-input govuk-input--width-20" id="reference_num" name="reference_num" value="{{ data.reference_num }}" type="text" data-qa-id="Question-7006EHC-1">
        </div>
        <div class="govuk-form-group">
          <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
        </div>
      </form>
        <P class="govuk-body">
          <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
        </p>
    </div>
  </div>
</div>
{% block chatbot %}{% include "../../../../../includes/chat.html" %}{%endblock%}
{% endblock %}
