tion
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Which certificate do you want to apply for?</h1>

    <div class="margin-top-30">
      <p class="govuk-body" lang="en">
        You can apply for:
      </p>
    </div>
    <form method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="certificate-6969EHC" name="certificate" type="radio" value="ehc6969">
              <label class="govuk-label govuk-radios__label" for="certificate-6969EHC">
                <strong>6969EHC </strong>
                  <span class="govuk-hint govuk-radios__hint govuk-!-margin-bottom-0">Export dairy and dairy products to Australia</span>
              </label>

            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="certificate-7003EHC" name="certificate" type="radio" value="ehc7003">
              <label class="govuk-label govuk-radios__label" for="certificate-7003EHC">
                <strong>7003EHC </strong>
                <span class="govuk-hint govuk-radios__hint govuk-!-margin-bottom-0">Export non UK bovine semen to Northern Ireland, the Isle of Man, Jersey and Guernesy</span>
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="certificate-8254EHC" name="certificate" type="radio" value="ehc8254">
              <label class="govuk-label govuk-radios__label" for="certificate-8254EHC">
                <strong>8254EHC </strong>
                <span class="govuk-hint govuk-radios__hint govuk-!-margin-bottom-0">Export certain meat products and treated stomachs, bladders and intestines to the European Union</span>
              </label>
            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="certificate-different" name="certificate" type="radio" value="different" data-aria-controls="conditional-certificates">
              <label class="govuk-label govuk-radios__label" for="certificate-different">
                a different certifcate
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-certificates">
              <p class="govuk-body">You will be taken to form finder. Some certificates are not currently available to apply for online</p>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>






{% endblock %}
