
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
        <style>.app-tabs {
            border: 1px solid #b58840;
        }
        .app-tabs:hover {
            border: 1px solid #1d70b8	;
        }
       </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        EXP-8649 - Warn user and remove dates when cloning
      </h1>{{releaseVersion | log }}
      <p class="govuk-body"><a href="https://eaflood.atlassian.net/browse/EXP-8639"><span class="govuk-!-font-weight-bold">Jira:</span> Warn user and remove dates when cloning</a></p>
      <p class="govuk-body">This inludes <a href="https://eaflood.atlassian.net/browse/EXP-8648">EXP-8639</a> jounery</p>
      <!-- <p class="govuk-body"><a href="https://eaflood.atlassian.net/browse/EXP-8086"><span class="govuk-!-font-weight-bold">Jira:</span> Increase prominence of 'Search' CTA on the 'Certifier Search' page</a></p> -->
        <ul class="govuk-list">
          <li><a class="govuk-link--no-visited-state" href="dashboard?copy_as_new=&certificate=ehc6969">From Dashboard</a></li>
          <li><a class="govuk-link--no-visited-state" href="clone?copy_as_new=&certificate=ehc6969&cloned=no">Do you want to clone this application?</a></li>
          <li><a class="govuk-link--no-visited-state" href="certificate/cloned-confirmation?copy_as_new=&certificate=ehc6969&cloned=no"><span class="defra-status">NEW</span> Removing invalid dates</a></li>


      </div>
    </div>

{% endblock %}
