{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="" action="certificate/check-your-progress" method="get">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl govuk-!-margin-bottom-6">
            <h1 class="govuk-fieldset__heading">
              What certificate do you want apply for?
            </h1>
          </legend>
          <div class="govuk-form-block">
            <div class="govuk-radios">
              {% for d in db %}
              <div class="govuk-radios__item govuk-!-margin-bottom-4">
                <input class="govuk-radios__input" id="{{d.data.certificate_code}}" name="certificate" type="radio" value="{{d.data.certificate_code}}">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  <span class="govuk-!-font-weight-bold">{{d.data.certificate_code}} {% if d.data.version != "1" %}(V{{d.data.version}}){% endif %}: </span>
                  {{d.data.certificate_name}}
                </label>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="govuk-form-block govuk-!-margin-top-8 ">
            <input class="govuk-button" name="continue" value=Continue type="submit" />
          </div>
        </fieldset>
      </div>
    </form>
  </div>
</div>
{% endblock %}
