{% extends "layout.html" %}

{% block pageTitle %}
  Are you sure you want to clone this application?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" id="form" class="form">

      <h2 class="govuk-heading-l">
        Are you sure you want to clone this application?
      </h2>

      <div class="govuk-form-group">
        <p>
          This will create a clone of Application # 154349627718. The cloned application will be Application # 154349627719.
        </p>
      </div>

      <a href="dashboardApplicationCloned.html" class="govuk-button">
        Continue
      </a>

      <p>
        <a href="javascript:history.back()">
          Cancel and go back
        </a>
      </p>

      </form>
  
    </div>
  </div>

{% endblock %}
