{% extends "layout.html" %}

{% block beforeContent %}
  <table style="border-spacing: 0; width: 100%; border-bottom: 1px solid #bfc1c3;">
    <tbody style="border-spacing: 0;">
      <tr style="border-spacing: 0;">
        <td style="padding: 15px 0 10px; width: 129px;">
          <a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none; color: #000; font-weight: bold; font-size: 19px;">Sainsbury's</a>
        </td>
        <td style="padding-top: 5px;">
          <a href="#" class="govuk-link govuk-link--no-visited-state" style="text-decoration: none;">Switch organisation</a>
        </td>
        <td style="padding-top: 5px;">
          <a href="#" class="govuk-link govuk-link--no-visited-state" style="float: right; padding-left: 30px; text-decoration: none;">Sign out</a>
          <a href="#" class="govuk-link govuk-link--no-visited-state" style="float: right; padding-left: 30px; text-decoration: none;">Manage account</a>
          <a href="#" class="govuk-link govuk-link--no-visited-state" style="float: right; text-decoration: none;">Jane Doe</a>
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}

{% block pageTitle %}
  Manage your exports
{% endblock %}

{% block content %}

      <form method="post" id="form" class="form">

      <h1 class="govuk-heading-l">
        Manage your exports
      </h1>

      <table style="border-spacing: 0; width: 100%; margin-bottom: 40px;">
        <tbody style="border-spacing: 0;">
          <tr style="border-spacing: 0;">
            <td style="padding: 0; vertical-align: top;">
              <a href="https://www.gov.uk/export-health-certificates" class="govuk-button" style="margin-bottom: 0; float: left;">
                Start a new application
              </a>
            </td>
            <td style="padding: 0; vertical-align: top;">
              <select class="govuk-select" style="float: right;">
                <option value="option">Sort by</option>
                <option value="option">Date (ascending)</option>
                <option value="option">Date (descending)</option>
                <option value="option">Status (ascending)</option>
                <option value="option">Status (descending)</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>

      <div style="padding: 30px 10px 0; background-color: #dee0e2; margin-bottom: 30px;">
        <table style="border-spacing: 0; width: 100%;">
          <tbody style="border-spacing: 0;">
            <!--<tr style="border-spacing: 0;">
              <td style="padding: 0 0 0 10px; vertical-align: top; width: 33.33%;">
                <h2 class="govuk-heading-m">
                  Filter your applications
                </h2>
              </td>
            </tr>-->
            <tr style="border-spacing: 0;">
              <td style="padding: 0 10px; vertical-align: top;">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="name" style="font-weight: bold;">
                    Application reference
                  </label>
                  <!--<span id="national-insurance-number-hint" class="govuk-hint" style="font-size: 16px; color: #0b0c0c;">
                    Enter full or partial details
                  </span>-->
                  <input class="govuk-input" id="name" name="name" type="text"">
                </div>
              </td>
              <td style="padding: 0 10px; vertical-align: top; width: 33.33%;">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                    <div class="govuk-date-input" id="passport-issued">
                      <div class="govuk-date-input__item" style="margin-right: 10px;">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="passport-issued-day" style="font-weight: bold;">
                            Start date
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-5" id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*" style="max-width: 13.4ex;">
                        </div>
                      </div>
                      <div class="govuk-date-input__item" style="margin-right: 10px;">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                          </label>
                          <p style="margin-bottom: 0">to</p>
                        </div>
                      </div>
                      <div class="govuk-date-input__item" style="margin-right: 0;">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="passport-issued-year" style="font-weight: bold;">
                            End date
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-5" id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*" style="max-width: 13.4ex;">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </td>
              <td style="padding: 0 10px; vertical-align: top; width: 33.33%;">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="name" style="font-weight: bold;">
                    Application status
                  </label>
                  <!--<span id="national-insurance-number-hint" class="govuk-hint" style="font-size: 16px; color: #0b0c0c;">
                    Select a certificate status
                  </span>-->
                  <select class="govuk-select" style="width: 100%;">
                    <option value="option">All</option>
                    <option value="option">Draft</option>
                    <option value="option">Processing</option>
                    <option value="option">Approved</option>
                    <option value="option">Declined</option>
                  </select>
                </div>
              </td>
            </tr>
            <tr style="border-spacing: 0;">
              <td style="padding: 0 10px; vertical-align: top;">
                <a href="#" class="govuk-button" style="width: 100%;">
                  Filter
                </a> 
              </td> 
              <td style="padding: 0 10px; vertical-align: top;">
                <a href="#" class="govuk-link govuk-link--no-visited-state" style="line-height: 19px; padding: 11px 0 8px; display: inline-block; font-size: 19px;">
                  Clear filter
                </a> 
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" style="width: 25%">Application reference</th>
            <th class="govuk-table__header" scope="col" style="width: 25%">Submission date</th>
            <th class="govuk-table__header" scope="col" style="width: 25%">Application status</th>
            <th class="govuk-table__header" scope="col" style="width: 25%">Actions</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">Processing</td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <!--<a href="#" class="govuk-link" style="padding-left: 20px;">Delete</a>-->
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">Draft</td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Resume</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">Approved</td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <!--<a href="#" class="govuk-link" style="padding-left: 20px;">Delete</a>-->
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">Processing</td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <!--<a href="#" class="govuk-link" style="padding-left: 20px;">Delete</a>-->
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">Processing</td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <!--<a href="#" class="govuk-link" style="padding-left: 20px;">Delete</a>-->
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">Draft</td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Resume</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>          
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">Draft</td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Resume</a>
              <a href="deleteA.html" class="govuk-link" style="padding-left: 20px;">Delete</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">Approved</td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <!--<a href="#" class="govuk-link" style="padding-left: 20px;">Delete</a>-->
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">Approved</td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <!--<a href="#" class="govuk-link" style="padding-left: 20px;">Delete</a>-->
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">Approved</td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <!--<a href="#" class="govuk-link" style="padding-left: 20px;">Delete</a>-->
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">Approved</td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <!--<a href="#" class="govuk-link" style="padding-left: 20px;">Delete</a>-->
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">Approved</td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <!--<a href="#" class="govuk-link" style="padding-left: 20px;">Delete</a>-->
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">Approved</td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <!--<a href="#" class="govuk-link" style="padding-left: 20px;">Delete</a>-->
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">Approved</td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <!--<a href="#" class="govuk-link" style="padding-left: 20px;">Delete</a>-->
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">Approved</td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <!--<a href="#" class="govuk-link" style="padding-left: 20px;">Delete</a>-->
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">Approved</td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <!--<a href="#" class="govuk-link" style="padding-left: 20px;">Delete</a>-->
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">Approved</td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <!--<a href="#" class="govuk-link" style="padding-left: 20px;">Delete</a>-->
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">Approved</td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <!--<a href="#" class="govuk-link" style="padding-left: 20px;">Delete</a>-->
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">Declined</td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <!--<a href="#" class="govuk-link" style="padding-left: 20px;">Delete</a>-->
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">Approved</td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <!--<a href="#" class="govuk-link" style="padding-left: 20px;">Delete</a>-->
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">154349627718</td>
            <td class="govuk-table__cell" scope="row">09/01/2019</td>
            <td class="govuk-table__cell" scope="row">Approved</td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link">View</a>
              <!--<a href="#" class="govuk-link" style="padding-left: 20px;">Delete</a>-->
            </td>
          </tr>
        </tbody>
      </table>

      <div id="pager" class="pager" style="text-align: center; margin-bottom: 60px;">
        <div class="pager-controls">
          <ul class="pager-items" style="display: inline-block; list-style-type: none; font-size: 16px; margin: 0; padding: 0;">
            <li style="display: inline-block; font-family: nta,Arial,sans-serif; padding: 7.5px 10px;">
            <strong>1</strong>
            </li>
            <li style="display: inline-block; padding: 7.5px 10px;">
            <a href="#">2</a>
            </li>
            <li style="display: inline-block; padding: 7.5px 10px;">
            <a href="#">3</a>
            </li>
            <li style="display: inline-block; padding: 7.5px 10px;">
            <a href="#">4</a>
            </li>
            <li style="display: inline-block; padding: 7.5px 10px;">
            <a href="#">5</a>
            </li>
            <li style="display: inline-block; padding: 7.5px 10px;">...
            </li>
            <li style="display: inline-block; padding: 7.5px 10px;">
            <a href="#">9</a>
            </li>
            <li style="display: inline-block; padding: 7.5px 10px;">
            <a href="#">10</a>
            </li>
          </ul>
          <a class="pager-next" href="https://findajob.dwp.gov.uk/search?cat=28&amp;loc=86383&amp;page=2">next
          »</a>
        </div>
      </div>

      </form>

{% endblock %}
