{% extends "layout.html" %}

{% block pageTitle %}
  Certificate movement details
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new" id="Nav-DisplayName">Administration user</li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile" id="Link-ManageAccount">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="/sign-out" class="govuk-link login-nav__link-new govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<style>

  /* JavaScript CSS styling for nested lists (progressive enhancement) */ 
  .govuk-list-nested-js {
    margin-top: 10px !important;
    margin-bottom: 0px;
  }
  /* Non JavaScript CSS styling for nested lists (progressive enhancement) */ 
  .govuk-list-nested-non-js {
    margin-top: 0px !important;
    margin-bottom: 0px;
  }

</style>
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">
      {% if query.movementHistory == "1" %}
      John Smith on 31 May 2022
      {% elif query.movementHistory == "2" %}
      Dwayne Pipe on 13 May 2022
      {% elif query.movementHistory == "3" %}
      Joan Atkinson on 10 April 2022
      {% elif query.movementHistory == "4" %}
      Sadio Mendy on 3 March 2022
      {% else %}
      Joan Atkinson on 10 April 2022
      {% endif %}
    </span>
    <h1 class="govuk-heading-l govuk-!-padding-bottom-3">Certificate movement details</h1>

    <h2 class="govuk-heading-m">Certificates were moved from this organisation</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Name</dt>
        <dd class="govuk-summary-list__value">
          {% if query.movementHistory == "1" %}
          DeLaSalle Scaffolding Ltd
          <br>
          343cd258-5cd9-e911-a82a-000d3a43d6e1
          <br>
          Unit 1, Salford Trading Estate, Salford, Manchester, M6 8IQ
          {% elif query.movementHistory == "2" %}
          Z Autos Ltd
          <br>
          343cd258-5cd9-e911-a82a-000d3a43d6e1
          <br>
          Maxwell House, Juniper Way, Reading, RG13 6IS
          {% elif query.movementHistory == "3" %}
          Merrington's & Son
          <br>
          343cd258-5cd9-e911-a82a-000d3a43d6e1
          <br>
          149 Baker Street, Bakewell, Derby, DE16 7YY
          {% elif query.movementHistory == "4" %}
          Graceee Plumbing and Heating Ltd
          <br>
          343cd258-5cd9-e911-a82a-000d3a43d6e1
          <br>
          23 Belle Vue Street, Shrewsbury, Shropshire, SY3 6RW
          {% else %}
          Merrington's & Son
          <br>
          343cd258-5cd9-e911-a82a-000d3a43d6e1
          <br>
          149 Baker Street, Bakewell, Derby, DE16 7YY
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">&nbsp;</dd>
      </div>

    </dl>

    <!-- {% if query.designB == "yes" %}
    <div class="govuk-form-group govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">These cases and their certificates will be moved</h2>
      <ul class="govuk-list">
        <li><span class="govuk-visually-hidden">Case ID </span>20/140165</li>
        <li><span class="govuk-visually-hidden">Case ID </span>20/194383</li>
        <li><span class="govuk-visually-hidden">Case ID </span>20/268539</li>
        <li><span class="govuk-visually-hidden">Case ID </span>20/277029</li>
        <li><span class="govuk-visually-hidden">Case ID </span>20/335288</li>
        <li><span class="govuk-visually-hidden">Case ID </span>20/371719</li>
        <li><span class="govuk-visually-hidden">Case ID </span>20/427436</li>
        <li><span class="govuk-visually-hidden">Case ID </span>20/495972</li>
        <li><span class="govuk-visually-hidden">Case ID </span>20/539372</li>
        <li><span class="govuk-visually-hidden">Case ID </span>20/637709</li>
        <li class="toggle-wrap-container govuk-visually-hidden" aria-hidden="true"><a href="#" class="govuk-link toggle-wrap" data-controls="toggle_related_items" data-expanded="false" data-toggled-text="Hide other 5 cases" role="button" aria-controls="toggle_related_items" aria-expanded="false">Show other 5 cases</a></li>
          <ul id="toggle_related_items" class="govuk-list govuk-list-nested-non-js toggle-wrap-more" aria-live="polite" role="region" aria-hidden="false">
          <li><span class="govuk-visually-hidden">Case ID </span>20/794823</li>
          <li><span class="govuk-visually-hidden">Case ID </span>20/841149</li>
          <li><span class="govuk-visually-hidden">Case ID </span>20/858251</li>
          <li><span class="govuk-visually-hidden">Case ID </span>20/874540</li>
          <li><span class="govuk-visually-hidden">Case ID </span>20/919623</li>
        </ul>
      </ul>
    </div>
    {% else %}
    <h2 class="govuk-heading-m">These cases and their certificates will be moved</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Case ID</dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li>20/140165</li>
            <li>20/194383</li>
            <li>20/268539</li>
            <li>20/277029</li>
            <li>20/335288</li>
            <li>20/371719</li>
            <li>20/427436</li>
            <li>20/495972</li>
            <li>20/539372</li>
            <li>20/637709</li>
            <li class="toggle-wrap-container govuk-visually-hidden" aria-hidden="true"><a href="#" class="govuk-link toggle-wrap" data-controls="toggle_related_items" data-expanded="false" data-toggled-text="Hide other 5 cases" role="button" aria-controls="toggle_related_items" aria-expanded="false">Show other 5 cases</a></li>
            <ul id="toggle_related_items" class="govuk-list govuk-list-nested-non-js toggle-wrap-more" aria-live="polite" role="region" aria-hidden="false">
              <li>20/794823</li>
              <li>20/841149</li>
              <li>20/858251</li>
              <li>20/874540</li>
              <li>20/919623</li>
            </ul>
          </ul>
        </dd>
        <dd class="govuk-summary-list__actions">
          &nbsp;
        </dd>
      </div>

    </dl>
    {% endif %} -->

    <h2 class="govuk-heading-m">Certificates were moved to this organisation</h2>
    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Name</dt>
        <dd class="govuk-summary-list__value">
          {% if query.movementHistory == "1" %}
          De La Salle Scaffolding
          <br>
          343cd258-5cd9-e911-a82a-000d3a43d6e1
          <br>
          Unit 1, Salford Trading Estate, Salford, Manchester, M6 8IQ
          {% elif query.movementHistory == "2" %}
          Zebedee Autos Ltd
          <br>
          343cd258-5cd9-e911-a82a-000d3a43d6e1
          <br>
          Maxwell House, Juniper Way, Reading, RG13 6IS
          {% elif query.movementHistory == "3" %}
          Merrington Baker & Son
          <br>
          343cd258-5cd9-e911-a82a-000d3a43d6e1
          <br>
          149 Baker Street, Bakewell, Derby, DE16 7YY
          {% elif query.movementHistory == "4" %}
          Grace Plumbing and Heating Ltd
          <br>
          343cd258-5cd9-e911-a82a-000d3a43d6e1
          <br>
          23 Belle Vue Street, Shrewsbury, Shropshire, SY3 6RW
          {% else %}
          Merrington Baker & Son
          <br>
          343cd258-5cd9-e911-a82a-000d3a43d6e1
          <br>
          149 Baker Street, Bakewell, Derby, DE16 7YY
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">&nbsp;</dd>
      </div>

    </dl>

  </div>

</div>
<!-- JavaScript (START) -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<!-- Custom global behaviour -->
<script src="/public/javascripts/custom-global-behaviour.js"></script>
<!-- JavaScript (END) -->
{% endblock %}