{% extends "layout.html" %}

{% block pageTitle %}
  Case movement history
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong>
    <span class="govuk-phase-banner__text">This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>

<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item-new" id="Nav-DisplayName">Administration user</li>
    <li class="login-nav__list-item-new"><a href="#" class="govuk-link login-nav__link-new govuk-link--no-visited-state profile" id="Link-ManageAccount">Manage account</a></li>
    <li class="login-nav__list-item-new"><a href="/sign-out" class="govuk-link login-nav__link-new govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
  </ul>
</div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-full">

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--l govuk-!-padding-bottom-6">Case movement history</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">From organisation</th>
          <th scope="col" class="govuk-table__header">To organisation</th>
          <th scope="col" class="govuk-table__header">Moved by</th>
          <th scope="col" class="govuk-table__header">Move date</th>
          <th scope="col" class="govuk-table__header">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">DeLaSalle Scaffolding Ltd</td>
          <td class="govuk-table__cell">De La Salle Scaffolding</td>
          <td scope="row" class="govuk-table__cell">John Smith</td>
          <td class="govuk-table__cell">31 May 2022</td>
          <td class="govuk-table__cell"><a href="certificate-move-details?movementHistory=1" class="govuk-link">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Z Autos Ltd</td>
          <td class="govuk-table__cell">Zebedee Autos Ltd</td>
          <td scope="row" class="govuk-table__cell">Dwayne Pipe</td>
          <td class="govuk-table__cell">13 May 2022</td>
          <td class="govuk-table__cell"><a href="certificate-move-details?movementHistory=2" class="govuk-link">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Merrington's & Son</td>
          <td class="govuk-table__cell">Merrington Baker & Son</td>
          <td scope="row" class="govuk-table__cell">Joan Atkinson</td>
          <td class="govuk-table__cell">10 April 2022</td>
          <td class="govuk-table__cell"><a href="certificate-move-details?movementHistory=3" class="govuk-link">View</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Graceee Plumbing and Heating Ltd</td>
          <td class="govuk-table__cell">Grace Plumbing and Heating Ltd</td>
          <td scope="row" class="govuk-table__cell">Sadio Mendy</td>
          <td class="govuk-table__cell">3 March 2022</td>
          <td class="govuk-table__cell"><a href="certificate-move-details?movementHistory=4" class="govuk-link">View</a></td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
{% endblock %}