{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
  .app-tabs {
    border: 1px solid #b58840;
  }

  .app-tabs:hover {
    border: 1px solid #1d70b8;
  }
</style>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      FRMC 81 attach schedule
    </h1>
    <p class="govuk-body">Users confused at having to add an I28 record to get past the question, if they are attaching a schedule. <a href="https://eaflood.atlassian.net/browse/FRMC-81">View on jira</a> </p>

    <!-- <p class="govuk-body"><a href="https://eaflood.atlassian.net/browse/EXP-8086"><span class="govuk-!-font-weight-bold">Jira:</span> Increase prominence of 'Search' CTA on the 'Certifier Search' page</a></p> -->
    <ul class="govuk-list">



      <li><a href="certificate/check-your-progress?certificate=ehc8254&products=&add_product_method=">From the task list</a> <span class="govuk-hint">The example uses 8254EHC. Please choose "What are the details of the product?"</span></li>
      <li><a href="certificate/how-to-add-products?id=2&title=What%20are%20the%20details%20of%20the%20product?&paragraph=Provide%20details%20of%20the%20products%20in%20this%20consignment.%20Use%20a%20new%20record%20for%20each%20product.%20If%20there%20are%20more%20than%205%20products,%20you%20can%20attach%20a%20list%20as%20a%20supporting%20document&max=5">Do you want to add a schedule? (NEW) </a></li>

    </ul>
  </div>
</div>


{% endblock %}
