{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<style media="screen">
  .js-enabled .app-tabs__container pre code {
    padding-top: 45px;
}
.app-tabs__container pre code {
    display: block;
    padding: 20px;
    overflow-x: auto;
}
.app-tabs__container pre {
    padding-right: 0;
    padding-bottom: 0;
}
.app-tabs__container pre {
    position: relative;
    max-width: inherit;
    margin-bottom: 0;
    padding: 0;
    border: 0;
    outline: 1px solid transparent;
    background-color: #f3f2f1;
    font-size: inherit;
}
@media (min-width: 40.0625em){
  pre {
      margin-bottom: 20px;
  }
}

pre {
    max-width: 38em;
    margin: 0;
    padding: 20px;
    overflow: auto;
    border: 1px solid #b1b4b6;
    background-color: #f8f8f8;
    font-size: 16px;
    margin-bottom: 15px;
}
@media (min-width: 40.0625em){
.app-copy-button {
    font-size: 16px;
    /* font-size: 1rem; */
    line-height: 1.25;
}
}

.app-copy-button {
    /* font-family: "GDS Transport", Arial, sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    /* font-size: .875rem; */
    line-height: 1.14286;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    min-width: 110px;
    padding: 3px 10px;
    border: 1px solid #00823b;
    color: #00823b;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 0 0 #00703c;
    box-shadow: 0 2px 0 0 #00703c;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
</style>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l" data-qa-id="publish-form-heading">EHC 2849EHC</span>
    <h1 class="govuk-heading-xl">Copy link for version {{query.form_version or '3.2'}}</h1>

    <div data-module="app-copy" class="defra-callout defra-callout--code govuk-!-margin-bottom-6" id="organisation-banner-example-html" role="panel" aria-hidden="false">
      <!-- <button class="app-copy-button js-copy-btn" aria-live="assertive">Copy URL</button> -->
      <p class="govuk-body app-copy-content">https://apply-export-health-certificate-exporter-int-snd.azure.defra.cloud:443/forms/X005-2849EHC</p>
      <input id="copy_url" class="" type="hidden" name="copy_content" value="https://apply-export-health-certificate-exporter-int-snd.azure.defra.cloud:443/forms/X005-2849EHC"></input>
    </div>

  <form class="case-update" style="display: inline;" action="./versions" method="GET">
    <input type="hidden" name="crumb_csrf_token" value="tHqzFHlMR8fdGv61rRffxpboiFBlQTXyVy5J6026StE">
    <input type="hidden" value="2849EHC" name="documentNumber">
    <input type="hidden" name="updated" value="yes">
    <input type="hidden" name="old_status" value="{{query.status or 'draft'}}">
    <input class="govuk-button" type="submit" value="Return to manage versions" data-qa-id="Button-Save">

  </form>
</div>
</div>
{% endblock %}

{% block pageScripts %}
{{super()}}
<script type="text/javascript">

  <!-- create copy button -->
  var t = document.createElement("button");
  var e = document.querySelector('.app-copy-content')
	t.className = "app-copy-button js-copy-button", t.setAttribute("aria-live", "assertive"), t.textContent = "Copy URL", e.insertBefore(t, e.firstChild)

  <!-- Fallback copy paste -->
  function fallbackCopyTextToClipboard(text) {
    var textArea = document.createElement("textarea");
    textArea.value = text;

    // Avoid scrolling to bottom
    textArea.style.top = "0";
    textArea.style.left = "0";
    textArea.style.position = "fixed";

    document.body.appendChild(textArea);
    textArea.focus();
    textArea.select();

    try {
      var successful = document.execCommand('copy');
      var msg = successful ? 'successful' : 'unsuccessful';
      console.log('Fallback: Copying text command was ' + msg);
    } catch (err) {
      console.error('Fallback: Oops, unable to copy', err);
    }

    document.body.removeChild(textArea);
  }

  <!-- Asyc copy to clipboard -->
  function copyTextToClipboard(text) {
    if (!navigator.clipboard) {
      fallbackCopyTextToClipboard(text);
      return;
    }
    navigator.clipboard.writeText(text).then(function() {
      console.log('Async: Copying to clipboard was successful!');
    }, function(err) {
      console.error('Async: Could not copy text: ', err);
    });
  }


  <!-- Copy button actions (needs better code)-->
  var copyBtn = document.querySelector('.js-copy-button')
  copyBtn.addEventListener('click', function(event) {
    changeTextButton(this)



    var ipt = document.getElementById("copy_url").value
    copyTextToClipboard(ipt);
  });

  function changeTextButton($btn){
    $btn.textContent = 'URL copied'

    setTimeout(function(){
      $btn.textContent = 'Copy URL'
    }, 5e3);
  }



function updateClipboard() {
  // Here You Can Debug without DomException
  debugger
  const clipboard = document.querySelector('.clipboard-content').innerText;
  document.querySelector('.clipboard-content').innerText = 'Updated => ' + clipboard;
}
</script>


{% endblock %}
