{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div>
          <table class="govuk-table">
            <tbody class="govuk-table__body">
            <tr>

            </tr></tbody>
          </table>
          <h1 class="govuk-heading-l heading">Form 2849EHC Version 3.2 pages</h1>
        </div>
        <div>
          <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Page Order</th>
              <th class="govuk-table__header">Title</th>
              <th class="govuk-table__header">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="govuk-table__row">
              <td id="7606-pageOrder" class="govuk-table__cell applicationRef-column" scope="row">
                1
              </td>
              <td id="7606-title" class="govuk-table__cell" scope="row">
                What are the details of the horse?
              </td>
              <td class="govuk-table__cell actions-column">
                <a id="7612-editLink" class="govuk-link" href="page-edit">edit</a>
                <a id="7612-deleteLink" class="govuk-link" href="delete-page">delete</a>
                <a id="7612-moveUpLink" class="govuk-link" href="#">move up</a>
                <a id="7612-moveDownLink" class="govuk-link" href="#">move down</a>
                <a id="7612-viewQuestionsLink" class="govuk-link" href="#">view
                  questions</a>
              </td>
            </tr>
            </tbody><tbody>
            <tr class="govuk-table__row">
              <td id="7607-pageOrder" class="govuk-table__cell applicationRef-column" scope="row">
                2
              </td>
              <td id="7607-title" class="govuk-table__cell" scope="row">
                How will the horse be identified?
              </td>
              <td class="govuk-table__cell actions-column">
                <a id="7612-editLink" class="govuk-link" href="page-edit">edit</a>
                <a id="7612-deleteLink" class="govuk-link" href="delete-page">delete</a>
                <a id="7612-moveUpLink" class="govuk-link" href="#">move up</a>
                <a id="7612-moveDownLink" class="govuk-link" href="#">move down</a>
                <a id="7612-viewQuestionsLink" class="govuk-link" href="#">view
                  questions</a>
              </td>
            </tr>
            </tbody><tbody>
            <tr class="govuk-table__row">
              <td id="7608-pageOrder" class="govuk-table__cell applicationRef-column" scope="row">
                3
              </td>
              <td id="7608-title" class="govuk-table__cell" scope="row">
                Who owns the horse?
              </td>
              <td class="govuk-table__cell actions-column">
                <a id="7612-editLink" class="govuk-link" href="page-edit">edit</a>
                <a id="7612-deleteLink" class="govuk-link" href="delete-page">delete</a>
                <a id="7612-moveUpLink" class="govuk-link" href="#">move up</a>
                <a id="7612-moveDownLink" class="govuk-link" href="#">move down</a>
                <a id="7612-viewQuestionsLink" class="govuk-link" href="#">view
                  questions</a>
              </td>
            </tr>
            </tbody><tbody>
            <tr class="govuk-table__row">
              <td id="7609-pageOrder" class="govuk-table__cell applicationRef-column" scope="row">
                4
              </td>
              <td id="7609-title" class="govuk-table__cell" scope="row">
                Where was the horse examined?
              </td>
              <td class="govuk-table__cell actions-column">
                <a id="7612-editLink" class="govuk-link" href="page-edit">edit</a>
                <a id="7612-deleteLink" class="govuk-link" href="delete-page">delete</a>
                <a id="7612-moveUpLink" class="govuk-link" href="#">move up</a>
                <a id="7612-moveDownLink" class="govuk-link" href="#">move down</a>
                <a id="7612-viewQuestionsLink" class="govuk-link" href="#">view
                  questions</a>
              </td>
            </tr>
            </tbody><tbody>
            <tr class="govuk-table__row">
              <td id="7610-pageOrder" class="govuk-table__cell applicationRef-column" scope="row">
                5
              </td>
              <td id="7610-title" class="govuk-table__cell" scope="row">
                Who is sending the consignment?
              </td>
              <td class="govuk-table__cell actions-column">
                <a id="7612-editLink" class="govuk-link" href="page-edit">edit</a>
                <a id="7612-deleteLink" class="govuk-link" href="delete-page">delete</a>
                <a id="7612-moveUpLink" class="govuk-link" href="#">move up</a>
                <a id="7612-moveDownLink" class="govuk-link" href="#">move down</a>
                <a id="7612-viewQuestionsLink" class="govuk-link" href="#">view
                  questions</a>
              </td>
            </tr>
            </tbody><tbody>
            <tr class="govuk-table__row">
              <td id="7611-pageOrder" class="govuk-table__cell applicationRef-column" scope="row">
                6
              </td>
              <td id="7611-title" class="govuk-table__cell" scope="row">
                How will the horse be transported?
              </td>
              <td class="govuk-table__cell actions-column">
                <a id="7612-editLink" class="govuk-link" href="page-edit">edit</a>
                <a id="7612-deleteLink" class="govuk-link" href="delete-page">delete</a>
                <a id="7612-moveUpLink" class="govuk-link" href="#">move up</a>
                <a id="7612-moveDownLink" class="govuk-link" href="#">move down</a>
                <a id="7612-viewQuestionsLink" class="govuk-link" href="#">view
                  questions</a>
              </td>
            </tr>
            </tbody><tbody>
            <tr class="govuk-table__row">
              <td id="7612-pageOrder" class="govuk-table__cell applicationRef-column" scope="row">
                7
              </td>
              <td id="7612-title" class="govuk-table__cell" scope="row">
                Where is the consignment being sent to?
              </td>
              <td class="govuk-table__cell actions-column">
                <a id="7612-editLink" class="govuk-link" href="page-edit">edit</a>
                <a id="7612-deleteLink" class="govuk-link" href="delete-page">delete</a>
                <a id="7612-moveUpLink" class="govuk-link" href="#">move up</a>
                <a id="7612-moveDownLink" class="govuk-link" href="#">move down</a>
                <a id="7612-viewQuestionsLink" class="govuk-link" href="#">view
                  questions</a>
              </td>
            </tr>
            </tbody><tbody>
            <tr class="govuk-table__row">
              <td id="7613-pageOrder" class="govuk-table__cell applicationRef-column" scope="row">
                8
              </td>
              <td id="7613-title" class="govuk-table__cell" scope="row">
                Who is receiving the consignment?
              </td>
              <td class="govuk-table__cell actions-column">
                <a id="7612-editLink" class="govuk-link" href="page-edit">edit</a>
                <a id="7612-deleteLink" class="govuk-link" href="delete-page">delete</a>
                <a id="7612-moveUpLink" class="govuk-link" href="#">move up</a>
                <a id="7612-moveDownLink" class="govuk-link" href="#">move down</a>
                <a id="7612-viewQuestionsLink" class="govuk-link" href="#">view
                  questions</a>
              </td>
            </tr>
            </tbody>
          </table>

          <a id="link-createNewPage" href="/protected/forms/2849EHC/versions/3.2/pages/new" class="govuk-button">Create new page</a>
        </div>
      </div>
    </div>
{% endblock %}
