{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
    <div class="govuk-grid-column-full">
    </div>
    <div>
      <h1 class="govuk-heading-l heading">Select certificate fields</h1>
      <p class="govuk-body">(note you cannot select a mix of text and checkbox
        fields)</p>
    </div>
    <form method="post" action="question-new">
      <input type="hidden" name="crumb_csrf_token" value="tHqzFHlMR8fdGv61rRffxpboiFBlQTXyVy5J6026StE">
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header"></th>
          <th class="govuk-table__header">Name</th>
          <th class="govuk-table__header">Type</th>
        </tr>
        </thead>
        <tbody>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input id="Isolation premises address-checkBox" class="govuk-checkboxes__input" type="checkbox" name="Isolation premises address">
                <label class="govuk-label govuk-checkboxes__label">
              </label></div>
            </div>

          </td>
          <td id="[object Object]-name" class="govuk-table__cell" scope="row">
            Isolation premises address
          </td>
          <td id="[object Object]-type" class="govuk-table__cell" scope="row">
            TEXT
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input id="Isolation premises to-checkBox" class="govuk-checkboxes__input" type="checkbox" name="Isolation premises to">
                <label class="govuk-label govuk-checkboxes__label">
              </label></div>
            </div>

          </td>
          <td id="[object Object]-name" class="govuk-table__cell" scope="row">
            Isolation premises to
          </td>
          <td id="[object Object]-type" class="govuk-table__cell" scope="row">
            TEXT
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input id="exam date-checkBox" class="govuk-checkboxes__input" type="checkbox" name="exam date">
                <label class="govuk-label govuk-checkboxes__label">
              </label></div>
            </div>

          </td>
          <td id="[object Object]-name" class="govuk-table__cell" scope="row">
            exam date
          </td>
          <td id="[object Object]-type" class="govuk-table__cell" scope="row">
            TEXT
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input id="AHS date-checkBox" class="govuk-checkboxes__input" type="checkbox" name="AHS date">
                <label class="govuk-label govuk-checkboxes__label">
              </label></div>
            </div>

          </td>
          <td id="[object Object]-name" class="govuk-table__cell" scope="row">
            AHS date
          </td>
          <td id="[object Object]-type" class="govuk-table__cell" scope="row">
            TEXT
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input id="dourine glanders date-checkBox" class="govuk-checkboxes__input" type="checkbox" name="dourine glanders date">
                <label class="govuk-label govuk-checkboxes__label">
              </label></div>
            </div>

          </td>
          <td id="[object Object]-name" class="govuk-table__cell" scope="row">
            dourine glanders date
          </td>
          <td id="[object Object]-type" class="govuk-table__cell" scope="row">
            TEXT
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input id="EIA date-checkBox" class="govuk-checkboxes__input" type="checkbox" name="EIA date">
                <label class="govuk-label govuk-checkboxes__label">
              </label></div>
            </div>

          </td>
          <td id="[object Object]-name" class="govuk-table__cell" scope="row">
            EIA date
          </td>
          <td id="[object Object]-type" class="govuk-table__cell" scope="row">
            TEXT
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input id="EVA date-checkBox" class="govuk-checkboxes__input" type="checkbox" name="EVA date">
                <label class="govuk-label govuk-checkboxes__label">
              </label></div>
            </div>

          </td>
          <td id="[object Object]-name" class="govuk-table__cell" scope="row">
            EVA date
          </td>
          <td id="[object Object]-type" class="govuk-table__cell" scope="row">
            TEXT
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input id="EVA date 2-checkBox" class="govuk-checkboxes__input" type="checkbox" name="EVA date 2">
                <label class="govuk-label govuk-checkboxes__label">
              </label></div>
            </div>

          </td>
          <td id="[object Object]-name" class="govuk-table__cell" scope="row">
            EVA date 2
          </td>
          <td id="[object Object]-type" class="govuk-table__cell" scope="row">
            TEXT
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input id="EVA date 3-checkBox" class="govuk-checkboxes__input" type="checkbox" name="EVA date 3">
                <label class="govuk-label govuk-checkboxes__label">
              </label></div>
            </div>

          </td>
          <td id="[object Object]-name" class="govuk-table__cell" scope="row">
            EVA date 3
          </td>
          <td id="[object Object]-type" class="govuk-table__cell" scope="row">
            TEXT
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input id="EI vac 1-checkBox" class="govuk-checkboxes__input" type="checkbox" name="EI vac 1">
                <label class="govuk-label govuk-checkboxes__label">
              </label></div>
            </div>

          </td>
          <td id="[object Object]-name" class="govuk-table__cell" scope="row">
            EI vac 1
          </td>
          <td id="[object Object]-type" class="govuk-table__cell" scope="row">
            TEXT
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input id="EI vac 2-checkBox" class="govuk-checkboxes__input" type="checkbox" name="EI vac 2">
                <label class="govuk-label govuk-checkboxes__label">
              </label></div>
            </div>

          </td>
          <td id="[object Object]-name" class="govuk-table__cell" scope="row">
            EI vac 2
          </td>
          <td id="[object Object]-type" class="govuk-table__cell" scope="row">
            TEXT
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input id="EI vac booster-checkBox" class="govuk-checkboxes__input" type="checkbox" name="EI vac booster">
                <label class="govuk-label govuk-checkboxes__label">
              </label></div>
            </div>

          </td>
          <td id="[object Object]-name" class="govuk-table__cell" scope="row">
            EI vac booster
          </td>
          <td id="[object Object]-type" class="govuk-table__cell" scope="row">
            TEXT
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input id="Isolation premises from-checkBox" class="govuk-checkboxes__input" type="checkbox" name="Isolation premises from">
                <label class="govuk-label govuk-checkboxes__label">
              </label></div>
            </div>

          </td>
          <td id="[object Object]-name" class="govuk-table__cell" scope="row">
            Isolation premises from
          </td>
          <td id="[object Object]-type" class="govuk-table__cell" scope="row">
            TEXT
          </td>
        </tr>
        </tbody>
      </table>
      <input class="govuk-button" type="submit" value="Set question behaviours" id="Button-Set-Behaviours">
    </form>

{% endblock %}
