{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<style media="screen">
</style>
<div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <span class="govuk-caption-l" data-qa-id="list-versions-2849EHC">2849EHC</span>
                <h2 id="versionsHeading" class="govuk-heading-l disabled">Manage EHC versions</h2>

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">EHC version</th>
                        <th class="govuk-table__header">PDF</th>
                        <th class="govuk-table__header">Status</th>
                        <th class="govuk-table__header" id="EHC-document-cws">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="govuk-table__row" data-qa-id="grid-row-version-1.0">
                        <td class="govuk-table__cell" id="EHC-document-version-0" data-qa-id="version-text-1.0">1.0
                        </td>

                        <td class="govuk-table__cell" id="EHC-document-pdf-0">
                            ehc-2849ehc-1.0.pdf
                        </td>

                        <td class="govuk-table__cell" id="EHC-document-status-0" data-qa-id="status-column">
                            <strong class="red-tag">INACTIVE</strong>
                        </td>

                        <td class="govuk-table__cell">
                            <div>
                                <a href="/protected/forms/2849EHC/versions/1.0/form" id="document-action-inactive-view-1.0" class="action-link" data-qa-id="document-action-inactive-view-1.0" target="_self">View form</a>
                            </div>
                            <div>
                                <a href="publish" id="document-action-inactive-publish-1.0" class="action-link" data-qa-id="document-action-inactive-publish-1.0" target="_self">Publish form</a>
                            </div>
                        </td>
                    </tr><tr class="govuk-table__row" data-qa-id="grid-row-version-1.1">
                        <td class="govuk-table__cell" id="EHC-document-version-1" data-qa-id="version-text-1.1">1.1 (v1.0 cloned)
                        </td>

                        <td class="govuk-table__cell" id="EHC-document-pdf-1">
                            ehc-2849ehc-1.1.pdf
                        </td>

                        <td class="govuk-table__cell" id="EHC-document-status-1" data-qa-id="status-column">
                            <strong class="red-tag">INACTIVE</strong>
                        </td>

                        <td class="govuk-table__cell">
                            <div>
                                <a href="/protected/forms/2849EHC/versions/1.1/form" id="document-action-inactive-view-1.1" class="action-link" data-qa-id="document-action-inactive-view-1.1" target="_self">View form</a>
                            </div>
                            <div>
                                <a href="publish" id="document-action-inactive-publish-1.1" class="action-link" data-qa-id="document-action-inactive-publish-1.1" target="_self">Publish form</a>
                            </div>
                        </td>
                    </tr><tr class="govuk-table__row" data-qa-id="grid-row-version-1.2">
                        <td class="govuk-table__cell" id="EHC-document-version-2" data-qa-id="version-text-1.2">1.2 (v1.1 cloned)
                        </td>

                        <td class="govuk-table__cell" id="EHC-document-pdf-2">
                            ehc-2849ehc-1.2.pdf
                        </td>

                        <td class="govuk-table__cell" id="EHC-document-status-2" data-qa-id="status-column">
                            <strong class="red-tag">INACTIVE</strong>
                        </td>

                        <td class="govuk-table__cell">
                            <div>
                                <a href="/protected/forms/2849EHC/versions/1.2/form" id="document-action-inactive-view-1.2" class="action-link" data-qa-id="document-action-inactive-view-1.2" target="_self">View form</a>
                            </div>
                            <div>
                                <a href="publish" id="document-action-inactive-publish-1.2" class="action-link" data-qa-id="document-action-inactive-publish-1.2" target="_self">Publish form</a>
                            </div>
                        </td>
                    </tr><tr class="govuk-table__row" data-qa-id="grid-row-version-11.1">
                        <td class="govuk-table__cell" id="EHC-document-version-3" data-qa-id="version-text-11.1">11.1 (v1.2 cloned)
                        </td>

                        <td class="govuk-table__cell" id="EHC-document-pdf-3">
                            ehc-2849ehc-11.1.pdf
                        </td>

                        <td class="govuk-table__cell" id="EHC-document-status-3" data-qa-id="status-column">
                            <strong class="orange-tag">DRAFT</strong>
                        </td>

                        <td class="govuk-table__cell">
                            <div>
                                <a  href="pages" id="document-action-draft-manage-pages-11.1" class="action-link" data-qa-id="document-action-draft-manage-pages-11.1" target="_self">Manage pages</a>
                            </div>
                            <div>
                                <a href="questions" id="document-action-draft-manage-11.1" class="action-link" data-qa-id="document-action-draft-manage-11.1" target="_self">Manage questions</a>
                            </div>
                            <div>
                                <a href="publish" id="document-action-draft-publish-11.1" class="action-link" data-qa-id="document-action-draft-publish-11.1" target="_self">Publish form</a>
                            </div>
                            <div>
                                <a href="delete" id="document-action-draft-delete-11.1" class="action-link" data-qa-id="document-action-draft-delete-11.1" target="_self">Delete form</a>
                            </div>
                            <div>
                                <a href="/protected/health-certificates/2849EHC/versions/11.1/preview" id="document-action-draft-preview-11.1" class="action-link" data-qa-id="document-action-draft-preview-11.1" target="_blank">Preview form</a>
                            </div>
                        </td>
                    </tr><tr class="govuk-table__row" data-qa-id="grid-row-version-2.7">
                        <td class="govuk-table__cell" id="EHC-document-version-4" data-qa-id="version-text-2.7">2.7 (v1.2 cloned)
                        </td>

                        <td class="govuk-table__cell" id="EHC-document-pdf-4">
                            ehc-2849ehc-2.7.pdf
                        </td>

                        <td class="govuk-table__cell" id="EHC-document-status-4" data-qa-id="status-column">
                            <strong class="orange-tag">DRAFT</strong>
                        </td>

                        <td class="govuk-table__cell">
                            <div>
                                <a href="pages" id="document-action-draft-manage-pages-2.7" class="action-link" data-qa-id="document-action-draft-manage-pages-2.7" target="_self">Manage pages</a>
                            </div>
                            <div>
                                <a href="questions" id="document-action-draft-manage-2.7" class="action-link" data-qa-id="document-action-draft-manage-2.7" target="_self">Manage questions</a>
                            </div>
                            <div>
                                <a href="publish" id="document-action-draft-publish-2.7" class="action-link" data-qa-id="document-action-draft-publish-2.7" target="_self">Publish form</a>
                            </div>
                            <div>
                                <a href="delete" id="document-action-draft-delete-2.7" class="action-link" data-qa-id="document-action-draft-delete-2.7" target="_self">Delete form</a>
                            </div>
                            <div>
                                <a href="/protected/health-certificates/2849EHC/versions/2.7/preview" id="document-action-draft-preview-2.7" class="action-link" data-qa-id="document-action-draft-preview-2.7" target="_blank">Preview form</a>
                            </div>
                        </td>
                    </tr><tr class="govuk-table__row" data-qa-id="grid-row-version-2.8">
                        <td class="govuk-table__cell" id="EHC-document-version-5" data-qa-id="version-text-2.8">2.8
                        </td>

                        <td class="govuk-table__cell" id="EHC-document-pdf-5">
                            ehc-2849ehc-2.8.pdf
                        </td>

                        <td class="govuk-table__cell" id="EHC-document-status-5" data-qa-id="status-column">
                            <strong class="red-tag">INACTIVE</strong>
                        </td>

                        <td class="govuk-table__cell">
                            <div>
                                <a href="/protected/forms/2849EHC/versions/2.8/form" id="document-action-inactive-view-2.8" class="action-link" data-qa-id="document-action-inactive-view-2.8" target="_self">View form</a>
                            </div>
                            <div>
                                <a href="/protected/health-certificates/2849EHC/versions/2.8/publish" id="document-action-inactive-publish-2.8" class="action-link" data-qa-id="document-action-inactive-publish-2.8" target="_self">Publish form</a>
                            </div>
                        </td>
                    </tr><tr class="govuk-table__row" data-qa-id="grid-row-version-2.9">
                        <td class="govuk-table__cell" id="EHC-document-version-6" data-qa-id="version-text-2.9">2.9 (v2.8 cloned)
                        </td>

                        <td class="govuk-table__cell" id="EHC-document-pdf-6">
                            ehc-2849ehc-2.9.pdf
                        </td>

                        <td class="govuk-table__cell" id="EHC-document-status-6" data-qa-id="status-column">
                            <strong class="red-tag">INACTIVE</strong>
                        </td>

                        <td class="govuk-table__cell">
                            <div>
                                <a href="/protected/forms/2849EHC/versions/2.9/form" id="document-action-inactive-view-2.9" class="action-link" data-qa-id="document-action-inactive-view-2.9" target="_self">View form</a>
                            </div>
                            <div>
                                <a href="publish" id="document-action-inactive-publish-2.9" class="action-link" data-qa-id="document-action-inactive-publish-2.9" target="_self">Publish form</a>
                            </div>
                        </td>
                    </tr><tr class="govuk-table__row" data-qa-id="grid-row-version-3.0">
                        <td class="govuk-table__cell" id="EHC-document-version-7" data-qa-id="version-text-3.0">3.0 (v2.9 cloned)
                        </td>

                        <td class="govuk-table__cell" id="EHC-document-pdf-7">
                            ehc-2849ehc-3.0.pdf
                        </td>

                        <td class="govuk-table__cell" id="EHC-document-status-7" data-qa-id="status-column">
                            <strong class="red-tag">INACTIVE</strong>
                        </td>

                        <td class="govuk-table__cell">
                            <div>
                                <a href="/protected/forms/2849EHC/versions/3.0/form" id="document-action-inactive-view-3.0" class="action-link" data-qa-id="document-action-inactive-view-3.0" target="_self">View form</a>
                            </div>
                            <div>
                                <a href="publish?status=inactive" id="document-action-inactive-publish-3.0" class="action-link" data-qa-id="document-action-inactive-publish-3.0" target="_self">Publish form</a>
                            </div>
                        </td>
                    </tr><tr class="govuk-table__row" data-qa-id="grid-row-version-3.1">
                        <td class="govuk-table__cell" id="EHC-document-version-8" data-qa-id="version-text-3.1">3.1 (v3.0 cloned)
                        </td>

                        <td class="govuk-table__cell" id="EHC-document-pdf-8">
                            ehc-2849ehc-3.1.pdf
                        </td>

                        <td class="govuk-table__cell" id="EHC-document-status-8" data-qa-id="status-column">
                            {% if query.updated=="yes" and query.updated_status != query.old_status%}<strong class="red-tag">INACTIVE</strong>{%else%}<strong class="green-tag">ACTIVE</strong>{%endif%}
                        </td>

                        <td class="govuk-table__cell">

                            <div>
                                <a href="/protected/forms/2849EHC/versions/3.1/form" id="document-action-active-view-3.1" class="action-link" data-qa-id="document-action-active-view-3.1" target="_self">View form</a>
                            </div>
                            {% if query.updated=="yes" and query.updated_status != query.old_status%}
                            <div>
                                <a href="publish?status=inactive&version=3-1" id="document-action-active-clone-3.1" class="action-link" data-qa-id="document-action-active-clone-3.1" target="_self">Publish form</a>
                            </div>
                            {% else%}
                            <div>
                                <a href="clone" id="document-action-active-clone-3.1" class="action-link" data-qa-id="document-action-active-clone-3.1" target="_self">Clone form</a>
                            </div>
                            {% endif %}
                        </td>
                    </tr>

                    <!-- #restricted -->
                    <tr class="govuk-table__row" data-qa-id="grid-row-version-3.1">
                          <td class="govuk-table__cell" id="EHC-document-version-8" data-qa-id="version-text-3.1">3.2 (v3.1 cloned)
                          </td>

                          <td class="govuk-table__cell " id="EHC-document-pdf-8">
                              ehc-2849ehc-3.2.pdf
                          </td>

                          <td class="govuk-table__cell " id="EHC-document-status-8" data-qa-id="status-column">
                              {% if query.updated=="yes" and query.old_status=="restricted" and query.updated_status != query.old_status%}<strong class="green-tag">ACTIVE</strong>{%else%}<strong class="govuk-tag light-green-tag">RESTRICTED</strong>{%endif%}
                          </td>


                        <td class="govuk-table__cell ">

                          {% if query.old_status!="restricted" or query.updated_status == query.old_status%}
                          <div class="">
                            <a href="javascript:myFunction()"id="document-action-active-view-3.1" class="action-link" data-qa-id="document-action-active-view-3.1" target="_self">Copy link</a>
                          </div>
                          <div>
                              <a href="publish?status=restricted&version=3.2" id="document-action-active-view-3.1" class="action-link" data-qa-id="document-action-active-view-3.1" target="_self">Publish to everyone</a>
                          </div>
                          <div>
                              <a href="unpublish" id="document-action-active-view-3.1" class="action-link" data-qa-id="document-action-active-view-3.1" target="_self">Unpublish form</a>
                          </div>
                          {%endif%}
                            <div>
                                <a href="/protected/forms/2849EHC/versions/3.1/form" id="document-action-active-view-3.1" class="action-link" data-qa-id="document-action-active-view-3.1" target="_self">View form</a>
                            </div>
                            <div>
                                <a href="clone" id="document-action-active-clone-3.1" class="action-link" data-qa-id="document-action-active-clone-3.1" target="_self">Clone form</a>
                            </div>
                        </td>
                    </tr>

                    <tr class="govuk-table__row" data-qa-id="grid-row-version-3.3">
                        <td class="govuk-table__cell" id="EHC-document-version-9" data-qa-id="version-text-3.2">3.3 (v3.2 cloned)
                        </td>

                        <td class="govuk-table__cell" id="EHC-document-pdf-9">
                            ehc-2849ehc-3.3.pdf
                        </td>

                        <td class="govuk-table__cell" id="EHC-document-status-9" data-qa-id="status-column">
                            {% if query.updated=="yes" and query.old_status=="draft"%}<strong class="green-tag">ACTIVE</strong>{%else%}<strong class="orange-tag">DRAFT</strong>{%endif%}
                        </td>

                        <td class="govuk-table__cell">
                            <div>
                                <a href="pages" id="document-action-draft-manage-pages-3.2" class="action-link" data-qa-id="document-action-draft-manage-pages-3.3" target="_self">Manage pages</a>
                            </div>
                            <div>
                                <a href="questions" id="document-action-draft-manage-3.2" class="action-link" data-qa-id="document-action-draft-manage-3.3" target="_self">Manage questions</a>
                            </div>
                            <div>
                                <a href="publish" id="document-action-draft-publish-3.2" class="action-link" data-qa-id="document-action-draft-publish-3.3" target="_self">Publish form</a>
                            </div>
                            <div>
                                <a href="delete" id="delete" class="action-link" data-qa-id="document-action-draft-delete-3.3" target="_self">Delete form</a>
                            </div>
                            <div>
                                <a href="/protected/health-certificates/2849EHC/versions/3.2/preview" id="document-action-draft-preview-3.3" class="action-link" data-qa-id="document-action-draft-preview-3.3" target="_blank">Preview form</a>
                            </div>
                        </td>
                    </tr></tbody>
                </table>
                <form action="/protected/health-certificates/2849EHC/versions/0" method="GET">
                    <div>
                        <input class="govuk-button margin-top-30" type="submit" value="Create new EHC version" id="Button-CreateNewDocumentVersion" data-qa-id="Button-CreateNewEHCDocumentVersion">
                    </div>
                </form>

            </div>
        </div>
        <script type="text/javascript">
              function myFunction() {
                var copyText = "https://apply-export-health-certificate-exporter-int-snd.azure.defra.cloud:443/forms/X005-2849EHC"
                document.execCommand("copy");
                alert("Copied the text: " + copyText);
                // window.location.href = 'versions?copied_link=yes&copy_text='+copyText;
              }
              </script>
{% endblock %}
