{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<style media="screen">
  main .CodeMirror{
    font-family: "GDS Transport",Arial,sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-weight: 400;
font-size: 16px;
font-size: 1rem;
line-height: 1.25;
-webkit-box-sizing: border-box;
box-sizing: border-box;
display: block;
width: 100%;
min-height: 40px;
margin-bottom: 20px;
padding: 5px;
resize: vertical;
border: 2px solid #0b0c0c;
border-radius: 0;
-webkit-appearance: none;
  }
  main .editor-statusbar{
    font-family: "GDS Transport",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    margin-bottom: 15px;
    color: #626a6e;
    margin-top: 0;
margin-bottom: 0;
  }
  main .editor-statusbar{
    text-align: left;
    padding:0
  }

  main .editor-statusbar span {
    display: inline-block;
    min-width: 4em;
    margin-right: 1em;
    margin-left: 0;
}
main .editor-statusbar .autosave, main .editor-statusbar .cursor{
  display: none;
}

  @media (min-width: 40.0625em){
    main .CodeMirror, main .editor-statusbar {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.25;
    }

  }

  .cke_editable{
    font-size: 19px!important;
  }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if query.show_alert %}
    <span>
      <div id="infoMessage" class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span id="infoMessageText" class="govuk-warning-text__assistive">Information</span>
          Health certificate X005-2849EHC updated.
        </strong>
      </div>
    </span>
    {% endif %}
    <span class="govuk-caption-xl">Create a new health certificate</span>
    <h1 class="govuk-heading-xl heading-with-help">Start page</h1>
    <p class="govuk-body">Provide a summary of key points on how to complete the certificate. This will show before the user starts a new certificate.</p>
    <p class="govuk-body">Use markdown to add formating. <a href="https://www.markdownguide.org/basic-syntax/">Get help with markdown</a></p>

    <form class="case-update" method="POST">

      <div class="govuk-form-group">
        <!-- <label class="govuk-label" for="more-detail">
    Start page
  </label>
  <span id="more-detail-hint" class="govuk-hint">
    Do not include personal or financial information, like your National Insurance number or credit card details.
  </span> -->
        <textarea class="govuk-textarea" id="more-detail" name="editor1" rows="9" aria-describedby="more-detail-hint"></textarea>
      </div>


      <input class="form-control" id="actionType" type="hidden" name="actionType" value="save">
      <input type="hidden" value="2849EHC" name="ehcNumber">
      <input type="hidden" value="Permanent export of horses from the United Kingdom to the United Arab Emirates" name="ehcTitle">
      <input type="hidden" value="AE" name="destinationCountry">
      <input type="hidden" value="1e115957-7b2f-e911-a969-000d3a29ba60" name="commodityGroupGUID">

      <input type="hidden" value="%5B%7B%22typeId%22%3A%22befa3a40-902f-e911-a96d-000d3a2cbd60%22%2C%22commodityNameIds%22%3A%5B%5D%7D%5D" name="commodityTypes">

      <input type="hidden" value="EXA04 - Equine" name="exaTitle">
      <input type="hidden" value="exa04 - equine" name="exaNumber">

      <input class="govuk-button" type="submit" value="Continue" data-qa-id="Button-Save-Create-New-Version" id="Button-Save-Create-New-Version" name="save_create_new_version">

      <input class="margin-left-30 govuk-button grey-button" type="submit" value="Skip" data-qa-id="Button-SaveCertificate" id="Button-SaveCertificate">
    </form>
  </div>
</div>
<script>
  var simplemde = new SimpleMDE({
    element: document.getElementById("more-detail"),
    autofocus: false,
    toolbar: false,
    spellChecker: false

  });
</script>
{% endblock %}