
{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block pageTitle %}
  Is this application for a block of certificates?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" id="form" class="form">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#error-3">Enter a number between 2 and 100</a>
            </li>
          </ul>
        </div>
      </div>

      <!--<span class="govuk-caption-l"></span>-->
      <h1 class="govuk-heading-l">Is this application for a block of certificates?</h1>

      <p>
        You can apply for a block of up to 100 certificates for frequent and regular consignments to the same country.
      </p>

      <fieldset class="govuk-fieldset">

      <div class="govuk-form-group govuk-form-group--error">
        <div class="govuk-radios govuk-radios--conditional" data-module="radios">
          <span id="error-3" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter a number between 2 and 100
          </span>          
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-conditional-1" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional-1">
            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
              Yes
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-1">
            <div class="govuk-form-group">
              <label class="govuk-label" for="blockCertificateQuanity">
                Number of certificates required
              </label>
              <input class="govuk-input govuk-input--width-2" id="blockCertificateQuanity" name="blockCertificateQuanity" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
              No
            </label>
          </div>
        </div>
      </div>
          
      </fieldset>

      <a href="#" class="govuk-button">
        Save and continue
      </a>

      <p>
        <a href="dashboard.html">
          Save and continue later
        </a>
      </p>

      </form>
    
    </div>
</div>

{% endblock %}
