
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div>

                <h1 class="govuk-heading-l">Name and address of the organisation receiving your export</h1>

                <form action="check-your-progress9" method="POST" enctype="application/x-www-form-urlencoded">
                    <fieldset class="govuk-fieldset">


                        <div class="govuk-form-group ">
                            <label class="govuk-label" for="7006EHC-0">What is the name of the importer? </label>
                            <input class="govuk-textarea" id="7006EHC-0" name="consignor" rows="3" autofocus="autofocus" data-qa-id="Question-7006EHC-0" spellcheck="false"></textarea>
                        </div>



                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <label class="govuk-label " for="full-name">

                            </label>
                        </legend>



                        <fieldset class="govuk-fieldset">
                            <div class="govuk-form-group ">
                                <label class="govuk-label" for="certifier-address-line-1">
                                    Importer address
                                </label>
                                <textarea class="govuk-textarea" id="certifier-address-line-1" name="address1" type="text" value="" rows="5"></textarea>
                            </div>
                        </fieldset>





                        <div class="govuk-form-group">
                            <label class="govuk-label" for="sort">
                                Importer country
                            </label>
                            <select class="govuk-select" id="sort" name="sort">
                                <option value="published">Austria</option>
                                <option value="updated">Belgium</option>
                                <option value="views">Bulgaria</option>
                                <option value="comments">Croatia	</option>
                                <option value="comments">Cyprus</option>
                                <option value="comments">Czech Republic</option>
                                <option value="comments">Denmark</option>
                                <option value="comments">Estonia</option>
                                <option value="comments">Finland</option>
                                <option value="comments">France</option>
                                <option value="comments">Germany</option>
                                <option value="comments"> Greece</option>
                                <option value="comments">Hungary</option>
                                <option value="comments">Ireland</option>
                                <option value="comments">Italy</option>
                                <option value="comments">Latvia</option>
                                <option value="comments">Lithuania</option>
                                <option value="comments">Luxembourg</option>
                                <option value="comments">	Malta</option>
                                <option value="comments">Netherlands</option>
                                <option value="comments">Poland</option>
                                <option value="comments">Portugal</option>
                                <option value="comments">Romania</option>
                                <option value="comments">Slovakia</option>
                                <option value="comments">Slovenia</option>
                                <option value="comments">Spain</option>
                                <option value="comments">Sweden</option>





                            </select>
                        </div>
                        <div class="govuk-form-group ">
                            <label class="govuk-label" for="7006EHC-0">Importer telephone number</label>
                            <input class="govuk-textarea" id="7006EHC-0" name="consignor" rows="3" autofocus="autofocus" data-qa-id="Question-7006EHC-0" spellcheck="false"></textarea>
                        </div>




                        <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
                            <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                        </div>

                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full govuk-body">
                                <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">
                            </div>
                        </div>
                    </fieldset>
                </form>



            </div>
        </div>
    </div>
</div>













{% endblock %}
