
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>

<div class="govuk-width-container">
    <div>

    </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <form action="10" method="POST" id="addr-form">
                    <input type="hidden" name="crumb_csrf_token" value="gTlLBKyL-1hcIX_eIlqttNqVHhFrTHmuqTG5yTJsotb">
                    <input type="hidden" name="ehcNumber" value="7006EHC">
                    <input type="hidden" name="applicationFormId" value="1721147986171">
                    <input type="hidden" name="pageSequence" value="1">
                    <input type="hidden" name="certifierName" value="Amsa 123 Address Line1  POSTCODE  ">
                    <input type="hidden" name="addressLine1" value="123 Address Line1">
                    <input type="hidden" name="addressLine2" value="1">
                    <input type="hidden" name="addressLine3" value="1">
                    <input type="hidden" name="postcode" value="POSTCODE">
                    <input type="hidden" name="addressId" value="a14e40ea-568d-e911-a95f-000d3ab6488a">
                    <input type="hidden" name="certifierOrganisationId" value="b3194990-568d-e911-a95f-000d3ab6488a">
                    <div class="govuk-form-group">
                        <h1 class="govuk-heading-l">Is this the address where we can contact your official vet or certifier?</h1>
                        <span class="govuk-caption-l">Organisation name</span>

                        <p class="govuk-body govuk-fieldset__legend--m">
                            <span id="certificate-delivery-address-line-1">ADM ACCOUNTING LIMITED</span><br>
                        </p>

                        <span class="govuk-caption-l">Address</span>
                        <p class="govuk-body govuk-fieldset__legend--m">
                            <span id="certificate-delivery-address-line-1">Hornbeam House</span><br>
                            <span id="certificate-delivery-address-line-2">Electra Way</span><br>
                            <span id="certificate-delivery-address-postcode">Crewe</span><br>
							<span id="certificate-delivery-address-postcode">CW12 3ER</span><br>
                        </p>
                    </div>
                    <br>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">

                            <div class="govuk-radios ">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="default-address-option" name="address-option" type="radio" value="default" {{ checked("address-option", "default") }}>
                                    <label id="default-address-option-label" class="govuk-label govuk-radios__label" for="default-address-option">
                                        Yes, use this address
                                    </label>
                                </div>
                               <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="manual-address-option" name="address-option" type="radio" value="manual" aria-describedby="manual-address-option-hint" {{ ("address-option", "manual") }}>
                                    <label id="manual-address-option-label" class="govuk-label govuk-radios__label" for="manual-address-option">
                                        No, the OV is based at a different address
                                    </label>
                  <span id="manual-address-option-hint" class="govuk-hint govuk-radios__hint" style="padding-left: 15px">
                    </span>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="govuk-!-margin-left-0 govuk-grid-column-one-quarter govuk-!-padding-0">
                        <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-CertificateDeliveryAddressSaveAndContinue" data-qa-id="Button-SaveAndContinue">
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-body">
                            <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>
<script>

document.getElementById("manual-address-option").onclick=function(e) {
	document.getElementById("addr-form").action="postcode-lookup";
	document.getElementById("addr-form").submit();
}

</script>
{% endblock %}
