{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block pageTitle %}
  Upload export health certificate
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" id="form" class="form">

      <h2 class="govuk-heading-l">
        Upload export health certificate
      </h2>

      <p>
        You can only upload one certificate. It must be:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a PDF</li>
        <li>less than 10MB</li>
      </ul>

      <table class="govuk-table" style="margin-bottom: 60px;">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-two-thirds" scope="col">File name</th>
            <th class="govuk-table__header" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">
              EHC1234.pdf
            </td>
            <td class="govuk-table__cell" scope="row">
              <a href="#" class="govuk-link govuk-link--no-visited-state" style="margin-right: 20px;">View</a>
              <a href="deleteA.html" class="govuk-link govuk-link--no-visited-state">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>

      <button type="submit" class="govuk-button">
        Save and continue
      </button>

      <p>
        <a href="dashboard.html">
          Save and continue later
        </a>
      </p>

      </form>

    </div>
  </div>

{% endblock %}
