.govuk-button--secondary {
    background-color: #bfc1c3;
    -webkit-box-shadow: 0 2px 0 #929191;
    box-shadow: 0 2px 0 #929191;
        // padding: 6px;
}

.govuk-button--secondary,
.govuk-button--secondary:link,
.govuk-button--secondary:visited,
.govuk-button--secondary:active,
.govuk-button--secondary:hover {
    color: #0b0c0c
}

.govuk-button--secondary:hover {
    background-color: #dbdad9
}

.govuk-button--secondary:hover[disabled] {
    background-color: #f3f2f1
}
