
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>

<div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


<h1 class="govuk-heading-xl">About your product</h1>
<h2 class="govuk-heading-l">Before you start this section. You will be asked about the product details</h1>






                    <form action="7" method="POST" enctype="application/x-www-form-urlencoded">






                        <ul class="govuk-list govuk-list--bullet">


                            <li> If there is more than one product, give details of the first and then pick 'add another product'.</li>
                            <li>You can add up to 4 products</li>
                            <li>Both you and your Official Vet will have access to this form</li>
                            <li>All fields must be filled in, unless marked as optional</li>



                        </ul>








                        <i class="icon icon-important" style="position: relative;
    top: 35px;left: 5px">
                            <span class="visually-hidden">Warning</span>
                        </i>
                        <h2 class="govuk-heading-m govuk-\!-margin-bottom-0 govuk-\!-margin-top-9" style="margin-left: 60px">Important information</h2>


                        <p>

                            OVs and exporters should note that they have the final responsibility to ensure that the details on the completed certificates are correct. Due to the complexity of the conditions, it is recommended that such checks should be carried out sufficiently in advance of the date of export to enable any changes that may be required.
                        </p>   <p>
                            The Official Veterinarian [will be required] certify that the production procedure of this batch of product meet the relevant animal and public health laws, regulations and food safety national standards of China and the UK; that this batch of product meets the requirements of the relevant protocol for meat products signed between General Administration of Quality Supervision, Inspection and Quarantine of the PRC and the Department of Environment, Food and Rural Affairs of the UK; and that this batch of product is safe and hygienic and fit for human consumption.

                        </p>


                        <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
                            <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                        </div>

                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full govuk-body">
                                <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">
                            </div>
                        </div>


                        </form>



            </div>
        </div>
        </div>
</div>
        












{% endblock %}
