
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div id="global-cookie-message" class="gem-c-cookie-banner" data-module="cookie-banner" role="region" aria-label="cookie banner" style="display: block;">
    <div class="gem-c-cookie-banner__wrapper govuk-width-container">
        <p class="gem-c-cookie-banner__message">DEFRA uses cookies to make the site simpler.</p>
        <div class="gem-c-cookie-banner__buttons">
            <div class="gem-c-cookie-banner__button gem-c-cookie-banner__button-accept">

                <button class="gem-c-button govuk-button gem-c-button--secondary gem-c-button--inline" type="submit" data-module="track-click" data-accept-cookies="true" data-track-category="cookieBanner" data-track-action="Cookie banner accepted">Accept cookies</button>


            </div>
            <div class="gem-c-cookie-banner__button gem-c-cookie-banner__button-settings">

                <a class="gem-c-button govuk-button gem-c-button--secondary gem-c-button--inline" role="button" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked" href="/help/cookies">Cookie settings</a>


            </div>
        </div>
    </div>

    <div class="gem-c-cookie-banner__confirmation govuk-width-container" tabindex="-1" style="display: none">
        <p class="gem-c-cookie-banner__confirmation-message">
            You’ve accepted all cookies. You can <a class="govuk-link" href="/help/cookies" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner settings clicked from confirmation">change your cookie settings</a> at any time.
        </p>
        <button class="gem-c-cookie-banner__hide-button" data-hide-cookie-banner="true" data-module="track-click" data-track-category="cookieBanner" data-track-action="Hide cookie banner">Hide</button>
    </div>
</div>


        <style>.govuk-header {position: relative;top:70px}
        .gem-c-cookie-banner{position: absolute;top:0}
main{margin-top: 90px}




        .gem-c-cookie-banner__message {

            display: inline-block;
            margin-bottom: 5px;
            padding-right: 20px;
            padding-bottom: 10px;
            color: #00823b;

        }
        #global-header-bar, #global-cookie-message p, #footer .footer-wrapper {

            max-width: 960px;
            margin: 0 15px;

        }
        #global-header-bar, #global-cookie-message p, #footer .footer-wrapper {

            margin: 0 30px;

        }
        #global-cookie-message p {

            font-family: "nta", Arial, sans-serif;
            font-weight: 400;
            text-transform: none;
            font-size: 14px;
            line-height: 1.14286;
            margin-top: 0;
            margin-bottom: 0;

        }
        #global-cookie-message p {

            font-size: 16px;
            line-height: 1.25;

        }
        .gem-c-cookie-banner#global-cookie-message p {

            margin: 0;

        }
        .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__message, .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__buttons, .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation, .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation-message {

            font-family: "nta", Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;}
        .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__message, .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__buttons, .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation, .gem-c-cookie-banner#global-cookie-message .gem-c-cookie-banner__confirmation-message {

            font-size: 19px;
            line-height: 1.3157894737;

        }
        .gem-c-button--secondary {

            padding: 8px 10px;
            padding-top: 8px;
            padding-bottom: 8px;
            border-color: #00823b;
            color: #00823b;
            background-color: #ffffff;
            box-shadow: none;

        }
        .gem-c-cookie-banner__button {

            width: auto;

        }
        .js-enabled .gem-c-cookie-banner__button-accept {

            display: inline-block;

        }
        .gem-c-cookie-banner#global-cookie-message {

            background-color: #ffffff;
            padding: 20px 0;
            box-sizing: border-box;

        }
        </style>


<div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div>
                    <h1 id="questionPageHeading" class="govuk-heading-l">Begin your application</h1>
                    <p>
                    </p><form action="1" method="POST" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="crumb_csrf_token" value="gTlLBKyL-1hcIX_eIlqttNqVHhFrTHmuqTG5yTJsotb">



                    <h2 class="govuk-heading-m govuk-\!-margin-bottom-0 govuk-\!-margin-top-9" style="margin-top: 50px">
                        I want to apply for:
                    </h2>

                    <p>Export Health Certificate 7006GB: Export frozen raw pork from England, Scotland or Wales to the People's Republic of China. </p>


                    <p>

                        If this is not correct, find another<a href="#"> Export Health Certificate
</a></p>





                    <h2 class="govuk-heading-m govuk-\!-margin-bottom-0 govuk-\!-margin-top-9" style="margin-top: 50px">
                        Let's confirm, the exporter is:
                    </h2>


<p><strong>A1 Export, Coventry</strong><br>Telephone: 0207 586 2837<br>Email: coldroom@a1export.com </p>







                    <!--radio start-->

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

                            </legend>
    <span id="how-contacted-conditional-hint" class="govuk-hint">
      Select one option.
    </span>
                            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional">
                                    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                                        Yes
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
                                    <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                                        No
                                    </label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-2">



                                    <div class="govuk-form-group">

                                        <h2 class="govuk-label form-label-bold govuk-\!-font-weight-bold govuk-!-font-weight-bold" for="7006EHC-0">Provide exporter details</h2>


                                        <label class="govuk-label" for="full-name">
                                            Full name
                                        </label>
                                        <input class="govuk-input govuk-!-width-one-third" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false">


                                        <label class="govuk-label" for="email" style="    margin-top:15px;">
                                            Email address
                                        </label>
                                        <input class="govuk-input govuk-input--width-20" id="email" name="email" type="email" aria-describedby="email-hint" autocomplete="email" spellcheck="false">

                                        <label class="govuk-label" for="telephone-number" style="    margin-top:15px;">
                                            UK telephone number
                                        </label>
                                        <input class="govuk-input govuk-!-width-one-third" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel">
                                    </div>













                                </div>


                            </div>
                        </fieldset>
                    </div>

                    <!--radio end-->











                    <div id="show-me" style="display: none">

                        <div class="govuk-form-group ">
                            <h2 class="govuk-label form-label-bold govuk-\!-font-weight-bold govuk-!-font-weight-bold" for="7006EHC-0">Provide exporter details</h2>


                            <div class="govuk-form-group">
                                <label class="govuk-label" for="full-name">
                                    Full name
                                </label>
                                <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false">
                            </div>


                            <div class="govuk-form-group">
                                <label class="govuk-label" for="email">
                                    Email address
                                </label>
  <span id="email-hint" class="govuk-hint">
    We’ll only use this to send you a receipt
  </span>
                                <input class="govuk-input govuk-input--width-30" id="email" name="email" type="email" aria-describedby="email-hint" autocomplete="email" spellcheck="false">
                            </div>

                            <div class="govuk-form-group">
                                <label class="govuk-label" for="telephone-number">
                                    UK telephone number
                                </label>
                                <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel">
                            </div>


                        </div>






                    </div>


                  <!--  <div id='show-me' style='display:none'>
                        <label class="govuk-label" for="event-name"     {{ data['ref-number'] }}>
                        Enter reference here (maximum 30 character)
                        </label>


                        <input class="govuk-input form-control-3-4" id="7006EHC-1" name="ref-number" value="{{ data['ref-number'] }}" type="text" data-qa-id="Question-7006EHC-1">

                        <input type="hidden" name="1-formQuestionId" value="41">
                        <input type="hidden" name="1-questionId" value="1">
                        <input type="hidden" name="1-formName" value="exa07---meat">
                        <input type="hidden" name="1-questionText" value="You can give your application a reference number to allow you to easily identify it. If you would like to do so, enter it here. ">
                        <input type="hidden" name="1-questionType" value="text">
                        <input type="hidden" name="1-questionOrder" value="2">
                        <input type="hidden" name="1-questionScope" value="APPLICANT">
                        <input type="hidden" name="questionSequence-41" value="1">
                        <input type="hidden" id="numQuestionsOnPage" name="numQuestionsOnPage" value="2">

                    </div>-->




                    <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
                        <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                    </div>
</form>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-body">


                            <form action="dashboard">
                                <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
                            </form>


                        </div>
                    </div>


                    <p></p>
                </div>
            </div>
        </div>
</div>


        <script>

            window.onload = function(){
          $(document).ready(function () {
                $("#watch-me").click(function() {
                    $("#show-me:hidden").show('slow');
                });
                $("#watch-me").click(function(){
                    if($('watch-me').prop('checked')===false) {
                        $('#show-me').hide();}
                });
            });



                $(document).ready(function () {
                    $("#watch-me2").click(function() {
                        $("#show-me2:hidden").show('slow');
                    });
                    $("#watch-me2").click(function(){
                        if($('watch-me2').prop('checked')===false) {
                            $('#show-me2').hide();}
                    });
                });



            }
        </script>

<script src="https://design-system.service.gov.uk/javascripts/govuk-frontend-18ad095a4c6c0d308c7672cf1e8d04d8.js"></script>
<script src="https://design-system.service.gov.uk/javascripts/example-aed4a541bd2d7a731e08f3e64294f90d.js"></script>


{% endblock %}
