
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<style>
    main{padding-top: 0px!important;}
</style>
<div class="govuk-width-container">
    <div class="login-nav login-border">
        <ul class="login-nav__list">
            <li class="login-nav__list-item" id="Nav-DisplayName">Ann Cooper</li>
            <li class="login-nav__list-item"> | <a href="https://identity-management-app.herokuapp.com/manage/team-members/services-on-team-member-admin-account_company-exports?serviceLine=Exporter%20Service&serviceRole=Exporter&numUsers=1&numAgents=0&numServices=1&multiOrg=no&parentChild=parent" class="govuk-link login-nav__link govuk-link--no-visited-state profile" id="Link-ManageAccount">Manage account</a>|</li>
            <li class="login-nav__list-item"><a href="/sign-out" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
        </ul></div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div>

                    <table class="govuk-table">
                        <tbody class="govuk-table__body">
                        <tr>
                            <td scope="row">
                                <a id="link-startNewApplicationLink" href="/form-finder-stub" class="govuk-button_no_margin_bottom">
                                    Start a new application

                                </a></td>
                        </tr>
                        </tbody>
                    </table>

                    <h1 class="govuk-heading-l heading">Your Applications</h1>
                </div>
                <div>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">
                                <div class="applicationRef-column">Application</div>
                            </th>
                            <th class="govuk-table__header">Group</th>
                            <th class="govuk-table__header">Submission</th>
                            <th class="govuk-table__header">Status</th>
                            <th class="govuk-table__header">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="govuk-table__row">
                            <td id="1721147986456-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                                1721147986456
                            </td>
                            <td id="1721147986456-group-number" class="govuk-table__cell" scope="row">

                            </td>
                            <td id="1721147986456-submitted" class="govuk-table__cell submitted-column" scope="row">

                            </td>

                            <td id="1721147986456-status" class="govuk-table__cell" scope="row">
                                <div class="status-cell">
                                    <div class="orange-tag">
                                        DRAFT
                                    </div>
                                </div>
                            </td>

                            <td class="govuk-table__cell actions-column">
                                <a id="1721147986456-editLink" class="govuk-link" href="/protected/form/2849EHC/application/1721147986456/page/16/edit">Edit</a>
                                <a id="1721147986456-deleteLink" class="govuk-link" href="/protected/application/1721147986456/delete">Delete</a>
                                <a id="1721147986456-cloneLink" class="govuk-link" href="/protected/application/1721147986456/clone">Clone</a>
                            </td>
                        </tr>
                        </tbody><tbody>
                    <tr class="govuk-table__row">
                        <td id="1721147986156-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                            1721147986156
                        </td>
                        <td id="1721147986156-group-number" class="govuk-table__cell" scope="row">

                        </td>
                        <td id="1721147986156-submitted" class="govuk-table__cell submitted-column" scope="row">

                        </td>

                        <td id="1721147986156-status" class="govuk-table__cell" scope="row">
                            <div class="status-cell">
                                <div class="orange-tag">
                                    DRAFT
                                </div>
                            </div>
                        </td>

                        <td class="govuk-table__cell actions-column">
                            <a id="1721147986156-editLink" class="govuk-link" href="/protected/form/6969EHC/application/1721147986156/page/2/edit">Edit</a>
                            <a id="1721147986156-deleteLink" class="govuk-link" href="/protected/application/1721147986156/delete">Delete</a>
                            <a id="1721147986156-cloneLink" class="govuk-link" href="/protected/application/1721147986156/clone">Clone</a>
                        </td>
                    </tr>
                    </tbody><tbody>
                    <tr class="govuk-table__row">
                        <td id="1721147985832-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                            1721147985832
                        </td>
                        <td id="1721147985832-group-number" class="govuk-table__cell" scope="row">

                        </td>
                        <td id="1721147985832-submitted" class="govuk-table__cell submitted-column" scope="row">

                        </td>

                        <td id="1721147985832-status" class="govuk-table__cell" scope="row">
                            <div class="status-cell">
                                <div class="orange-tag">
                                    DRAFT
                                </div>
                            </div>
                        </td>

                        <td class="govuk-table__cell actions-column">
                            <a id="1721147985832-editLink" class="govuk-link" href="/protected/form/2849EHC/application/1721147985832/page/3/edit">Edit</a>
                            <a id="1721147985832-deleteLink" class="govuk-link" href="/protected/application/1721147985832/delete">Delete</a>
                            <a id="1721147985832-cloneLink" class="govuk-link" href="/protected/application/1721147985832/clone">Clone</a>
                        </td>
                    </tr>
                    </tbody><tbody>
                    <tr class="govuk-table__row">
                        <td id="1651965956486-appRef" class="govuk-table__cell applicationRef-column" scope="row">
                            1651965956486
                        </td>
                        <td id="1651965956486-group-number" class="govuk-table__cell" scope="row">

                        </td>
                        <td id="1651965956486-submitted" class="govuk-table__cell submitted-column" scope="row">

                        </td>

                        <td id="1651965956486-status" class="govuk-table__cell" scope="row">
                            <div class="status-cell">
                                <div class="orange-tag">
                                    DRAFT
                                </div>
                            </div>
                        </td>

                        <td class="govuk-table__cell actions-column">
                            <a id="1651965956486-editLink" class="govuk-link" href="/protected/form/2849EHC/application/1651965956486/page/5/edit">Edit</a>
                            <a id="1651965956486-deleteLink" class="govuk-link" href="/protected/application/1651965956486/delete">Delete</a>
                            <a id="1651965956486-cloneLink" class="govuk-link" href="/protected/application/1651965956486/clone">Clone</a>
                        </td>
                    </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>

</div>




        

{% endblock %}
