{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-xl">
          Review your answers
        </h1>

        <div class="govuk-details__text">
          <strong class="govuk-body govuk-!-font-weight-bold">
            Your application for a health certificate is now ready to be submitted.<br><br>
            Please check that the answers you've provided are correct.
          </strong>
        </div>
        <br>
        <br>
        <h1 class="govuk-heading-m">Commodity Details</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-8">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" id="specific-commodity-question">
              What are you exporting?
            </dt>
            <dd class="govuk-summary-list__value" id="specific-commodity-answer">
              Clams
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/choose-commodity" data-qa-id="Link-ChangeAnswer" id="Link-specific-commodity-question">Change</a>
            </dd>
          </div>
        </dl>

        <h1 class="govuk-heading-m">Your reference</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-8" id="page-section-0">


            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Your reference for this application
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              1000
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/1?selectedQuestion=-6" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>

        </dl>
        <h1 class="govuk-heading-m">Select the certifier practice to include with your application</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-8" id="page-section-1">


            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Select the certifier practice to include with your application
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              A.B.C. (BUTTIGIEG) LIMITED (Seed Data) 182a  BR3 1EW
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/2?selectedQuestion=-1" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>



            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Select certificate delivery address
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              182a High Street Beckenham Kent BR3 1EW
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/2/certificate-delivery-address" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>

        </dl>
        <h1 class="govuk-heading-m">EXA07-Meat-page-1</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-8" id="page-section-2">


            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the export date?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              1 Oct 2020
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/3?selectedQuestion=144" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>



            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Who is the trader?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              me
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/3?selectedQuestion=145" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>



            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              How should the certificate be delivered?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              First Class Post
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/3?selectedQuestion=146" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>



            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the UK Country of Export?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              England
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/3?selectedQuestion=147" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>

        </dl>
        <h1 class="govuk-heading-m">How many animals are you exporting?</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-8" id="page-section-3">


            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the passport number of the horse?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              121221
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/4?selectedQuestion=156" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>

        </dl>
        <h1 class="govuk-heading-m">How will the animals be identified?</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-8" id="page-section-4">

          <div class="app-summary-card">
              <header class="app-summary-card--header">
                <h3 class="app-summary-card--title">1</h3>
              </header>
              <div class="app-summary-card--content">
              <dl class="govuk-summary-list govuk-!-margin-bottom-8" id="page-section-0">

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the loading address line 1?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              A1
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/5/review" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>



            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the breed of horse?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              Thoroughbred
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/5/review" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>



            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the sex of the horse?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              Male
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/5/review" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>



            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the BIP unit number?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              A1 2020
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/5/review" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>
              </dl>
              </div>
              </div>


          <div class="app-summary-card">
              <header class="app-summary-card--header">
                <h3 class="app-summary-card--title">2</h3>
              </header>
              <div class="app-summary-card--content">
              <dl class="govuk-summary-list govuk-!-margin-bottom-8" id="page-section-4">

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the loading address line 1?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              breed1
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/5/review" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>



            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the breed of horse?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              Arabian
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/5/review" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>



            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the sex of the horse?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              Male
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/5/review" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>



            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the BIP unit number?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              222
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/5/review" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>
              </dl>
              </div>
              </div>


          <div class="app-summary-card">
              <header class="app-summary-card--header">
                <h3 class="app-summary-card--title">3</h3>
              </header>
              <div class="app-summary-card--content">
              <dl class="govuk-summary-list govuk-!-margin-bottom-8" id="page-section-8">

            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the loading address line 1?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              pp
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/5/review" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>



            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the breed of horse?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              Arabian
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/5/review" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>



            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the sex of the horse?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              Male
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/5/review" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>



            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the BIP unit number?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              pp
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/5/review" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>
              </dl>
              </div>
              </div>

        </dl>
        <h1 class="govuk-heading-m">Where were the animals examined?</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-8" id="page-section-5">


            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the address of the consignor?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              wewqwewq
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/6?selectedQuestion=161" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>



            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the name and address of the consignee's representative?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              ijiiu
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/6?selectedQuestion=162" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>

        </dl>
        <h1 class="govuk-heading-m">Who is sending the consignment?</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-8" id="page-section-6">


            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the name and address of the consignee's representative?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              p
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/7?selectedQuestion=163" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>

        </dl>
        <h1 class="govuk-heading-m">How will the consignment be transported?</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-8" id="page-section-7">


            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the means of transportation?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              8
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/8?selectedQuestion=164" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>

        </dl>
        <h1 class="govuk-heading-m">Who is receiving the consignment?</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-8" id="page-section-8">


            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the identification of the animals?
            </dt>
            <dd class="govuk-summary-list__value answer_cell">
              iuiu
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link change_answer_link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/page/9?selectedQuestion=165" data-qa-id="Link-ChangeAnswer">Change</a>
            </dd>
          </div>

        </dl>
<!--        </dl>-->

        <h1 class="govuk-heading-m">Supporting documents</h1>


        <table class="govuk-table" id="page-section-1000" role="presentation">
          <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <td class="govuk-table__header half" scope="row">
              <div>
                File name
              </div>
              <div>
                File description
              </div>
            </td>
            <td class="govuk-table__cell" scope="row">
              <div id="file_0">
                No documents uploaded
              </div>
              <div id="description_0">
                &nbsp;
              </div>
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a id="change_file_0" class="govuk-link" href="https://main.localhost/protected/form/abc1212/application/1751987920297/supplementary-documents">Change</a>
            </td>
          </tr>
        </tbody></table>


        <div class="govuk-warning-text">
          <span class="icon icon-file-download"></span>
          <span class="govuk-visually-hidden">File download</span>
          <strong class="govuk-body govuk-!-font-weight-regular">Preview your answers in a <a href="https://main.localhost/protected/application/1751987920297/preview" data-qa-id="Link-PreviewCertificate" target="_blank" class="govuk-link">specimen certificate</a>.</strong>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div>
              <form action="https://main.localhost/protected/form/abc1212/application/1751987920297/review" method="POST">
                <input type="hidden" name="crumb_csrf_token" value="ofx5zHDASjJvPHxWDphVDgXi08XfdtC6LXkrQr4DSbF">
                <input type="hidden" name="applicationFormStatus" value="">
                <input class="govuk-button margin-top-30" type="submit" value="Continue" id="Button-Continue" data-qa-id="Button-Continue">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% block chatbot %}{% include "../../../../includes/chat.html" %}{%endblock%}
{% endblock %}
