<div class="govuk-form-group defra-callout {% if (data.empty | length) > 0 %}govuk-form-group--error{% endif %}">
  <h3 class="govuk-heading-m">You do not have to answer every question</h3>
  {% if (data.empty | length) > 0 %}
  <span id="slaughterhouse_name_error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> {% if (page.content.fields | length) == 1 %}Select if you are skipping this question{% else %}Select if you have answered as many questions as you can{% endif%}
  </span>
  {% endif %}
  <p class="govuk-body">
    You can skip questions if you do not have the information right now. You can fill in any blanks before you submit, or leave them for your certifier to fill in.
  </p>
  <div id="skip-questions" class="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="skip_answers" name="skip_answers" type="checkbox" value="skip">
      <label class="govuk-label govuk-checkboxes__label" for="skip_answers" >
        {% if (page.content.fields | length) == 1 %}
        I'm skipping this question
        {% else %}
        I've answered as many questions as I can on this page
        {% endif %}

      </label>
    </div>
  </div>
</div>
