
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
        <style>.app-tabs {
            border: 1px solid #b58840;
        }
        .app-tabs:hover {
            border: 1px solid #1d70b8	;
        }
       </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Exporter journey prototype
        <span class="govuk-caption-xl">Designed with The GOV.UK Prototype Kit {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <ol class="govuk-list">
        <li>
          <a href="v1/core/index" class="govuk-heading-m govuk-link--no-visited-state">
            Version 1
          </a>
        </li>
        <li><a href="v1/core/search/8254">Form 8254EHC</a> </li>
        <li><a href="v1/core/search/8284">Form 8284EHC</a> </li>
        <li>
          <ul class="govuk-list">
            <li>Testing versions</li>
            <li><a href="v1/blocks/dashboard">Blocks</a></li>
            <li><a href="v1/check-and-submit/certificate/check-your-progress">Check answers and submit flow</a></li>
            <li><a href="v1/check-and-submit/certificate/check-your-answers--error">Check answers with errors</a></li>
            <li><a href="v1/tl-section-headers/certificate/check-your-progress">Task list headers</a></li>
            <li><a href="v1/adding-products/contents">Adding products v2</a></li>
            <li><a href="v1/unique-reference/contents">Unique reference</a></li>
            <li><a href="v1/core/certificate/check-your-progress?certificate=ehc8327_v2">Shortened titles on task list</a></li>
            <li><a href="v1/core/certificate/check-your-progress?certificate=ehc6969_v2">Ungrouping of form fields</a></li>
            <li><a href="v1/EXP-8086-certifier-search/contents">Certifier search improvements</a></li>
          </ul>
        </li>

      </ol>

    </div>
</div>

{% endblock %}
