{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<style>
  .app-tabs {
    border: 1px solid #b58840;
  }

  .app-tabs:hover {
    border: 1px solid #1d70b8;
  }
</style>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Private beta - Exporter journey prototype
      <span class="govuk-caption-xl">Designed with The GOV.UK Prototype Kit {{releaseVersion}}</span>
    </h1>{{releaseVersion | log }}
    <h2 class="govuk-heading-m">
      <a href="v3/core/index" class="govuk-link--no-visited-state">
        Version 3 | CURRENT
      </a>
    </h2>
    <p class=govuk-body"></p>
    <div class="version-block govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Forms</h3>
        <ul class="govuk-list">
          <li><a href="v3/core/search/8254">Form 8254EHC</a> </li>
          <li><a href="v3/core/search/8284">Form 8284EHC</a> </li>
          <li><a href="v3/core/search/6969">Form 6969EHC</a> </li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Testing or sprint stories</h3>
        <ul class="govuk-list">
          <li><a href="v3/repeatable-questions-v3/contents">Repeatable questions v3</a></li>
    </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-m">
      <a href="v2/core/index" class="govuk-link--no-visited-state">
        Version 2 | Nov 21 - Dec 19th
      </a>
    </h2>
    <div class="version-block govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Forms</h3>
        <ul class="govuk-list">
          <li><a href="v2/core/search/8254">Form 8254EHC</a> </li>
          <li><a href="v2/core/search/8284">Form 8284EHC</a> </li>
          <li><a href="v2/core/search/6969">Form 6969EHC</a> </li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Testing or sprint stories</h3>
        <ul class="govuk-list">
          <li><a href="v2/multiples/certificate/check-your-progress?certificate=ehc3987">Multiples v1 (form 3987EHC)</a></li>
          <li><a href="v2/repeatable-questions/contents">Repeatable questions v2</a></li>
          <li><a href="v3/repeatable-questions-v3/contents">Repeatable questions v3</a></li>

          <li><br><h3 class="govuk-heading-s govuk-!-margin-bottom-0">Cloning<h3></li>
          <li><a href="v2/cloning/contents">Cloning v2</a></li>
          <li><a href="v2/EXP-8639-update-clone-journey/contents" class="govuk-link--no-visited-state">EXP-8639 Update clone journey</a></li>
          <li><a href="v2/EXP-8648-keep-reference-number/contents" class="govuk-link--no-visited-state">EXP-8648-keep-reference-number</a></li>
          <li><a href="v2/EXP-8650-soft-errors-check-answers/contents" class="govuk-link--no-visited-state">EXP-8650-soft-errors-check-answers</a></li>
          <li><a href="v2/EXP-8652-required-display-indicator/contents" class="govuk-link--no-visited-state">EXP-8652-required-display-indicator</a></li>
          <li><a href="v2/EXP-8649-invalid-clone-items/contents" class="govuk-link--no-visited-state">EXP-8649-invalid-clone-items</a></li>
          <li><a href="v2/EXP-8643-updated-display-indicator/contents" class="govuk-link--no-visited-state">EXP-8643-updated-display-indicator</a></li>
          <li><a href="v2/EXP-8653-clone-interstitial-page/contents" class="govuk-link--no-visited-state">EXP-8653-clone-interstitial-page</a></li>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-m">
      <a href="v1/core/index" class="govuk-link--no-visited-state">
        Version 1 | 6 Nov - 20 Nov
      </a>
    </h2>
    <p class=govuk-body"></p>
    <div class="version-block govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Forms</h3>
        <ul class="govuk-list">
          <li><a href="v1/core/search/8254">Form 8254EHC</a> </li>
          <li><a href="v1/core/search/8284">Form 8284EHC</a> </li>
          <li><a href="v1/core/search/6969">Form 6969EHC</a> </li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Testing or sprint stories</h3>
        <ul class="govuk-list">
          <li><a href="v1/blocks/dashboard">Blocks</a></li>
          <li><a href="v1/check-and-submit/certificate/check-your-progress">Check answers and submit flow</a></li>
          <li><a href="v1/check-and-submit/certificate/check-your-answers--error">Check answers with errors</a></li>
          <li><a href="v1/tl-section-headers/contents">Task list headers</a></li>
          <li><a href="v1/adding-products/contents">Adding products v2</a></li>
          <li><a href="v1/unique-reference/contents">Unique reference</a></li>
          <li><a href="v1/core/certificate/check-your-progress?certificate=ehc8327_v2">Shortened titles on task list</a></li>
          <li><a href="v1/core/certificate/check-your-progress?certificate=ehc6969_v2">Ungrouping of form fields</a></li>
          <li><a href="v1/EXP-8086-certifier-search/contents">Certifier search improvements</a></li>
        </ul>
      </div>
    </div>
  </div>
  {% endblock %}
