{% extends "layout.html" %}
{% block pageTitle %}
Check an export health certificate - GOV.UK
{% endblock %}
{% block beforeContent%}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Select a language</h1>
<form method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="language-select-1" name="language-select" type="radio" value="language-select-1">
              <label class="govuk-label govuk-radios__label" for="language-select-1">
                English - please select your language
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="language-select-2" name="language-select" type="radio" value="language-select-2">
              <label class="govuk-label govuk-radios__label" for="language-select-2">
                简体中⽂ - 请选择您的语⾔
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="language-select-3" name="language-select" type="radio" value="language-select-3">
              <label class="govuk-label govuk-radios__label" for="language-select-3">
                हिन्दी - कृपया अपनी भाषा चुनें
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="language-select-4" name="language-select" type="radio" value="language-select-4">
              <label class="govuk-label govuk-radios__label" for="language-select-4">
                Русский - пожалуйста, выберите ваш язык
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="language-select-5" name="language-select" type="radio" value="language-select-5">
              <label class="govuk-label govuk-radios__label" for="language-select-5">
                Türkçe - lütfen dilinizi seçin
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="language-select-6" name="language-select" type="radio" value="language-select-6">
              <label class="govuk-label govuk-radios__label" for="language-select-6">
                ไทย - โปรด เลือกภาษาของคุณ
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="language-select-7" name="language-select" type="radio" value="language-select-7">
              <label class="govuk-label govuk-radios__label" for="language-select-7">
                العربية - الرجاء تحديد اللغة
              </label>
            </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="language-select-8" name="language-select" type="radio" value="language-select-8">
            <label class="govuk-label govuk-radios__label" for="language-select-8">
              اردو - آپ کی زبان کا انتخاب کریں
            </label>
          </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="language-select-9" name="language-select" type="radio" value="language-select-9">
          <label class="govuk-label govuk-radios__label" for="language-select-9">
            বাংলা - দয়া করে আপনার ভাষা নির্বাচন করুন
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="language-select-10" name="language-select" type="radio" value="language-select-10">
          <label class="govuk-label govuk-radios__label" for="language-select-10">
            Français - s'il vous plaît choisir votre langue
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="language-select-11" name="language-select" type="radio" value="language-select-11">
          <label class="govuk-label govuk-radios__label" for="language-select-11">
          silahkan pilih bahasa Anda - Indonesia
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="language-select-12" name="language-select" type="radio" value="language-select-12">
          <label class="govuk-label govuk-radios__label" for="language-select-12">
          日本 - 言語を選択してください
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="language-select-13" name="language-select" type="radio" value="language-select-13">
          <label class="govuk-label govuk-radios__label" for="language-select-13">
            한국어 - 언어를 선택하세요
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="language-select-14" name="language-select" type="radio" value="language-select-14">
          <label class="govuk-label govuk-radios__label" for="language-select-14">
            Português - Selecione seu idioma
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="language-select-15" name="language-select" type="radio" value="language-select-15">
          <label class="govuk-label govuk-radios__label" for="language-select-15">
            සිංහල - කරුණාකර ඔබගේ භාෂාව තෝරන්න
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="language-select-16" name="language-select" type="radio" value="language-select-16">
          <label class="govuk-label govuk-radios__label" for="language-select-16">
            Español - por favor seleccione su idioma
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="language-select-17" name="language-select" type="radio" value="language-select-17">
          <label class="govuk-label govuk-radios__label" for="language-select-17">
            Việt - vui lòng chọn ngôn ngữ của bạn
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="language-select-18" name="language-select" type="radio" value="language-select-18">
          <label class="govuk-label govuk-radios__label" for="language-select-18">
            ગુજરાતી - કૃપા કરીને તમારી ભાષા પસંદ કરો
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="language-select-19" name="language-select" type="radio" value="language-select-19">
          <label class="govuk-label govuk-radios__label" for="language-select-19">
            தமிழ் - உங்கள் மொழியை தேர்வு செய்யவும
          </label>
        </div>
      </div>
</div>

        </fieldset>
        <input class="govuk-button margin-top-30"
               type="submit"
               value="Save and continue"
               id="Button-CreateNewDocumentVersion"
               data-qa-id="Button-CreateNewEHCDocumentVersion">
        </form>
      </div>
</div>

</div>
{% endblock %}
