{% extends "layout.html" %}
{% block pageTitle %}
Export Health Certificate

{% endblock %}
{% block beforeContent%}
{{super()}}

<div class="govuk-phase-banner govuk-width-container" id="beta-banner">
  <p class="govuk-phase-banner__content"><strong
      class="govuk-tag govuk-phase-banner__content__tag ">
    beta
  </strong>
    <span class="govuk-phase-banner__text">
      This is a new service


    </span>
  </p>
</div>
<div class="govuk-width-container">
   <div class="login-nav login-border">
    <ul class="login-nav__list">
      <li class="login-nav__list-item" id="Nav-DisplayName"></li>
      <li class="login-nav__list-item"> | <a href="javascript:alert('Not in prototype!');" class="govuk-link login-nav__link govuk-link--no-visited-state profile" id="Link-ManageAccount" target="_blank">Manage account</a>|</li>
      <li class="login-nav__list-item"><a href="javascript:alert('Not in prototype!');" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
    </ul>
  </div>
  <div>
        <a class="govuk-back-link" id="link-back" href="">Back</a>
    </div>
  </div>
{% endblock %}
{% block content %}


    <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Cancellation reasons</h1>
                    <form method="post" action="declaration">
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-heading-m">
                          Why are you cancelling and replacing this certificate?
                        </h2>
                      </legend>
                      <div class="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                          <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                            Reason 1
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                          <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                          Reason 2
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                          <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                            Reason 3
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                          <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                            Other
                          </label>
                        </div>
                      </div>

                    </fieldset>
                  </div>

                  <div class="govuk-form-group">
  <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
      Can you provide more detail?
    </label>
  </h2>

  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>
<input type="hidden" name="applicationFormStatus" value=""/>
<input class="govuk-button" type="submit" value="Continue"
       id="Button-Continue" data-qa-id="Button-Continue"/>
       </form>
</div>
</div>
{% endblock %}
