{% extends "layout.html" %}
{% block pageTitle %}
Export Health Certificate

{% endblock %}
{% block beforeContent%}
{{super()}}

<div class="govuk-phase-banner govuk-width-container" id="beta-banner">
  <p class="govuk-phase-banner__content"><strong
      class="govuk-tag govuk-phase-banner__content__tag ">
    beta
  </strong>
    <span class="govuk-phase-banner__text">
      This is a new service


    </span>
  </p>
</div>
<div class="govuk-width-container">
   <div class="login-nav login-border">
    <ul class="login-nav__list">
      <li class="login-nav__list-item" id="Nav-DisplayName"></li>
      <li class="login-nav__list-item"> | <a href="javascript:alert('Not in prototype!');" class="govuk-link login-nav__link govuk-link--no-visited-state profile" id="Link-ManageAccount" target="_blank">Manage account</a>|</li>
      <li class="login-nav__list-item"><a href="javascript:alert('Not in prototype!');" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
    </ul>
  </div>
  <div>
        <a class="govuk-back-link" id="link-back" href="">Back</a>
    </div>
  </div>
{% endblock %}
{% block content %}


    <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <h1 class="govuk-heading-xl">
                              Request a replacement certificate
                            </h1>

                            <p class="govuk-body-l">Ask for a replacement certificate for a consignment that has been certified and left the UK</p>

                            <p class="govuk-body">You do not need to request a replacement certificate if the importing country allows
                              you to make handwritten changes.</p>

                            <p class="govuk-body">If you can make handwritten changes:</p>

                            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                              <li>make any changes you need to the certificate</li>
                              <li>stamp and initial those changes</li>
                            </ul>

                            <p class="govuk-body">Then, give it to the exporter along with:</p>

                            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                              <li>a letter on headed paper explaining why you made the change</li>
                              <li>any correspondence from the importing country</li>
                            </ul>

                            <p class="govuk-body">If you cannot make handwritten changes, request a replacement certificate.</p>

                            <form class="review-form" method="POST">
                              <input type="hidden" name="crumb_csrf_token" value="ccMVX1E_RnHV8mCEX98N_SOaG8X4_N-dzQ0PStSpFRz"/>
                              <div class="govuk-form-group ">
                                <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Can you request to replace this certificate?</h2>
                                <fieldset class="govuk-fieldset">
                                  <div class="govuk-radios govuk-radios--conditional" data-module="radios">

                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="proceedCancelAndReplace"
                                             name="cancelAndReplaceDecision" type="radio"
                                             value="proceedCancelAndReplace" data-aria-controls="et-text-outer-div"/>
                                      <label class="govuk-label govuk-radios__label" id="proceedCancelAndReplaceLabel"
                                             for="proceedCancelAndReplace">Yes, the certificate meets APHA’s criteria for replacement</label>
                                    </div>

                                  

                                    <div class="govuk-radios__item">
                                      <input class="govuk-radios__input" id="cancelCancelAndReplace"
                                             name="cancelAndReplaceDecision" type="radio"
                                             value="cancelCancelAndReplace"/>
                                      <label class="govuk-label govuk-radios__label" id="cancelCancelAndReplaceLabel"
                                             for="cancelCancelAndReplace">No</label>
                                    </div>
                                  </div>
                                </fieldset>
                              </div>

                              <input class="govuk-button"
                                     type="submit"
                                     name="continue"
                                     value="Continue"
                                     id="CancelAndReplace-Continue"
                                     data-qa-id="Button-cancelAndReplaceContinue"/>

                              <p class="govuk-body"><a class="govuk-link" href="index" id="cancelRequest">Cancel
                                request</a>
                              </p>
                            </form>
                          </div>

</div>
</div>
{% endblock %}
