{% extends "layout.html" %}
{% block pageTitle %}
Export Health Certificate

{% endblock %}
{% block beforeContent%}
{{super()}}

<div class="govuk-phase-banner govuk-width-container" id="beta-banner">
  <p class="govuk-phase-banner__content"><strong
      class="govuk-tag govuk-phase-banner__content__tag ">
    beta
  </strong>
    <span class="govuk-phase-banner__text">
      This is a new service


    </span>
  </p>
</div>
<div class="govuk-width-container">
   <div class="login-nav login-border">
    <ul class="login-nav__list">
      <li class="login-nav__list-item" id="Nav-DisplayName"></li>
      <li class="login-nav__list-item"> | <a href="javascript:alert('Not in prototype!');" class="govuk-link login-nav__link govuk-link--no-visited-state profile" id="Link-ManageAccount" target="_blank">Manage account</a>|</li>
      <li class="login-nav__list-item"><a href="javascript:alert('Not in prototype!');" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
    </ul>
  </div>
  <div>
        <a class="govuk-back-link" id="link-back" href="">Back</a>
    </div>
  </div>
{% endblock %}
{% block content %}


    <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">

                        <h1 class="govuk-heading-xl">
                          Review and update the answers for this certificate
                            </h1>
                          <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-7"><span class="govuk-!-font-weight-bold">Exporter's certificate reference:</span> PO123456</p>


                        <div class="govuk-tabs" data-module="govuk-tabs">
                          <h2 class="govuk-tabs__title">
                            Certifier Review
                          </h2>
                          <ul class="govuk-tabs__list" role="tablist">
                            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" role="presentation">
                              <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#past-day" id="tab_past-day" role="tab" aria-controls="past-day" tabindex="0" aria-selected="true">
                                Certificate information
                              </a>
                            </li>
                            <li class="govuk-tabs__list-item" role="presentation">
                              <a class="govuk-tabs__tab" href="#past-week" id="tab_past-week" role="tab" aria-controls="past-week" tabindex="-1" aria-selected="false">
                                APHA processing information
                              </a>
                            </li>
                          </ul>
                          <div class="govuk-tabs__panel" id="past-day" role="tabpanel" aria-labelledby="tab_past-day">
                            <h2 class="govuk-heading-l">Information for the export health certificate</h2>
                            <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
                              <div class="govuk-summary-list__row">
                                <h2 class="govuk-heading-m">What are the details of the consignment?</h2>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-0">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Description of the animals
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        Moggy
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-0-5-0"
                                           page-title="What are the details of the consignment?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-1">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Number of animals
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        1
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-1-5-1"
                                           page-title="What are the details of the consignment?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-2">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Number of boxes, cages or stalls the animals are transported in
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        1
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-2-5-2"
                                           page-title="What are the details of the consignment?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-3">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Intended use of animals
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        Pets
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-3-5-3"
                                           page-title="What are the details of the consignment?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                <h2 class="govuk-heading-m">What are the details of the animals?</h2>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-0">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Scientific species name
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        Felis catus
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-0-6-0"
                                           page-title="What are the details of the animals?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-1">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Identification system
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        Transponder (microchip)
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-1-6-1"
                                           page-title="What are the details of the animals?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-2">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Identification number of animal
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        123456
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-2-6-2"
                                           page-title="What are the details of the animals?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-3">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Date of birth
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        24/02/2020
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-3-6-3"
                                           page-title="What are the details of the animals?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                <h2 class="govuk-heading-m">Where will the animals be dispatched from?</h2>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-0">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Name of dispatch establishment
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        Cat Steven&#x27;s house
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-0-7-0"
                                           page-title="Where will the animals be dispatched from?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-1">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Address of dispatch establishment
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        Cat Mews, Purrville, Tabbyshire.
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-1-7-1"
                                           page-title="Where will the animals be dispatched from?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-2">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Approval number of dispatch establishment
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        GB1234
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-2-7-2"
                                           page-title="Where will the animals be dispatched from?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                <h2 class="govuk-heading-m">Who is the exporter?</h2>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-0">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Name of exporter
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        Cat Stevens
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-0-8-0"
                                           page-title="Who is the exporter?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-1">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Address of exporter
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        Cat Mews, Purrville, Tabbyshire.
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-1-8-1"
                                           page-title="Who is the exporter?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-2">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Country
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        GB
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-2-8-2"
                                           page-title="Who is the exporter?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-3">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Telephone number
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        01234 567890
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-3-8-3"
                                           page-title="Who is the exporter?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                <h2 class="govuk-heading-m">Where will the animals be loaded?</h2>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-0">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Place of loading
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        Cat Mews, Purrville, Tabbyshire.
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-0-9-0"
                                           page-title="Where will the animals be loaded?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                <h2 class="govuk-heading-m">How will the animal be transported?</h2>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-0">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Expected date of departure from the UK
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        28 Feb 2021
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-0-10-0"
                                           page-title="How will the animal be transported?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-1">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Means of transport to the Border Control Post
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        Ship, Road vehicle
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-1-10-1"
                                           page-title="How will the animal be transported?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-2">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Identification of the transport
                                      </dt>
                                      <dd class="govuk-summary-list__value">

                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-2-10-2"
                                           page-title="How will the animal be transported?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-3">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Documentary reference number for the transport
                                      </dt>
                                      <dd class="govuk-summary-list__value">

                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-3-10-3"
                                           page-title="How will the animal be transported?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-4">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Container and seal numbers
                                      </dt>
                                      <dd class="govuk-summary-list__value">

                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-4-10-4"
                                           page-title="How will the animal be transported?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                <h2 class="govuk-heading-m">What is the destination country of the animals?</h2>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-0">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Destination country in the EU
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        Switzerland
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-0-11-0"
                                           page-title="What is the destination country of the animals?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-1">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        ISO code of destination country
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        CH
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-1-11-1"
                                           page-title="What is the destination country of the animals?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                <h2 class="govuk-heading-m">Which Border Control Post (BCP) will the animals arrive at?</h2>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-0">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Name and identification code of the BCP
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        Calais
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-0-12-0"
                                           page-title="Which Border Control Post (BCP) will the animals arrive at?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                <h2 class="govuk-heading-m">Where are the animals being sent to?</h2>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-0">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Destination
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        Pussy Galore
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-0-13-0"
                                           page-title="Where are the animals being sent to?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-1">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Address of destination
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        The Chateau, Purrne, Switzerland
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-1-13-1"
                                           page-title="Where are the animals being sent to?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-2">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Approval number of destination
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        CH 1234
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-2-13-2"
                                           page-title="Where are the animals being sent to?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                <h2 class="govuk-heading-m">Who is the importer?</h2>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-0">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Name of importer
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        Pussy Galore
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-0-14-0"
                                           page-title="Who is the importer?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-1">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Address of importer
                                      </dt>
                                      <dd class="govuk-summary-list__value">
                                        The Chateau, Purrne, Switzerland
                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-1-14-1"
                                           page-title="Who is the importer?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-2">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Postcode
                                      </dt>
                                      <dd class="govuk-summary-list__value">

                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-2-14-2"
                                           page-title="Who is the importer?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                                  <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m" id="page-section-3">

                                    <div class="govuk-summary-list__row ">
                                      <dt class="govuk-summary-list__key ">
                                        Telephone number
                                      </dt>
                                      <dd class="govuk-summary-list__value">

                                      </dd>
                                      <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link change_answer_link" id="change-link-3-14-3"
                                           page-title="Who is the importer?"
                                           href="javascript:alert('Not in prototype!');"
                                           data-qa-id="Link-ChangeAnswer">Change</a>
                                      </dd>
                                    </div>
                                  </dl>
                              </div>
                            </dl>
                          </div>
                          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week" role="tabpanel" aria-labelledby="tab_past-week">
                            <h2 class="govuk-heading-l">Information needed by APHA</h2>
                            <dl class="govuk-summary-list govuk-!-margin-bottom-4 govuk-summary-list__m">
                                <div class="govuk-summary-list__row">
                                        <div class="govuk-summary-list__row">
                                          <dt class="govuk-summary-list__key">
                                            Your reference for this application
                                          </dt>
                                          <dd class="govuk-summary-list__value answer_cell">
                                            For Sophie
                                          </dd>
                                            <dd class="govuk-summary-list__actions">
                                              <a class="govuk-link change_answer_link" id="change-link-0--6-0"
                                                 href="javascript:alert('Not in prototype!');"
                                                 data-qa-id="Link-ChangeAnswer">Change</a>
                                            </dd>
                                        </div>
                                        <div class="govuk-summary-list__row">
                                          <dt class="govuk-summary-list__key">
                                            Point of entry into the European Economic Area
                                          </dt>
                                          <dd class="govuk-summary-list__value answer_cell">
                                            France
                                          </dd>
                                            <dd class="govuk-summary-list__actions">
                                              <a class="govuk-link change_answer_link" id="change-link-0--3-0"
                                                 href="javascript:alert('Not in prototype!');"
                                                 data-qa-id="Link-ChangeAnswer">Change</a>
                                            </dd>
                                        </div>
                                        <div class="govuk-summary-list__row">
                                          <dt class="govuk-summary-list__key">
                                            Destination country
                                          </dt>
                                          <dd class="govuk-summary-list__value answer_cell">
                                            Switzerland
                                          </dd>
                                            <dd class="govuk-summary-list__actions">
                                              <a class="govuk-link change_answer_link" id="change-link-1--3-1"
                                                 href="javascript:alert('Not in prototype!');"
                                                 data-qa-id="Link-ChangeAnswer">Change</a>
                                            </dd>
                                        </div>
                                        <div class="govuk-summary-list__row">
                                          <dt class="govuk-summary-list__key">
                                            Select the certifier practice to include with your application
                                          </dt>
                                          <dd class="govuk-summary-list__value answer_cell">
                                            User Research Certifier,Address1,Address2,Hyderabad,aa11aa
                                          </dd>
                                            <dd class="govuk-summary-list__actions">
                                            </dd>
                                        </div>
                                        <div class="govuk-summary-list__row">
                                          <dt class="govuk-summary-list__key">
                                            Certification region
                                          </dt>
                                          <dd class="govuk-summary-list__value answer_cell">
                                            England
                                          </dd>
                                            <dd class="govuk-summary-list__actions">
                                              <a class="govuk-link change_answer_link" id="change-link-0-1-0"
                                                 href="javascript:alert('Not in prototype!');"
                                                 data-qa-id="Link-ChangeAnswer">Change</a>
                                            </dd>
                                        </div>
                                        <div class="govuk-summary-list__row">
                                          <dt class="govuk-summary-list__key">
                                            Exporter name
                                          </dt>
                                          <dd class="govuk-summary-list__value answer_cell">
                                            Cat Stevens
                                          </dd>
                                            <dd class="govuk-summary-list__actions">
                                              <a class="govuk-link change_answer_link" id="change-link-0-2-0"
                                                 href="javascript:alert('Not in prototype!');"
                                                 data-qa-id="Link-ChangeAnswer">Change</a>
                                            </dd>
                                        </div>
                                        <div class="govuk-summary-list__row">
                                          <dt class="govuk-summary-list__key">
                                            Origin
                                          </dt>
                                          <dd class="govuk-summary-list__value answer_cell">
                                            Great Britain
                                          </dd>
                                            <dd class="govuk-summary-list__actions">
                                              <a class="govuk-link change_answer_link" id="change-link-0-3-0"
                                                 href="javascript:alert('Not in prototype!');"
                                                 data-qa-id="Link-ChangeAnswer">Change</a>
                                            </dd>
                                        </div>
                                        <div class="govuk-summary-list__row">
                                          <dt class="govuk-summary-list__key">
                                            Planned export date
                                          </dt>
                                          <dd class="govuk-summary-list__value answer_cell">
                                            30 Mar 2021
                                          </dd>
                                            <dd class="govuk-summary-list__actions">
                                              <a class="govuk-link change_answer_link" id="change-link-0-4-0"
                                                 href="javascript:alert('Not in prototype!');"
                                                 data-qa-id="Link-ChangeAnswer">Change</a>
                                            </dd>
                                        </div>
                                </div>
                            </dl>
                          </div>
                        </div>

                        <div class="govuk-warning-text">
                          <span class="icon icon-file-download"></span>
                          <span class="govuk-visually-hidden">File download</span>
                          <strong class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">
                            <a href="javascript:alert('Not in prototype!');" data-qa-id="Link-PreviewCertificate" class="govuk-link">Preview these answers in a specimen certificate [PDF]</a>
                            <br>(opens in a new tab)
                          </strong>
                        </div>



                        <div class="govuk-grid-row">
                          <div class="govuk-grid-column-full">
                            <div>
                              <form action="et135" method="POST">
                                <input type="hidden" name="certificate" value="7cc1b86c-4d7b-eb11-9889-000d3ab0ac37">
                                <input type="hidden" name="crumb_csrf_token" value="ccMVX1E_RnHV8mCEX98N_SOaG8X4_N-dzQ0PStSpFRz"/>
                                <input type="hidden" name="applicationFormStatus" value=""/>
                                <input class="govuk-button" type="submit" value="Accept and submit"
                                       id="Button-Continue" data-qa-id="Button-Continue"/>
                                <p class="govuk-body"> <a id="cancel-from-cancel" class="govuk-link" href="index">Do not replace this certificate</a></p>
                              </form>
                            </div>
                          </div>
                        </div>

</div>
</div>
{% endblock %}
