{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% if query.show_alert %}
    <span>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <div id="infoMessage" class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                  <span id="infoMessageText" class="govuk-warning-text__assistive">Information</span>
                  Health certificate X005-2849EHC updated.
                </strong>
              </div>
            </div>
          </div>
        </span>
        {% endif %}
        <span class="govuk-caption-xl">Create a new health certificate</span>
        <h1 class="govuk-heading-xl heading-with-help">Certificate settings</h1>

    <form class="case-update" action="../index?show_alert=yes" method="POST">
      <input type="hidden" name="crumb_csrf_token" value="tHqzFHlMR8fdGv61rRffxpboiFBlQTXyVy5J6026StE">

      <div class="govuk-form-group margin-top-30 ">
        <fieldset id="multipleBlocks" class="govuk-fieldset">
          <legend class="govuk-fieldset__legend" for="counterSignatureFieldSet">
            <label class="govuk-label">What type of EHC application is this?</label>
          </legend>
          <div class="govuk-radios govuk-radios--conditional">
            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="multipleBlocksSingle" value="SINGLE_APPLICATION" name="multipleBlocks">
              <label class="govuk-label govuk-radios__label" for="multipleBlocksSingle" id="multipleBlocksSingleLabel">Single application</label>
            </div>

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="multipleBlocksMultiple" value="MULTIPLE_APPLICATION" name="multipleBlocks" data-qa-id="Question-radio-No" checked="">
              <label class="govuk-label govuk-radios__label" for="multipleBlocksMultiple" id="multipleBlocksMultipleLabel">Multiple application</label>
            </div>

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="multipleBlocksBlock" value="BLOCK_APPLICATON" name="multipleBlocks" data-qa-id="Question-radio-No">
              <label class="govuk-label govuk-radios__label" for="multipleBlocksBlock" id="multipleBlocksBlockLabel">Block application</label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group margin-top-30 ">
        <label class="govuk-label" for="maxEhc">What’s the maximum number of certificates they can apply for?</label>
        <span class="govuk-hint">This is the number of EHC that the exporter/agent is allowed to apply for with the EXA selected</span>
        <input class="govuk-input govuk-input--width-5 " id="maxEhc" name="maxEhc" data-qa-id="Input-maxEhc" value="10">
      </div>

      <div class="govuk-form-group margin-top-30 ">
        <fieldset id="counterSignatureFieldSet" class="govuk-fieldset">
          <legend class="govuk-fieldset__legend" for="counterSignatureFieldSet">
            <label class="govuk-label">Does it need a pre-certificate?</label>
          </legend>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preCertAllowedYes" value="YES" name="preCertAllowed" data-qa-id="preCertAllowed-radio-Yes">
              <label class="govuk-label govuk-radios__label" for="preCertAllowedYes" id="preCertAllowedYesLabel">Yes</label>
            </div>

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preCertAllowedNo" value="NO" name="preCertAllowed" data-qa-id="preCertAllowed-radio-No" checked="">
              <label class="govuk-label govuk-radios__label" for="preCertAllowedNo" id="preCertAllowedNoLabel">No</label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group margin-top-30 ">
        <fieldset id="preCheckFieldSet" class="govuk-fieldset">
          <legend class="govuk-fieldset__legend" for="preCheckFieldSet">
            <label class="govuk-label">Does it need a certifier pre-check?</label>
          </legend>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preCheckAllowedYes" value="YES" name="preCheck" data-qa-id="preCheck-radio-Yes">
              <label class="govuk-label govuk-radios__label" for="preCheckAllowedYes" id="preCheckAllowedYesLabel">Yes</label>
            </div>

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preCheckAllowedNo" value="NO" name="preCheck" data-qa-id="preCheckAllowed-radio-No" checked="">
              <label class="govuk-label govuk-radios__label" for="preCheckAllowedNo" id="preCheckAllowedNoLabel">No</label>
            </div>
          </div>
        </fieldset>
      </div>

      <fieldset id="additonalChecksFieldSet" class="govuk-fieldset">
        <legend class="govuk-fieldset__legend" for="counterSignatureFieldSet">
          <label class="govuk-label">Does it need additional checks?</label>
        </legend>
        <div class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="additonalChecks_diseaseClearanceRequired" name="additonalChecks_diseaseClearanceRequired" type="checkbox" value="diseaseClearanceRequired" checked="">
            <label class="govuk-label govuk-checkboxes__label" for="additonalChecks_diseaseClearanceRequired" id="additonalChecks_label_diseaseClearanceRequired">Disease Clearance</label>
          </div>


          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="additonalChecks_journeyLog" name="additonalChecks_journeyLog" type="checkbox" value="journeyLog">
            <label class="govuk-label govuk-checkboxes__label" for="additonalChecks_journeyLog" id="additonalChecks_label_journeyLog">Journey Log</label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="additonalChecks_approvals" name="additonalChecks_approvals" type="checkbox" value="approvals">
            <label class="govuk-label govuk-checkboxes__label" for="additonalChecks_approvals" id="additonalChecks_label_approvals">Approvals</label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="additonalChecks_others" name="additonalChecks_others" type="checkbox" value="others">
            <label class="govuk-label govuk-checkboxes__label" for="additonalChecks_others" id="additonalChecks_label_others">Others</label>
          </div>
        </div>
      </fieldset>

      <div class="govuk-form-group margin-top-30 ">
        <fieldset id="vetSignatureFieldSet" class="govuk-fieldset">
          <legend class="govuk-fieldset__legend" for="vetSignatureFieldSet">
            <label class="govuk-label">Does a veterinary officer need to sign it?</label>
          </legend>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="vetSignatureYes" value="YES" name="vetSignature" data-qa-id="Question-radio-Yes">
              <label class="govuk-label govuk-radios__label" for="vetSignatureYes" id="vetSignatureYesLabel">Yes</label>
            </div>

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="vetSignatureNo" value="NO" name="vetSignature" data-qa-id="Question-radio-No" checked="">
              <label class="govuk-label govuk-radios__label" for="vetSignatureNo" id="vetSignatureNoLabel">No</label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group margin-top-30 ">
        <fieldset id="preCertAllowedFieldSet" class="govuk-fieldset">
          <legend class="govuk-fieldset__legend" for="preCeretAllowedFieldSet">
            <label class="govuk-label">Does a veterinary officer need to countersign it?</label>
          </legend>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="counterSignatureYes" value="YES" name="counterSignature" data-qa-id="Question-radio-Yes">
              <label class="govuk-label govuk-radios__label" for="counterSignatureYes" id="counterSignatureYesLabel">Yes</label>
            </div>

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="counterSignatureNo" value="NO" name="counterSignature" data-qa-id="Question-radio-No" checked="">
              <label class="govuk-label govuk-radios__label" for="counterSignatureNo" id="counterSignatureNoLabel">No</label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group margin-top-30 ">
        <fieldset id="papertTypeFieldSet" class="govuk-fieldset">
          <legend class="govuk-fieldset__legend" for="paperTypeFieldSet">
            <label class="govuk-label">What paper should it be printed on?</label>
          </legend>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="paperTypeCROWN_VELLUM" value="CROWN_VELLUM" name="paperType" data-qa-id="paperType-radio-CROWN_VELLUM" checked="">
              <label class="govuk-label govuk-radios__label" for="paperTypeCROWN_VELLUM" id="paperTypeCROWN_VELLUMLabel">Crown vellum watermarked paper</label>
            </div>

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="paperTypePLAIN_PAPER" value="PLAIN_PAPER" name="paperType" data-qa-id="paperType-radio-PLAIN_PAPER">
              <label class="govuk-label govuk-radios__label" for="paperTypePLAIN_PAPER" id="paperTypePLAIN_PAPERLabel">Plain paper ( if plain paper sent to certifier via email )</label>
            </div>
          </div>
        </fieldset>
      </div>

      <input class="form-control" id="actionType" type="hidden" name="actionType" value="save">
      <input type="hidden" value="2849EHC" name="ehcNumber">
      <input type="hidden" value="Permanent export of horses from the United Kingdom to the United Arab Emirates" name="ehcTitle">
      <input type="hidden" value="AE" name="destinationCountry">
      <input type="hidden" value="1e115957-7b2f-e911-a969-000d3a29ba60" name="commodityGroupGUID">

      <input type="hidden" value="%5B%7B%22typeId%22%3A%22befa3a40-902f-e911-a96d-000d3a2cbd60%22%2C%22commodityNameIds%22%3A%5B%5D%7D%5D" name="commodityTypes">

      <input type="hidden" value="EXA04 - Equine" name="exaTitle">
      <input type="hidden" value="exa04 - equine" name="exaNumber">

      <input class="govuk-button" type="submit" value="Save and create a new version" data-qa-id="Button-Save-Create-New-Version" id="Button-Save-Create-New-Version" name="save_create_new_version">

      <input class="margin-left-30 govuk-button grey-button" type="submit" value="Save" data-qa-id="Button-SaveCertificate" id="Button-SaveCertificate">
    </form>
  </div>
</div>
{% endblock %}
