{% extends "layout.html" %}

{% block pageTitle %}
EHC Certification Portal
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row margin-top-15">
  <div class="column-full">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        What is the 12 digit number?
      </h1>

      <div class="govuk-inset-text">
        If your certificate does not have these 12 digits, you cannot use this service.
      </div>
      <!-- WARNING: DO NOT COPY AND PASTE: img height set in prototype only -->
      <img src="/public/images/certificate-reference-no-qr.jpg"
           class="govuk-!-margin-bottom-6 image-noflow"
           height ="400px"
           alt="Diagram showing location of the 12 digit number on the Export Health Certificate below the QR code">

      <form class="review-form" method="POST">
        <input type="hidden" name="crumb_csrf_token" value="Du0GVciCatdUpGELaDAusOcysKPm6u8JsVAQEW7jjMC"/>

          <div class="govuk-form-group ">
            <label class="govuk-label govuk-!-font-weight-bold" for="reference-number">
              Enter the 12 digit number
            </label>
            <div id="reference-number-hint" class="govuk-hint">
              The 12 digit number is on the top right corner of the EHC. For example, 2123-4567-8905
            </div>
            <input class="govuk-input " id="reference-number" name="referenceNumber" type="text" value="" aria-describedby="reference-number-hint reference-number-error">
          </div>

        <input class="govuk-button"
               type="submit"
               id="submit-reference-number"
               value="Continue"
               data-qa-id="submit-reference-number" />
      </form>
    </div>
  </div>
</div>


{% endblock %}