{% extends "layout.html" %}
{% block pageTitle %}
EHC 8270- What are the commodity details?
{% endblock %}
{% block beforeContent %}
<style media="screen">

</style>
{% include "includes/beta-banner.html" %}
<div class="login-nav login-border">
  <ul class="login-nav__list">
    <li class="login-nav__list-item" id="Nav-DisplayName"></li>
    <li class="login-nav__list-item"> | <a href="/account-management"
        class="govuk-link login-nav__link govuk-link--no-visited-state profile" id="Link-ManageAccount"
        target="_blank">Manage account</a>|</li>
    <li class="login-nav__list-item"><a href="/sign-out" class="govuk-link login-nav__link govuk-link--no-visited-state"
        id="Link-SignOut">Sign out</a></li>
  </ul>
</div>

{% include "includes/back-link.html" %}
{% endblock %}


{% block content %}
<div class="govuk-grid-row margin-top-15">
  <div class="column-full">
    <div class="govuk-grid-column-two-thirds">

      <form class="review-form" method="POST">
        <input type="hidden" name="crumb_csrf_token" value="Du0GVciCatdUpGELaDAusOcysKPm6u8JsVAQEW7jjMC"/>

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              What is the 12 digit number?
            </h1>
          </legend>
          <div class="govuk-inset-text">
            If your certificate does not have these 12 digits, you cannot use this service.
          </div>
          <img src="/public/images/certificate-reference-no-qr.jpg"
               class="govuk-!-margin-bottom-6 image-noflow"
               height ="400px"
               alt="Diagram showing location of the 12 digit number on the Export Health Certificate below the QR code">

          <div class="govuk-form-group ">
            <label class="govuk-label govuk-!-font-weight-bold" for="reference-number">
              Enter the 12 digit number
            </label>
            <div id="reference-number-hint" class="govuk-hint">
              The 12 digit number is on the top right corner of the EHC. For example, 2123-4567-8905
            </div>
            <input class="govuk-input " id="reference-number" name="referenceNumber" type="text" value="" aria-describedby="reference-number-hint reference-number-error">
          </div>
        </fieldset>
        <input class="govuk-button"
               type="submit"
               id="submit-reference-number"
               value="Continue"
               data-qa-id="submit-reference-number" />
      </form>
    </div>
  </div>
</div>


{% endblock %}