
{% extends "layout.html" %}

{% block beforeContent %}
{% include './includes/_phase-banner--beta.html' %}

<div class="login-nav login-border">
	<ul class="login-nav__list">
		<li class="login-nav__list-item" id="Nav-DisplayName"></li>
		<li class="login-nav__list-item"> | <a href="/account-management" class="govuk-link login-nav__link govuk-link--no-visited-state profile" id="Link-ManageAccount" target="_blank">Manage account</a>|</li>
		<li class="login-nav__list-item"><a href="/sign-out" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
	</ul>
</div>

{{ govukBackLink({
	"text": "Back",
	"href": "javascript: window.history.go(-1)"
})}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<input type="hidden" name="crumb_csrf_token" value="1MacVT92L-_mFTcSTm_dDF7SJGbIcYJdPkovM-Ne_Wz">
			<input type="hidden" name="pin" value="">
			<input type="hidden" name="token" value="">
			<input type="hidden" name="exaNumber" value="">
			<input type="hidden" name="exaVersion" value="">
			<input type="hidden" name="ehcVersion" value="">
			<div class="govuk-form-group" id="blockCheck-form">
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
						<h1 class="govuk-fieldset__heading">
							Do you need a block of certificates?
						</h1>
					</legend>
					<p class="govuk-body" id="info-message">You can apply for up to 100 certificates for similar exports to the same country or importer.
					</p>
					<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="is_block_application_yes" name="is_block_application" type="radio" value="yes" data-aria-controls="conditional-certificates">
							<label class="govuk-label govuk-radios__label" for="is_block_application_yes" id="block-check-yes">
								Yes
							</label>
						</div>
						<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-certificates">
							<div class="govuk-date-input__item">
								<div class="govuk-form-group">
									<p class="govuk-hint"> You'll be able to leave any questions about a specific consignment blank. Your certifier will fill them in for each export.
									</p>
									<div class="govuk-date-input__item">
										<div class="govuk-form-group">
											<label class="govuk-label govuk-date-input__label" for="certificate_request_amount">
												Number of certificates
											</label>
											<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="certificate_request_amount" name="certificate_request_amount" type="number" pattern="[0-9]*">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="is_block_application_no" name="is_block_application" type="radio" value="no">
							<label class="govuk-label govuk-radios__label" for="is_block_application_no" id="block-check-no">
								No
							</label>
						</div>
					</div>
				</fieldset>
			</div>
			<button class="govuk-button" data-module="govuk-button" id="Button-SaveAndContinue">
				Continue
			</button>
		</form>
	</div>
</div>
{% endblock %}