
{% extends "layout.html" %}

{% block beforeContent %}
{% include './includes/_phase-banner--beta.html' %}

<div class="login-nav login-border">
	<ul class="login-nav__list">
		<li class="login-nav__list-item" id="Nav-DisplayName"></li>
		<li class="login-nav__list-item"> | <a href="/account-management" class="govuk-link login-nav__link govuk-link--no-visited-state profile" id="Link-ManageAccount" target="_blank">Manage account</a>|</li>
		<li class="login-nav__list-item"><a href="/sign-out" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
	</ul>
</div>

{{ govukBackLink({
	"text": "Back",
	"href": "javascript: window.history.go(-1)"
})}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Which certificate do you want to apply for?</h1>
        <div class="margin-top-30">
          <p class="govuk-body" lang="en">
            You can apply for:
          </p>
        </div>
        <form method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="certificate-8270EHC" name="certificate" type="radio" value="/forms/8270EHC">
                  <label class="govuk-label govuk-radios__label" for="certificate-8270EHC">
                    <strong>8270EHC </strong>
                    <span class="govuk-hint govuk-!-margin-bottom-0">Fishery products to EU</span>
                  </label>
                </div>


                <div class="govuk-radios__divider">or</div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="certificate-different" name="certificate" type="radio" value="a_different_certifcate" aria-controls="conditional-certificates" aria-expanded="false">
                  <label class="govuk-label govuk-radios__label" for="certificate-different">
                    a different certificate
                  </label>
                </div>
                <div class="govuk-radios__conditional" id="conditional-certificates">
                  <p class="govuk-body">You will be taken to form finder. Some certificates are not currently available to apply for online</p>
                </div>
              </div>
            </fieldset>
          </div>
          
          {{govukButton({
            text: "Continue"
          })}}
        </form>
      </div>
</div>
{% endblock %}