
{% extends "layout.html" %}

{% block beforeContent %}
{% include './includes/_phase-banner--beta.html' %}

<div class="login-nav login-border">
	<ul class="login-nav__list">
		<li class="login-nav__list-item" id="Nav-DisplayName"></li>
		<li class="login-nav__list-item"> | <a href="/account-management" class="govuk-link login-nav__link govuk-link--no-visited-state profile" id="Link-ManageAccount" target="_blank">Manage account</a>|</li>
		<li class="login-nav__list-item"><a href="/sign-out" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
	</ul>
</div>

{{ govukBackLink({
	"text": "Back",
	"href": "javascript: window.history.go(-1)"
})}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

   
    <h1 id="questionPageHeading" class="govuk-heading-xl margin-bottom-20">What is the destination third country?</h1>
    <span id="questionPageSubtitle" class="govuk-caption-xl"></span>
    <div id="questionPageHint" class="govuk-body govuk-!-margin-bottom-3 govuk-hint">If your consignment is destined for a third country, complete this page and the next two pages.  If the consignment is destined for the EU, leave this page and the next two pages blank.</div>

    <form action="/protected/form/8270EHC/application/1651965957431/page/20" method="POST" enctype="application/x-www-form-urlencoded">
      <input type="hidden" name="crumb_csrf_token" value="Jg1OK7isyiu8Ce6ueA4wUP3Gn_MRl31zwV60KkKkjmv">
      <input type="hidden" name="certificate" value="">
      <input type="hidden" name="formPageId" value="">

      <input type="hidden" name="ehcNumber" value="8270EHC">

      <!-- @formatter:off -->
      <div class="govuk-form-group ">
        <label class="govuk-label govuk-!-font-weight-bold" for="8270EHC-0">Third country of destination</label>
        <div class="govuk-hint">For example, China, Belarus, Turkey</div>
        <input class="govuk-input govuk-input--width- form-control-3-4" id="8270EHC-0" name="0" value="" type="text" autofocus="autofocus" data-qa-id="Question-8270EHC-0">
      </div><input type="hidden" name="0-formQuestionId" value="35925">
      <input type="hidden" name="0-questionId" value="725">
      <input type="hidden" name="0-formName" value="8270EHC">
      <input type="hidden" name="0-questionText" value="Third country of destination">
      <input type="hidden" name="0-questionType" value="text">
      <input type="hidden" name="0-questionOrder" value="1">
      <input type="hidden" name="0-questionScope" value="BOTH">
      <input type="hidden" name="questionSequence-35925" value="0"><div class="govuk-form-group ">
        <label class="govuk-label govuk-!-font-weight-bold" for="8270EHC-1">ISO code of third country</label>
        <div class="govuk-hint">This is the 2 digit code according to the ISO 3166 standard. For example, CN, BY, TY</div>
        <input class="govuk-input govuk-input--width- form-control-3-4" id="8270EHC-1" name="1" value="" type="text" data-qa-id="Question-8270EHC-1">
      </div><input type="hidden" name="1-formQuestionId" value="35926">
      <input type="hidden" name="1-questionId" value="726">
      <input type="hidden" name="1-formName" value="8270EHC">
      <input type="hidden" name="1-questionText" value="ISO code of third country">
      <input type="hidden" name="1-questionType" value="text">
      <input type="hidden" name="1-questionOrder" value="2">
      <input type="hidden" name="1-questionScope" value="BOTH">
      <input type="hidden" name="questionSequence-35926" value="1"><!-- @formatter:on -->
      <div id="skip-question-box" class="govuk-form-group defra-callout ">
        <h3 class="govuk-heading-m">You do not have to answer every question</h3>
        <input type="hidden" id="skipQuestionText" value="I've answered as many questions as I can on this page">
        <input type="hidden" id="allQuestionsAnswered" value="false">
        <p class="govuk-body">
          You can skip questions if you do not have the information right now. You can fill in any blanks before you submit, or leave them for your certifier to fill in.
        </p>
        <div id="skip_question_answers" class="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="skip_answers" name="skip_answers" type="checkbox">
            <label class="govuk-label govuk-checkboxes__label" for="skip_answers">
              I've answered as many questions as I can on this page
            </label>
          </div>
        </div>
      </div>

      <input type="hidden" id="numQuestionsOnPage" name="numQuestionsOnPage" value="2">
      <div class="govuk-grid-row margin-top-30"></div>
      <div class="govuk-grid-column-one-half govuk-!-margin-left-0 govuk-!-padding-0">
        <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" aria-label="save and continue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-body">
            <a href="task-list">Save and return to application</a>
          </div>
        </div>


      </div>
    </form>

    
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript" src="/public/javascripts/autocomplete.js"></script>
<script>
  simpleAccessibleAutocomplete ('event-type', {
    defaultValue: '',
    autoselect: false,
    showAllValues: true
  })
</script>
{% endblock %}