
{% extends "layout.html" %}

{% block beforeContent %}
{% include './includes/_phase-banner--beta.html' %}

<div class="login-nav login-border">
	<ul class="login-nav__list">
		<li class="login-nav__list-item" id="Nav-DisplayName"></li>
		<li class="login-nav__list-item"> | <a href="/account-management" class="govuk-link login-nav__link govuk-link--no-visited-state profile" id="Link-ManageAccount" target="_blank">Manage account</a>|</li>
		<li class="login-nav__list-item"><a href="/sign-out" class="govuk-link login-nav__link govuk-link--no-visited-state" id="Link-SignOut">Sign out</a></li>
	</ul>
</div>

{{ govukBackLink({
	"text": "Return to your applications",
	"href": "your-applications"
})}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-3" id="main-heading">
			Apply for 8270EHC
		</h1>
		<span class="govuk-caption-l govuk-!-margin-bottom-8" id="ehc-title">Fishery products to EU</span>
		
		<ol class="app-task-list">
			<li>
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">1. </span> About your application
				</h2>
				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section1-0-task-name">
							<a class="govuk-link" aria-describedby="section1-0-status" href="what-are-you-exporting" id="section1-0-link">
								Confirm your commodity
							</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section1-0-status">NOT STARTED</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section1-1-task-name">
							<a class="govuk-link" aria-describedby="section1-1-status" href="reference" id="section1-1-link">
								Create a reference number
							</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section1-1-status">NOT STARTED</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section1-2-task-name">
							<a class="govuk-link" aria-describedby="section1-2-status" href="destination" id="section1-2-link">
								Export destination
							</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section1-2-status">NOT STARTED</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section1-3-task-name">
							<a class="govuk-link" aria-describedby="section1-3-status" href="about-your-certifier" id="section1-3-link">
								About your certifier
							</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section1-3-status">NOT STARTED</strong>
					</li>
				</ul>
			</li>
			
			<li>
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">2. </span> Information needed by APHA
				</h2>
				<p class="govuk-body govuk-!-margin-left-6">APHA uses this information to control the spread of disease. This information does not appear on the EHC</p>
				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section2-0-task-name">
							<a class="govuk-link" aria-describedby="section2-0-status" href="certification-region" id="section2-0-link">Where will certification take place?</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section2-0-status">NOT STARTED</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section2-1-task-name">
							<a class="govuk-link" aria-describedby="section2-1-status" href="/protected/form/8270EHC/application/1651965957428/page/6" id="section2-1-link">Who is exporting the product?</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section2-1-status">NOT STARTED</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section2-2-task-name">
							<a class="govuk-link" aria-describedby="section2-2-status" href="/protected/form/8270EHC/application/1651965957428/page/7" id="section2-2-link">What is the origin of the product?</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section2-2-status">NOT STARTED</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section2-3-task-name">
							<a class="govuk-link" aria-describedby="section2-3-status" href="/protected/form/8270EHC/application/1651965957428/page/8" id="section2-3-link">What is the planned date of export? </a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section2-3-status">NOT STARTED</strong>
					</li>
				</ul>
			</li>

			<li>
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">3. </span> Information for the export health certificate
				</h2>
				<p class="govuk-body govuk-!-margin-left-6" id="certificate-section">
					This information will appear on the certificate.
				</p>
				<ul class="app-task-list__items" id="section-3-items">
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section3-0-task-name">
							<a class="govuk-link" aria-describedby="section3-0-status" href="/protected/form/8270EHC/application/1651965957428/page/9" id="section3-0-link">
								What are the commodity details?
							</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section3-0-status">NOT STARTED</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section3-1-task-name">
							<a class="govuk-link" aria-describedby="section3-1-status" href="/protected/form/8270EHC/application/1651965957428/page/10" id="section3-1-link">
								What is the intended use of the product?
							</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section3-1-status">NOT STARTED</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section3-2-task-name">
							<a class="govuk-link" aria-describedby="section3-2-status" href="/protected/form/8270EHC/application/1651965957428/page/11/review" id="section3-2-link">
								What are the details of the product?
							</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section3-2-status">NOT STARTED</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section3-3-task-name">
							<a class="govuk-link" aria-describedby="section3-3-status" href="/protected/form/8270EHC/application/1651965957428/page/12" id="section3-3-link">
								What is the place of origin of the consignment?
							</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section3-3-status">NOT STARTED</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section3-4-task-name">
							<a class="govuk-link" aria-describedby="section3-4-status" href="/protected/form/8270EHC/application/1651965957428/page/13" id="section3-4-link">
								Who is the exporter?
							</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section3-4-status">NOT STARTED</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section3-5-task-name">
							<a class="govuk-link" aria-describedby="section3-5-status" href="/protected/form/8270EHC/application/1651965957428/page/14" id="section3-5-link">
								Will the product be packaged for the final consumer? 
							</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section3-5-status">NOT STARTED</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section3-6-task-name">
							<a class="govuk-link" aria-describedby="section3-6-status" href="/protected/form/8270EHC/application/1651965957428/page/15" id="section3-6-link">
								Where will the consignment be loaded?
							</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section3-6-status">NOT STARTED</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section3-7-task-name">
							<a class="govuk-link" aria-describedby="section3-7-status" href="/protected/form/8270EHC/application/1651965957428/page/16" id="section3-7-link">
								How will the consignment be transported?
							</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section3-7-status">NOT STARTED</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section3-8-task-name">
							<a class="govuk-link" aria-describedby="section3-8-status" href="/protected/form/8270EHC/application/1651965957428/page/17" id="section3-8-link">
								Is the destination of your consignment the EU or a third country?
							</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section3-8-status">NOT STARTED</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section3-9-task-name">
							<a class="govuk-link" aria-describedby="section3-9-status" href="/protected/form/8270EHC/application/1651965957428/page/18" id="section3-9-link">
								What is the final destination in the EU of this consignment?
							</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section3-9-status">NOT STARTED</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section3-10-task-name">
							<a class="govuk-link" aria-describedby="section3-10-status" href="/protected/form/8270EHC/application/1651965957428/page/19" id="section3-10-link">
								Which border control post (BCP) will the consignment arrive at?
							</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section3-10-status">NOT STARTED</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section3-11-task-name">
							<a class="govuk-link" aria-describedby="section3-11-status" href="/protected/form/8270EHC/application/1651965957428/page/20" id="section3-11-link">
								What is the destination third country?
							</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section3-11-status">NOT STARTED</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section3-12-task-name">
							<a class="govuk-link" aria-describedby="section3-12-status" href="/protected/form/8270EHC/application/1651965957428/page/21" id="section3-12-link">
								For consignments transiting EU countries, who is responsible for the consignment when in the EU?
							</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section3-12-status">NOT STARTED</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section3-13-task-name">
							<a class="govuk-link" aria-describedby="section3-13-status" href="/protected/form/8270EHC/application/1651965957428/page/22" id="section3-13-link">
								Where will the consignment be stored during transit?
							</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section3-13-status">NOT STARTED</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section3-14-task-name">
							<a class="govuk-link" aria-describedby="section3-14-status" href="/protected/form/8270EHC/application/1651965957428/page/23" id="section3-14-link">
								Who is the importer?
							</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed not-started" id="section3-14-status">NOT STARTED</strong>
					</li>
				</ul>
			</li>

			<li>
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">4. </span> Additional documents (optional)
				</h2>
				<p class="govuk-body govuk-!-margin-left-6">Upload packing lists, schedules and other supporting documents to attach to your application</p>
				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section4-0-task-name">
							<a class="govuk-link" aria-describedby="section4-0-status" href="/protected/form/8270EHC/application/1651965957428/supplementary-documents" id="section4-0-link">Supporting documents</a>
						</span>
						<strong class="govuk-tag app-task-list__task-completed" id="section4-0-status">NONE ADDED</strong>
					</li>
				</ul>
			</li>

			<li>
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">5. </span> Check and submit your application
				</h2>
				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<span class="app-task-list__task-name" id="section5-0-task-name">
							Check your answers and submit your application
						</span>
					</li>
				</ul>
			</li>
		</ol>
	</div>
</div>
{% endblock %}