{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>

<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 id="questionPageHeading" class="govuk-heading-xl">About this commodity type: Animal products including food
        </h1>


        <form {% if query.change=="yes" %} action="check-your-answers" {% else %} action="check-your-progress" {% endif %} method="POST">


          <input type="hidden" name="crumb_csrf_token" value="gTlLBKyL-1hcIX_eIlqttNqVHhFrTHmuqTG5yTJsotb">

          <!-- @formatter:off -->
          <div class="govuk-form-group " id="checkboxes" data-qa-id="7006EHC-0">
            <label class="govuk-label" for="7006EHC-0">Where are the farms of origin for this commodity?</label>
            <div class="govuk-hint">Where were the animals reared?</div>

            <div class="govuk-checkboxes__item">
              <input {% if data.origin and "great_britain" in data.origin %}checked="checked" {% endif %} class="govuk-checkboxes__input" id="7006EHC-0_1" name="origin" type="checkbox" data-qa-id="7006EHC-0_1" value="Great Britain">
              <label class="govuk-label govuk-checkboxes__label" for="7006EHC-0_1">
                Great Britain
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input {% if data.origin and "Northern Ireland" in data.origin %}checked="checked" {% endif %} class="govuk-checkboxes__input" id="7006EHC-0_2" name="origin" type="checkbox" data-qa-id="7006EHC-0_2" value="Northern Ireland">
              <label class="govuk-label govuk-checkboxes__label" for="7006EHC-0_2">
                Northern Ireland
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input {% if data.origin and "Outside the UK" in data.origin %}checked="checked" {% endif %} class="govuk-checkboxes__input" id="7006EHC-0_3" name="origin" type="checkbox" data-qa-id="7006EHC-0_3" value="Outside the UK">
              <label class="govuk-label govuk-checkboxes__label" for="7006EHC-0_3">
                Outside the UK
              </label>
            </div>
          </div>



      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h2 class="govuk-heading-m margin-top-45 govuk-\!-margin-bottom-1">
          About the processing of your commodity
        </h2>
      </legend>



      <div class="govuk-form-group ">
        <label class="govuk-label govuk-\!-margin-bottom-8" for="7006EHC-2" style="margin-bottom: 20px">When were the animals slaughtered?</label>








        <div class="govuk-form-group" value="{{ data['when-slaughtered'] }}">
          <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">



            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
              From date
            </label>

            <span id="passport-issued-hint" class="govuk-hint">
              For example, 27 3 2007
            </span>


            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input {% if data.processing_day %}value="{{data.processing_day}}" {% endif %} class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="processing_day" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input {% if data.processing_month %}value="{{data.processing_month}}" {% endif %} class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="processing_month" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input {% if data.processing_year %}value="{{data.processing_year}}" {% endif %} class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="processing_year" type="number" pattern="[0-9]*">
                </div>
              </div>
            </div>
          </fieldset>
        </div>


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">




            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
              To date
            </label>

            <span id="passport-issued-hint" class="govuk-hint">
              For example, 27 4 2007
            </span>


            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input {% if data.processing_day2 %}value="{{data.processing_day2}}" {% endif %} class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="processing_day2" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input {% if data.processing_month2 %}value="{{data.processing_month2}}" {% endif %} class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="processing_month2" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input {% if data.processing_year2 %}value="{{data.processing_year2}}" {% endif %} class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="processing_year2" type="number" pattern="[0-9]*">
                </div>
              </div>
            </div>
          </fieldset>
        </div>


      </div>

      <div class="govuk-form-group " id="checkboxes" data-qa-id="7006EHC-3">
        <label class="govuk-label" for="7006EHC-3">Where were the animals slaughtered?</label>
        <div class="govuk-hint">Select all that apply</div>
        <div class="govuk-checkboxes__item">
          <input {% if data.where_slaughtered and "Great Britain" in data.where_slaughtered %}checked{% endif %} class="govuk-checkboxes__input" id="7006EHC-3_1" name="where_slaughtered" type="checkbox" data-qa-id="7006EHC-3_1" value="Great Britain" >
          <label class="govuk-label govuk-checkboxes__label" for="7006EHC-3_1">
            Great Britain
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input {% if data.where_slaughtered and "Northern Ireland" in data.where_slaughtered %}checked{% endif %} class="govuk-checkboxes__input" id="7006EHC-3_2" name="where_slaughtered" type="checkbox" data-qa-id="7006EHC-3_2" value="Northern Ireland">
          <label class="govuk-label govuk-checkboxes__label" for="7006EHC-3_2">
            Northern Ireland
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input {% if data.where_slaughtered and "Outside the UK" in data.where_slaughtered %}checked{% endif %} class="govuk-checkboxes__input" id="7006EHC-3_3" name="where_slaughtered" type="checkbox" data-qa-id="7006EHC-3_3" value="Outside the UK">
          <label class="govuk-label govuk-checkboxes__label" for="7006EHC-3_3">
            Outside the UK
          </label>
        </div>
      </div>
      <div class="govuk-grid-row margin-top-30"></div>
      <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
        <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
      </div>

      <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-body">


              <form action="dashboard">
                  <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
              </form>


          </div>
      </div>

      </form>

      <p></p>
    </div>
  </div>
</div>
</div>










{% endblock %}
