
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>

<div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="">


<h1 class="govuk-heading-xl">About your product</h1>






                    <form action="7" method="POST" enctype="application/x-www-form-urlencoded">














                        <h2 class="govuk-label govuk-\!-margin-top-9" style="margin-bottom: 20px">Is there more than one pig meat product in this consignment?</h2>


                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                                    Yes more than one
                                </label>
                            </div>

                            <p class="form-block" style="padding-left:10px;margin-top: 20px">or</p>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                    No
                                </label>
                            </div>

                        </div>

                        <i class="icon icon-important" style="position: relative;
    top: 35px;left: 5px">
                            <span class="visually-hidden">Warning</span>
                        </i>

                        <p class=" govuk-\!-margin-bottom-0 govuk-\!-margin-top-9" style="margin-left: 50px">

                        This application allows for up to 4 products<br> to be named on the same certificate.

</p>
                        <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
                            <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                        </div>

                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full govuk-body">
                                <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">
                            </div>
                        </div>


                        </form>



            </div>
        </div>
</div>
        












{% endblock %}
