
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>

<div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="">


<h1 class="govuk-heading-xl">The slaughterhouse details</h1>

                    <form action="9" method="POST" >


                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header ">Name</th>
                                <th scope="col" class="govuk-table__header ">Approval number</th>
                                <th scope="col" class="govuk-table__header ">From date</th>
                                <th scope="col" class="govuk-table__header ">To date</th>
                                <th scope="col" class="govuk-table__header govuk-!-width-one-half">Address</th>
                                <th scope="col" class="govuk-table__header"></th>
                            </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Bolton&nbsp;plant</td>
                                <td class="govuk-table__cell">649887200</td>
                                <td class="govuk-table__cell">22&nbsp;11&nbsp;2019</td>
                                <td class="govuk-table__cell">23&nbsp;11&nbsp;2019</td>
                                <td class="govuk-table__cell">27 Square caste road, BO10 8NY, Bolton </td>
                                <td class="govuk-table__cell"><a href="#">Edit</a>&nbsp;&nbsp;<a href="#">Delete</a>  </td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="7" type="submit" class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">
                            Add another slaughterhouse
                        </a>

                        <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
                            <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                        </div>

                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full govuk-body">
                                <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">
                            </div>
                        </div>


                        </form>



            </div>
        </div>
</div>
        












{% endblock %}
