{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
  .app-tabs {
    border: 1px solid #b58840;
  }

  .app-tabs:hover {
    border: 1px solid #1d70b8;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Testing version for Private beta users
    </h1>
    <p class="govuk-body">Contains the following new designs</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>New dashboard design. EHC, clone both on dashbaord.</li>
      <li>Allow users to view colleagues applicaitons</li>
      <li>Blocks</li>
      <li>Task list improvements</li>
      <li>Design update to check your answers</li>
      <li>Supporting documents</li>
    </ul>
    <!-- <p class="govuk-body"><a href="https://eaflood.atlassian.net/browse/EXP-8086"><span class="govuk-!-font-weight-bold">Jira:</span> Increase prominence of 'Search' CTA on the 'Certifier Search' page</a></p> -->

    <ul class="govuk-list">
      <li><a href="dashboard?filter_status=&has_filter=&date_range=&filter_name=&show_applications_by=me">Dashboard (only your applications)</a> </li>
      <li><a href="dashboard?filter_status=any&date_range=any&export_form_day=&export_form_month=&export_form_year=&export_to_day=&export_to_month=&export_to_year=&show_applications_by=everyone&filter_name=anyone&has_filter=yes">Dashboard (everyones)</a> </li>
        <li><br>Blocks and task list</li>
        <li><a href="certificate/blocks?certificate=ehc1631">Is this a block application? (NEW)</a></li>
      <li>only 3 certificates are working with this pattern</li>
      <li><a href="certificate/check-your-progress?certificate=ehc6969_v3&is_block_application=yes">6969EHC (V3)</a></li>
      <li><a href="certificate/check-your-progress?certificate=ehc1631_v3&is_block_application=yes">1631EHC (V3)</a></li>
      <li><a href="certificate/check-your-progress?certificate=ehc5725&is_block_application=yes">5725EHC </a></li>
      <li><br>file upload</li>
      <li><a href="certificate/supporting-documents?test=yes&certificate=ehc5725">5725EHC </a></li>

    </ul>
  </div>
</div>


{% endblock %}
