{% extends "layout.html" %}

{% block pageTitle %}
  EHC Dashboard
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form method="post" id="form" class="form">

      <h2 class="govuk-heading-l">
        EHC Dashboard
      </h2>

      <p>
    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum fermentum nisl sit amet varius. Etiam sed dapibus tellus, feugiat sodales neque.
      </p>

      <button type="submit" class="govuk-button">
        Start an EHC application
      </button>

      </form>
  
    </div>
  </div>

{% endblock %}
