{% extends "layout.html" %}

{% block pageTitle %}
{{page.title}} - GOV.UK
{% endblock %}

{% block beforeContent%}
{{super()}}
<a href="{{page.content.prev or 'javascript:history.back()'}}" class="govuk-back-link">Back</a>
<style media="screen">
  .govuk-tag--yellow {
      color: #594d00;
      background: #fff7bf;
  }
  @media (min-width: 40.0625em){
  .govuk-tag {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1;
      }
  }
  .govuk-tag {
      display: inline-block;
      outline: 2px solid transparent;
      outline-offset: -2px;
      color: #fff;
      background-color: #1d70b8;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase;
      white-space: nowrap;
      font-family: "GDS Transport",Arial,sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 700;
      font-size: 14px;
      font-size: .875rem;
      line-height: 1;
      padding-top: 5px;
      padding-right: 8px;
      padding-bottom: 4px;
      padding-left: 8px;
  }
</style>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if page.content.caption %}<span class="govuk-caption-xl">{{page.content.caption}} {% if query.product_page %}{{(data.products | length)+1}} of {{page.content.product_max or 4}}{%endif%}</span>{%endif%}
    <h1 class="govuk-heading-xl">
      Your {{db.certificate_code}}
      <span class="govuk-caption-l">{{db.certificate_name}}</span>
    </h1>

    <p class="govuk-body">{% if page.content.paragraph %}{{page.content.paragraph}}{% endif %}</p>
    <form method="POST">
    <!-- <form {% if query.change=="yes" %} action="check-your-answers" {% elseif page.content.prodcut and query.change=="product" %} action="product-list" {% else %} action="{{page.content.next or 'check-your-progress'}}" {% endif %} method="POST"> -->
    {% for page in db.pages %}
        {% if page.exa != "yes" %}
        {% if page.content.product_page != 'yes'%}
        <fieldset class="govuk-fieldset govuk-!-margin-bottom-6" role="group" aria-describedby="expiry-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  {{page.title}}
                </legend>
                <p id="expiry-hint" class="govuk-body">
                  {% if page.content.paragraph %}{{page.content.paragraph}}{% endif %}
                </p>
        {% for field in page.content.fields %}
          {% set type = "./partials/"+field.type+".html"%}
          {{field.title}}
          {% block question %}{% include type %}{% endblock%}

        {% endfor %}
        </fieldset>
        {% else %}
        <fieldset class="govuk-fieldset govuk-!-margin-bottom-6" role="group" aria-describedby="expiry-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  {{ product.title or 'Your products'}}
                </legend>
                <p id="expiry-hint" class="govuk-body">
                {% if product.content.paragraph %}
                <p class="govuk-body">{{product.content.paragraph}}</p>

                {% else %}
                <p class="govuk-body">You can add up to 5 products to this certificate.</p>
                <p class="govuk-body">For longer product lists, attach a schedule as a <a href="exa/supporting-documents" class="govuk-link">supporting document</a> at the end of this application.</p>
                <a class="govuk-button grey-black-text"  style="color:#000000" href="page-individual?id={{page.id or 2}}&next=page&product_page=yes&new=yes" id="Button-AddAnother">{% if (data.products | length) == 0 %}Add product{%else%}Add another{% endif %}</a>
                </fieldset>
                {% endif %}
                {% endif %}
        {% endif %}
        {% endfor%}
        <fieldset class="govuk-fieldset">
        <div class="govuk-form-group govuk-!-margin-top-8">
          {% if not query.product_page %}
          <input class="govuk-button govuk-!-margin-right-1" type="submit" name="cta" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
          {% else %}
          <input class="govuk-button govuk-!-margin-right-1" type="submit" name="cta" value="Add another" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
          <input class="govuk-button govuk-button--secondary" type="submit" name="cta" value="Save and review"id="Button-SaveAndpreview" data-qa-id="Button-SaveAndContinue">
          {% endif%}
        </div>
      </fieldset>
    </form>
    <p class="govuk-body"><a class="link-button" href="dashboard" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">Save and continue later</a></p>
  </div>
</div>
{% block chatbot %}{% include "../../../../includes/chat.html" %}{%endblock%}

{% endblock %}
