{% extends "layout.html" %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <div>
              <h1 class="govuk-heading-xl margin-bottom-0">Sorry, there is a problem with the service</h1>
          </div>
          <div class="margin-top-30">
              <p class="govuk-body" lang="en">
               We are trying to fix the problem as quickly as we can. Please try again later.
              </p>
              <p class="govuk-body">
                If you need help, contact us on:
              </p>
              <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
                <li><span id="phoneNumber">03000 200 301</span>, Monday to Friday 8.30am to 5pm</li>
                <li><a href="mailto:exports@apha.gov.uk" class="govuk-link" id="emailLink">exports@apha.gov.uk</a></li>
              </ul>
      </div>
      </div>
  </div>
{% endblock %}
