<style media="screen">
  .defra-callout{
    background: #f3f2f1	;
    padding: 25px;
  }
</style>

<div class="govuk-visually-hidden govuk-form-group defra-callout {% if (data.empty | length) > 0 %}govuk-form-group--error{% endif %}" >
  <h3 class="govuk-heading-m">You do not have to answer every question</h3>
  {% if (data.empty | length) > 0 %}
  <span id="slaughterhouse_name_error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> Select if you have answered as many questions as you can
  </span>
  {% endif %}
  <p class="govuk-body">
    You can leave questions for your <abbr title="Enviromental health officer">EHO</abbr> or <abbr title="Official veterinarian">OV</abbr> to answer.
  </p>
  <div class="govuk-checkboxes">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="skip_answers" name="skip_answers" type="checkbox" value="skip" checked="checked">
      <label class="govuk-label govuk-checkboxes__label" for="skip_answers" >
          I've answered as many questions as I can on this page
      </label>
    </div>
  </div>
</div>
