{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service
    </span>
  </p>
</div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l ">autoehc-2020-12-28-483
v1.0</span>
    <h1 id="formEditorHeading" class="govuk-heading-xl heading-with-help">Manage rules</h1>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Page title:    </span>Page 1</p>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Page ID:    </span>1</p>

<form method="POST" action="/manage-rules-single-exa/index-with-results">
    <div class="govuk-form-group operator govuk-!-margin-top-6">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-heading-m">Show this page when:<br/>"Are you the exporter or the agent of the exporter?"<br/>is equal to:</h2>

        </legend>

        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="exporter" name="exa-rule-response" type="radio" value="exporter">
            <label class="govuk-label govuk-radios__label" for="exporter">
              Exporter
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="agent" name="exa-rule-response" type="radio" value="agent">
            <label class="govuk-label govuk-radios__label" for="agent">
              Agent
            </label>
          </div>

  </div>





          <div>
              <input class="govuk-button govuk-!-margin-top-8"
                     type="submit"
                     value="Save and continue"
                     >
          </div>
      </form>

</div>
</div>
{% endblock %}
