{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<style type="text/css">
  .app-link--up, .app-link--down {
      display: inline-block;
      position: relative;
      margin-bottom: 0px;
      padding-left: 20px;
      color: #1d70b8 !important;
      cursor: pointer;
  }
</style>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service
    </span>
  </p>
</div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div>
             <table class="govuk-table">
               <tbody class="govuk-table__body">
               <tr>

               </tbody>
             </table>
             <h1 class="govuk-heading-xl heading">Pages for form 8270EHC Version 2.56</h1>
           </div>
           <div>
             <table class="govuk-table" id="form-pages">
               <thead class="govuk-table__head">
               <tr class="govuk-table__row">
                 <th class="govuk-table__header" colspan="2">Order</th>
                 <th class="govuk-table__header ">Page Title</th>
                 <th class="govuk-table__header">Group or task title</th>
                 <th class="govuk-table__header">Rule</th>
                 <th class="govuk-table__header">Actions</th>
               </tr>
               </thead>
               <tbody>

               <tr class="govuk-table__row">
                 <td id="12097-pageOrder" class="govuk-table__cell applicationRef-column" width="5%" scope="row">
                   1
                 </td>
                 <td class="govuk-table__cell" width="5%">

                     <a id="12097-moveUpLink" class="govuk-link app-link--up" title="move up" href="">
                       <span class="govuk-visually-hidden">move up</span><p></p>
                     </a><br>
                     <a id="12097-moveDownLink" class="govuk-link app-link--down" title="move down" href="">
                       <span class="govuk-visually-hidden">move down</span><p></p>
                     </a>
             </td>
                 <th id="12097-title" class="govuk-table__cell" scope="row">
                   What are the commodity details?
                 </th>
                 <td id="12097-taskTitle" class="govuk-table__cell govuk-!-width-one-quarter" scope="row">

                   </span>
                 </td>
                 <td class="govuk-table__cell" scope="row"></td>
                 <td class="govuk-table__cell actions-column govuk-!-width-one-quarter">
                   <a id="12097-editLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Change</a><br/>
                   <a id="12097-viewQuestionsLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">View questions</a><br/>
                   <a class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Create rule</a><br/>
                   <a id="12097-deleteLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Delete</a>

                 </td>
               </tr>

               <tbody>

               <tr class="govuk-table__row">
                 <td id="12098-pageOrder" class="govuk-table__cell applicationRef-column" width="5%" scope="row">
                   2
                 </td>
                 <td class="govuk-table__cell" width="5%">

                     <a id="12098-moveUpLink" class="govuk-link app-link--up" title="move up" href="/protected/forms/8270EHC/versions/2.56/pages/12098/change-order?direction&#x3D;UP">
                       <span class="govuk-visually-hidden">move up</span><p></p>
                     </a><br>
                     <a id="12098-moveDownLink" class="govuk-link app-link--down" title="move down" href="/protected/forms/8270EHC/versions/2.56/pages/12098/change-order?direction&#x3D;DOWN">
                       <span class="govuk-visually-hidden">move down</span><p></p>
                     </a>
             </td>
                 <th id="12098-title" class="govuk-table__cell" scope="row">
                   What is the intended use of the product?
                 </th>
                 <td id="12098-taskTitle" class="govuk-table__cell govuk-!-width-one-quarter" scope="row">

                   </span>
                 </td>
                  <td class="govuk-table__cell" scope="row"></td>
                 <td class="govuk-table__cell actions-column govuk-!-width-one-quarter">
                   <a id="12097-editLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Change</a><br/>
                   <a id="12097-viewQuestionsLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">View questions</a><br/>
                   <a class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Create rule</a><br/>
                   <a id="12097-deleteLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Delete</a>

                 </td>
               </tr>

               <tbody>

               <tr class="govuk-table__row">
                 <td id="12099-pageOrder" class="govuk-table__cell applicationRef-column" width="5%" scope="row">
                   3
                 </td>
                 <td class="govuk-table__cell" width="5%">

                     <a id="12099-moveUpLink" class="govuk-link app-link--up" title="move up" href="/protected/forms/8270EHC/versions/2.56/pages/12099/change-order?direction&#x3D;UP">
                       <span class="govuk-visually-hidden">move up</span><p></p>
                     </a><br>
                     <a id="12099-moveDownLink" class="govuk-link app-link--down" title="move down" href="/protected/forms/8270EHC/versions/2.56/pages/12099/change-order?direction&#x3D;DOWN">
                       <span class="govuk-visually-hidden">move down</span><p></p>
                     </a>
             </td>
                 <th id="12099-title" class="govuk-table__cell" scope="row">
                   What are the details of the product?
                 </th>
                 <td id="12099-taskTitle" class="govuk-table__cell govuk-!-width-one-quarter" scope="row">

                   </span>
                 </td>
                  <td class="govuk-table__cell" scope="row"></td>
                 <td class="govuk-table__cell actions-column govuk-!-width-one-quarter">
                   <a id="12097-editLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Change</a><br/>
                   <a id="12097-viewQuestionsLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">View questions</a><br/>
                   <a class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Create rule</a><br/>
                   <a id="12097-deleteLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Delete</a>

                 </td>
               </tr>

               <tbody>

               <tr class="govuk-table__row">
                 <td id="12100-pageOrder" class="govuk-table__cell applicationRef-column" width="5%" scope="row">
                   4
                 </td>
                 <td class="govuk-table__cell" width="5%">

                     <a id="12100-moveUpLink" class="govuk-link app-link--up" title="move up" href="/protected/forms/8270EHC/versions/2.56/pages/12100/change-order?direction&#x3D;UP">
                       <span class="govuk-visually-hidden">move up</span><p></p>
                     </a><br>
                     <a id="12100-moveDownLink" class="govuk-link app-link--down" title="move down" href="/protected/forms/8270EHC/versions/2.56/pages/12100/change-order?direction&#x3D;DOWN">
                       <span class="govuk-visually-hidden">move down</span><p></p>
                     </a>
             </td>
                 <th id="12100-title" class="govuk-table__cell" scope="row">
                   What is the place of origin of the consignment?
                 </th>
                 <td id="12100-taskTitle" class="govuk-table__cell govuk-!-width-one-quarter" scope="row">

                   </span>
                 </td>
                  <td class="govuk-table__cell" scope="row"></td>
                 <td class="govuk-table__cell actions-column govuk-!-width-one-quarter">
                   <a id="12097-editLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Change</a><br/>
                   <a id="12097-viewQuestionsLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">View questions</a><br/>
                   <a class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Create rule</a><br/>
                   <a id="12097-deleteLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Delete</a>

                 </td>
               </tr>

               <tbody>

               <tr class="govuk-table__row">
                 <td id="12101-pageOrder" class="govuk-table__cell applicationRef-column" width="5%" scope="row">
                   5
                 </td>
                 <td class="govuk-table__cell" width="5%">

                     <a id="12101-moveUpLink" class="govuk-link app-link--up" title="move up" href="/protected/forms/8270EHC/versions/2.56/pages/12101/change-order?direction&#x3D;UP">
                       <span class="govuk-visually-hidden">move up</span><p></p>
                     </a><br>
                     <a id="12101-moveDownLink" class="govuk-link app-link--down" title="move down" href="/protected/forms/8270EHC/versions/2.56/pages/12101/change-order?direction&#x3D;DOWN">
                       <span class="govuk-visually-hidden">move down</span><p></p>
                     </a>
             </td>
                 <th id="12101-title" class="govuk-table__cell" scope="row">
                   Who is the exporter?
                 </th>
                 <td id="12101-taskTitle" class="govuk-table__cell govuk-!-width-one-quarter" scope="row">

                   </span>
                 </td>
                  <td class="govuk-table__cell" scope="row"></td>
                 <td class="govuk-table__cell actions-column govuk-!-width-one-quarter">
                   <a id="12097-editLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Change</a><br/>
                   <a id="12097-viewQuestionsLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">View questions</a><br/>
                   <a class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Create rule</a><br/>
                   <a id="12097-deleteLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Delete</a>

                 </td>
               </tr>

               <tbody>

               <tr class="govuk-table__row">
                 <td id="12102-pageOrder" class="govuk-table__cell applicationRef-column" width="5%" scope="row">
                   6
                 </td>
                 <td class="govuk-table__cell" width="5%">

                     <a id="12102-moveUpLink" class="govuk-link app-link--up" title="move up" href="/protected/forms/8270EHC/versions/2.56/pages/12102/change-order?direction&#x3D;UP">
                       <span class="govuk-visually-hidden">move up</span><p></p>
                     </a><br>
                     <a id="12102-moveDownLink" class="govuk-link app-link--down" title="move down" href="/protected/forms/8270EHC/versions/2.56/pages/12102/change-order?direction&#x3D;DOWN">
                       <span class="govuk-visually-hidden">move down</span><p></p>
                     </a>
             </td>
                 <th id="12102-title" class="govuk-table__cell" scope="row">
                   Will the product be packaged for the final consumer?
                 </th>
                 <td id="12102-taskTitle" class="govuk-table__cell govuk-!-width-one-quarter" scope="row">

                   </span>
                 </td>
                  <td class="govuk-table__cell" scope="row"></td>
                 <td class="govuk-table__cell actions-column govuk-!-width-one-quarter">
                   <a id="12097-editLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Change</a><br/>
                   <a id="12097-viewQuestionsLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">View questions</a><br/>
                   <a class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Create rule</a><br/>
                   <a id="12097-deleteLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Delete</a>

                 </td>
               </tr>

               <tbody>

               <tr class="govuk-table__row">
                 <td id="12103-pageOrder" class="govuk-table__cell applicationRef-column" width="5%" scope="row">
                   7
                 </td>
                 <td class="govuk-table__cell" width="5%">

                     <a id="12103-moveUpLink" class="govuk-link app-link--up" title="move up" href="/protected/forms/8270EHC/versions/2.56/pages/12103/change-order?direction&#x3D;UP">
                       <span class="govuk-visually-hidden">move up</span><p></p>
                     </a><br>
                     <a id="12103-moveDownLink" class="govuk-link app-link--down" title="move down" href="/protected/forms/8270EHC/versions/2.56/pages/12103/change-order?direction&#x3D;DOWN">
                       <span class="govuk-visually-hidden">move down</span><p></p>
                     </a>
             </td>
                 <th id="12103-title" class="govuk-table__cell" scope="row">
                   Where will the consignment be loaded?
                 </th>
                 <td id="12103-taskTitle" class="govuk-table__cell govuk-!-width-one-quarter" scope="row">

                   </span>
                 </td>
                  <td class="govuk-table__cell" scope="row"></td>
                 <td class="govuk-table__cell actions-column govuk-!-width-one-quarter">
                   <a id="12097-editLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Change</a><br/>
                   <a id="12097-viewQuestionsLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">View questions</a><br/>
                   <a class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Create rule</a><br/>
                   <a id="12097-deleteLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Delete</a>

                 </td>
               </tr>

               <tbody>

               <tr class="govuk-table__row">
                 <td id="12104-pageOrder" class="govuk-table__cell applicationRef-column" width="5%" scope="row">
                   8
                 </td>
                 <td class="govuk-table__cell" width="5%">

                     <a id="12104-moveUpLink" class="govuk-link app-link--up" title="move up" href="/protected/forms/8270EHC/versions/2.56/pages/12104/change-order?direction&#x3D;UP">
                       <span class="govuk-visually-hidden">move up</span><p></p>
                     </a><br>
                     <a id="12104-moveDownLink" class="govuk-link app-link--down" title="move down" href="/protected/forms/8270EHC/versions/2.56/pages/12104/change-order?direction&#x3D;DOWN">
                       <span class="govuk-visually-hidden">move down</span><p></p>
                     </a>
             </td>
                 <th id="12104-title" class="govuk-table__cell" scope="row">
                   How will the consignment be transported?
                 </th>
                 <td id="12104-taskTitle" class="govuk-table__cell govuk-!-width-one-quarter" scope="row">

                   </span>
                 </td>
                  <td class="govuk-table__cell" scope="row"></td>
                 <td class="govuk-table__cell actions-column govuk-!-width-one-quarter">
                   <a id="12097-editLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Change</a><br/>
                   <a id="12097-viewQuestionsLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">View questions</a><br/>
                   <a class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Create rule</a><br/>
                   <a id="12097-deleteLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Delete</a>

                 </td>
               </tr>

               <tbody>

               <tr class="govuk-table__row">
                 <td id="12105-pageOrder" class="govuk-table__cell applicationRef-column" width="5%" scope="row">
                   9
                 </td>
                 <td class="govuk-table__cell" width="5%">

                     <a id="12105-moveUpLink" class="govuk-link app-link--up" title="move up" href="/protected/forms/8270EHC/versions/2.56/pages/12105/change-order?direction&#x3D;UP">
                       <span class="govuk-visually-hidden">move up</span><p></p>
                     </a><br>
                     <a id="12105-moveDownLink" class="govuk-link app-link--down" title="move down" href="/protected/forms/8270EHC/versions/2.56/pages/12105/change-order?direction&#x3D;DOWN">
                       <span class="govuk-visually-hidden">move down</span><p></p>
                     </a>
             </td>
                 <th id="12105-title" class="govuk-table__cell" scope="row">
                   Is the destination of your consignment the EU or a third country?
                 </th>
                 <td id="12105-taskTitle" class="govuk-table__cell govuk-!-width-one-quarter" scope="row">

                   </span>
                 </td>
                  <td class="govuk-table__cell" scope="row"></td>
                 <td class="govuk-table__cell actions-column govuk-!-width-one-quarter">
                   <a id="12097-editLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Change</a><br/>
                   <a id="12097-viewQuestionsLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">View questions</a><br/>
                   <a class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Create rule</a><br/>
                   <a id="12097-deleteLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Delete</a>

                 </td>
               </tr>

               <tbody>

               <tr class="govuk-table__row">
                 <td id="12106-pageOrder" class="govuk-table__cell applicationRef-column" width="5%" scope="row">
                   10
                 </td>
                 <td class="govuk-table__cell" width="5%">

                     <a id="12106-moveUpLink" class="govuk-link app-link--up" title="move up" href="/protected/forms/8270EHC/versions/2.56/pages/12106/change-order?direction&#x3D;UP">
                       <span class="govuk-visually-hidden">move up</span><p></p>
                     </a><br>
                     <a id="12106-moveDownLink" class="govuk-link app-link--down" title="move down" href="/protected/forms/8270EHC/versions/2.56/pages/12106/change-order?direction&#x3D;DOWN">
                       <span class="govuk-visually-hidden">move down</span><p></p>
                     </a>
             </td>
                 <th id="12106-title" class="govuk-table__cell" scope="row">
                   What is the final destination in the EU of this consignment?
                 </th>
                 <td id="12106-taskTitle" class="govuk-table__cell govuk-!-width-one-quarter" scope="row">

                   </span>
                 </td>
                  <td class="govuk-table__cell" scope="row"></td>
                 <td class="govuk-table__cell actions-column govuk-!-width-one-quarter">
                   <a id="12097-editLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Change</a><br/>
                   <a id="12097-viewQuestionsLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">View questions</a><br/>
                   <a class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Create rule</a><br/>
                   <a id="12097-deleteLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Delete</a>

                 </td>
               </tr>

               <tbody>

               <tr class="govuk-table__row">
                 <td id="12107-pageOrder" class="govuk-table__cell applicationRef-column" width="5%" scope="row">
                   11
                 </td>
                 <td class="govuk-table__cell" width="5%">

                     <a id="12107-moveUpLink" class="govuk-link app-link--up" title="move up" href="/protected/forms/8270EHC/versions/2.56/pages/12107/change-order?direction&#x3D;UP">
                       <span class="govuk-visually-hidden">move up</span><p></p>
                     </a><br>
                     <a id="12107-moveDownLink" class="govuk-link app-link--down" title="move down" href="/protected/forms/8270EHC/versions/2.56/pages/12107/change-order?direction&#x3D;DOWN">
                       <span class="govuk-visually-hidden">move down</span><p></p>
                     </a>
             </td>
                 <th id="12107-title" class="govuk-table__cell" scope="row">
                   Which border control post (BCP) will the consignment arrive at?
                 </th>
                 <td id="12107-taskTitle" class="govuk-table__cell govuk-!-width-one-quarter" scope="row">

                   </span>
                 </td>
                  <td class="govuk-table__cell" scope="row"></td>
                 <td class="govuk-table__cell actions-column govuk-!-width-one-quarter">
                   <a id="12097-editLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Change</a><br/>
                   <a id="12097-viewQuestionsLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">View questions</a><br/>
                   <a class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Create rule</a><br/>
                   <a id="12097-deleteLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Delete</a>

                 </td>
               </tr>

               <tbody>

               <tr class="govuk-table__row">
                 <td id="12108-pageOrder" class="govuk-table__cell applicationRef-column" width="5%" scope="row">
                   12
                 </td>
                 <td class="govuk-table__cell" width="5%">

                     <a id="12108-moveUpLink" class="govuk-link app-link--up" title="move up" href="/protected/forms/8270EHC/versions/2.56/pages/12108/change-order?direction&#x3D;UP">
                       <span class="govuk-visually-hidden">move up</span><p></p>
                     </a><br>
                     <a id="12108-moveDownLink" class="govuk-link app-link--down" title="move down" href="/protected/forms/8270EHC/versions/2.56/pages/12108/change-order?direction&#x3D;DOWN">
                       <span class="govuk-visually-hidden">move down</span><p></p>
                     </a>
             </td>
                 <th id="12108-title" class="govuk-table__cell" scope="row">
                   What is the destination third country?
                 </th>
                 <td id="12108-taskTitle" class="govuk-table__cell govuk-!-width-one-quarter" scope="row">

                   </span>
                 </td>
                  <td class="govuk-table__cell" scope="row"></td>
                 <td class="govuk-table__cell actions-column govuk-!-width-one-quarter">
                   <a id="12097-editLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Change</a><br/>
                   <a id="12097-viewQuestionsLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">View questions</a><br/>
                   <a class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Create rule</a><br/>
                   <a id="12097-deleteLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Delete</a>

                 </td>
               </tr>

               <tbody>

               <tr class="govuk-table__row">
                 <td id="12109-pageOrder" class="govuk-table__cell applicationRef-column" width="5%" scope="row">
                   13
                 </td>
                 <td class="govuk-table__cell" width="5%">

                     <a id="12109-moveUpLink" class="govuk-link app-link--up" title="move up" href="/protected/forms/8270EHC/versions/2.56/pages/12109/change-order?direction&#x3D;UP">
                       <span class="govuk-visually-hidden">move up</span><p></p>
                     </a><br>
                     <a id="12109-moveDownLink" class="govuk-link app-link--down" title="move down" href="/protected/forms/8270EHC/versions/2.56/pages/12109/change-order?direction&#x3D;DOWN">
                       <span class="govuk-visually-hidden">move down</span><p></p>
                     </a>
             </td>
                 <th id="12109-title" class="govuk-table__cell" scope="row">
                   For consignments transiting EU countries, who is responsible for the consignment when in the EU?
                 </th>
                 <td id="12109-taskTitle" class="govuk-table__cell govuk-!-width-one-quarter" scope="row">

                   </span>
                 </td>
                  <td class="govuk-table__cell" scope="row">
                    {% if activerules %}
                    Show this page if 723 is equal to {{ data['rule-response'] }} 
                    {% endif %}
                  </td>
                 <td class="govuk-table__cell actions-column govuk-!-width-one-quarter">
                   <a id="12097-editLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Change</a><br/>
                   <a id="12097-viewQuestionsLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">View questions</a><br/>


                   {% if not activerules %}
                   <a class="govuk-link app-link--action" href="/form-builder/conditional-routing/manage-pages/manage-rules-single/create-rule-1">Create rule</a><br/>
                   {% endif %}
                   {% if activerules %}
                   <a class="govuk-link app-link--action" href="/form-builder/conditional-routing/manage-pages/manage-rules-single/create-rule-2">Edit rule</a><br/>
                   <a class="govuk-link app-link--action" href="/form-builder/conditional-routing/manage-pages/manage-rules-single/delete">Delete rule</a><br/>
                   {% endif %}
                   <a id="12097-deleteLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Delete</a>

                 </td>
               </tr>

               <tbody>

               <tr class="govuk-table__row">
                 <td id="12110-pageOrder" class="govuk-table__cell applicationRef-column" width="5%" scope="row">
                   14
                 </td>
                 <td class="govuk-table__cell" width="5%">

                     <a id="12110-moveUpLink" class="govuk-link app-link--up" title="move up" href="/protected/forms/8270EHC/versions/2.56/pages/12110/change-order?direction&#x3D;UP">
                       <span class="govuk-visually-hidden">move up</span><p></p>
                     </a><br>
                     <a id="12110-moveDownLink" class="govuk-link app-link--down" title="move down" href="/protected/forms/8270EHC/versions/2.56/pages/12110/change-order?direction&#x3D;DOWN">
                       <span class="govuk-visually-hidden">move down</span><p></p>
                     </a>
             </td>
                 <th id="12110-title" class="govuk-table__cell" scope="row">
                   Where will the consignment be stored during transit?
                 </th>
                 <td id="12110-taskTitle" class="govuk-table__cell govuk-!-width-one-quarter" scope="row">

                   </span>
                 </td>
                  <td class="govuk-table__cell" scope="row"></td>
                 <td class="govuk-table__cell actions-column govuk-!-width-one-quarter">
                   <a id="12097-editLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Change</a><br/>
                   <a id="12097-viewQuestionsLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">View questions</a><br/>
                   <a class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Create rule</a><br/>
                   <a id="12097-deleteLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Delete</a>

                 </td>
               </tr>

               <tbody>

               <tr class="govuk-table__row">
                 <td id="12111-pageOrder" class="govuk-table__cell applicationRef-column" width="5%" scope="row">
                   15
                 </td>
                 <td class="govuk-table__cell" width="5%">

                     <a id="12111-moveUpLink" class="govuk-link app-link--up" title="move up" href="/protected/forms/8270EHC/versions/2.56/pages/12111/change-order?direction&#x3D;UP">
                       <span class="govuk-visually-hidden">move up</span><p></p>
                     </a><br>
                     <a id="12111-moveDownLink" class="govuk-link app-link--down" title="move down" href="/protected/forms/8270EHC/versions/2.56/pages/12111/change-order?direction&#x3D;DOWN">
                       <span class="govuk-visually-hidden">move down</span><p></p>
                     </a>
             </td>
                 <th id="12111-title" class="govuk-table__cell" scope="row">
                   Who is the importer?
                 </th>
                 <td id="12111-taskTitle" class="govuk-table__cell govuk-!-width-one-quarter" scope="row">


                 </td>
                  <td class="govuk-table__cell" scope="row"></td>
                 <td class="govuk-table__cell actions-column govuk-!-width-one-quarter">
                   <a id="12097-editLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Change</a><br/>
                   <a id="12097-viewQuestionsLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">View questions</a><br/>
                   <a class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Create rule</a><br/>
                   <a id="12097-deleteLink" class="govuk-link app-link--action" href="javascript:alert('Not in prototype');">Delete</a>

                 </td>
               </tr>

               </tbody>
             </table>

             <a id="link-createNewPage" href="/protected/forms/8270EHC/versions/2.56/pages/new"
                class="govuk-button">Create new page</a>
           </div>
         </div>
       </div>

  </div>
</div>
{% endblock %}
