{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div>
        <span class="govuk-caption-xl">
          Transport details
        </span>
        <h1 id="questionPageHeading" class="govuk-heading-xl">Do you know the seal number?</h1>
        <form {% if query.change=="yes" %} action="check-your-answers" {% else %} action="check-your-progress" {% endif %} method="POST">
          <!-- <p class="govuk-body">Where the consignemnt will first enter China.</p> -->
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional" name="know_transport_type" type="radio" value="yes" data-aria-controls="conditional-answer" >
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                      Yes
                  </label>
              </div>

              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-answer">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="width-20">
                    What is the seal number?
                  </label>
                  <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                </div>
              </div>

              <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-2" name="know_transport_type" type="radio" value="no" >
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                      No
                  </label>
              </div>
          </div>
          <!-- <div class="govuk-form-group ">
            <label class="govuk-label" for="autocomplete_dropdown">What is the port of departure?</label>
            <div id="autocomplete_dropdown" class="autocomplete-wrapper"></div>
          </div>
          <div class="govuk-form-group ">
            <label class="govuk-label " for="7006EHC-1">What is the port of departure?</label>
            <div class="govuk-hint">
              This means where the consignment will leave the UK.<br>
              If two ports are involved e.g. Belfast, then Southampton, the first port is the initial port of departure, and the second port is the final port of departure.
            </div>
            <div class="govuk-form-group">
              <select class="govuk-select" id="sort" name="port">
                <option>Select port</option>
                <option {% if data.port=="Southampton" %} selected {% endif %} value="Southampton">Southampton</option>
                <option {% if data.port=="Belfast" %} selected {% endif %} value="Belfast" name="port">Belfast</option>
                <option {% if data.port=="Dundee" %} selected {% endif %} value="Dundee">Dundee</option>
                <option {% if data.port=="Fleetwood" %} selected {% endif %} value="Fleetwood">Fleetwood</option>
                <option {% if data.port=="Holyhead Port" %} selected {% endif %} value="Holyhead Port">Holyhead Port</option>
                <option {% if data.port=="Felixstove" %} selected {% endif %} value="Felixstove">Felixstove</option>
                <option {% if data.port=="Troon" %} selected {% endif %} value="Troon">Troon</option>
                <option {% if data.port=="Wick Harbour" %} selected {% endif %} value="Wick Harbour">Wick Harbour</option>
              </select>
            </div>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Add a port or border crossing not in the list?
                </span>
              </summary>
              <div class="govuk-details__text">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="more-detail">
                    Enter port name
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="1" aria-describedby="more-detail-hint"></textarea>
                </div>
              </div>
            </details>
            <div class="govuk-form-group">
              <span id="event-name-hint" class="govuk-hint">
                Use this button to add final port of departure, if required.</span>
              <a href="#" type="submit" class=" govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">
                Add a second port
              </a>
            </div>
          </div>
          <div class="govuk-form-group ">
            <label class="govuk-label " for="7006EHC-2">What is the port of entry into China?
            </label>
            <div class="govuk-hint">
              If two ports are involved on arrival to China, i.e. transhipment at initial port of arrival in China for internal travel to the final port of entry where the final import clearance will be carried out, then both ports need to be
              entered.
            </div>
            <div class="govuk-form-group">
              <select class="govuk-select" id="china-port" name="china_port">
                <option>Select port</option>
                <option {% if data.china_port=="Dalian" %} selected {% endif %} value="Dalian">Dalian</option>
                <option {% if data.china_port=="Tianjin" %} selected {% endif %} value="Tianjin">Tianjin</option>
                <option {% if data.china_port=="Yingkou" %} selected {% endif %} value="Yingkou">Yingkou</option>
                <option {% if data.china_port=="Qinhuangdao" %} selected {% endif %} value="Qinhuangdao">Qinhuangdao</option>
                <option {% if data.china_port=="Yantai" %} selected {% endif %} value="Yantai">Yantai</option>
                <option {% if data.china_port=="Weihai" %} selected {% endif %} value="Weihai">Weihai</option>
                <option {% if data.china_port=="Qingdao" %} selected {% endif %} value="Qingdao">Qingdao</option>
                <option {% if data.china_port=="Rizhao" %} selected {% endif %} value="Rizhao">Rizhao</option>
              </select>
            </div>
            <details class="govuk-details margin-top-30" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Port or border crossing not in the list?
                </span>
              </summary>
              <div class="govuk-details__text">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="more-detail">
                    Enter port name
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="1" aria-describedby="more-detail-hint"></textarea>
                </div>
              </div>
            </details>
            <div class="govuk-form-group">
              <span id="event-name-hint" class="govuk-hint">
                Use this button to add final port of departure, if required.
              </span>
              <a href="#" type="submit" class=" govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">
                Add a second port
              </a>
            </div>
          </div>
          <div class="govuk-form-group ">
            <label class="govuk-label " for="7006EHC-3">What is the means of transport? </label>
            <div class="govuk-hint">In the majority of cases the means of transport should be entered as ‘Refrigerated Container by Sea’. The name of the ship need not be entered in this section.</div>
            <input {% if data.transport_means %}value="{{data.transport_means}}" {% endif %} class="govuk-input form-control-3-4" id="7006EHC-3" name="transport_means" value="{{ data['transport-means'] }}" type="text" data-qa-id="Question-7006EHC-3">
          </div>
          <div class="govuk-form-group ">
            <label class="govuk-label " for="7006EHC-4">What is the container number? </label>
            <input {% if data.container_number %}value="{{data.container_number}}" {% endif %} class="govuk-input form-control-3-4" id="7006EHC-4" name="container_number" value="{{ data['container-number'] }}" type="text" data-qa-id="Question-7006EHC-4">
          </div>
          <divz class="govuk-form-group ">
            <label class="govuk-label " for="7006EHC-5">What is the seal number? </label>
            <input {% if data.seal_number %}value="{{data.seal_number}}" {% endif %} class="govuk-input form-control-3-4" id="7006EHC-5" name="seal_number" value="{{ data['seal-number'] }}" type="text" data-qa-id="Question-7006EHC-5">
          </div> -->
          <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
            <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
          </div>
        </form>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-body">
            <form action="dashboard">
              <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
            </form>
          </div>
        </div>
        <p></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
