{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div>
        <span class="govuk-caption-xl">
          Transport details
        </span>
        <h1 id="questionPageHeading" class="govuk-heading-xl">Does the consignment enter another UK port before leaving the UK?</h1>
        <p>In cases where two UK ports are involved prior to the consignment leaving the UK, then both ports are to be entered in the certificate alongside the respective dates of sailing.
        </p>
        <form method="POST">
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional" name="knows_second_port" type="radio" value="yes" data-aria-controls="conditional-answer">
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                      Yes
                  </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-answer">
                <div class="govuk-form-group ">
                  <label class="govuk-label" for="autocomplete_dropdown">What is the second UK port?</label>
                  <div id="autocomplete_dropdown" class="autocomplete-wrapper govuk-input--width-20"></div>
                </div>
              </div>

              <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="how-contacted-conditional-2" name="knows_second_port" type="radio" value="no" >
                  <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
                      No
                  </label>
              </div>
          </div>
          <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
            <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
          </div>
        </form>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-body">
            <form action="dashboard">
              <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
            </form>
          </div>
        </div>
        <p></p>
      </div>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
{{super()}}
<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
  window.addEventListener('load', function() {
    var ports = [
  'Southampton',
  'Belfast',
  'Dundee',
  'Fleetwood',
  'Holyhead Port',
  'Felixstove',
  'Troon',
  'Wick Harbour'
]
      element = document.querySelector('#autocomplete_dropdown')
      id = 'autocomplete_dropdown'
      accessibleAutocomplete({
        element: element,
        id: id,
        showNoOptionsFound: false,
        source: ports
      })
  })
</script>

{% endblock %}
