
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}






<div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div>
                    <h1 id="questionPageHeading" class="govuk-heading-l">Gross and Net weight</h1>
                    <p>
                    </p><form action="13" method="POST" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="crumb_csrf_token" value="gTlLBKyL-1hcIX_eIlqttNqVHhFrTHmuqTG5yTJsotb">

                    <!-- @formatter:off -->
                    <div class="govuk-form-group ">
                        <label class="govuk-label govuk-!-font-weight-bold" for="7006EHC-0">What is the gross weight of the product(s)?  (optional)</label>
                        <div class="govuk-hint">Enter the gross weights for each category of product (in kg)</div>
                        <input class="govuk-input form-control-3-4" id="7006EHC-0" name="weight-gross" value="{{ data['weight-gross'] }}" type="text" autofocus="autofocus" data-qa-id="Question-7006EHC-0">
                    </div>
                    <input type="hidden" name="0-formQuestionId" value="231">
                    <input type="hidden" name="0-questionId" value="19">
                    <input type="hidden" name="0-formName" value="7006EHC">
                    <input type="hidden" name="0-questionText" value="What is the gross weight of the product(s)?  (optional)">
                    <input type="hidden" name="0-questionType" value="text">
                    <input type="hidden" name="0-questionOrder" value="9">
                    <input type="hidden" name="0-questionScope" value="BOTH">
                    <input type="hidden" name="questionSequence-231" value="0"><div class="govuk-form-group ">
                    <label class="govuk-label govuk-!-font-weight-bold" for="7006EHC-1">What is the net weight of the product(s)? (optional)</label>
                    <div class="govuk-hint">Enter the net weights for each category of product (in kg)</div>
                    <input class="govuk-input form-control-3-4" id="7006EHC-1" name="weight-net" value="{{ data['weight-net'] }}" type="text" data-qa-id="Question-7006EHC-1">
                </div>
                    <input type="hidden" name="1-formQuestionId" value="232">
                    <input type="hidden" name="1-questionId" value="20">
                    <input type="hidden" name="1-formName" value="7006EHC">
                    <input type="hidden" name="1-questionText" value="What is the net weight of the product(s)? (optional)">
                    <input type="hidden" name="1-questionType" value="text">
                    <input type="hidden" name="1-questionOrder" value="10">
                    <input type="hidden" name="1-questionScope" value="BOTH">
                    <input type="hidden" name="questionSequence-232" value="1">            <!-- @formatter:on -->
                    <input type="hidden" id="numQuestionsOnPage" name="numQuestionsOnPage" value="2">
                    <div class="govuk-grid-row margin-top-30"></div>
                    <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
                        <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-body">
                            <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">
                        </div>
                    </div>

                </form>

                    <p></p>
                </div>
            </div>
        </div>
</div>



        












{% endblock %}
