
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<a href="12" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div>

                <h1 class="govuk-heading-l">About the storage</h1>

                <form action="14" method="POST" enctype="application/x-www-form-urlencoded">




                    <div class="govuk-form-group ">
                    <label class="govuk-label" for="7006EHC-0">What is the type and number of packages? (optional)</label>
                    <div class="govuk-hint">Enter the type of packages for each category of product indicated previously</div>
                    <input class="govuk-textarea" id="7006EHC-0" name="packages" rows="3" autofocus="autofocus" data-qa-id="Question-7006EHC-0" spellcheck="false"></textarea>
                </div>

                    <div class="govuk-form-group ">
                        <label class="govuk-label" for="7006EHC-0">What is the type and number of packages? (optional)</label>
                        <div class="govuk-hint">Enter the number of packages for each category of product indicated previously</div>
                        <input class="govuk-textarea" id="7006EHC-0" name="packages" rows="3" autofocus="autofocus" data-qa-id="Question-7006EHC-0" spellcheck="false"></textarea>
                    </div>

                    <div class="govuk-form-group ">
                        <label class="govuk-label" for="7006EHC-0">What is the gross weight of the product(s)?  (optional)</label>
                        <div class="govuk-hint">Enter the gross weights for each category of product (in kg)</div>
                        <input class="govuk-input form-control-3-4" id="7006EHC-0" name="weight-gross" value="" type="text" autofocus="autofocus" data-qa-id="Question-7006EHC-0">
                    </div>


                    <div class="govuk-form-group ">
                        <label class="govuk-label " for="7006EHC-0">What are the batch numbers? (optional)</label>
                        <div class="govuk-hint">Enter the range of batch codes/lot numbers (first to last) for each category of product</div>
                        <textarea class="govuk-textarea" id="7006EHC-0" name="batch-numbers" rows="3" autofocus="autofocus" data-qa-id="Question-7006EHC-0" spellcheck="false"></textarea>
                    </div>

                    <div class="govuk-form-group ">
                        <label class="govuk-label " for="7006EHC-0">What are the shipping marks? (optional)</label>
                        <div class="govuk-hint">The approval number of the cutting plant or slaughterhouse in the form UK/1234/EC may be used as the shipping mark for each category of product exported</div>
                        <textarea class="govuk-textarea" id="7006EHC-0" name="shipping-marks" rows="3" autofocus="autofocus" data-qa-id="Question-7006EHC-0" spellcheck="false"></textarea>
                    </div>



                    <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
                        <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-body">
                            <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">
                        </div>
                    </div>


                </form>

                <p></p>
            </div>
        </div>
    </div>
</div>












{% endblock %}
