
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}






<div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div>
                    <h1 id="questionPageHeading" class="govuk-heading-l">Place and date of issue</h1>
                    <p>
                    </p><form action="23" method="POST" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="crumb_csrf_token" value="gTlLBKyL-1hcIX_eIlqttNqVHhFrTHmuqTG5yTJsotb">

                    <!-- @formatter:off -->
                    <div class="govuk-form-group ">
                        <label class="govuk-label govuk-!-font-weight-bold" for="7006EHC-0">What will the place of issue of the certificate be? (optional)</label>
                        <div class="govuk-hint">This is the place of signature of the export health certificate</div>
                        <input class="govuk-input form-control-3-4" id="7006EHC-0" name="cert-place" value="{{ data['cert-place'] }}" type="text" autofocus="autofocus" data-qa-id="Question-7006EHC-0">
                    </div>
                    <input type="hidden" name="0-formQuestionId" value="259">
                    <input type="hidden" name="0-questionId" value="25">
                    <input type="hidden" name="0-formName" value="7006EHC">
                    <input type="hidden" name="0-questionText" value="What will the place of issue of the certificate be? (optional)">
                    <input type="hidden" name="0-questionType" value="text">
                    <input type="hidden" name="0-questionOrder" value="26">
                    <input type="hidden" name="0-questionScope" value="CERTIFIER">
                    <input type="hidden" name="questionSequence-259" value="0"><div class="govuk-form-group ">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <label class="govuk-label govuk-!-font-weight-bold">When will the certificate be issued? (optional)</label>
                            <span class="govuk-hint">Enter the date on which the certification will be carried out</span>
                        </legend>
                        <div class="govuk-date-input">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="7006EHC-1-day">Day</label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="7006EHC-1-day" name="cert-day" value="{{ data['cert-day'] }}" data-qa-id="Question-7006EHC-1-Day" type="number" pattern="^[0-9]{2}$">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="7006EHC-1-month">Month</label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="7006EHC-1-month" name="cert-month" value="{{ data['cert-month'] }}" data-qa-id="Question-7006EHC-1-Month" type="number" pattern="^[0-9]{2}$">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="7006EHC-1-year">Year</label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="7006EHC-1-year" name="cert-year" value="{{ data['cert-year'] }}" data-qa-id="Question-7006EHC-1-Year" type="number" pattern="^[0-9]{4}$">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                    <input type="hidden" name="1-formQuestionId" value="260">
                    <input type="hidden" name="1-questionId" value="26">
                    <input type="hidden" name="1-formName" value="7006EHC">
                    <input type="hidden" name="1-questionText" value="When will the certificate be issued? (optional)">
                    <input type="hidden" name="1-questionType" value="date">
                    <input type="hidden" name="1-questionOrder" value="27">
                    <input type="hidden" name="1-questionScope" value="CERTIFIER">
                    <input type="hidden" name="questionSequence-260" value="1">            <!-- @formatter:on -->
                    <input type="hidden" id="numQuestionsOnPage" name="numQuestionsOnPage" value="2">
                    <div class="govuk-grid-row margin-top-30"></div>
                    <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
                        <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-body">
                            <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">
                        </div>
                    </div>

                </form>

                    <p></p>
                </div>
            </div>
        </div>
</div>



        












{% endblock %}
