
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}




<div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        Your export application <br>has been received
                    </h1>

                    <div class="govuk-panel__body">
                        Your reference number is <br>
                        <strong class="bold" id="applicationFormId" data-qa-id="TextDisplay-CVEDReferenceNumber">1721147986165</strong>
                    </div>
                </div>

                <div class="govuk-body">
                    <a id="link-returnToHome" href="dashboard" class="govuk-button_no_margin_bottom">
                        Return to home
                    </a>
                </div>
            </div>
        </div>

</div>



        

{% endblock %}
