
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="2" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="certificate-delivery-address-manual" method="POST">
                <input type="hidden" name="crumb_csrf_token" value="-OFEIl7HkGmNi3ZbrlI4BeayEl-1-jTpR6CRsveyix5">
                <input type="hidden" name="ehcNumber" value="7006EHC">
                <input type="hidden" name="applicationFormId" value="1721147986165">
                <input type="hidden" name="pageSequence" value="1">
                <input type="hidden" name="certifierName" value="Amsa 123 Address Line1  POSTCODE  ">
                <input type="hidden" name="certifierOrganisationId" value="b3194990-568d-e911-a95f-000d3ab6488a">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                           Enter the alternative address for your OV
                        </h1>
                    </legend>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="address-postcode">
                            Postcode
                        </label>
  <span id="" class="">
  </span>
                        <input class="govuk-input govuk-input--width-10 " id="address-postcode" name="address-postcode" type="text" value="" aria-describedby="address-postcode-error">
                    </div>


                    <div class=" govuk-body">
                        <input class="govuk-button" type="submit" value="Find address" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
                    </div>
                </fieldset>
                <br>
                <div class="govuk-!-margin-left-0 govuk-grid-column-one-quarter govuk-!-padding-0">
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full govuk-body">
                        <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
                    </div>
                </div>
            </form>
        </div>
    </div>




{% endblock %}
