{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div>
        <span class="govuk-caption-l">About the cold store</span>
        <h1 class="govuk-heading-xl">Do you know what the product shelf life is?</h1>
        <p class="govuk-body">This is according to the labelling</p>
        <form {% if query.change=="yes" %} action="check-your-answers" {% else %} action="check-your-progress" {% endif %} method="POST">
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="has_coldstore_yes" name="has_coldstore" type="radio" value="yes" data-aria-controls="conditional-answer">
              <label class="govuk-label govuk-radios__label" for="has_coldstore_yes">Yes</label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-answer">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    From date
                  </label>
                  <span id="passport-issued-hint" class="govuk-hint">
                    For example, 27 3 2007
                  </span>
                  <div class="govuk-date-input" id="passport-issued">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                          Day
                        </label>
                        <input {% if data.shelf_day %}value="{{data.shelf_day}}" {% endif %} class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="shelf_day" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                          Month
                        </label>
                        <input {% if data.shelf_month %}value="{{data.shelf_month}}" {% endif %} class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="shelf_month" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                          Year
                        </label>
                        <input {% if data.shelf_year %}value="{{data.shelf_year}}" {% endif %} class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="shelf_year" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    To date
                  </label>
                  <span id="passport-issued-hint" class="govuk-hint">
                    For example, 27 4 2007
                  </span>
                  <div class="govuk-date-input" id="passport-issued">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                          Day
                        </label>
                        <input {% if data.shelf_day2 %}value="{{data.shelf_day2}}" {% endif %} class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="shelf_day2" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                          Month
                        </label>
                        <input {% if data.shelf_month2 %}value="{{data.shelf_month2}}" {% endif %} class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="shelf_month2" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                          Year
                        </label>
                        <input {% if data.shelf_year2 %}value="{{data.shelf_year2}}" {% endif %} class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="shelf_year2" type="number" pattern="[0-9]*">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="has_coldstore_no" name="has_coldstore" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="has_coldstore_no">
                No
              </label>
            </div>
          </div>


          <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
            <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
          </div>
        </form>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-body">
            <form action="dashboard">
              <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
            </form>
          </div>
        </div>
        <p></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
