{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Identification of animal
    </h1>
    <p class="govuk-body">If an import permit has been issued to you, enter the details below.</p>
    <form method="POST">
    <!-- <form  action="check-your-progress"  method="POST"> -->
      <fieldset class="govuk-fieldset">



        <div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="animal_name">
    What is the name of the animal?  (optional)
  </label>

  <input class="govuk-input" id="animal_name" name="animal_name" type="text" aria-describedby="animal_name-hint" value="">
</div>




        <div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="animal_breed">
    What is the breed of the animal? (optional)
  </label>

  <input class="govuk-input" id="animal_breed" name="animal_breed" type="text" aria-describedby="animal_breed-hint" value="">
</div>




        <div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="animal_age">
    How old is the animal (optional)
  </label>

  <input class="govuk-input" id="animal_age" name="animal_age" type="text" aria-describedby="animal_age-hint" value="">
</div>




        <div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="animal_colour">
    What colour is the animal? (optional)
  </label>

  <input class="govuk-input" id="animal_colour" name="animal_colour" type="text" aria-describedby="animal_colour-hint" value="">
</div>




        <div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="animal_gender">
    What sex is the animal? (optional)
  </label>

  <input class="govuk-input" id="animal_gender" name="animal_gender" type="text" aria-describedby="animal_gender-hint" value="">
</div>


        <div class="govuk-form-group govuk-!-margin-top-8">

          <input class="govuk-button govuk-!-margin-right-1" type="submit" name="cta" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">

        </div>
      </fieldset>
    </form>
    <p class="govuk-body"><a class="link-button" href="dashboard" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">Save and continue later</a></p>
  </div>
</div>






{% endblock %}
