{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<!--start-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form  method="POST">
      <div class="govuk-form-group">
        <h1 class="govuk-heading-xl">Is this the right delivery address for your certificate?</h1>
        <p class="govuk-body govuk-fieldset__legend--m">Aberdour Vets<br>
          <span id="certificate-delivery-address-line-1">182a</span><br>
          <span id="certificate-delivery-address-line-2">High Street</span><br>
          <span id="certificate-delivery-address-town">Beckenham</span><br>
          <span id="certificate-delivery-address-country">Kent</span><br>
          <span id="certificate-delivery-address-postcode">BR3 1EW</span><br>
        </p>
      </div>
      <br>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-heading-m">Confirm certificate delivery address:</h1>
          </legend>
          <div>
            <div class="govuk-body govuk-details__text">
              An authorising declaration must have been submitted by the Certifier Practice to the
              <strong class="bold">Centre for International Trade - Carlisle</strong>
              to enable certificates to be posted to an address other than that of the Certifier Practice address.
              A declaration form can be obtained from the <strong class="bold">Centre for International Trade - Carlisle</strong> on request.
            </div>
          </div>
          <div class="govuk-radios ">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="default-address-option" name="is_certifier_address_correct" type="radio" value="yes">
              <label id="default-address-option-label" class="govuk-label govuk-radios__label govuk-label--s" for="default-address-option">
                Yes, deliver to this address
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="manual-address-option" name="is_certifier_address_correct" type="radio" value="no" aria-describedby="manual-address-option-hint">
              <label id="manual-address-option-label" class="govuk-label govuk-radios__label govuk-label--s" for="manual-address-option">
                No, deliver to a different address
              </label>
              <span id="manual-address-option-hint" class="govuk-hint govuk-radios__hint">
                Enter manually
              </span>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="govuk-!-margin-left-0 govuk-grid-column-one-quarter govuk-!-padding-0">
        <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-CertificateDeliveryAddressSaveAndContinue" data-qa-id="Button-SaveAndContinue">
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-body">
          <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
        </div>
      </div>
    </form>
  </div>
</div>
{% block chatbot %}{% include "../../../../../includes/chat.html" %}{%endblock%}
{% endblock %}
