{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<!--start-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Who is exporting the product?
    </h1>
    <p class="govuk-body">If you are the exporter, provide your name or business name. If you are an agent representing someone else, provide their name or business name.</p>
    <form {% if query.change=="yes" %} action="../check-your-answers" {% elseif page.content.prodcut and query.change=="product" %} action="product-list" {% else %} action="{{page.content.next or '../check-your-progress'}}" {% endif %} method="POST">
      <!-- <form  action="check-your-progress"  method="POST"> -->
      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label" for="exporter_name">
            Exporter name
          </label>
          <input class="govuk-input" id="exporter_name" name="exporter_name" type="text" aria-describedby="exporter_name-hint" value="">
        </div>
        <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
          <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
        </div>
      </fieldset>
    </form>
    <p class="govuk-body"><a class="link-button" href="dashboard" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">Save and continue later</a></p>
  </div>
</div>
{% block chatbot %}{% include "../../../../../includes/chat.html" %}{%endblock%}
{% endblock %}
