
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main" data-qa-page="Page-Organisation-Search" data-qa-id="Question-Page-Form-Question-1">

        <div class="govuk-form-group " id="Form-Organisation">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Select certifying organisation
                    </h1>
                </legend>
        <span id="Hint-CertifierOrganisation" class="govuk-hint">
          Select the certifier practice to include with your application
        </span>
            </fieldset>
        </div>

        <form name="search-form" action="" method="GET">
            <div class="border-box govuk-grid-column-full">


                <div class="govuk-grid-column-one-half govuk-form-group">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-!-font-weight-bold" for="filter">Filter</label>
                        <input class="govuk-input" id="filter" type="text" name="filter" data-qa-id="TextField-filter" value="" placeholder="">
                    </div>
                </div>

                <div class="govuk-form-group govuk-grid-column-one-quarter">
                    <div class="govuk-label margin-top-45">
                        <button type="submit" name="name" value="" class="link-button" id="Button-Search" data-qa-id="Button-Search">
                            Search
                        </button>
                        <button type="submit" name="clear" value="clear" class="link-button" id="Button-Clear" data-qa-id="Button-Clear">
                            Clear
                        </button>
                    </div>
                </div>

            </div>
        </form>

        <table class="govuk-table" data-qa-id="TABLE_FORM_CERTIFIER">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Name</th>
                <th class="govuk-table__header">Address</th>
                <th class="govuk-table__header">Area</th>
                <th class="govuk-table__header">Category of certification</th>
                <th class="govuk-table__header">Actions</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    Amsa 123 Address Line1  POSTCODE
                </td>
                <td class="govuk-table__cell wrap">
                    <span>123 Address Line1</span>
                    <span>1</span>
                    <span>1</span>
					<span>d</span>
                    <span>POSTCODE</span>
                </td>
                <td class="govuk-table__cell">

                </td>
                <td class="govuk-table__cell">
                    CERTIFIER QUALIFICATION
                </td>
                <td class="govuk-table__cell">
                    <form action="2" method="POST">
					
						<input type="hidden" name="address1" value="123 Address Line1">
						<input type="hidden" name="address2" value="1">
						<input type="hidden" name="city" value="1">
						<input type="hidden" name="county" value="d">
						<input type="hidden" name="postcode" value="POSTCODE">
					
                        <input type="hidden" name="crumb_csrf_token" value="gTlLBKyL-1hcIX_eIlqttNqVHhFrTHmuqTG5yTJsotb">
                        <input type="hidden" name="ehcNumber" value="7006EHC">
                        <input type="hidden" name="applicationFormId" value="1721147986171">
                        <input type="hidden" name="pageSequence" value="1">
                        <input id="certifier-organisation-name-field-0" type="hidden" name="certifierName" value="Amsa 123 Address Line1  POSTCODE  ">

                        <input id="certifier-organisation-address-id-field-0" type="hidden" name="addressId" value="a14e40ea-568d-e911-a95f-000d3ab6488a">
                        <input id="certifier-organisation-id-field-0" type="hidden" name="certifierOrganisationId" value="b3194990-568d-e911-a95f-000d3ab6488a">
                        <input class="link-button" type="submit" name="saveAndContinue" value="Select" id="Button-SaveAndContinue-0" data-qa-id="Button-SaveAndContinue">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
    </main>
</div>



{% endblock %}
