{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Your export application <br>has been received
        </h1>

        <div class="govuk-panel__body">
          Your reference number is <br>
          <strong class="bold" id="applicationFormId" data-qa-id="TextDisplay-CVEDReferenceNumber">1651966034932</strong>
        </div>
      </div>

      <p class="govuk-body">
        Your {{data.certificate}} application has been successfully submitted.
      </p>
        <form action="../dashboard">
          {% if data.journey=="new" %}
            <a class="govuk-button" href="../dashboard-1?draft=no&submitted=yes">Return to home</a>
          {% else %}
            <a class="govuk-button" href="../{{data.return_url or 'dashboard'}}?draft=no&submitted=yes">Return to home</a>
          {% endif %}
        </form>
        <!--stop-->
      </div>
    </div>
  </div>
</div>
{% endblock %}
