{% extends "layout.html" %}

{% block pageTitle %}
{{page.title}} - GOV.UK
{% endblock %}

{% block beforeContent%}
{{super()}}
<a href="{{page.content.prev or 'javascript:history.back()'}}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">
            {{ product.title or 'Your products'}}
          </h1>
          {% if product.content.paragraph %}
          <p class="govuk-body">{{product.content.paragraph}}</p>

          {% else %}
          <p class="govuk-body">You can add up to 5.</p>
          <p class="govuk-body">If you need to add more, attach a schedule as a <a href="exa/supporting-documents" class="govuk-link">supporting document</a> at the end of this application.</p>
          {% endif %}
  </div>

  <div class="govuk-grid-column-three-quarters">



      <!-- <p class="govuk-body">{{ data.products | length }} product{% if (data.products | length )!=1%}s{%endif%} added</p> -->
        {% if (data.products | length ) >0 %}
        {% for prod in data.products %}
        <div class="app-summary-card ">
          <header class="app-summary-card--header">
            <h3 class="app-summary-card--title">{{loop.index}}. {{prod[product.content.fields[0].name]}}</h3>
            <div class="app-summary-card__actions">
              <ul class="app-summary-card__actions-list">
                <li class="app-summary-card__actions-list-item">
                  <a class="govuk-link" href="product-list?delete={{loop.index -1}}&id={{query.id}}">
                    Delete<span class="govuk-visually-hidden"></span>
                  </a>
                </li>
                <li class="app-summary-card__actions-list-item">
                  <a class="govuk-link" href="page?id={{task.page or 2}}&edit={{prod.id}}&next=product-list&product_page=yes&change=yes">
                    Change<span class="govuk-visually-hidden"></span>
                  </a>
                </li>
              </ul>
            </div>
          </header>
          <div class="app-summary-card--content">
            <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
              <tr class="govuk-table__row">
                {% for question in product.content.fields %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {{question.label}}
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if prod[question.name]%}
                    {{prod[question.name]}}
                    {%else%}
                    <span class="govuk-hint">You skipped this question</span>
                  {% endif %}
                </dd>
              </div>
              {% endfor %}
            </dl>
          </div>
        </div>
            {% endfor %}

      {% endif %}
      {% if (data.products | length ) < 5 %}
    <a class="govuk-button grey-black-text"  style="color:#000000" href="page?id={{query.id or 2}}&next=product-list&product_page=yes&new=yes" id="Button-AddAnother">{% if (data.products | length) == 0 %}Add{%else%}Add another{% endif %}</a>
    {% else %}
    <p class="govuk-body">You have added the maximum number of items. If you need to add more, upload a <a href="exa/supporting-documents" class="govuk-link">supporting document</a> at the end of this application.</p>


    {% endif %}
    <form {% if query.change=="yes" %} action="check-your-answers" {% elseif page.content.prodcut and query.change=="product" %} action="product-list" {% else %} action="{{page.content.next or 'check-your-progress'}}" {% endif %} method="POST">
      <input type="hidden" name="crumb_csrf_token" value="nAitoNVyVGtnnzUQ-QQk78LOMzR_-9L6qqu86Lg9aRY">
      <div class="govuk-!-margin-left-0 govuk-grid-column-one-quarter govuk-!-padding-0">
        <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-body">
          <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
        </div>
      </div>
    </form>
    </div>
{% endblock %}
