{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block pageTitle %}
  Number of certificates
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" id="form" class="form">

      <!--<span class="govuk-caption-l"></span>-->
      <h1 class="govuk-heading-l">Number of certificates</h1>

      <p>
        You can apply for a block of up to 100 certificates for frequent and regular consignments to the same country.
      </p>

      <fieldset class="govuk-fieldset">

        <div class="govuk-form-group">
          <label class="govuk-label" for="block-certificate-quanity">
            Number of certificates required
          </label>
          <input class="govuk-input govuk-input--width-3" id="block-certificate-quanity" name="block-certificate-quanity" type="number" value="100">
        </div>
          
      </fieldset>

      <a href="#" class="govuk-button">
        Save and continue
      </a>

      <p>
        <a href="dashboard.html">
          Save and continue later
        </a>
      </p>

      </form>
    
    </div>
</div>

{% endblock %}