{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Export health certificate {{data.certificate_code or query.certificate or "2849"}}
        <span class="govuk-caption-l">{{certificate_title or "Permanently export horses to the United Arab Emirates (UAE)"}}</span>
      </h1>
      <div class="page-content">
        {{data.editor1 | safe }}
      </div>
      <form method="post" action="./check-your-progress">
        <p class="govuk-body"><button type="submit" class="govuk-button">Continue</button>
      </form>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-body">
          <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
        </div>
      </div>
      <p></p>
    </div>
    {% if query.first_time=="yes" %}
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m">Before your start</h2>
        <p class="govuk-body govuk-!-font-size-16">Your answers will go into an export health certificate: <a href="https://assets.publishing.service.gov.uk/media/5bc45a36ed915d0ae0044a25/2849EHC_V1.pdf">download a sample {{data.certificate_code}}
            certificate </a></p>
        <p class="govuk-body govuk-!-font-size-16">Read <a href="https://assets.publishing.service.gov.uk/media/5bc45a53ed915d0ad7db6c87/2849NFG.doc">APHA's guidance for exporters and certifiers</a></p>
      </aside>
    </div>
    {% endif %}
  </div>
</div>
<script type="text/javascript">
  function defer(method) {
    if (window.jQuery) {
      method();
    } else {
      setTimeout(function() {
        defer(method)
      }, 50);
    }
  }
  window.onresize = function(event) {
    resize()
  };
  function init() {
    if (!$('h1').hasClass(govuk - heading - xl ')){
        $('h1').addClass('govuk-heading-l')
      }
      $('h2').addClass('govuk-heading-m') $('h3').addClass('govuk-heading-s') $('p').addClass('govuk-body') $('ul').addClass('govuk-list govuk-list--bullet') $('ol').addClass('govuk-list govuk-list--number')
    }
    defer(function() {
      init()
    });
</script>
{% endblock %}
