
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>


<div class="govuk-width-container">


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div>
                    <h1 class="govuk-heading-xl margin-bottom-0">Exporter declaration</h1>
                </div>
                <div class="margin-top-30">
                    <p class="govuk-body" lang="en">

                        By submitting this application form, you are agreeing that to the best of your knowledge and belief the statements made in this document are true and complete. You will comply with the legal requirements of UK law, including payment for official controls (veterinary checks), repossession of any consignment rejected after transit from the UK to another country or costs of destruction if necessary.




                    </p>
                    <p class="govuk-body">Date of declaration: <span data-qa-id="TextDisplay-DateOfDeclaration">25 July 2019</span></p>
                </div>
            </div>

            <div class="govuk-grid-column-full">
                <form class="review-form" action="declaration" method="POST">
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" type="checkbox" autofocus="autofocus" name="confirm" id="confirm">
                            <label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold" for="confirm">
                                I confirm the information I have entered is correct to the best of my knowledge
                            </label>
                        </div>
                    </div>

                    <br>
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" type="checkbox" autofocus="autofocus" name="confirm" id="confirm">
                            <label class="govuk-label govuk-checkboxes__label govuk-!-font-weight-bold" for="confirm">
                                I'm ready to submit this application to my nominated vet or certifier
                            </label>
                        </div>
                    </div>


                    <input type="hidden" name="crumb_csrf_token" value="-OFEIl7HkGmNi3ZbrlI4BeayEl-1-jTpR6CRsveyix5">
                    <input name="submissionDate" type="hidden" value="25 July 2019">
                    <input class="govuk-button margin-top-30" type="submit" value="Submit application" id="Button-SubmitApplication">


                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-body">
                            <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">
                        </div>
                    </div>

                </form>
            </div>
        </div>
</div>






{% endblock %}
