{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block pageTitle %}
  Review your answers
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form method="post" id="form" class="form">

      <span class="govuk-caption-l">Section 1: Identification of the animal</span>
      <h1 class="govuk-heading-l">Review your answers</h1>

      <table class="govuk-table" style="margin-bottom: 60px;">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header" scope="col">Breed</th>
            <th class="govuk-table__header" scope="col">Age</th>
            <th class="govuk-table__header" scope="col">Colour</th>
            <th class="govuk-table__header" scope="col">Sex</th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Derek</td>
            <td class="govuk-table__cell" scope="row">Augeron</td>
            <td class="govuk-table__cell" scope="row">8</td>
            <td class="govuk-table__cell" scope="row">Green</td>
            <td class="govuk-table__cell" scope="row">Male</td>
            <td class="govuk-table__cell" scope="row"><a href="repeatableQuestion1Edit" class="govuk-link govuk-link--no-visited-state">Edit</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Ian</td>
            <td class="govuk-table__cell" scope="row">Campolina</td>
            <td class="govuk-table__cell" scope="row">9</td>
            <td class="govuk-table__cell" scope="row">Orange</td>
            <td class="govuk-table__cell" scope="row">Male</td>
            <td class="govuk-table__cell" scope="row"><a href="repeatableQuestion2Edit" class="govuk-link govuk-link--no-visited-state">Edit</a></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Tina</td>
            <td class="govuk-table__cell" scope="row">Falabella</td>
            <td class="govuk-table__cell" scope="row">5</td>
            <td class="govuk-table__cell" scope="row">Purple</td>
            <td class="govuk-table__cell" scope="row">Female</td>
            <td class="govuk-table__cell" scope="row"><a href="repeatableQuestion3Edit" class="govuk-link govuk-link--no-visited-state">Edit</a></td>
          </tr>
        </tbody>
      </table>

      <a href="#" class="govuk-button">
        Save and continue
      </a>

      <p class="govuk-body">
        <a href="/dashboard.html" class="govuk-link govuk-link--no-visited-state">
          Save and continue later
        </a>
      </p>

      </form>
    
    </div>
</div>

{% endblock %}
