
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          We are experiencing technical problems
      </h1>
<p>Everything you have done until now has been saved.</p>

        <p>We have reported this to the team that manages the service and they will fix it as soon as possible.</p>



        <p>If you would like to complete the Export health certificate form offline you can call us on 03000 200 301. We are open from 8:30am until 5:00pm Monday - Friday. </p>

    </div>
</div>

{% endblock %}
