{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style media="screen">
  .govuk-grid-row--2column .govuk-grid-column-one-half {
    margin-bottom: 10px
  }
</style>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/protected/form/8270EHC/application/1721147994690/choose-commodity" method="POST" enctype="">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
              Live shellfish
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-grid-row govuk-grid-row--2column">

              <div class="govuk-grid-column-one-half">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e" name="selectedCommodityNameOrCommodityType" type="radio" value="e64d28b3-473b-4612-b0c1-d134cf2f3c1f/cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
                  <label class="govuk-label govuk-radios__label" for="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
                    saidjfoij asjdfij sdjisj sjdifas jodoi djsfij
                  </label>
                </div>
              </div>

              <div class="govuk-grid-column-one-half">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e" name="selectedCommodityNameOrCommodityType" type="radio" value="e64d28b3-473b-4612-b0c1-d134cf2f3c1f/cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
                  <label class="govuk-label govuk-radios__label" for="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
                    crabs
                  </label>
                </div>
              </div>

              <div class="govuk-grid-column-one-half">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e" name="selectedCommodityNameOrCommodityType" type="radio" value="e64d28b3-473b-4612-b0c1-d134cf2f3c1f/cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
                  <label class="govuk-label govuk-radios__label" for="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
                    crabs
                  </label>
                </div>
              </div>

              <div class="govuk-grid-column-one-half"">
            <div class=" govuk-radios__item">
                <input class="govuk-radios__input" id="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e" name="selectedCommodityNameOrCommodityType" type="radio" value="e64d28b3-473b-4612-b0c1-d134cf2f3c1f/cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
                <label class="govuk-label govuk-radios__label" for="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
                  crabs
                </label>
              </div>
            </div>

            <div class="govuk-grid-column-one-half"">
            <div class=" govuk-radios__item">
              <input class="govuk-radios__input" id="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e" name="selectedCommodityNameOrCommodityType" type="radio" value="e64d28b3-473b-4612-b0c1-d134cf2f3c1f/cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
              <label class="govuk-label govuk-radios__label" for="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
                crabs
              </label>
            </div>
          </div>

          <div class="govuk-grid-column-one-half"">
            <div class=" govuk-radios__item">
            <input class="govuk-radios__input" id="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e" name="selectedCommodityNameOrCommodityType" type="radio" value="e64d28b3-473b-4612-b0c1-d134cf2f3c1f/cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
            <label class="govuk-label govuk-radios__label" for="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
              crabs
            </label>
          </div>
      </div>

  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    <h1 class="govuk-fieldset__heading">
      Live shellfish
    </h1>
  </legend>
  <div class="govuk-radios">
    <div class="govuk-grid-row govuk-grid-row--2column">

      <div class="govuk-grid-column-one-half">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e" name="selectedCommodityNameOrCommodityType" type="radio" value="e64d28b3-473b-4612-b0c1-d134cf2f3c1f/cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
          <label class="govuk-label govuk-radios__label" for="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
            crabs
          </label>
        </div>
      </div>

      <div class="govuk-grid-column-one-half">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e" name="selectedCommodityNameOrCommodityType" type="radio" value="e64d28b3-473b-4612-b0c1-d134cf2f3c1f/cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
          <label class="govuk-label govuk-radios__label" for="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
            crabs
          </label>
        </div>
      </div>

      <div class="govuk-grid-column-one-half">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e" name="selectedCommodityNameOrCommodityType" type="radio" value="e64d28b3-473b-4612-b0c1-d134cf2f3c1f/cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
          <label class="govuk-label govuk-radios__label" for="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
            crabs
          </label>
        </div>
      </div>

      <div class="govuk-grid-column-one-half"">
              <div class=" govuk-radios__item">
        <input class="govuk-radios__input" id="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e" name="selectedCommodityNameOrCommodityType" type="radio" value="e64d28b3-473b-4612-b0c1-d134cf2f3c1f/cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
        <label class="govuk-label govuk-radios__label" for="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
          crabs
        </label>
      </div>
    </div>

    <div class="govuk-grid-column-one-half"">
              <div class=" govuk-radios__item">
      <input class="govuk-radios__input" id="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e" name="selectedCommodityNameOrCommodityType" type="radio" value="e64d28b3-473b-4612-b0c1-d134cf2f3c1f/cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
      <label class="govuk-label govuk-radios__label" for="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
        crabs
      </label>
    </div>
  </div>

  <div class="govuk-grid-column-one-half"">
              <div class=" govuk-radios__item">
    <input class="govuk-radios__input" id="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e" name="selectedCommodityNameOrCommodityType" type="radio" value="e64d28b3-473b-4612-b0c1-d134cf2f3c1f/cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
    <label class="govuk-label govuk-radios__label" for="commodityName-cd81d52e-f3ee-46e5-adb7-d248b4fedc4e">
      crabs
    </label>
  </div>
  </div>

  </div>
  </div>
</fieldset>
</div>


<div class="govuk-!-margin-left-0 govuk-grid-column-one-quarter govuk-!-padding-0">
  <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-body">
    <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
  </div>

</form>
</div>
</div>

{% endblock %}
