
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
        <style>.govuk-radios__item {

            margin-bottom: 10px!important;

        }</style>


<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>
<div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">What is the specific commodity you are exporting?
                </h1>

                <form action="4-plus" method="POST" enctype="application/x-www-form-urlencoded">









                    <div class="govuk-radios ">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="changed-name">
                                Registered
                            </label>
                        </div>
                        </div>



                        <div class="govuk-radios ">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                                <label class="govuk-label govuk-radios__label" for="changed-name">

                                    Unregistered



                                </label>
                            </div>
                            </div>

























                    <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
                        <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                    </div>
                </form>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-body">
                            <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
                        </div>
                    </div>



                    <p></p>
                </div>
            </div>
        </div>
</div>


        <script>

            window.onload = function(){
          $(document).ready(function () {
                $("#watch-me").click(function() {
                    $("#show-me:hidden").show('slow');
                });
                $("#watch-me").click(function(){
                    if($('watch-me').prop('checked')===false) {
                        $('#show-me').hide();}
                });
            });



                $(document).ready(function () {
                    $("#watch-me2").click(function() {
                        $("#show-me2:hidden").show('slow');
                    });
                    $("#watch-me2").click(function(){
                        if($('watch-me2').prop('checked')===false) {
                            $('#show-me2').hide();}
                    });
                });



            }
        </script>


{% endblock %}
