
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">


<div class="gem-c-contextual-breadcrumbs">

    <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item" aria-current="false">
                <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="index">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="false">
                <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/export-health-certificates" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Export health certificates&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="#">Export health certificates</a>
            </li>
        </ol>
    </div>
</div>


<main class="govuk-main-wrapper " id="main-content" role="main">


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-heading-s">
            <h1>
                Export male horses to the USA: certificate 3987

            </h1>


            <label class="govuk-label" style="font-size: 24px;">
                Use these forms and guidance documents to export male horses (colts, stallions and geldings) to the USA.


               <!-- In the event the UK leaves the EU without a deal, use these forms and guidance notes to export hatching eggs of poultry like chickens,
                ducks and turkeys, other than ratites to, or transit through, member states of the European Union.
            --></label>

        </div>
    </div>


    <div class="grid-row">
        <div class="govuk-grid-column-full">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col"></th>
                    <th class="govuk-table__header" scope="col"></th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row" style="border-bottom: 0px; font-size: 16px;">Published 29 November
                        2018<br>
                        <label class="govuk-label" style="font-size: 16px;">
                            From: <a class="govuk-breadcrumbs govuk-!-font-weight-bold" style="font-size: 16px;" href="/government/organisations/animal-and-plant-health-agency">Animal and Plant Health Agency</a>
                        </label>
                    </td>
                    <td class="govuk-table__cell"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <style>
            .app-c-important-metadata--bottom-margin {
                margin-bottom: 45px;
            }

            .app-c-important-metadata--bottom-margin {
                margin-bottom: 15px;
            }

            .app-c-important-metadata {
                overflow: auto;
                padding: 20px 30px;
            }

            .app-c-important-metadata {
                font-size: 16px;
                line-height: 1.25;
            }

            .app-c-important-metadata {
                font-family: "nta", Arial, sans-serif;
                font-weight: 400;
                text-transform: none;
                font-size: 14px;
                line-height: 1.1428571429;
                background: #005ea5;
                color: #fff;
                padding: 15px;
            }

            .app-c-important-metadata a,
            .app-c-important-metadata a:visited,
            .app-c-important-metadata a:hover {
                color: #fff;
                text-decoration: underline;
            }

            .app-c-important-metadata__definition {
                font-weight: bold;
            }

            .app-c-important-metadata__term {
                float: left;
                padding-right: 5px;
            }

            .gem-c-govspeak h2:first-child, .gem-c-govspeak h3:first-child, .gem-c-govspeak h4:first-child, .gem-c-govspeak p:first-child {
                margin-top: 0;
            }

            .gem-c-govspeak h3 {
                font-size: 19px;
                line-height: 1.3157894737;
            }

            .gem-c-govspeak h3 {
                font-family: "nta", Arial, sans-serif;
                font-weight: 700;
                text-transform: none;
                font-size: 16px;
                line-height: 1.25;
                margin-top: 35px;
                margin-bottom: 0;
            }

            .gem-c-govspeak ol, .gem-c-govspeak ul, .gem-c-govspeak p {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .gem-c-govspeak ol, .gem-c-govspeak ul, .gem-c-govspeak p {
                font-size: 19px;
                line-height: 1.3157894737;
            }

            .gem-c-govspeak .call-to-action {
                margin: 2em 0;
                background-color: #dee0e2;
                padding: 2em;
            }

            .gem-c-govspeak h2 {
                font-family: "nta", Arial, sans-serif;
                font-weight: 700;
                text-transform: none;
                font-size: 20px;
                line-height: 1.1111111111;
                margin-top: 30px;
                margin-bottom: 0;
            }

        </style>



        <div class="app-c-important-metadata app-c-important-metadata--bottom-margin">
            <dl>
                <dt class="app-c-important-metadata__term">Destination country: </dt>
                <dd class="app-c-important-metadata__definition"><a href="/export-health-certificates?destination_country%5B%5D=china">USA</a></dd>
                <dt class="app-c-important-metadata__term">Commodity type: </dt>
                <dd class="app-c-important-metadata__definition"><a href="/export-health-certificates?commodity_type%5B%5D=animal-products-including-food">Animal products including food</a></dd>
                <dt class="app-c-important-metadata__term">Certificate status: </dt>
                <dd class="app-c-important-metadata__definition"><a href="/export-health-certificates?certificate_status%5B%5D=active">Active</a></dd>
            </dl>
        </div>
        <div class="column-one-third">
            <div class="gem-c-contextual-sidebar">

            </div>
        </div>






        <div id="contents" class="app-c-contents-list-with-body">

            <div class="responsive-bottom-margin">

                <div class="gem-c-govspeak govuk-govspeak direction-ltr">

                    <div class="call-to-action">
                        <h3 id="section-a-forms">Section A: apply online</h3>

                        <p>
                            <a href="confirmation">Apply online</a> to export horses from Great Britain to the USA</p>
                    </div>

                    <div class="call-to-action">
                        <h3 id="section-b-guidance">Section B: guidance</h3>

                        <p>The following documents have guidance, extra export conditions and information.</p>

                        <ul>
                            <li><span class="attachment-inline"><a target="_blank" href="
                            https://assets.publishing.service.gov.uk/media/5bc45f86ed915d0b01a1bcd3/3987NFG.pdf
                            ">Guidance notes for certificate 3987</a></span></li>
                        </ul>
                    </div>

                    <div class="call-to-action" style="background:">
                        <h3 id="section-b-guidance">If you need help to complete online forms</h3>

                        <p>Exporters in England, Scotland and Wales can request help by contacting the Application Processing Team:</p>
                        <p>Email: <a href="mailto:processingteam@apha.gov.uk">processingteam@apha.gov.uk</a> </p>
                        <p>Telephone helpline: 03000 200 301 </p>
                        <p>Exporters in Northern Ireland can call:<br> The DAERA helpline: 02877442060</p>

                    </div>


                    <h2 id="what-you-need-to-do">What you need to do</h2>

                    <p>You need to fill out this certificate, the export application form (EXA) and all other documents in Section A to export. The guidance notes in Section B have information for exporters and official veterinarians.</p>

                    <p>Email all documents in Section A to <a href="mailto:liveanimalexports.carlisle@apha.gov.uk">liveanimalexports.carlisle@apha.gov.uk</a>. Send one email for each application.</p>

                    <p>Before you apply, make sure you have the most up to date version of the certificate as certificates are sometimes updated. The most up to date version will be on this page.</p>

                    <p>If you do not use the latest version, your application will not be accepted.</p>

                </div>

            </div>

            <div>
                <label class="govuk-label" style="font-size: 16px;">
                    Published 29 November 2018
                </label>
            </div>

        </div>



    </div>
</div>

<div class="column-one-third">

    <div class="gem-c-contextual-sidebar">




    </div>

</div>

</main></div>

{% endblock %}
