
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div>
                    <h1 id="questionPageHeading" class="govuk-heading-l">7006EHC</h1>
                    <p>
                    </p><form action="5" method="POST" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="crumb_csrf_token" value="gTlLBKyL-1hcIX_eIlqttNqVHhFrTHmuqTG5yTJsotb">

                    <!-- @formatter:off -->
                    <div class="govuk-form-group ">
                        <label class="govuk-label govuk-!-font-weight-bold" for="7006EHC-0">What is the name of the exporter?</label>
                        <input class="govuk-input form-control-3-4" id="7006EHC-0" name="exporter" value="{{ data['exporter'] }}" type="text" autofocus="autofocus" data-qa-id="Question-7006EHC-0">
                    </div>
                    <input type="hidden" name="0-formQuestionId" value="40">
                    <input type="hidden" name="0-questionId" value="6">
                    <input type="hidden" name="0-formName" value="exa07---meat">
                    <input type="hidden" name="0-questionText" value="What is the name of the exporter?">
                    <input type="hidden" name="0-questionType" value="text">
                    <input type="hidden" name="0-questionOrder" value="1">
                    <input type="hidden" name="0-questionScope" value="APPLICANT">
                    <input type="hidden" name="questionSequence-40" value="0">   <div class="govuk-form-group ">
                    <!-- @formatter:off -->
                    <fieldset id="7006EHC-1" class="govuk-fieldset">
                        <!-- @formatter:on -->
                        <legend class="govuk-fieldset__legend" for="7006EHC-1">
                            <label class="govuk-label govuk-!-font-weight-bold">The paper certificate will be sent to your nominated address for certification. How would you like the certificate to be delivered?</label>
                        </legend>

                        <div class="govuk-hint">The paper certificate will be sent to your nominated address for certification. How would you like the certificate to be delivered?   Special delivery and courier charges to be arranged and paid for by the applicant</div>

                        <div class="govuk-radios govuk-radios">
                            <div class="govuk-radios__item">
                                <input type="radio" class="govuk-radios__input" id="First class post" value="First class post" name="certificate" data-qa-id="Question-radio-" {{ checked("certificate", "First class post") }}>
                                <label class="govuk-label govuk-radios__label" for="First class post">First class post</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input type="radio" class="govuk-radios__input" id="Special delivery" value="Special delivery" name="certificate" data-qa-id="Question-radio-" {{ checked("certificate", "Special delivery") }}>
                                <label class="govuk-label govuk-radios__label" for="Special delivery">Special delivery</label>
                            </div>
                            <p class="form-block">or</p>
                            <div class="govuk-radios__item">
                                <input type="radio" class="govuk-radios__input" id="Courier" value="Courier" name="certificate" data-qa-id="Question-radio-" {{ checked("certificate", "Courier") }}>
                                <label class="govuk-label govuk-radios__label" for="Courier">Courier</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                    <input type="hidden" name="1-formQuestionId" value="48">
                    <input type="hidden" name="1-questionId" value="2">
                    <input type="hidden" name="1-formName" value="exa07---meat">
                    <input type="hidden" name="1-questionText" value="The paper certificate will be sent to your nominated address for certification. How would you like the certificate to be delivered?">
                    <input type="hidden" name="1-questionType" value="single_select">
                    <input type="hidden" name="1-questionOrder" value="9">
                    <input type="hidden" name="1-questionScope" value="APPLICANT">
                    <input type="hidden" name="questionSequence-48" value="1">   <div class="govuk-form-group ">
                    <!-- @formatter:off -->
                    <fieldset id="7006EHC-2" class="govuk-fieldset">
                        <!-- @formatter:on -->
                        <legend class="govuk-fieldset__legend" for="7006EHC-2">
                            <label class="govuk-label govuk-!-font-weight-bold">In which region will the certification take place?</label>
                        </legend>


                        <div class="govuk-radios govuk-radios">
                            <div class="govuk-radios__item">
                                <input type="radio" class="govuk-radios__input" id="England" value="England" name="region" data-qa-id="Question-radio-" {{ checked("region", "England") }}>
                                <label class="govuk-label govuk-radios__label" for="England">England</label>
                            </div>
                            <div class="govuk-radios__item">
                                <input type="radio" class="govuk-radios__input" id="Scotland" value="Scotland" name="region" data-qa-id="Question-radio-" {{ checked("region", "Scotland") }}>
                                <label class="govuk-label govuk-radios__label" for="Scotland">Scotland</label>
                            </div>
                            <p class="form-block">or</p>
                            <div class="govuk-radios__item">
                                <input type="radio" class="govuk-radios__input" id="Wales" value="Wales" name="region" data-qa-id="Question-radio-" {{ checked("region", "Wales") }}>
                                <label class="govuk-label govuk-radios__label" for="Wales">Wales</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                    <input type="hidden" name="2-formQuestionId" value="49">
                    <input type="hidden" name="2-questionId" value="4">
                    <input type="hidden" name="2-formName" value="exa07---meat">
                    <input type="hidden" name="2-questionText" value="In which region will the certification take place?">
                    <input type="hidden" name="2-questionType" value="single_select">
                    <input type="hidden" name="2-questionOrder" value="10">
                    <input type="hidden" name="2-questionScope" value="APPLICANT">
                    <input type="hidden" name="questionSequence-49" value="2">            <!-- @formatter:on -->
                    <input type="hidden" id="numQuestionsOnPage" name="numQuestionsOnPage" value="3">
                    <div class="govuk-grid-row margin-top-30"></div>
                    <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
                        <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-body">
                            <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">
                        </div>
                    </div>

                </form>

                    <p></p>
                </div>
            </div>
        </div>
</div>

{% endblock %}
