
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>
{% endblock%}
{% block content %}
        <style>.app-tabs {
            border: 1px solid #b58840;
        }
        .app-tabs:hover {
            border: 1px solid #1d70b8	;
        }
       </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Adding products version 2
      </h1>
      <p class="govuk-body">No jira ticket available yet</p>
        <ul class="govuk-list">
          <li><a href="certificate/check-your-progress?certificate=ehc8327&export_date_day=1&products=">From the task list (no products added)</a></li>
          <li><a href="certificate/check-your-progress?certificate=ehc1631_v2&export_date_day=1&products=">Using 1631EHC (long form)</a></li>
          <li><a href="certificate/page?id=2&next=product-list&product_page=yes&new=yes">From the product list page (nothing added)</a></li>
    </div>
</div>

{% endblock %}
