<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h3 class="govuk-fieldset__heading">
        {{field.label}} {% if field.required == 'no'%}(optional ){%endif%}
      </h3>

      {% if field.hint %}<span class="govuk-hint">{{field.hint}}</span>{% endif %}
    </legend>
<div class="govuk-radios {% if field.inline == 'yes'%}govuk-radios--inline{% endif %}">
      {% for radio in field.options %}
      {% if loop.index == (field.options | length) and (field.options | length) > 2 %}
      <div class="govuk-radios__divider">or</div>
      {% endif %}
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="{{field.id}}" name="{{field.name}}" type="radio" value="{{radio.value}}" {% if data[field.name] == radio.value %}checked="checked"{%endif%}>
        <label class="govuk-label govuk-radios__label" for="{{radio.value}}">
          {{radio.title}}
        </label>
      </div>

    {% endfor %}
</div>
</fieldset>
</div>
