{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
<style>h2{padding-top: 50px!important;}</style>
<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">
        Review your answers
      </h1>
      <div class="govuk-details__text">
        <strong class="govuk-body ">
          Your application for a health certificate is now ready to be submitted.<br>
          Please check that the answers you've provided are correct.
        </strong>
      </div>
      <br /><br />
      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="specific-commodity-question">
              What are you exporting?
            </td>
            <td class="govuk-table__cell" scope="row" id="specific-commodity-answer">
              {{data.commodity_type or "Crab"}}
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="exa/your-commodity?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-specific-commodity-question">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="-6-question">Group reference number (optional)
            </td>
            <td class="govuk-table__cell" scope="row" id="0-answer">{{data.reference_num or "no reference"}}
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="exa/reference?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-0">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="-5-question">Number of certificates
            </td>
            <td class="govuk-table__cell" scope="row" id="1-answer">{{data.certificate_request_amount or "1"}}
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="exa/certificates?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-1">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="-7-question">Point of entry into the European Economic Area
            </td>
            <td class="govuk-table__cell" scope="row" id="2-answer">{{data.export_destination_entry}}
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="exa/export-destination?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-2">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="-3-question">Destination in the European Economic Area
            </td>
            <td class="govuk-table__cell" scope="row" id="3-answer">{{data.export_destination}}
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="exa/export-destination?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-3">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="-question">Select the certifier practice to include with your application
            </td>
            <td class="govuk-table__cell" scope="row" id="4-answer">Barnyard Dawg Electra Way CW1 6GJ
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="exa/certifier?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-4">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="-question">Select certificate delivery address
            </td>
            <td class="govuk-table__cell" scope="row" id="5-answer">Electra Way Crewe Business Park Crewe CW1 6GJ
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/8270EHC/application/1721147995659/page/4/certificate-delivery-address" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-5">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="8191-question">Delivery method
            </td>
            <td class="govuk-table__cell" scope="row" id="6-answer">{{data.delivery_options}}
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/8270EHC/application/1721147995659/page/5?selectedQuestion=8191" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-6">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="8192-question">Certification region
            </td>
            <td class="govuk-table__cell" scope="row" id="7-answer">{{data.certification_place}}
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/8270EHC/application/1721147995659/page/6?selectedQuestion=8192" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-7">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="8193-question">Exporter name
            </td>
            <td class="govuk-table__cell" scope="row" id="8-answer">{{data.exporter_name}}
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/8270EHC/application/1721147995659/page/7?selectedQuestion=8193" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-8">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="8194-question">Origin
            </td>
            <td class="govuk-table__cell" scope="row" id="9-answer">{{data.origin}}
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/8270EHC/application/1721147995659/page/8?selectedQuestion=8194" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-9">Change</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="row" id="8195-question">Planned export date
            </td>
            <td class="govuk-table__cell" scope="row" id="10-answer">2 Mar 2020
            </td>
            <td class="govuk-table__cell align-right" scope="row">
              <a class="govuk-link" href="/protected/form/8270EHC/application/1721147995659/page/9?selectedQuestion=8195" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-10">Change</a>
            </td>
          </tr>
        </tbody>
      </table>


      {% for task in tasks %}
      {% if task.title != "Supporting documents" %}
      <h2 class="govuk-heading-m">{{task.title}}</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-4 govuk-summary-list__m">
        {% for field in task.content.fields %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{field.label}}
          </dt>
          <dd class="govuk-summary-list__value">
            {{data[field.name]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="page?id={{task.page-1}}&next=check-your-answers">
              Change<span class="govuk-visually-hidden"> {{field.label}}</span>
            </a>
          </dd>
        </div>
        {% endfor %}
      </dl>
      {% endif %}
      {% endfor %}
      <!-- {Tasks -->
      <h2 class="govuk-heading-m">Supporting socuments</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-4 govuk-summary-list__m">
        {% if (data.uploaded_files | length) > 0 %}
        {% for file in data.uploaded_files %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            File name
            <br> Description
          </dt>
          <dd class="govuk-summary-list__value">
            {{file.name}}
            <br>{{file.description}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="supporting-documents?change=yes">
              Change<span class="govuk-visually-hidden"> previous application number</span>
            </a>
          </dd>
        </div>
        {% endfor%}
        {% else %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            File name
            <br> Description
          </dt>
          <dd class="govuk-summary-list__value">
            No documents uploaded
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="supporting-documents?change=yes">
              Change<span class="govuk-visually-hidden"> previous application number</span>
            </a>
          </dd>
        </div>
        {% endif %}
        <dl>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="notice">
        <span class="icon icon-file-download"><span class="govuk-visually-hidden">File download</span></span>
        <strong>Preview your answers in a <a href="/public/images/ehc-7006ehc-3.0.pdf" data-qa-id="Link-PreviewCertificate" target="_blank" class="govuk-link">specimen certificate</a>.</strong>
      </p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div>
        <form action="review" method="POST">
          <input type="hidden" name="crumb_csrf_token" value="gTlLBKyL-1hcIX_eIlqttNqVHhFrTHmuqTG5yTJsotb">
          <input type="hidden" name="applicationFormStatus" value="">
          <input class="govuk-button margin-top-30" type="submit" value="Continue" id="Button-Continue" data-qa-id="Button-Continue">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
