<style media="screen">
  .govuk-summary-list__m .govuk-summary-list__key{
    width:30%
  }
</style>
<dl class="govuk-summary-list govuk-summary-list__m">
  {% if (data.added_certificates | length) %}

  {% for certificate in data.added_certificates %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      {{certificate.title}}
    </dt>
    <dd class="govuk-summary-list__value">
      <a class="govuk-link govuk-link--no-visited-state" href="/public/images/ehc-2849ehc-3.1.pdf" rel="noreferrer noopener" class="govuk-link">Preview certificate [PDF]<br>(opens in a new tab)</a>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="check-your-answers-ehc?&return_check_answers=check-your-answers&ehc_reference_num={{certificate.title}}&change_ehc=yes">Change <span class="govuk-visually-hidden"> {{certificate.title}}</span></a>
      <a class="govuk-link govuk-link--no-visited-state" href="delete-certificate?id={{loop.index -1}}&title={{certificate.title}}&return_remove_url=check-your-answers">Delete</a>

    </dd>
  </div>
  {% endfor%}
  {% elseif query.show_fake_ehc=="yes"%}
  <div class="govuk-summary-list__row   ">
    <dt class="govuk-summary-list__key {% if data.has_error == 'yes' and data.error_type == 'certificates' %}govuk-summary-list__row-error{% endif%}">
      1. Seabiscuit
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data.has_error == "yes" and data.error_type == "certificates" %}
      <span class="govuk-error-message">There are 2 errors with this certificate</span>
      {%endif%}
      	<a class="govuk-link govuk-link--no-visited-state" href="/public/images/ehc-2849ehc-3.1.pdf" class="govuk-link">Preview certificate [PDF]<br>(opens in new tab)</a>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link govuk-link--no-visited-state" href="check-your-answers-ehc?&return_check_answers=check-your-answers&ehc_reference_num={{certificate.title}}&change_ehc=yes&has_warning=yes">Change <span class="govuk-visually-hidden"> Seabiscuit</span></a>
      <a class="govuk-link govuk-link--no-visited-state" href="delete-certificate?id={{loop.index -1}}&title={{certificate.title}}">Delete</a>

    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      2. Last suspect
    </dt>
    <dd class="govuk-summary-list__value">
      	<a class="govuk-link govuk-link--no-visited-state" href="/public/images/ehc-2849ehc-3.1.pdf" target="_blank" class="govuk-link">Preview certificate [PDF]<br>(opens in a new tab)</a>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="page?id={{task.page}}&next=check-your-answers">

        Change<span class="govuk-visually-hidden"> {{field.label}}</span>
      </a>
      <a class="govuk-link govuk-link--no-visited-state" href="delete-certificate?id={{loop.index -1}}&title={{certificate.title}}">Delete</a>

    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      3. Redrum
    </dt>
    <dd class="govuk-summary-list__value">
      	<a class="govuk-link govuk-link--no-visited-state" href="/public/images/ehc-2849ehc-3.1.pdf" target="_blank" class="govuk-link">Preview certificate [PDF]<br>(opens in a new tab)</a>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="page?id={{task.page}}&next=check-your-answers">
        Change<span class="govuk-visually-hidden"> {{field.label}}</span>
      </a>
      <a class="govuk-link govuk-link--no-visited-state" href="delete-certificate?id={{loop.index -1}}&title={{certificate.title}}">Delete</a>

    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      4. Bucephalus
    </dt>
    <dd class="govuk-summary-list__value">
      	<a class="govuk-link govuk-link--no-visited-state" href="/public/images/ehc-2849ehc-3.1.pdf" target="_blank" class="govuk-link">Preview certificate [PDF]<br>(opens in a new tab)</a>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="page?id={{task.page}}&next=check-your-answers">
        Change<span class="govuk-visually-hidden"> {{field.label}}</span>
      </a>
      <a class="govuk-link govuk-link--no-visited-state" href="delete-certificate?id={{loop.index -1}}&title={{certificate.title}}">Delete</a>

    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      5. Northern Dancer
      {% if data.has_unfinished_certificate == "yes" %}
      <span class="govuk-status govuk-status--warning" style="margin-right:10px;">Incomplete</span>
      {% endif %}
    </dt>
    <dd class="govuk-summary-list__value">
      	<a class="govuk-link govuk-link--no-visited-state" href="/public/images/ehc-2849ehc-3.1.pdf" target="_blank" class="govuk-link">Preview certificate [PDF]<br>(opens in a new tab or window)</a>
    </dd>
    <dd class="govuk-summary-list__actions">


      <a class="govuk-link" href="page?id={{task.page}}&next=check-your-answers">
        {% if data.has_unfinished_certificate == "yes" %}Continue{%else%}Change{%endif%}<span class="govuk-visually-hidden"> {{field.label}}</span>
      </a>
        <a class="govuk-link govuk-link--no-visited-state" href="delete-certificate?id={{loop.index -1}}&title={{certificate.title}}">Delete</a>
    </dd>
  </div>
  {% endif %}
</dl>
