{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" >
        <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading">
                    Add a reference to this certificate
                  </h1>
                </legend>
                <p class="govuk-body">
                  </p>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="add_another_certificate-yes" name="ehc_reference_num" type="radio" value="{{data.animal_name}}"  aria-expanded="false">
                    <label class="govuk-label govuk-radios__label" for="add_another_certificate-yes">
                      Use the animals name ({{data.animal_name}})
                    </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="add_another_certificate-no" name="ehc_reference_num" type="radio" value="no" aria-controls="conditional-certificates" aria-expanded="false">
                    <label class="govuk-label govuk-radios__label" for="add_another_certificate-no">
                      a different reference
                    </label>
                  </div>
                  <div class="govuk-form-group govuk-radios__conditional  govuk-radios__conditional--hidden" id="conditional-certificates">
                    <label class="govuk-label " for="reference_num">Your certificate reference</label>
                    <span class="govuk-hint">
                      This can be the name of the horse or a unique ID.
                    </span>
                    <input class="govuk-input govuk-input--width-20" id="reference_num" name="ehc_reference_num" value="{% if query.change == 'yes'%}{{ data.ehc_reference_num }}{%endif%}" type="text">
                  </div>
                </div>
              </fieldset>
            </div>
            <p class="govuk-body"><button type="submit" class="govuk-button">Continue</button>
        </form>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-body">
          <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
        </div>
      </div>
      <p></p>
    </div>
  </div>
</div>
{% endblock %}
