{% extends "layout.html" %}

{% block pageTitle %}
{{page.title}} - GOV.UK
{% endblock %}

{% block beforeContent%}
{{super()}}
<!-- {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Your application",
      href: "#"
    },
    {
      text: "Your EHC's",
      href: "#"
    },
    {
      text: data.animal_name
    }
  ]
}) }} -->
<a href="{{page.content.prev or 'javascript:history.back()'}}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data.is_multiple == "yes" %}<span class="govuk-caption-xl">Create a new certificate {% if data.animal_name %} for {{data.animal_name}}{% endif %}</span>{% endif %}
    {% block errorBlank %}{% include "./partials/partial_error_blank.html" %}{% endblock %}
    {% if page.content.caption %}<span class="govuk-caption-xl">{{page.content.caption}} {% if query.product_page %}{{(data.products | length)+1}} of {{page.content.product_max or 4}}{%endif%}</span>{%endif%}
    <h1 class="govuk-heading-xl">
      {{page.content.header}}
    </h1>
    {% if query.confirm == "yes" and (data.added_certificates | length) > 0%}
    <div class="govuk-warning-text">
<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
<strong class="govuk-warning-text__text">
  <span class="govuk-warning-text__assistive">Warning</span>
  Any changes you make here will update all {{data.added_certificates | length}} certificates you have added to this application.
</strong>
</div>
    {% endif%}
    <p class="govuk-body">{% if page.content.paragraph %}{{page.content.paragraph}}{% endif %}</p>
    <form method="POST">
    <!-- <form {% if query.change=="yes" %} action="check-your-answers" {% elseif page.content.prodcut and query.change=="product" %} action="product-list" {% else %} action="{{page.content.next or 'check-your-progress'}}" {% endif %} method="POST"> -->
      <fieldset class="govuk-fieldset">
        {% for field in page.content.fields %}
        {% set type = "./partials/"+field.type+".html"%}
        {{field.title}}
        {% block question %}{% include type %}{% endblock%}
        {% endfor%}

        {% if page.exa != "yes" %}
          {% block leaveForm %}{% include "./partials/partial_leave_section.html" %}{% endblock %}
        {% endif %}


        <div class="govuk-form-group govuk-!-margin-top-8">
          {% if not query.product_page %}
          <input class="govuk-button govuk-!-margin-right-1" type="submit" name="cta" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
          {% else %}
          <button class="govuk-button" type="submit" name="cta" value="Save and review"id="Button-SaveAndpreview" data-qa-id="Button-SaveAndContinue">Save and continue</button >
          {% endif%}
        </div>
      </fieldset>
    </form>

    <p class="govuk-body"><a class="link-button" href="dashboard" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">Save and continue later</a></p>
  </div>
</div>
{% block chatbot %}{% include "../../../../includes/chat.html" %}{%endblock%}
<script type="text/javascript">
  window.addEventListener('load', function() {
  $('.govuk-textarea').each(function() {
  var elem = $(this);

  // Save current value of element
  elem.data('oldVal', elem.val());

  // Look for changes in the value
  elem.bind("propertychange change click keyup input paste", function(event){
     // If value has changed...
     if (elem.data('oldVal') != elem.val()) {
      // Updated stored value

      console.log(elem.attr('data-default'))
      // Do action
      if(elem.val()=="//default"){
        elem.val(elem.attr('data-default'));

      }
      elem.data('oldVal', elem.val());
    }
  });
});
});
</script>
{% endblock %}
