
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Your registration to use Exporter online services is complete
                </h1>
                <!-- <div class="govuk-panel__body">
                     Your reference number<br><strong>HDJ2123F</strong>
                 </div>-->
            </div>

        </div>
    </div>
</div>


<p>You are now registered with Defra account and Exporter services. </p>

    <a href="./certificate/check-your-progress" class="govuk-button">Continue to your application</a>



{% endblock %}
