
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}




    <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">
                            Your service registration is complete.
                        </h1>
                        <div class="govuk-panel__body">
                            Your reference number<br><strong>HDJ2123F</strong>
                        </div>
                    </div>

                </div>
            </div>
    </div>


    <a href="/ehc-7006-ab-version1/" class="govuk-button">Continue</a>



{% endblock %}
