
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">


    <a href="javascript:history.back()" class="govuk-back-link">Back</a>



    <main class="govuk-main-wrapper " id="main-content" role="main">


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


                <form method="post" class="acc-type" onsubmit="return myFunction()">


                    <script>
                        const form = document.querySelector('.acc-type')

                        function myFunction() {
                            const checked = document.querySelector('[name="orgType"]:checked')
                            const checkedValue = checked.value

                            switch(checkedValue){
                                case 'Business':
                                    form.action = 'organisation-business-type'

                                    break;
                                case 'Individual':
                                    form.action = '/new-user-reg/individual/task-list-page-account?flowType=task'

                                    break;
                                default:
                                    form.action = 'organisation-business-type'
                            }
                            return true
                        }
                    </script>











                    <div class="govuk-form-group">

                        <fieldset class="govuk-fieldset">

                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

                                <h1 class="govuk-fieldset__heading">
                                    Who wants to use this service?
                                </h1>

                            </legend>


                            <div class="govuk-radios">





                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="orgType-1" name="orgType" type="radio" value="Business">
                                    <label class="govuk-label govuk-radios__label" for="orgType-1">
                                        <span class="govuk-body govuk-!-font-weight-bold">A business or organisation</span><br>
                                        You represent a business or organisation that wants to use this service (including sole traders and charities)
                                    </label>
                                </div>







                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="orgType-2" name="orgType" type="radio" value="Individual">
                                    <label class="govuk-label govuk-radios__label" for="orgType-2">
                                        <span class="govuk-body govuk-!-font-weight-bold">An individual</span><br>
                                        You want to use this service for your own personal use
                                    </label>
                                </div>



                            </div>
                        </fieldset>


                    </div>







                    <button type="submit" class="govuk-button">
                        Continue
                    </button>


                </form>
            </div>
        </div>


    </main>
</div>


{% endblock %}