
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<link rel="stylesheet" type="text/css" href="/public/stylesheets/gov-uk-application.css">


        <style>
            .result-region-header__counter {
                font-family: "nta", Arial, sans-serif;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.25;
                white-space: nowrap;
                margin-bottom: 20px;
            }
            .result-region-header__counter {
                font-size: 19px;
                line-height: 1.3157894737;
            }
        </style>

<div id="wrapper">
<main id="content" role="main" class="finder-frontend-content">
<div id="finder-frontend">



<form method="get" action="/search/all" class="js-live-search-form" data-analytics-ecommerce="" data-ecommerce-start-index="1" data-list-title="Search" data-search-query="Export pig meat from Great Britain to China certificate">
<input type="hidden" name="parent" value="">

<div class="govuk-width-container">


    <div class="gem-c-contextual-breadcrumbs">



        <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item" aria-current="false">
                    <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="index">Home</a>
                </li>
            </ol>
        </div>


    </div>



    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div id="keywords" class="app-patch--search-input-override">

                <div class="govuk-form-group">

                    <label for="finder-keyword-search" class="gem-c-label govuk-label">
                        <h1 class="app-c-search-page-heading">Search<span class="govuk-visually-hidden"> all content</span>
                        </h1>

                    </label>




                    <input name="keywords" value="Export pig meat from Great Britain to China certificate" class="gem-c-input govuk-input gem-c-input--search-icon" id="finder-keyword-search" type="search" aria-controls="js-search-results-info">
                </div>
            </div>

        </div>



    </div>
</div>


<div class="govuk-width-container">
<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third" role="search" aria-label="Search">
<div class="filter-form">

<div data-module="track-click" data-track-category="filterClicked" data-track-action="skip-Link" data-track-label="">
    <a class="gem-c-skip-link govuk-skip-link" href="#js-results">Skip to results</a>

</div>

<div data-module="gem-toggle" data-toggle-class="facet-toggle__content--hide">
<a href="#" class="facet-toggle" data-controls="facet-wrapper" data-expanded="false" data-track-category="filterClicked" data-track-action="accordion" data-toggled-text="- Show fewer search options" role="button" aria-controls="facet-wrapper" aria-expanded="false">
    + Show more search options
</a>

<div id="facet-wrapper" class="facet-toggle__content facet-toggle__content--hide" aria-live="polite" role="region">
<div class="js-taxonomy-select">


<div class="js-required govuk-form-group gem-c-select" style="display: block;">
<div class="govuk-form-group gem-c-select">




</div>

</div>
</div>
<div id="manual" style="display: none">


    <input type="text" name="manual" id="manual_0">
</div>





</div>
</div>

</div>

</div>

<div class="govuk-grid-column-two-thirds js-live-search-results-block filtered-results" role="region" aria-label="Search search results">
<div id="js-search-results-info" data-module="remove-filter" class="result-info">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <h2 class="result-region-header__counter" id="js-result-count">
                207,942 results
            </h2>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <section class="gem-c-subscription-links ">
                <ul class="gem-c-subscription-links__list gem-c-subscription-links__list--small">

                    <li class="gem-c-subscription-links__list-item gem-c-subscription-links__list-item--small">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" class="gem-c-subscription-links__icon" focusable="false" fill="currentColor" aria-hidden="true"><path d="M1.996 11A2 2 0 0 0 0 12.993c0 1.101.895 1.99 1.996 1.99 1.106 0 2-.889 2-1.99a2 2 0 0 0-2-1.993zM.002 5.097V7.97c1.872 0 3.632.733 4.958 2.059A6.984 6.984 0 0 1 7.015 15h2.888c0-5.461-4.443-9.903-9.9-9.903zM.006 0v2.876c6.676 0 12.11 5.44 12.11 12.124H15C15 6.731 8.273 0 .006 0z"></path></svg>
                        <a class="gem-c-subscription-links__link " href="#">Subscribe to feed</a>
                    </li>
                </ul>

            </section>
        </div>
    </div>
    <div id="js-facet-tag-wrapper" aria-live="assertive">
              <span class="govuk-visually-hidden">
    207,942 results
    sorted by Relevance
  </span>


    </div>
</div>

<div class="govuk-caption-l live-search-loading-message" id="js-loading-message"></div>

<div id="js-sort-options">
    <div class="govuk-form-group">
        <label for="order" class="result-region-header__sort-label govuk-label">Sort by</label>
        <select class="js-order-results govuk-select" name="order" id="order" aria-controls="js-search-results-info" data-default-sort-option="most-viewed" data-relevance-sort-option="relevance" data-module="track-select-change">
            <option value="most-viewed" data-track-category="dropDownClicked" data-track-action="clicked" data-track-label="Most viewed">Most viewed</option>
            <option value="relevance" selected="" data-track-category="dropDownClicked" data-track-action="clicked" data-track-label="Relevance">Relevance</option>
            <option value="updated-newest" data-track-category="dropDownClicked" data-track-action="clicked" data-track-label="Updated (newest)">Updated (newest)</option>
            <option value="updated-oldest" data-track-category="dropDownClicked" data-track-action="clicked" data-track-label="Updated (oldest)">Updated (oldest)</option>
        </select>
    </div>

</div>

<div id="js-results">
<div class="finder-results js-finder-results" data-module="track-click">
<ol class="gem-c-document-list gem-c-document-list--no-underline">

<li class="gem-c-document-list__item  ">
    <a data-ecommerce-path="/export-health-certificates/export-pig-meat-to-china-certificate-7006" data-ecommerce-content-id="57b86bbf-48f6-45cd-bbcc-c718deb05741" data-ecommerce-row="1" data-track-category="navFinderLinkClicked" data-track-action="Search.1" data-track-label="/export-health-certificates/export-pig-meat-to-china-certificate-7006" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Export pig meat from Great Britain to China: certificate 7006GB&quot;}" class="gem-c-document-list__item-title  " href="form-finder-form-start">Export pig meat from Great Britain to China: certificate 7006GB</a>


    <p class="gem-c-document-list__item-description">Use these forms and guidance documents to export frozen raw pork from England, Scotland or Wales to the People's Republic of China.</p>

    <ul class="gem-c-document-list__item-metadata">
        <li class="gem-c-document-list__attribute">
            From: Animal and Plant Health Agency
        </li>
        <li class="gem-c-document-list__attribute">
            Updated: <time datetime="2019-03-28">28 March 2019</time>
        </li>
    </ul>

</li>

<li class="gem-c-document-list__item  ">
    <a data-ecommerce-path="/find-a-job" data-ecommerce-content-id="a01fcb59-5dc8-4bf5-b06d-dd567a6d2f5f" data-ecommerce-row="1" data-track-category="navFinderLinkClicked" data-track-action="Search.2" data-track-label="/find-a-job" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Find a job&quot;}" class="gem-c-document-list__item-title  " href="/find-a-job">Find a job</a>


    <p class="gem-c-document-list__item-description">Search and apply for jobs in Great Britain using ‘Find a job’. </p>

    <ul class="gem-c-document-list__item-metadata">
    </ul>

</li>

<li class="gem-c-document-list__item  ">
    <a data-ecommerce-path="/government/organisations/driver-and-vehicle-licensing-agency" data-ecommerce-content-id="70580624-93b5-4aed-823b-76042486c769" data-ecommerce-row="1" data-track-category="navFinderLinkClicked" data-track-action="Search.3" data-track-label="/government/organisations/driver-and-vehicle-licensing-agency" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Driver and Vehicle Licensing Agency&quot;}" class="gem-c-document-list__item-title  " href="/government/organisations/driver-and-vehicle-licensing-agency">Driver and Vehicle Licensing Agency</a>


    <p class="gem-c-document-list__item-description">The home of Driver and Vehicle Licensing Agency on GOV.UK.</p>

    <ul class="gem-c-document-list__item-metadata">
        <li class="gem-c-document-list__attribute">
            From: Driver and Vehicle Licensing Agency
        </li>
        <li class="gem-c-document-list__attribute">
            Updated: <time datetime="2019-02-19">19 February 2019</time>
        </li>
    </ul>

</li>

<li class="gem-c-document-list__item  ">
    <a data-ecommerce-path="/export-health-certificates/export-pig-meat-from-northern-ireland-to-china-certificate-7006ni" data-ecommerce-content-id="921269fb-6550-4a08-9bd0-665c275bbb80" data-ecommerce-row="1" data-track-category="navFinderLinkClicked" data-track-action="Search.4" data-track-label="/export-health-certificates/export-pig-meat-from-northern-ireland-to-china-certificate-7006ni" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Export pig meat from Northern Ireland to China: certificate 7006NI&quot;}" class="gem-c-document-list__item-title  " href="/export-health-certificates/export-pig-meat-from-northern-ireland-to-china-certificate-7006ni">Export pig meat from Northern Ireland to China: certificate 7006NI</a>


    <p class="gem-c-document-list__item-description">Use these forms and guidance documents to export frozen raw pork from Northern Ireland to the People's Republic of China.</p>

    <ul class="gem-c-document-list__item-metadata">
        <li class="gem-c-document-list__attribute">
            From: Animal and Plant Health Agency
        </li>
        <li class="gem-c-document-list__attribute">
            Updated: <time datetime="2019-05-03">3 May 2019</time>
        </li>
    </ul>

</li>

<li class="gem-c-document-list__item  ">
    <a data-ecommerce-path="/transfer-driving-instructor-registration-gb" data-ecommerce-content-id="4d651659-b6c1-4d1b-8a93-2f398060e858" data-ecommerce-row="1" data-track-category="navFinderLinkClicked" data-track-action="Search.5" data-track-label="/transfer-driving-instructor-registration-gb" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Transfer your driving instructor registration to Great Britain&quot;}" class="gem-c-document-list__item-title  " href="/transfer-driving-instructor-registration-gb">Transfer your driving instructor registration to Great Britain</a>


    <p class="gem-c-document-list__item-description">Transfer your European Union (EU) driving instructor registration to Great Britain.</p>

    <ul class="gem-c-document-list__item-metadata">
    </ul>

</li>

<li class="gem-c-document-list__item  ">
    <a data-ecommerce-path="/get-vehicle-information-from-dvla" data-ecommerce-content-id="4ca3fd7e-efdb-4a24-9a84-60ba3c614588" data-ecommerce-row="1" data-track-category="navFinderLinkClicked" data-track-action="Search.6" data-track-label="/get-vehicle-information-from-dvla" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Get vehicle information from DVLA&quot;}" class="gem-c-document-list__item-title  " href="/get-vehicle-information-from-dvla">Get vehicle information from DVLA</a>


    <p class="gem-c-document-list__item-description">Check a vehicle's details, tax and SORN status and expiry dates on the Driver Vehicle and Licensing Agency (DVLA) database - online and telephone enquiries</p>

    <ul class="gem-c-document-list__item-metadata">
    </ul>

</li>

<li class="gem-c-document-list__item  ">
    <a data-ecommerce-path="/check-mot-history" data-ecommerce-content-id="ad5110e0-fa62-49d3-923f-d50101f12014" data-ecommerce-row="1" data-track-category="navFinderLinkClicked" data-track-action="Search.7" data-track-label="/check-mot-history" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Check the MOT history of a vehicle&quot;}" class="gem-c-document-list__item-title  " href="/check-mot-history">Check the MOT history of a vehicle</a>


    <p class="gem-c-document-list__item-description">Check the MOT history of a vehicle from 2005 onwards, including if it passed or failed, its mileage and why it failed</p>

    <ul class="gem-c-document-list__item-metadata">
    </ul>

</li>

<li class="gem-c-document-list__item  ">
    <a data-ecommerce-path="/order-copy-birth-death-marriage-certificate" data-ecommerce-content-id="17a26e6f-1f1d-4585-a9f6-433272730101" data-ecommerce-row="1" data-track-category="navFinderLinkClicked" data-track-action="Search.8" data-track-label="/order-copy-birth-death-marriage-certificate" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Order a copy of a birth, death or marriage certificate&quot;}" class="gem-c-document-list__item-title  " href="/order-copy-birth-death-marriage-certificate">Order a copy of a birth, death or marriage certificate</a>


    <p class="gem-c-document-list__item-description">Order an official birth, marriage or death certificate from the General Register Office (GRO) if you need a copy or want to research your family tree</p>

    <ul class="gem-c-document-list__item-metadata">
    </ul>

</li>

<li class="gem-c-document-list__item  ">
    <a data-ecommerce-path="/export-health-certificates/export-pigs-for-slaughter-from-northern-ireland-to-great-britain-certificate-2117" data-ecommerce-content-id="57365111-d12f-4cb5-92f5-3b0d01011dff" data-ecommerce-row="1" data-track-category="navFinderLinkClicked" data-track-action="Search.9" data-track-label="/export-health-certificates/export-pigs-for-slaughter-from-northern-ireland-to-great-britain-certificate-2117" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Export pigs for slaughter from Northern Ireland to Great Britain: certificate 2117 &quot;}" class="gem-c-document-list__item-title  " href="/export-health-certificates/export-pigs-for-slaughter-from-northern-ireland-to-great-britain-certificate-2117">Export pigs for slaughter from Northern Ireland to Great Britain: certificate 2117 </a>


    <p class="gem-c-document-list__item-description">Use these forms and guidance notes to export pigs for slaughter from Northern Ireland to Great Britain.</p>

    <ul class="gem-c-document-list__item-metadata">
        <li class="gem-c-document-list__attribute">
            From: Animal and Plant Health Agency
        </li>
        <li class="gem-c-document-list__attribute">
            Updated: <time datetime="2019-04-01">1 April 2019</time>
        </li>
    </ul>

</li>

<li class="gem-c-document-list__item  ">
    <a data-ecommerce-path="/book-driving-test" data-ecommerce-content-id="8d35443d-7bf1-4f51-b9b1-e398e1d44030" data-ecommerce-row="1" data-track-category="navFinderLinkClicked" data-track-action="Search.10" data-track-label="/book-driving-test" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Book your driving test&quot;}" class="gem-c-document-list__item-title  " href="/book-driving-test">Book your driving test</a>


    <p class="gem-c-document-list__item-description">Book your official DVSA practical driving test for cars from £62, or other types of practical driving tests, including motorcycle and driving instructor tests</p>

    <ul class="gem-c-document-list__item-metadata">
    </ul>

</li>

<li class="gem-c-document-list__item  ">
    <a data-ecommerce-path="/change-driving-test" data-ecommerce-content-id="42c61b61-8e13-40d2-88f4-e4e3d06c97fe" data-ecommerce-row="1" data-track-category="navFinderLinkClicked" data-track-action="Search.11" data-track-label="/change-driving-test" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Change your driving test appointment&quot;}" class="gem-c-document-list__item-title  " href="/change-driving-test">Change your driving test appointment</a>


    <p class="gem-c-document-list__item-description">Find an earlier practical driving test, move it to a later date, or change the test centre you take it at</p>

    <ul class="gem-c-document-list__item-metadata">
    </ul>

</li>

<li class="gem-c-document-list__item  ">
    <a data-ecommerce-path="/export-health-certificates/export-pigs-for-breeding-or-production-from-northern-ireland-to-great-britain-certificate-2115" data-ecommerce-content-id="7edfc095-77f7-40b8-b396-71fda1f67d5e" data-ecommerce-row="1" data-track-category="navFinderLinkClicked" data-track-action="Search.12" data-track-label="/export-health-certificates/export-pigs-for-breeding-or-production-from-northern-ireland-to-great-britain-certificate-2115" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Export pigs for breeding or production from Northern Ireland to Great Britain: certificate 2115&quot;}" class="gem-c-document-list__item-title  " href="/export-health-certificates/export-pigs-for-breeding-or-production-from-northern-ireland-to-great-britain-certificate-2115">Export pigs for breeding or production from Northern Ireland to Great Britain: certificate 2115</a>


    <p class="gem-c-document-list__item-description">Use these forms and guidance notes to export pigs for breeding or production from Northern Ireland to Great Britain.</p>

    <ul class="gem-c-document-list__item-metadata">
        <li class="gem-c-document-list__attribute">
            From: Animal and Plant Health Agency
        </li>
        <li class="gem-c-document-list__attribute">
            Updated: <time datetime="2019-04-01">1 April 2019</time>
        </li>
    </ul>

</li>

<li class="gem-c-document-list__item  ">
    <a data-ecommerce-path="/guidance/report-cattle-exports" data-ecommerce-content-id="5f20e134-7631-11e4-a3cb-005056011aef" data-ecommerce-row="1" data-track-category="navFinderLinkClicked" data-track-action="Search.13" data-track-label="/guidance/report-cattle-exports" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Report cattle exported or moved out of Great Britain&quot;}" class="gem-c-document-list__item-title  " href="/guidance/report-cattle-exports">Report cattle exported or moved out of Great Britain</a>


    <p class="gem-c-document-list__item-description">How to comply with cattle identification regulations when exporting or moving cattle out of Great Britain</p>

    <ul class="gem-c-document-list__item-metadata">
        <li class="gem-c-document-list__attribute">
            From: British Cattle Movement Service
        </li>
        <li class="gem-c-document-list__attribute">
            Updated: <time datetime="2014-05-06">6 May 2014</time>
        </li>
    </ul>

</li>

<li class="gem-c-document-list__item  ">
    <a data-ecommerce-path="/renew-driving-licence" data-ecommerce-content-id="da48bba8-7358-4e54-a89e-c618a5265448" data-ecommerce-row="1" data-track-category="navFinderLinkClicked" data-track-action="Search.14" data-track-label="/renew-driving-licence" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Renew your driving licence&quot;}" class="gem-c-document-list__item-title  " href="/renew-driving-licence">Renew your driving licence</a>


    <p class="gem-c-document-list__item-description">Apply online to renew your 10-year driving licence, full or provisional - cost, payment methods, documents and information you need</p>

    <ul class="gem-c-document-list__item-metadata">
    </ul>

</li>

<li class="gem-c-document-list__item  ">
    <a data-ecommerce-path="/government/publications/import-pig-products-classical-swine-fever-health-certificate" data-ecommerce-content-id="1dfd4f80-305b-4e58-af47-3512c23bfd77" data-ecommerce-row="1" data-track-category="navFinderLinkClicked" data-track-action="Search.15" data-track-label="/government/publications/import-pig-products-classical-swine-fever-health-certificate" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Import pig products (Classical Swine Fever): health certificate&quot;}" class="gem-c-document-list__item-title  " href="/government/publications/import-pig-products-classical-swine-fever-health-certificate">Import pig products (Classical Swine Fever): health certificate</a>


    <p class="gem-c-document-list__item-description">Use this form to import pig meat, meat preparations and products from EU member states under animal health control measures relating to Classical Swine Fever to the UK.</p>

    <ul class="gem-c-document-list__item-metadata">
        <li class="gem-c-document-list__attribute">
            From: Animal and Plant Health Agency
        </li>
    </ul>

</li>

<li class="gem-c-document-list__item  ">
    <a data-ecommerce-path="/government/publications/import-pig-products-african-swine-fever-health-certificate" data-ecommerce-content-id="a5794523-3676-45d2-b954-d500b122fad4" data-ecommerce-row="1" data-track-category="navFinderLinkClicked" data-track-action="Search.16" data-track-label="/government/publications/import-pig-products-african-swine-fever-health-certificate" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Import pig products (African Swine Fever): health certificate&quot;}" class="gem-c-document-list__item-title  " href="/government/publications/import-pig-products-african-swine-fever-health-certificate">Import pig products (African Swine Fever): health certificate</a>


    <p class="gem-c-document-list__item-description">Use this form to import pig meat, meat preparations and products from EU member states under animal health control measures relating to African Swine Fever to the UK.</p>

    <ul class="gem-c-document-list__item-metadata">
        <li class="gem-c-document-list__attribute">
            From: Animal and Plant Health Agency
        </li>
    </ul>

</li>

<li class="gem-c-document-list__item  ">
    <a data-ecommerce-path="/export-health-certificates/export-bovine-embryos-from-northern-ireland-to-great-britain-certificate-2111" data-ecommerce-content-id="b081043a-05f3-470a-bb9b-26f88c490edc" data-ecommerce-row="1" data-track-category="navFinderLinkClicked" data-track-action="Search.17" data-track-label="/export-health-certificates/export-bovine-embryos-from-northern-ireland-to-great-britain-certificate-2111" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Export bovine embryos from Northern Ireland to Great Britain: certificate 2111&quot;}" class="gem-c-document-list__item-title  " href="/export-health-certificates/export-bovine-embryos-from-northern-ireland-to-great-britain-certificate-2111">Export bovine embryos from Northern Ireland to Great Britain: certificate 2111</a>


    <p class="gem-c-document-list__item-description">Use these forms and guidance notes to export bovine embryos from Northern Ireland to Great Britain.</p>

    <ul class="gem-c-document-list__item-metadata">
        <li class="gem-c-document-list__attribute">
            From: Animal and Plant Health Agency
        </li>
        <li class="gem-c-document-list__attribute">
            Updated: <time datetime="2019-04-01">1 April 2019</time>
        </li>
    </ul>

</li>

<li class="gem-c-document-list__item  ">
    <a data-ecommerce-path="/exchange-paper-driving-licence" data-ecommerce-content-id="035095e0-3970-4222-afee-9cc7532f4373" data-ecommerce-row="1" data-track-category="navFinderLinkClicked" data-track-action="Search.18" data-track-label="/exchange-paper-driving-licence" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Exchange your paper driving licence for a photocard licence&quot;}" class="gem-c-document-list__item-title  " href="/exchange-paper-driving-licence">Exchange your paper driving licence for a photocard licence</a>


    <p class="gem-c-document-list__item-description">Exchange your paper driving licence for a new photocard licence online.</p>

    <ul class="gem-c-document-list__item-metadata">
    </ul>

</li>

<li class="gem-c-document-list__item  ">
    <a data-ecommerce-path="/export-health-certificates/export-cooked-pig-meat-from-british-pigs-to-australia-certificate-7856" data-ecommerce-content-id="41b98275-ab5a-431b-814c-21aafb411833" data-ecommerce-row="1" data-track-category="navFinderLinkClicked" data-track-action="Search.19" data-track-label="/export-health-certificates/export-cooked-pig-meat-from-british-pigs-to-australia-certificate-7856" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Export cooked pig meat from British pigs to Australia: certificate 7856 &quot;}" class="gem-c-document-list__item-title  " href="/export-health-certificates/export-cooked-pig-meat-from-british-pigs-to-australia-certificate-7856">Export cooked pig meat from British pigs to Australia: certificate 7856 </a>


    <p class="gem-c-document-list__item-description">Use these forms and guidance document to export cooked pork from British pigs, including meat in food products, to Australia.</p>

    <ul class="gem-c-document-list__item-metadata">
        <li class="gem-c-document-list__attribute">
            From: Animal and Plant Health Agency
        </li>
        <li class="gem-c-document-list__attribute">
            Updated: <time datetime="2018-11-29">29 November 2018</time>
        </li>
    </ul>

</li>

<li class="gem-c-document-list__item  ">
    <a data-ecommerce-path="/driving-nongb-licence" data-ecommerce-content-id="cc723c0c-0cfd-4aee-a48d-3b70028e6565" data-ecommerce-row="1" data-track-category="navFinderLinkClicked" data-track-action="Search.20" data-track-label="/driving-nongb-licence" data-track-options="{&quot;dimension28&quot;:20,&quot;dimension29&quot;:&quot;Driving in Great Britain on a non-GB licence&quot;}" class="gem-c-document-list__item-title  " href="/driving-nongb-licence">Driving in Great Britain on a non-GB licence</a>


    <p class="gem-c-document-list__item-description">Use this tool to see if you can drive in Great Britain with your non-GB driving licence</p>

    <ul class="gem-c-document-list__item-metadata">
    </ul>

</li>
</ol>

</div>


</div>

<div id="js-pagination">
    <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
        <ul class="gem-c-pagination__list" data-module="track-click">
            <li class="gem-c-pagination__item gem-c-pagination__item--next">
                <a href="/search/all?keywords=Export+pig+meat+from+Great+Britain+to+China+certificate&amp;order=relevance&amp;page=2" class="gem-c-pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/search/all?keywords=Export+pig+meat+from+Great+Britain+to+China+certificate&amp;order=relevance&amp;page=2" data-track-dimension="next" data-track-dimension-index="29">
          <span class="gem-c-pagination__link-title">
            <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
            <span class="gem-c-pagination__link-text">
              Next page
            </span>
          </span>
                    <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                    <span class="gem-c-pagination__link-label">2 of 10398</span>
                </a>
            </li>
        </ul>
    </nav>

</div>
</div>
</div>
</div>
</form>

</div>
</main>

<div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">

    <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
        <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
            <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

            <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
                Maybe
            </a>
            <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
                Yes <span class="visually-hidden">this page is useful</span>
            </a>
            <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
                No <span class="visually-hidden">this page is not useful</span>
            </a>
            <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
                Is there anything wrong with this page?
            </a>  </div>

        <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
            Thank you for your feedback
        </div>
    </div>

    <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post" aria-hidden="true">
        <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

        <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
            <div class="gem-c-feedback__column-two-thirds">
                <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

                <input type="hidden" name="url" value="https://www.gov.uk/search/all?keywords=Export+pig+meat+from+Great+Britain+to+China+certificate&amp;order=relevance">

                <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
                <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>


                <div class="govuk-form-group">

                    <label for="input-6c70cd0d" class="gem-c-label govuk-label">
                        What were you doing?
                    </label>




                    <input name="what_doing" class="gem-c-input govuk-input" id="input-6c70cd0d" type="text" aria-describedby="feedback_explanation">
                </div>


                <div class="govuk-form-group">

                    <label for="input-43f836f6" class="gem-c-label govuk-label">
                        What went wrong?
                    </label>




                    <input name="what_wrong" class="gem-c-input govuk-input" id="input-43f836f6" type="text">
                </div>


                <button class="gem-c-button govuk-button" type="submit">Send</button>


            </div>
        </div>
        <input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://www.gov.uk/"></form>

    <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post" aria-hidden="true">
        <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

        <div class="gem-c-feedback__grid-row gem-c-feedback__survey-container">
            <div class="gem-c-feedback__column-two-thirds" id="survey-wrapper">
                <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

                <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
                <input name="email_survey_signup[survey_source]" type="hidden" value="/search/all?keywords=Export+pig+meat+from+Great+Britain+to+China+certificate&amp;order=relevance">

                <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
                <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>


                <div class="govuk-form-group">

                    <label for="input-20022ea5" class="gem-c-label govuk-label">
                        Email address
                    </label>




                    <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-20022ea5" type="email" autocomplete="email" aria-describedby="survey_explanation">
                </div>


                <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


            </div>
        </div>
    </form>

</div>

</div>

{% endblock %}
