
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}<div class="govuk-width-container">




        <div class="govuk-width-container">



            <main class="govuk-main-wrapper " id="main-content" role="main">


                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">


                        <h1 class="govuk-heading-xl" style="color: darkblue;font-size: 80px ">
                            IDM prototype starts here
                        </h1>



                        <h1 class="govuk-heading-xl">
                            Sign in using Government Gateway
                        </h1>

                        <form method="post" action="govgatewaypages/your-name">
                            <input type="hidden" value="yourname@email.com" name="scpEmail">

                            <div class="govuk-form-group">
                                <label class="govuk-label" for="userId">
                                    User ID
                                </label>


<span id="userId-hint" class="govuk-hint">
This could be up to 12 characters. It is sometimes known as a Government Gateway ID
</span>


                                <input class="govuk-input govuk-input--width-20" id="userId" name="userId" type="text" aria-describedby="userId-hint">
                            </div>




                            <div class="govuk-form-group">
                                <label class="govuk-label" for="password">
                                    Password
                                </label>


                                <input class="govuk-input govuk-input--width-20" id="password" name="password" type="text">
                            </div>




                            <button type="submit" class="govuk-button">
                                Sign in
                            </button>


                            <h2 class="govuk-heading-m">Create sign in details for Government Gateway</h2>
                            <p class="govuk-body">This gives access to government services online, including taxes</p>

                            <p class="govuk-body"><a href="email-address" class="govuk-link">Create sign in details</a></p>
                            <br>
                            <br>
                            <ul class="govuk-list">
                                <li><a id="forgotten-password" href="/request-help/help-signing-in">Help with signing in</a></li>
                                <br>
                                <li><a id="forgotten-password" href="/new-reset-password/enter-user-id-and-email-address" class="govuk-link">I have forgotten my password</a></li>
                                <li><a id="forgotten-user-id" href="https://www.prototypes.tax.service.gov.uk/security-integration-prototype/cred-recovery/?forgottenOption=userid" class="govuk-link">I have forgotten my user ID</a></li>
                                <li><a id="forgotten-user-id-password" href="https://www.prototypes.tax.service.gov.uk/security-integration-prototype/cred-recovery/?forgottenOption=both" class="govuk-link">I have forgotten my user ID and password</a></li>
                            </ul>




                        </form>
                    </div>
                </div>


            </main>
        </div>

</div>

{% endblock %}
