{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style media="screen">
  .govuk-grid-row--2column .govuk-grid-column-one-half {
    margin-bottom: 10px
  }
</style>
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div>
          <h1 id="questionPageHeading" class="govuk-heading-xl">What are you exporting?</h1>
          <form {% if query.change=="yes" %} action="../check-your-answers" {% elseif query.change=="product" %} action="product-list" {% else %} action="../check-your-progress" {% endif %}" method="POST" enctype="">
            {% for commodity in commodities %}
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                      {{commodity.group}}
                    </h1>
                  </legend>
                <div class="govuk-radios govuk-radios--inline govuk-radios--fixed ">
                  {% for option in commodity.options %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="{{option.name+'_'+loop.index}}" name="commodity_type" type="radio" value="{{option.name}}">
                    <label class="govuk-label govuk-radios__label" for="{{option.name+'_'+loop.index}}">
                      {{option.title}}
                    </label>
                  </div>
                  {% endfor %}
                </div>
              </fieldset>
            </div>
            {% if loop.index != (commodities | length)%}
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            {% endif%}
            {% endfor %}
          <div class="govuk-!-margin-left-0 govuk-grid-column-one-quarter govuk-!-padding-0">
            <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-body">
              <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
            </div>
          </div>

          </form>

          <p></p>
        </div>
      </div>
    </div>
    {% block chatbot %}{% include "../../../../../includes/chat.html" %}{%endblock%}
{% endblock %}
