{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block pageTitle %}
  Supporting documents
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">
        Supporting documents
      </h2>

      <p>
        If you wish to attach any supporting documents to your application, you can upload them here. Otherwise, please click 'Save and continue' to skip this section.
      </p>

      <p>
    		You can only upload one at a time. Each file must be:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>in PDF, Word, Excel or JPEG format</li>
        <li>less than 10 megabytes (10MB)</li>
        <li>uploaded with a file description</li>
      </ul>

    </div>
    <div class="govuk-grid-column-full">

      <form method="post" id="form" class="form">

      <table class="govuk-table" style="margin-bottom: 60px;">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">File name</th>
            <th class="govuk-table__header" scope="col">File description</th>
            <th class="govuk-table__header" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">
              <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
            </td>
            <td class="govuk-table__cell" scope="row">
              <input class="govuk-input" id="file-description-1" name="file-description-1" type="text">
           </td>
            <td class="govuk-table__cell" scope="row">
              <a href="uploadDashboard-4298-2.html" class="govuk-link govuk-link--no-visited-state">Upload</a>
             </td>
          </tr>
        </tbody>
      </table>

      <button type="submit" class="govuk-button">
        Save and continue
      </button>

      <p>
        <a href="../dashboard.html">
          Save and continue later
        </a>
      </p>

      </form>
  
    </div>
  </div>

{% endblock %}
