{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block pageTitle %}
  Supporting documents
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" id="form" class="form">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#file-virus-error">The selected file contains a virus</a>
            </li>
          </ul>
        </div>
      </div>

      <h2 class="govuk-heading-l">
        Supporting documents
      </h2>

      <p>
        If you wish to attach any supporting documents to your application, you can upload them here. Otherwise, please click 'Save and continue' to skip this section.
      </p>

      <p>
    		You can only upload one at a time. Each file must:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>be in PDF, Word, Excel or JPEG format</li>
        <li>be less than 10 megabytes (10MB)</li>
        <li>have a unique, meaningful filename</li>
      </ul>

      <!--<div class="govuk-inset-text">
        The total size of the files you upload must be 25 megabytes (25MB) or less.
      </div>-->

      <div class="govuk-form-group govuk-form-group--error" style="margin-bottom: 62px;">
        <span id="file-virus-error" class="govuk-error-message">
          The selected file contains a virus
        </span>
        <button type="submit" class="govuk-button" style="background-color: #dee0e2; color: #0b0c0c; box-shadow: 0 2px 0 #0b0c0c; margin-bottom: 5px;">
          Choose file
        </button>
      </div>

      <button type="submit" class="govuk-button">
        Save and continue
      </button>

      <!--<button href="countries_of_transit_en_route.html" type="submit" class="govuk-button">
        Save and continue
      </button>-->

      <p>
        <a href="../dashboard.html">
          Save and continue later
        </a>
      </p>

      </form>
  
    </div>
  </div>

{% endblock %}
