
{% extends "layout.html" %}


{% block banner %}






{% endblock %}


{% block beforeContent %}
{{super()}}



<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
            beta
        </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
    </p>
</div>



{% endblock%}

{% block content %}




        <h1 class="govuk-heading-xl">Private beta</h1>


<ol class="govuk-list govuk-list--number">
    <li><a href="service-start-page-exports"> Exporter Start page & List of available forms</a></li>
    <li><a href="service-start-page-certifier"> Certifier Start page (log in)</a></li>
    <li><a href="service-start-page-certifier-whitelabel"> Certifier Start page (no log in)</a></li>

</ol>



{% endblock %}
