
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <a href="index" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
        Check your answers before sending your export application
    </h1>

    <span class="govuk-hint">
      Section 1 - general information about your export
    </span>

    <h2 class="govuk-heading-m">
        General Information about your export
    </h2>

    <dl class="app-check-your-answers app-check-your-answers--long">
        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                How many export health certificate are you applying for?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="1">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                Do you require a pre certificate?
            </dt>
            <dd class="app-check-your-answers__answer" id="one" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="1">Change</a>
            </dd>
        </div>

        <!-- <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
              Do you require a pre certificate?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">
                No
            </dd>
            <dd class="app-check-your-answers__change">
              <a href="1">Change</a>
            </dd>
          </div> -->

        <div class="app-check-your-answers__contents" id="two">
            <dt class="app-check-your-answers__question">
                Do you require the Pre Certificate to be printed on crown vellum watermarked paper?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="1">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents" id="three">
            <dt class="app-check-your-answers__question">
                Do you require the Pre Certificate to be posted or e- mailed to your nominated Official Veterinarian?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="1">Change</a>
            </dd>
        </div>

        <script>
            window.onload = function(){
                if(document.getElementById("one").innerHTML.trim().length !== 3) {
                    document.getElementById("two").style.display = 'none';
                    document.getElementById("three").style.display = 'none';
                }

                else {
                    document.getElementById("two").style.display = 'table-row;';
                    document.getElementById("three").style.display = 'table-row;';
                }

            }

        </script>

    </dl>

    <h2 class="govuk-heading-m">
        Exporter details
    </h2>

    <dl class="app-check-your-answers app-check-your-answers--long">
        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                Full name
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="2">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                Telephone number
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="2">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                PHS number
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="2">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                What is the address of the hatchery?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">
                <br> <br>
            </dd>
            <dd class="app-check-your-answers__change">
                <a href="2">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                Country
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="2">Change</a>
            </dd>
        </div>

    </dl>


    <h2 class="govuk-heading-m">
        Details of origin of the consignment
    </h2>

    <dl class="app-check-your-answers app-check-your-answers--long">
        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                PHS number of the Flock(s) of origin
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="3">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                What is the address of the Flock(s) of origin?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">
                <br> <br>
            </dd>
            <dd class="app-check-your-answers__change">
                <a href="3">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                Country
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="2">Change</a>
            </dd>
        </div>

    </dl>

    <h2 class="govuk-heading-m">
        Official veterinarian details
    </h2>

    <dl class="app-check-your-answers app-check-your-answers--long">

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                Full name (optional)
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="4">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                Telephone number
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="4">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                Email
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="4">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                What is the address of your official veterinarian?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">
                <br> <br>
            </dd>
            <dd class="app-check-your-answers__change">
                <a href="4">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                Country
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="4">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                What is the method of final certificate delivery?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">
                No
            </dd>
            <dd class="app-check-your-answers__change">
                <a href="4">
                    Change <span class="govuk-visually-hidden">registered company status</span>
                </a>
            </dd>
        </div>

    </dl>

    <h2 class="govuk-heading-m">
        European Union transit details
    </h2>

    <dl class="app-check-your-answers app-check-your-answers--long">
        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                Will the consignment transit the European Union and require an Intra Trade Animal Health Certificate?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="5">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                What is the number of Intra Trade Animal Health Certificate? (optional)
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="5">Change</a>
            </dd>
        </div>

    </dl>

    <span class="govuk-hint">
      Section 2 - information regarding your export health certificate
    </span>

    <h2 class="govuk-heading-m">
        Consignee details
    </h2>

    <dl class="app-check-your-answers app-check-your-answers--long">
        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                Full name
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="6">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                Daily phone number
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="6">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                What is the address of your consignee?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="4">Change</a>
            </dd>
        </div>

    </dl>


    <h2 class="govuk-heading-m">
        Origin and destination of consignment details
    </h2>

    <dl class="app-check-your-answers app-check-your-answers--long">
        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                Country of origin
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">
                United Kingdom - GB
            </dd>
            <dd class="app-check-your-answers__change">

            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                What is the name of the place of origin?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="7">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                What is the address of the place of origin?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="7">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                What is the approval number?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="7">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                Country of destination, ISO code
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="7">Change</a>
            </dd>
        </div>

    </dl>

    <h2 class="govuk-heading-m">
        Transport details
    </h2>

    <dl class="app-check-your-answers app-check-your-answers--long">

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                When is the departure date?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">
                /  /
            </dd>
            <dd class="app-check-your-answers__change">
                <a href="8">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                What is the address of the place of loading?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="8">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                What is the approval number of the loading?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="8">Change</a>
            </dd>
        </div>

        <!--This is the means of transport-->

        <div class="app-check-your-answers__contents" id="">
            <dt class="app-check-your-answers__question">
                What is the means of transport?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">
                <span id="five"> </span> <br> <span id="six"></span>
            </dd>
            <dd class="app-check-your-answers__change">
                <a href="8">Change</a>
            </dd>
        </div>

        <script>
            window.onload = function(){
                if(document.getElementById("five").innerHTML.trim().length !== 5) {
                    document.getElementById("six").innerHTML = '';
                }

                else {
                    document.getElementById("six").innerHTML = "";
                }

            }

        </script>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                What is the identification number?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="8">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                What is the name of the border inspection posts (BIP)?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="8">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                What is the border inspection posts (BIP) unit number in the EU?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="8">Change</a>
            </dd>
        </div>

    </dl>

    <h2 class="govuk-heading-m">
        Exported product details
    </h2>

    <dl class="app-check-your-answers app-check-your-answers--long">

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                What is the temperature of the product when transported?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="9">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                What is the exported quantity?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="9">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                How many packages will be exported?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="9">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                What is the seal / container number?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">
                FLAT 11,ORWELL COURT
            </dd>
            <dd class="app-check-your-answers__change">
                <a href="9">Change</a>
            </dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                What is commodity certified for?
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">
                POWNALL ROAD,8
            </dd>
            <dd class="app-check-your-answers__change">
                <a href="9">Change</a>
            </dd>
        </div>


        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">
                Description of the commodity
            </dt>
            <dd class="app-check-your-answers__answer" style="text-overflow: ellipsis; word-break: break-all;">

            </dd>
            <dd class="app-check-your-answers__change">
                <a href="9">Change</a>
            </dd>
        </div>

    </dl>


    <form action="declaration" method="post">
        <button class="govuk-button" type="submit">Save and continue</button>
    </form>

    </div>


    </main>
</div>

{% endblock %}
