{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service
    </span>
  </p>
</div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l ">8270EHC v2.56</span>
    <h1 id="formEditorHeading" class="govuk-heading-l heading-with-help">Create rule</h1>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Page title:    </span>For consignments transiting EU countries, who is responsible for the consignment when in the EU?</p>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Page ID:    </span>13</p>
    <h2 class="govuk-heading-m">Select dependent question</h2>
    <!--
    <form name="search-form" action="javascript:alert('Not in prototype');" method="GET">
                <div class="border-box govuk-grid-column-full">


                  <div class="govuk-grid-column-one-half govuk-form-group">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-!-font-weight-bold"
                             for="filter">Filter</label>
                      <input class="govuk-input" id="filter" type="text"
                             name="filter"
                             data-qa-id="TextField-filter" value="" placeholder="ID, Type, Text">
                    </div>
                  </div>

                  <div class="govuk-form-group govuk-grid-column-one-quarter">
                    <div class="govuk-label margin-top-45">
                      <button type="submit" name="name" value="" class="link-button" id="Button-Search" data-qa-id="Button-Search">
                        Search
                      </button>
                    </div>
                  </div>

                  <div class="govuk-grid-column-one-quarter">
                    <label class="govuk-label govuk-!-font-weight-bold" for="sort">Sort By</label>
                    <select class="govuk-select" id="sort" name="sort" data-qa-id="Select-">
                      <option value="">Please Select</option>
                      <option value="ID:DESC" >ID descending</option>
                      <option value="ID:ASC" >ID ascending</option>
                      <option value="QUESTION_TYPE:DESC" >Type descending</option>
                      <option value="QUESTION_TYPE:ASC" >Type ascending</option>
                      <option value="TEXT:DESC" >Text descending</option>
                      <option value="TEXT:ASC" >Text ascending</option>
                    </select>
                  </div>

                </div>
              </form>
-->
              <table class="govuk-table" data-qa-id="TABLE_CHOOSE_QUESTION">
                <thead class="govuk-table__head margin-top-30">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header">ID</th>
                  <th class="govuk-table__header govuk-!-width-one-quarter">Type</th>
                  <th class="govuk-table__header govuk-!-width-one-half">Text</th>
                  <th class="govuk-table__header">Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr class="govuk-table__row" data-qa-id="CHOOSE_TEXT">
                  <td class="govuk-table__cell"><strong id="QuestionID-305"
                                                        class="bold questionIdHolder">723</strong>
                  </td>
                  <td class="govuk-table__cell">
                    <span class="govuk-body">Single select</span>
                  </td>
                  <td class="govuk-table__cell" id="Text-0">Is the destination of your consignment the EU or a third country?</td>
                  <td class="govuk-table__cell">
                    <form action="/form-builder/conditional-routing/manage-pages/manage-rules-single/create-rule-2" method="GET">
                      <input type="hidden" name="name" value=""/>
                      <input type="submit" value="Select"
                             class="link-button"
                             />
                    </form>
                  </td>
                </tr>

                </tbody>
                </table>
                </div>
  </div>
</div>
{% endblock %}
