
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<div class="govuk-width-container">

    <main class="govuk-main-wrapper" id="main-content" role="main" data-qa-id="Question-Page-Form-Question-" data-qa-page="Question-Page-Form">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div>
                    <h1 id="questionPageHeading" class="govuk-heading-l">Exports</h1>
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <label class="govuk-label govuk-!-font-weight-bold">What specific commodity are you exporting?</label>
                    </legend>
                    <p>
                    </p><form action="1" method="POST" enctype="">
                    <input type="hidden" name="crumb_csrf_token" value="gTlLBKyL-1hcIX_eIlqttNqVHhFrTHmuqTG5yTJsotb">

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h1 class="govuk-fieldset__heading">
                                    MEAT
                                </h1>
                            </legend>
                            <div class="govuk-radios govuk-radios--small govuk-radios--inline">

                                <div class="govuk-radios__item">



                                    <input class="govuk-radios__input" id="commodityName-c9e9214f-50c7-4a1c-99e3-ced26332cac2" name="selectedCommodityNameOrCommodityType" type="radio" value="PORCINE">
                                    <label class="govuk-label govuk-radios__label" for="commodityName-c9e9214f-50c7-4a1c-99e3-ced26332cac2">
                                        PORCINE
                                    </label>
                                </div>
                            </div>


                        </fieldset>
                    </div>


                    <div class="govuk-!-margin-left-0 govuk-grid-column-one-quarter govuk-!-padding-0">
                        <input class="govuk-button" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-body">
                            <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
                        </div>
                    </div>

                </form>

                    <p></p>
                </div>
            </div>
        </div>
    </main>
</div>



{% endblock %}
