
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<main class="govuk-main-wrapper" id="main-content" role="main" data-qa-page="Page-Not-Found">
    <form action="/" method="GET">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div>
                    <h1 class="govuk-heading-l" id="Error_Message">Page Not Found</h1>

                    <p class="govuk-body">If you typed the web address, check it is correct.</p>
                    <p class="govuk-body">If you copied and pasted the web address, check you copied the entire address.</p>
                    <p class="govuk-body" id="environment-agency-contact-number">Contact the APHA helpline on 03000 200 301 if you need help with your application, quoting reference ABCD1234. </p>
                    <button type="submit" class="govuk-button">Return to home</button>
                </div>
            </div>
        </div>
    </form>
</main>




{% endblock %}
