<!-- New design to group page content together. -->
{% set current_group_title = "none"%}

<!--loop through all pages in data base-->
{% for task in db.pages %}
  <!-- Display information based on type EXA or EHC -->
  <!-- display_type is set in the parent file ("check-your-answers.html") -->
  {% if task.page != "supporting-documents" and display_type == task.type %}
    {% if not task.group_name or task.group_name != current_group_title %}
      <!--is this a product page ? -->
      {% if loop.index != 0 %}
      </dl>
    {% endif %}


    <!-- if this is not a product page then start the summary block -->
    {% if db.has_repeatable == "yes" and task.content.product_page == "yes" %}
      {% if (data.products | length) > 0 %}
      <!-- Set some parameters -->
      {% set product_lengh = (data.product_loop | length) or "5"%}
      {% set product_max = db.product_max or 5 %}
      <h2 class="govuk-heading-m">{{product_lengh }} product{% if product_lengh  > 1 or product_lengh  ==0%}s{% endif %} added to the application</h2>
        {% set current_group_title = task.group_name %}
        <dl class="govuk-summary-list govuk-summary-list__m">
            {% for prod in data.product_loop %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Product
                {{ loop.index }}
              </dt>
              <dd class="govuk-summary-list__value">
                {{prod}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="product-check-answers" data-qa-id="Link-ChangeRepeatablePage" id="Link-ChangeRepeatablePage-0">Change</a><br>
            <a class="govuk-link" href="product-list?delete={{loop.index -1}}&id={{query.id}}" id="0-deleteLink">Remove</a>

                </dd>
            </div>
              {% endfor %}
        </dl>
        <p class="govuk-body govuk-!-margin-bottom-9">
        {% if product_lengh  <= product_max %}
        <a href="page?id=1&next=1&product_page=yes&new=yes">Add another product</a></p>
        {% else%}
        You cannot add any more products to this certificate.If you have more than 3 products, <a href="exa/supporting-documents" class="govuk-link">attach a schedule as a supporting document</a>
      {% endif %}
      </p>
{% endif %}
    {% else %}
    <h2 class="govuk-heading-m">{{task.group_name}}</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
      {% endif %}
      <!-- end of repeatable -->
    {% endif %}
    <!-- End taskgroup name != current -->

    {% if task.content.product_page != "yes" %}

      {% for field in task.content.fields %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{field.label}}
          </dt>
          <dd class="govuk-summary-list__value">
            {% if field.type=="date" and data[field.name+'_day']%}
              {{data[field.name+'_day']}}/{{data[field.name+'_month']}}/{{data[field.name+'_year']}}
            {% elseif data[field.name]%}
              {{data[field.name]}}
              {%else%}
              <span class="govuk-hint">You skipped this question</span>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="page?id={{task.page}}&next=check-your-answers{%if task.page.repeatable!='yes' %}&confirm=yes{% endif%}&change=yes">
              Change<span class="govuk-visually-hidden">
                {{field.label}}</span>
            </a>
          </dd>
        </div>

      {% endfor %}
      <!-- Update the current_group_title if its a group page -->
      {% if task.group_name %}
        {% set current_group_title = task.group_name %}
      {% endif %}
    {% endif %}
    <!-- End if repeatable -->

  {% endif %}
  <!-- End if for supporting docs and task type -->
{% endfor %}
<!--task in db.pages -->

</dl>
