
{% extends "layout.html" %}

{% block pageTitle %}
  What is the multiple applications reference number?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" id="form" class="form">

      <!--<span class="govuk-caption-l"></span>-->
      <h1 class="govuk-heading-l">What is the multiple applications reference number?</h1>

      <p>
        This is the number you were given previously that links multiple applications into a single application.
      </p>

      <fieldset class="govuk-fieldset">

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-10">
            Multiple applications reference number
          </label>
          <input class="govuk-input govuk-input--width-20" id="applicationReferenceNumber" name="applicationReferenceNumber" type="number">
        </div>     
          
      </fieldset>

      <button type="submit" class="govuk-button">
        Continue
      </button>

      <p>
        <a href="javascript:history.back()">
          Cancel and go back
        </a>
      </p>

      </form>
    
    </div>
</div>

{% endblock %}
