{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block pageTitle %}
  Details of Horse 1
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" id="form" class="form">

      <span class="govuk-caption-l">Section 1: Identification of the animal</span>
      <h1 class="govuk-heading-l">Animal 1</h1>

      <!--<p>
        Please answer the following questions about Horse 1.
      </p>-->

      <fieldset class="govuk-fieldset">

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            Name
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-line-1" name="address-line-1" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
            Breed
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            Age
          </label>
          <!--<span id="national-insurance-number-hint" class="govuk-hint">
            Text.
          </span>-->
          <input class="govuk-input govuk-input--width-2" id="address-county" name="address-county" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Colour
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-postcode" name="address-postcode" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Sex
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="select" selected>Select</option>
            <option value="male" >Male</option>
            <option value="female">Female</option>
          </select>
        </div>

      </fieldset>

      <button type="submit" class="govuk-button">
        Save and continue
      </button>

      <p>
        <a href="dashboard.html">
          Save and continue later
        </a>
      </p>

      </form>
    
    </div>
</div>

{% endblock %}
