<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h3 class="govuk-fieldset__heading">
        {{field.label}}
      </h3>
      {% if field.hint %}<span id="{{field.id}}-hint" class="govuk-hint">{{field.hint}}</span>{% endif %}
    </legend>
    <div class="govuk-checkboxes {% if field.inline == 'yes'%}govuk-radios--inline{% endif %}">
      {% for checkbox in field.options %}
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="{{field.id}}" name="{{field.name}}" type="checkbox" value="{{checkbox.title}}" {% if (data[field.name] or field.defualt) and checkbox.title in (data[field.name] or field.defualt) and query.new != 'yes' %}checked="checked" {%endif%}>
        <label class="govuk-label govuk-checkboxes__label" for="{{checkbox.title}}">
          {{checkbox.title}}
        </label>
      </div>
      {% endfor %}
    </div>
  </fieldset>
</div>
