{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div>
      <h1 id="questionPageHeading" class="govuk-heading-xl margin-bottom-20">How would you like the certificate to be delivered to the certifier?</h1>
      <span id="questionPageSubtitle" class="govuk-caption-xl"></span>
      <span id="questionPageHint" class="govuk-body govuk-!-margin-bottom-3 govuk-hint">The certificate will be sent to your nominated address for certification. If you choose special delivery or courier you must arrange and pay the charges and we
        will contact you for further details.</span>
      <p>
      </p>
      <form action="../check-your-answers-cloned" method="POST">
        <input type="hidden" name="crumb_csrf_token" value="nAitoNVyVGtnnzUQ-QQk78LOMzR_-9L6qqu86Lg9aRY">
        <!-- @formatter:off -->
        <div class="govuk-form-group ">
          <fieldset id="8270EHCBLOCKTEST-0" class="govuk-fieldset">
            <legend class="govuk-fieldset__legend" for="8270EHCBLOCKTEST-0">
              <label class="govuk-label govuk-!-font-weight-bold">Delivery method</label>
            </legend>
            <div class="govuk-radios govuk-radios">
              {% if query.printable!="no"%}
              <div class="govuk-radios__item">
                <input type="radio" class="govuk-radios__input" id="8270EHCBLOCKTEST-0" value="Email" name="delivery_options" data-qa-id="Question-radio-Email" autofocus="autofocus">
                <label class="govuk-label govuk-radios__label" for="8270EHCBLOCKTEST-0">Email</label>
              </div>
              {% endif %}
              <div class="govuk-radios__item">
                <input type="radio" class="govuk-radios__input" id="8270EHCBLOCKTEST-0" value="First class post" name="delivery_options" data-qa-id="Question-radio-First class post">
                <label class="govuk-label govuk-radios__label" for="8270EHCBLOCKTEST-0">First class post</label>
              </div>
              <div class="govuk-radios__item">
                <input type="radio" class="govuk-radios__input" id="8270EHCBLOCKTEST-0" value="Special delivery" name="delivery_options" data-qa-id="Question-radio-Special delivery">
                <label class="govuk-label govuk-radios__label" for="8270EHCBLOCKTEST-0">Special delivery</label>
              </div>
              <p class="form-block">or</p>
              <div class="govuk-radios__item">
                <input type="radio" class="govuk-radios__input" id="8270EHCBLOCKTEST-0" value="Courier" name="delivery_options" data-qa-id="Question-radio-Courier">
                <label class="govuk-label govuk-radios__label" for="8270EHCBLOCKTEST-0">Courier</label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-grid-row margin-top-30"></div>
        <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
          <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full govuk-body">
            <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater">
          </div>
        </div>
      </form>
      <p></p>
    </div>
  </div>
</div>
{% endblock %}
