{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<style media="screen">

</style>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service
    </span>
  </p>
</div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <span class="govuk-caption-l" data-qa-id="list-versions-SOPHIE123EHC">AutoEHC-2021-03-11-446</span>
                <h1 id="versionsHeading" class="govuk-heading-l disabled">Change history</h1>

                <table class="govuk-table  govuk-!-font-size-16" aria-describedby="Document version explained">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Version</th>
                        <th class="govuk-table__header" scope="col">User</th>
                        <th class="govuk-table__header" scope="col">Change type</th>
                        <th class="govuk-table__header" scope="col">Reason for change</th>
                        <th class="govuk-table__header" scope="col">Status</th>
                        <!-- <th class="govuk-table__header" scope="col">Date implemented</th> -->
                        <th class="govuk-table__header" scope="col">Date published</th>
                        <th class="govuk-table__header" scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                      {% for item in results %}
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-body-s">{{item.version}}</td>
                        <td class="govuk-table__cell govuk-body-s">{{item.user}}</td>
                        <td class="govuk-table__cell govuk-body-s">{{item.changeType}}</td>
                        <td class="govuk-table__cell govuk-body-s">{{item.reason}}</td>
                        <td class="govuk-table__cell govuk-body-s">{{item.status}}</td>
                       <!--  <td class="govuk-table__cell govuk-body-s">{{item.dateImplemented}}</td> -->
                        <td class="govuk-table__cell govuk-body-s">{{item.datePublished}}</td>
                        <td class="govuk-table__cell govuk-body-s"><a class="" href="{{item.url}}">View </a></td>
                      </tr>
                      {% endfor %}
<!-- 
                    <tr class="govuk-table__row" >
                      <td class="govuk-table__cell"><a class="" href="">2.55</a></td>
                      <td class="govuk-table__cell">Victoria Young</td>
                      <td class="govuk-table__cell">Config change</td> 
                      <td class="govuk-table__cell">To restrict use in private Beta</td>
                      <td class="govuk-table__cell">Unrestricted</td>
                      <td class="govuk-table__cell">20 Apr 2021</td>
                      <td class="govuk-table__cell">21 Apr 2021</td>
                      <td class="govuk-table__cell"><a class="" href="change-detail-1">Link</a></td>
                    </tr>
                    <tr class="govuk-table__row" >
                      <td class="govuk-table__cell"><a class="" href="">2.54</a></td>
                      <td class="govuk-table__cell">Howard Perry</td>
                      <td class="govuk-table__cell">New form</td>
                      <td class="govuk-table__cell">New function in system</td>
                      <td class="govuk-table__cell">Unrestricted</td>
                      <td class="govuk-table__cell">10 Apr 2021</td>
                      <td class="govuk-table__cell">17 Apr 2021</td>
                      <td class="govuk-table__cell"><a class="" href="">Link</a></td>
                    </tr>
                    <tr class="govuk-table__row" >
                      <td class="govuk-table__cell"><a class="" href="">2.54</a></td>
                      <td class="govuk-table__cell">Howard Perry</td>
                      <td class="govuk-table__cell">Status change</td>
                      <td class="govuk-table__cell">COVID measures</td>
                      <td class="govuk-table__cell">Withdrawn</td>
                      <td class="govuk-table__cell">10 Apr 2021</td>
                      <td class="govuk-table__cell">17 Apr 2021</td>
                      <td class="govuk-table__cell"><a class="" href="">Link</a></td>
                    </tr>
                    <tr class="govuk-table__row" >
                      <td class="govuk-table__cell"><a class="" href="">2.53</a></td>
                      <td class="govuk-table__cell">Howard Perry</td>
                      <td class="govuk-table__cell">Config change</td>
                      <td class="govuk-table__cell">Format of repeat question loop has changed. "Save and review" is no longer an option.</td>
                      <td class="govuk-table__cell">Unrestricted</td>
                      <td class="govuk-table__cell"> 3 Apr 2021</td>
                      <td class="govuk-table__cell"> 9 Apr 2021</td>
                      <td class="govuk-table__cell"><a class="" href="">Link</a></td>
                    </tr>
                    <tr class="govuk-table__row" >
                      <td class="govuk-table__cell"><a class="" href="">2.52</a></td>
                      <td class="govuk-table__cell">Rob Jennings</td>
                      <td class="govuk-table__cell">New version</td>
                      <td class="govuk-table__cell">New function in system</td>
                      <td class="govuk-table__cell">Unrestricted</td>
                      <td class="govuk-table__cell">22 Apr 2021</td>
                      <td class="govuk-table__cell">9 Apr 2021</td>
                      <td class="govuk-table__cell"><a class="" href="">Link</a></td>
                    </tr>
                    <tr class="govuk-table__row" >
                      <td class="govuk-table__cell"><a class="" href="">2.4</a></td>
                      <td class="govuk-table__cell">Victoria Young</td>
                      <td class="govuk-table__cell">Config change</td> 
                      <td class="govuk-table__cell">User feedback</td>
                      <td class="govuk-table__cell">Unrestricted</td>
                      <td class="govuk-table__cell">20 Apr 2021</td>
                      <td class="govuk-table__cell">21 Apr 2021</td>
                      <td class="govuk-table__cell"><a class="" href="">Link</a></td>
                    </tr>
                    <tr class="govuk-table__row" >
                      <td class="govuk-table__cell"><a class="" href="">2.3</a></td>
                      <td class="govuk-table__cell">Kristina Matthews</td>
                      <td class="govuk-table__cell">New form</td>
                      <td class="govuk-table__cell">To restrict use in private Beta</td>
                      <td class="govuk-table__cell">Restricted</td>
                      <td class="govuk-table__cell">10 Apr 2021</td>
                      <td class="govuk-table__cell">17 Apr 2021</td>
                      <td class="govuk-table__cell"><a class="" href="">Link</a></td>
                    </tr>
                    <tr class="govuk-table__row" >
                      <td class="govuk-table__cell"><a class="" href="">2.1</a></td>
                      <td class="govuk-table__cell">Kristina Matthews</td>
                      <td class="govuk-table__cell">Status change</td>
                      <td class="govuk-table__cell">User feedback</td>
                      <td class="govuk-table__cell">Restricted</td>
                      <td class="govuk-table__cell">10 Apr 2021</td>
                      <td class="govuk-table__cell">17 Apr 2021</td>
                      <td class="govuk-table__cell"><a class="" href="">Link</a></td>
                    </tr>
                    <tr class="govuk-table__row" >
                      <td class="govuk-table__cell"><a class="" href="">2.0</a></td>
                      <td class="govuk-table__cell">Kristina Matthews</td>
                      <td class="govuk-table__cell">Config change</td>
                      <td class="govuk-table__cell">New function in system</td>
                      <td class="govuk-table__cell">Restricted</td>
                      <td class="govuk-table__cell"> 3 Apr 2021</td>
                      <td class="govuk-table__cell"> 9 Apr 2021</td>
                      <td class="govuk-table__cell"><a class="" href="">Link</a></td>
                    </tr>
 -->
                    </tbody>
                </table>
                <div class="app-example-page govuk-!-padding-top-6">
                  <nav class="app-pagination" id="pagination-label">
                    <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>
                    <ul class="app-pagination__list">
                      <li class="app-pagination__item  app-pagination__item--prev">
                        <a class="app-pagination__link" href="">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
                      </li>
                      <li class="app-pagination__item"><a class="app-pagination__link" href="#">1</a></li>
                      <li class="app-pagination__item"><a class="app-pagination__link" href="#">2</a></li>
                      <li class="app-pagination__item app-pagination__item--active"><a class="app-pagination__link" href="#" style="color: black!important;font-weight: 700">3</a></li>
                      <li class="app-pagination__item  app-pagination__item--next">
                        <a class="app-pagination__link" href="">Next<span class="govuk-visually-hidden"> set of pages</span></a>
                      </li>
                    </ul>
                    <p class="app-pagination__results">Showing <b>21</b> to <b>30</b> of <b>30</b> results</p>
                  </nav>
                </div>

  </div>
</div>
{% endblock %}
