{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">AutoEHC-2021-03-11-446</span>
    <h1 class="govuk-heading-xl">
      Why did you make these changes?
    </h1>
    <p class="govuk-body"></p>


    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Version
        </dt>
        <dd class="govuk-summary-list__value">
          3.82
        </dd>
<!--         <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> version</span>
          </a>
        </dd> -->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
            Unrestricted
        </dd>
<!--         <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> status</span>
          </a>
        </dd> -->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type
        </dt>
        <dd class="govuk-summary-list__value">
          Config change
        </dd>
<!--         <dd class="govuk-summary-list__actions">
          
        </dd> -->

      </div>

    </dl>

    <form action="../check-your-progress" method="POST">

      <fieldset class="govuk-fieldset">
        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="150">
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="with-hint">
              Explain why you made this change
              </label>
            </h1>
<!--             <div id="with-hint-hint" class="govuk-hint">
              Do not include personal or financial information like your National Insurance number or credit card details.
            </div> -->
            <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
          </div>
        
          <div id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
            You can enter up to 150 characters
          </div>
        
        </div>
        <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">


        </div>
      </fieldset>
      <button class="govuk-button" type="submit">Save</button>
    </form>

  </div>
  </div>
  {% endblock %}
