{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block pageTitle %}
  Upload your supporting documents
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" id="form" class="form">

      <h2 class="govuk-heading-l">
        Upload your supporting documents
      </h2>

      <p>
    		You can only upload one at a time. Each file must:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>be a PDF</li>
        <li>be less than 10 megabytes (10MB)</li>
      </ul>

      <div class="govuk-inset-text">
        The total size of the files you upload must be 25 megabytes (25MB) or less.
      </div>

      <div class="govuk-form-group">
        <button type="submit" class="govuk-button" style="background-color: #dee0e2; color: #0b0c0c;">
          Upload a supporting document
        </button>
      </div>

      <button type="submit" disabled="disabled" aria-disabled="true" class="govuk-button govuk-button--disabled">
        Save and continue
      </button>

      <!--<button href="countries_of_transit_en_route.html" type="submit" class="govuk-button">
        Save and continue
      </button>-->

      <p>
        <a href="../dashboard.html">
          Save and continue later
        </a>
      </p>

      </form>
  
    </div>
  </div>

{% endblock %}
