{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent%}
<a href="/check-ehc/" class="govuk-back-link">Back</a>

{{super()}}
{% endblock %}
{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>

  <h1 class="govuk-heading-l">
    What is the serial number?
  </h1>
  <div class="govuk-form-group">
  <label class="govuk-label govuk-!-font-weight-bold" for="full-name">
    Serial number
  </label>
  <p class="govuk-body">Enter the number on the certificate that starts with with "No:"</p>
  <input class="govuk-input" id="certificate-number" name="certificate-number" type="text">
</div>

<button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

      </div>


    </div>

</div>
{% endblock %}
