{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent%}
{{super()}}
{% endblock %}
{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" novalidate>
        <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="certificate-number">
    What is the certificate number?
    </label>
  </h1>
  <input class="govuk-input" id="certificate-number" name="certificate-number" type="text">
</div>

<button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

      </div>


    </div>

</div>
{% endblock %}
