{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent%}
{{super()}}
{% endblock %}
{% block content %}


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">


            <div class="govuk-panel govuk-panel--red">
             <h1 class="govuk-panel__title">
               Certificate is not valid
             </h1>

           </div>



           <p class="govuk-body">The serial number you entered and QR code on the certificate do not match our records.</p>

           <p class="govuk-body">If you think you could have made a mistake, <a href="/check-ehc/certificate-number">enter the serial number again</a>.</p>


           <h2 class="govuk-heading-s">Get help</h2>

           <ul class="govuk-list govuk-list--bullet">
             <li>call APHA on +44 (0) 3000 200 301</li>
             <li>email <a href="mailto:example@example.com">exports@apha.gov.uk</a></li>
           </ul>

         </div>
        </div>



{% endblock %}
