{% extends "layout.html" %}
{% block pageTitle %}
What is the unique code? - Check an export health certificate - GOV.UK
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<!--start-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
    What is the 12 digit number?
    </h1>
    <img src="/public/images/certificate-reference-no-qr.jpg" style="max-width:100%;
    max-height:100%;" alt="Diagram showing location of the 12 digit number on the Export Health Certificate below the QR code">
    <form method="POST">
      <!-- <form  action="check-your-progress"  method="POST"> -->
      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="unique-code">
            12 digit number
          </label>
          <p class="govuk-hint">This is in the top right corner of the EHC, for example 1234-5678-9101</p>
          <input class="govuk-input govuk-input--width-20" id="unique-code" name="unique-code" type="text" aria-describedby="exporter_name-hint" value="">
        </div>
        <input class="govuk-button" type="submit" name="saveAndContinue" value="Continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">

      </fieldset>
    </form>
    <p class="govuk-body">

  </div>
</div>
{% endblock %}
