{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent%}
{{super()}}
{% endblock %}
{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <div class="govuk-panel govuk-panel--confirmation">
         <h1 class="govuk-panel__title">
           Certificate is valid
         </h1>
         <div class="govuk-panel__body">
           The serial number is <br><strong>333333</strong>
         </div>
       </div>

       <h2 class="govuk-heading-m">Certificate details</h2>

       <p class="govuk-body">The certificate has been marked as returned by APHA and has a serial number 333333.</p>

        <p class="govuk-body">The certificate is for: Cattle skins or hides to the People's Republic of China. It was marked as certified on 03/10/2019 and was exported on 04/10/2019.</p>

          <p class="govuk-body">The applicant is: Exporter Ltd, 29 Bleasey Road, Warrington WA1 1AA and it was certified by Certifiers Ltd, 21 Rock Salts Lane, Poulton-Le-Fylde FY6 7AB, UK.</p>

<h2 class="govuk-heading-s">Need help or the presented certificate does not match this report?</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>call APHA on (+44)01234 56789</li>
  <li>email <a href="mailto:example@example.com">example@example.com</a></li>
</ul>

     </div>
    </div>

</div>
{% endblock %}
