{% extends "layout.html" %}
{% block pageTitle %}
Certificate is valid - Check an export health certificate - GOV.UK
{% endblock %}
{% block beforeContent%}
{{super()}}
{% endblock %}
{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <div class="govuk-panel govuk-panel--confirmation">
         <h1 class="govuk-panel__title">
           Yes, this certificate is valid
         </h1>
         <div class="govuk-panel__body">
           The certificate number is <br><strong>33/3/333333</strong>
         </div>
       </div>

       <h2 class="govuk-heading-m">Certificate details</h2>

        <p class="govuk-body">Cattle skins or hides to the People's Republic of China</p>
        <p class="govuk-body">Certified: 03/10/2019</p>
        <p class="govuk-body">Exported: 04/10/2019</p>
        <p class="govuk-body">Applicant: Exporter Ltd, 29 Bleasey Road, Warrington WA1 1AA</p>
        <p class="govuk-body">Certified by: Certifiers Ltd, 21 Rock Salts Lane, Poulton-Le-Fylde FY6 7AB, UK.</p>

<h2 class="govuk-heading-s">Something wrong with this certificate?</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>call APHA on +44 (0) 3000 200 301</li>
  <li>email <a href="mailto:example@example.com">exports@apha.gov.uk</a></li>
</ul>

     </div>
    </div>

</div>
{% endblock %}
