{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div>
        <h1 class="govuk-heading-xl heading-with-help">Online form editor: set question
          behaviour</h1>

        <div class="govuk-grid-row margin-top-30">
          <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body govuk-!-font-weight-bold">ID</p>
          </div>
          <div class="govuk-grid-column-three-quarters">
            <p class="govuk-body govuk-!-font-weight-bold">Question</p>
          </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--visible">
        <div class="govuk-grid-row margin-top-10">
          <div class="govuk-grid-column-one-quarter">
            <p class="govuk-body govuk-!-font-weight-bold">23</p>
          </div>
          <div class="govuk-grid-column-three-quarters">
            <p class="govuk-body govuk-!-font-weight-bold">What are the batch numbers?</p>
          </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--visible">
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-form-group margin-top-30">
      <form action="questions" method="POST">
        <input type="hidden" name="crumb_csrf_token" value="tHqzFHlMR8fdGv61rRffxpboiFBlQTXyVy5J6026StE">
        <input type="hidden" name="questionType" value="TEXTAREA">
        <input type="hidden" name="pipeDelimitedTemplateFields" value="Isolation premises address|Isolation premises to|exam date">
        <input type="hidden" name="fieldType" value="TEXT">
        <input type="hidden" name="questionId" value="23">
        <input type="hidden" name="questionOrder" value="">


        <div class="govuk-grid-column-one-half">
          
          
          <div class="govuk-grid-row">
            <div id="form-page-select-container" class="govuk-grid-column-full">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-form-group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      <h3 class="govuk-fieldset__heading">Choose option for single PDF field</h3>
                    </legend>
                    <select class="govuk-select" id="sort" name="sort">
                      <option value="published" selected>Yes (Option 1)</option>
                      <option value="published">No (Option 2)</option>
                    </select>
                        </div>
                  <br><br>
                </fieldset>
              </div>
            </div>
          </div>          
          
          <div class="govuk-grid-row">
            <div id="form-page-select-container" class="govuk-grid-column-two-thirds">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h3 class="govuk-fieldset__heading">Enter field ordering</h3>
                  </legend>
                  <table>
                    <tbody><tr>
                      <td>
                        <label class="govuk-label" for="Isolation premises address-fieldOrder">Isolation premises address</label>
                      </td>
                      <td>
                        <label class="govuk-label" for="Isolation premises to-fieldOrder">Isolation premises to</label>
                      </td>
                      <td>
                        <label class="govuk-label" for="exam date-fieldOrder">exam date</label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input id="Isolation premises address-fieldOrder" name="Isolation premises address-fieldOrder" class="govuk-input govuk-input--width-2" value="" type="number" step="1">
                      </td>
                      <td>
                        <input id="Isolation premises to-fieldOrder" name="Isolation premises to-fieldOrder" class="govuk-input govuk-input--width-2" value="" type="number" step="1">
                      </td>
                      <td>
                        <input id="exam date-fieldOrder" name="exam date-fieldOrder" class="govuk-input govuk-input--width-2" value="" type="number" step="1">
                      </td>
                    </tr>
                  </tbody></table>
                  <br><br>
                </fieldset>
              </div>
            </div>
          </div>


          <div>
              <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">

                      <legend class="govuk-fieldset__legend">
                          <h3 class="govuk-heading-m">Who is this question for?</h3>
                      </legend>


                      <div id="question-scope-container" class="govuk-form-group ">
                          <div class="govuk-radios__item" data-target="show-question-scope-message">
                              <input class="govuk-radios__input" id="question-scope-applicant" type="radio" name="questionScope" value="APPLICANT" data-qa-id="RadioButton-QuestionScope">
                              <label class="govuk-label govuk-radios__label" for="question-scope-applicant">Applicant</label>
                          </div>

                          <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="question-scope-certifier" type="radio" name="questionScope" value="CERTIFIER" data-qa-id="RadioButton-QuestionScope">
                              <label class="govuk-label govuk-radios__label" for="question-scope-certifier">Certifier</label>
                          </div>

                          <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="question-scope-both" type="radio" name="questionScope" value="BOTH" data-qa-id="RadioButton-QuestionScope">
                              <label class="govuk-label govuk-radios__label" for="question-scope-both">Both</label>
                          </div>
                      </div>
                  </fieldset>
              </div>
             <br>
          </div>
          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">

                  <legend class="govuk-fieldset__legend">
                      <h3 class="govuk-heading-m">Mandatory/optional behaviour</h3>
                  </legend>

                  <div class="govuk-radios__item" data-target="show-required-message">
                      <input class="govuk-radios__input" id="required-true" type="radio" name="requiredRule" value="true" data-qa-id="RadioButton-RequiredRule">
                      <label class="govuk-label govuk-radios__label" for="required-true">Mandatory
                          question</label>
                  </div>

                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="required-false" type="radio" name="requiredRule" value="false" data-qa-id="RadioButton-RequiredRule" checked="">
                      <label class="govuk-label govuk-radios__label" for="required-false">Optional
                          question</label>
                  </div>


                  <div id="show-required-message" class="margin-top-30 js-hidden ">
                      <label class="govuk-label" for="requiredMessage">Error validation
                          message</label>
                      <textarea class="govuk-textarea" id="requiredMessage" name="requiredMessage" data-qa-id="Input-RequiredMessage" rows="3"></textarea>
                  </div>


              </fieldset>

          </div>

          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      <h3 class="govuk-fieldset__heading">Field length behaviour</h3>
                  </legend>

                  <div id="min-and-max-container" class="">

                      <div id="min-container" class="">
                          <label class="govuk-label" for="minLength">Minimum field length</label>
                          <span class="govuk-hint">This is the minimum length of answer required</span>
                          <input class="govuk-input column-one-half" id="minLength" name="minLength" data-qa-id="Input-MinLength" value="" type="number" step="1">
                      </div>

                      <div id="max-container" class="margin-top-20 ">
                          <label class="govuk-label" for="maxLength">Maximum field length</label>
                          <span class="govuk-hint">This is the maximum length of answer required</span>
                          <input class="govuk-input column-one-half" id="maxLength" name="maxLength" data-qa-id="Input-MaxLength" value="" type="number" step="1">
                      </div>
                  </div>
                  <div id="min-and-max-validation-message-container" class="margin-top-20 ">
                      <label class="govuk-label" for="minMaxMessage">Error validation message</label>
                      <textarea class="govuk-textarea" id="minMaxMessage" name="minMaxMessage" data-qa-id="Input-MinMaxMessage" rows="3"></textarea>
                  </div>


              </fieldset>
          </div>

          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      <h3 class="govuk-fieldset__heading">Number of carriage returns behaviour</h3>
                  </legend>

                  <div id="max-carriage-return-max-container" class="">
                      <div id="cr-max-container" class="margin-top-20 ">
                          <label class="govuk-label" for="maxCarriageReturns">Maximum carriage number</label>
                          <input class="govuk-input column-one-half" id="maxCarriageReturns" name="maxCarriageReturns" data-qa-id="Input-maxCarriageReturns" value="" type="number" step="1">
                      </div>
                  </div>
                  <div id="max-carriage-return-validation-message-container" class="margin-top-20 ">
                      <label class="govuk-label" for="maxCarriageReturnsMessage">Error validation message</label>
                      <textarea class="govuk-textarea" id="maxCarriageReturnsMessage" name="maxCarriageReturnsMessage" data-qa-id="Input-carriageMaxMessage" rows="3"></textarea>
                  </div>


              </fieldset>
          </div>


          <div class="govuk-grid-row">
            <div id="form-page-select-container" class="govuk-grid-column-two-thirds">

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">

                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h3 class="govuk-fieldset__heading">Choose Page</h3>
                  </legend>


                  <select class="govuk-select" id="select-form-page" name="formPageId">
                    <option value="">Select</option>
                    <option value="7606">1
                    What are the details of the horse?
                    </option>
                    <option value="7607">2
                    How will the horse be identified?
                    </option>
                    <option value="7608">3
                    Who owns the horse?
                    </option>
                    <option value="7609">4
                    Where was the horse examined?
                    </option>
                    <option value="7610">5
                    Who is sending the consignment?
                    </option>
                    <option value="7611">6
                    How will the horse be transported?
                    </option>
                    <option value="7612">7
                    Where is the consignment being sent to?
                    </option>
                    <option value="7613">8
                    Who is receiving the consignment?
                    </option>
                  </select>
                </fieldset>
              </div>

            </div>
          </div>

          <div class="govuk-grid-row margin-top-30">
            <div class="govuk-grid-column-two-thirds">
              <div class="govuk-form-group">
                <input class="govuk-button" type="submit" value="Save question behaviours" data-qa-id="Button-Save" id="Button-Save">
                <div>
                  <a class="govuk-link" href="/protected/forms/2849EHC/versions/3.2/form">Cancel</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}

