
{% extends "layout.html" %}

{% block pageTitle %}
  Apply for an Export Health Certificate (EHC)
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l">
        Fill in this form to apply for an Export Health Certificate (EHC)
      </h2>

      <p>
        Fill in this form to permanently export horses from the United Kingdom to the United Arab Emirates. This certificate is valid for 10 days.
      </p>

      <a href="q1.html" role="button" class="govuk-button">
        Continue
      </a>

   	  <p>
        <a href="#">
          Back to Form Finder
        </a>
      </p>
    
    </div>
</div>

{% endblock %}
