
{% extends "layout.html" %}

{% block pageTitle %}
  Apply for an Export Health Certificate (EHC)
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Export my animal or animal product
      </h1>

      <div class="govuk-inset-text">
    		You can apply for an export health certificate online. You will need to register or login.
  	  </div>

      <p>
        Before you start you will need:
      </p>

      <ol class="govuk-list govuk-list--bullet">
      	<li>Information about the exporter</li>
      	<li>Information about your animal or animal product</li>
   	  </ol>

   	  <a href="sign_in.html" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
        Start now
      </a>

   	  <p>
        <a href="#">
          Back to Form Finder
        </a>
      </p>
   	  
    </div>
</div>

{% endblock %}
