
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div>

                         <span class="govuk-caption-xl">
          Step 1 of 2
        </span>

                <h1 class="govuk-heading-xl">About the shipment</h1>

                <form action="14" method="POST" enctype="application/x-www-form-urlencoded">







                    <div class="govuk-form-group ">
                        <label class="govuk-label " for="7006EHC-0">What are the batch numbers? </label>
                        <div class="govuk-hint">Enter the range of batch codes or lot numbers (first to last) for this product.</div>
                        <textarea class="govuk-textarea" id="7006EHC-0" name="batch-numbers" rows="3" autofocus="autofocus" data-qa-id="Question-7006EHC-0" spellcheck="false"></textarea>
                    </div>

                    <div class="govuk-form-group ">
                        <label class="govuk-label " for="7006EHC-0">What are the shipping marks? </label>
                        <div class="govuk-hint">
                            What are the shipping marks, including the container number or seal number?
                        </div>
                        <textarea class="govuk-textarea" id="7006EHC-0" name="shipping-marks" rows="3" autofocus="autofocus" data-qa-id="Question-7006EHC-0" spellcheck="false"></textarea>
                    </div>





                    <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
                        <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full govuk-body">
                            <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">
                        </div>
                    </div>


                </form>

                <p></p>
            </div>
        </div>
    </div>
</div>












{% endblock %}
