
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>

<div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


                <h1 class="govuk-heading-xl" style="">About your product</h1>




                    <form action="check-your-progress6" method="POST" enctype="application/x-www-form-urlencoded">









                        <div class="govuk-form-group ">
                            <label class="govuk-label " for="6969EHC-0">What is the product that is being exported?</label>
                            <div class="govuk-hint">Include details such as product name and commodity type</div>
                            <textarea class="govuk-textarea" id="6969EHC-0" name="0" rows="3" autofocus="autofocus" data-qa-id="Question-6969EHC-0" spellcheck="false"></textarea>
                        </div>


                        <div class="govuk-form-group ">
                            <label class="govuk-label  " for="6969EHC-0">What is the type and number of packages? </label>
                            <input class="govuk-input form-control-3-4" id="6969EHC-0" name="0" value="" type="text" autofocus="autofocus" data-qa-id="Question-6969EHC-0">
                        </div>


                        <div class="govuk-form-group ">
                            <label class="govuk-label  " for="6969EHC-0">What is the net weight of the consignment?  </label>
                            <input class="govuk-input form-control-3-4" id="6969EHC-0" name="0" value="" type="text" autofocus="autofocus" data-qa-id="Question-6969EHC-0">
                        </div>

                        <h2 class="govuk-heading-m govuk-\!-margin-bottom-0 govuk-\!-margin-top-9" style="margin-top: 50px;">
                            What is the date of manufacture?
                        </h2>



                        <div class="govuk-form-group" {{ data['production-dates'] }}>
                        <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">

                            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                From date
                            </label>

                         <span id="passport-issued-hint" class="govuk-hint">
      For example, 27 3 2007
    </span>
                            <div class="govuk-date-input" id="passport-issued">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                            Day
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                            Month
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                            Year
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
            </div>


            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">

                    <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                        To date
                    </label>

                         <span id="passport-issued-hint" class="govuk-hint">
      For example, 27 4 2007
    </span>
                    <div class="govuk-date-input" id="passport-issued">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>





            <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-padding-0">
                            <input class="govuk-button margin-top-30" type="submit" name="saveAndContinue" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">
                        </div>

                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full govuk-body">
                                <input class="link-button" type="submit" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">
                            </div>
                        </div>


                        </form>



            </div>
        </div>
        </div>
</div>
        












{% endblock %}
