{% if page.can_save_address == "yes" %}
<!-- so the routes can know this is to be address can be saved and repeated -->
<input type="hidden" name="save_label" value="{{field.name}}"></input>
{% endif%}

{% if page.can_save_address == "yes" and (data[page.address_type] |length) > 0%}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h3 class="govuk-fieldset__heading">
          {{field.label}}
      </h3>
    </legend>
    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      {% for radio in data[page.address_type] %}
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="{{field.id}}-{{loop.index}}" name="{{field.name}}" type="radio" value="{{radio}}" {% if data[field.name] == radio.value %}checked="checked"{%endif%}>
        <label class="govuk-label govuk-radios__label" for="{{field.id}}-{{loop.index}}">
          {{radio}}
        </label>
      </div>
    {% endfor %}

    {% if (data[page.address_type] | length) > 2 %}
    <div class="govuk-radios__divider">or</div>
    {% endif %}
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="{{field.id}}-{{loop.index+1}}" name="{{field.name}}" type="radio" value="differnt_address" {% if data[field.name] == radio.value %}checked="checked"{%endif%} data-aria-controls="conditional-different-conditional">
      <label class="govuk-label govuk-radios__label" for="{{field.id}}-{{loop.index}}">
        A differnt address
      </label>
    </div>
    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-different-conditional" >
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="7006EHC-0">Enter an address</label>
        {% if field.hint %}<div class="govuk-hint">{{field.hint}}</div>{% endif %}
        <textarea class="govuk-textarea js-question" id="{{field.id}}" autocomplete="on" name="{{field.name}}" rows="{{field.rows}}" autofocus="autofocus" {% if field.default %}data-default="{{field.default}}"{% endif %} spellcheck="false" {% if query.change=="yes" or query.show_answers == "yes" %}data-filled="yes"{%endif%}>{% if query.change=="yes" %}{{ data[field.name] or ''}}{%endif%}</textarea>
      </div>

    </div>
</div>
</fieldset>
</div>
{%else%}
<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="7006EHC-0">{{field.label}} {% if field.required == 'no'%}{%endif%}</label>
  {% if field.hint %}<div class="govuk-hint">{{field.hint}}</div>{% endif %}
  <textarea class="govuk-textarea js-question" id="{{field.id}}" autocomplete="on" name="{{field.name}}" rows="{{field.rows}}" autofocus="autofocus" {% if field.default %}data-default="{{field.default}}"{% endif %} spellcheck="false" {% if query.change=="yes" or query.show_answers == "yes" %}data-filled="yes"{%endif%}>{% if query.change=="yes" %}{{ data[field.name] or ''}}{%endif%}</textarea>
</div>
{%endif%}
