{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent%}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Return to your applications</a>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      When would the OV need this block application?
    </h1>
    <p class="govuk-body">For block applications, enter an estimated date that the first export is likely to take place.</p>
    <form method="POST" action="check-your-progress">
    <!-- <form  action="check-your-progress"  method="POST"> -->
      <fieldset class="govuk-fieldset">



        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="export_date-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h3 class="govuk-fieldset__heading">
        Need the block by
      </h3>
    </legend>
    <span id="export_date-hint" class="govuk-hint">For example, 31 08 1970</span>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="export_date-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="pexport_dateday" name="export_date_day" type="number" pattern="[0-9]*" value="">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="export_date-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="pexport_date-month" name="export_date_month" type="number" pattern="[0-9]*" value="">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="export_date-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="export_date-year" name="export_date_year" type="number" pattern="[0-9]*" value="">
        </div>
      </div>
    </div>
  </fieldset>
</div>


        <div class="govuk-form-group govuk-!-margin-top-8">

          <input class="govuk-button govuk-!-margin-right-1" type="submit" name="cta" value="Save and continue" id="Button-SaveAndContinue" data-qa-id="Button-SaveAndContinue">

        </div>
      </fieldset>
    </form>
    <p class="govuk-body"><a class="link-button" href="dashboard" value="Save and continue later" name="saveAndResumeLater" data-qa-id="Button-SaveAndResumeLater" id="Button-SaveAndResumeLater" disabled="">Save and continue later</a></p>
  </div>
</div>
{% endblock %}
