
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">
         Relevant sub title here
        </span>
      <h1 class="govuk-heading-xl">
        Horses: use this page to add up to 3 horses to the application
      </h1>


        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Name</th>
                <th class="govuk-table__header" scope="col">Breed</th>
                <th class="govuk-table__header" scope="col">Actions</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <td class="govuk-table__cell">Arabic white</td>
            <td class="govuk-table__cell">Crabbet</td>
            <td class="govuk-table__cell"><a href="edit">Edit</a>&nbsp;&nbsp;<a href="edit">Delete</a></td>

            <tr class="govuk-table__row">

            </tr>
            </tbody>
        </table>

        <a href="1" class="govuk-button govuk-!-margin-bottom-5" style="background: #DEE0E2;color: #0b0c0c;">
            Add a horse
        </a>
<br>
        <a href="check-your-answers" type="submit" class="govuk-button govuk-!-margin-bottom-5">
           Finish adding horses
        </a>
<br>
<a href="1">Save and continue later</a></li>
    </div>
</div>

{% endblock %}
