
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
        <style>.app-tabs {
            border: 1px solid #b58840;
        }
        .app-tabs:hover {
            border: 1px solid #1d70b8	;
        }
       </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Exporter journey prototype
        <span class="govuk-caption-xl">Designed with The GOV.UK Prototype Kit {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <h3 class="govuk-heading-s"></h3>
      <ul class="govuk-list">
        <li><h3 class="govuk-heading-m"><a href="beta/" class="govuk-link--no-visited-state">Private Beta (dev version and testing version)</a></h3></li>
        <li><h3 class="govuk-heading-m"><a href="form-builder/index" class="govuk-link--no-visited-state">Form builder</a></h3></li>
        <li><h3 class="govuk-heading-m"><a href="alpha/index" class="govuk-link--no-visited-state">Alpha and Experimental versions</a></h3></li>

        <li><h3 class="govuk-heading-m"><a href="experimental/e2e/index" class="govuk-link--no-visited-state">End to end</a></h3></li>
      </ul>

    </div>
</div>

{% endblock %}
