
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
        <style>.app-tabs {
            border: 1px solid #b58840;
        }
        .app-tabs:hover {
            border: 1px solid #1d70b8	;
        }
       </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Exporter journey prototype
        <span class="govuk-caption-xl">Designed with The GOV.UK Prototype Kit {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}





      <div class="app-tabs">

          <h2 class="govuk-heading-m">EHC-6969</h2>


          <ul class="govuk-list govuk-list--bullet">



              <li class="govuk-!-padding-bottom-3">
                  <a href="ehc-6969/">
                      EHC-6969
                  </a>

              </li>

          </ul>

      </div>



      <div class="app-tabs">

          <h2 class="govuk-heading-m">EHC-8270</h2>


          <ul class="govuk-list govuk-list--bullet">



              <li class="govuk-!-padding-bottom-3">
                  <a href="ehc-8270/">
                      EHC-8270
                  </a>

              </li>

          </ul>

      </div>





      <div class="app-tabs">

        <h2 class="govuk-heading-m">EHC-7006 AB testing</h2>


        <ul class="govuk-list govuk-list--bullet">



            <li class="govuk-!-padding-bottom-3">
                <a href="ehc-7006/">
                    EHC-7006 as is
                </a>

            </li>




            <li class="govuk-!-padding-bottom-3">
                <a href="ehc-7006-ab/">
                    EHC-7006 version B
                </a>

            </li>




            <li class="govuk-!-padding-bottom-3">
                <a href="ehc-7006-ab-version1/">
                    EHC-7006 version C
                </a>
            </li>


            <li class="govuk-!-padding-bottom-3">
                <a href="ehc-7006-ab-version2/">
                    EHC-7006 version D
                </a>
            </li>



            <li class="govuk-!-padding-bottom-3">
                <a href="ehc-7006-ab-version3/">
                    EHC-7006 version D - September
                </a>
            </li>



        </ul>

      </div>


        <div class="app-tabs">

            <h2 class="govuk-heading-m">Exporter E2E</h2>

            <ul class="govuk-list govuk-list--bullet" style="margin-bottom: -10px;">



                <li>
                    <a href="e2e/">
                        Exporter end to end journey
                    </a>
                </li>
            </ul>


            <i class="icon icon-important" style="position: relative;
    top: 35px;left: 5px">
                <span class="visually-hidden">Warning</span>
            </i>
            <p style="margin-left: 60px">Please note that E2E prototype identity registration part is provided by the IDM team and you will need to log in with:<br> <span style="font-weight: 700">username: whoareyou & password: menotyou</span></p>








        </div>



        <div class="app-tabs">
            <ul class="govuk-list govuk-list--bullet">

                <h2 class="govuk-heading-m">Jira tickets</h2>


                <li class="govuk-!-padding-bottom-3">
                <a href="ehc-2849/">
                    EHC-2849 repeatable questions
                </a>
            </li>


                <li class="govuk-!-padding-bottom-3">
                    <p>  EXP-4316 error management</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li class="govuk-!-padding-bottom-3">
                    <a href="ehc-4316/">
                      500 Error - form not available
                    </a>  </li>
                        <li class="govuk-!-padding-bottom-3">
                    <a href="ehc-4316/producer-error">
                        Producer not working Error
                    </a>  </li>

                        </ul>

                </li>


            </ul>
        </div>


        <div class="app-tabs">

            <h2 class="govuk-heading-m">Form E ideas</h2>






            <ul class="govuk-list govuk-list--bullet">



                <li>
                    <a href="form-e/dashboard">
                        Dashboard
                    </a>
                </li>
            </ul>
        </div>


      <div class="app-tabs">

          <h2 class="govuk-heading-m">EHC-8249 incomplete</h2>


          <ul class="govuk-list govuk-list--bullet">



              <li class="govuk-!-padding-bottom-3">
                  <a href="ehc-8249/">
                      EHC-8249
                  </a>

              </li>

              <p>       Export live bivalve molluscs, echinoderms, tunicates and marine gastropods intended for human consumption to the EU: certificate 8249

              </p>

          </ul>

      </div>







        <h2 class="govuk-heading-m" style="margin-top: 50%">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
