{% extends "layout.html" %}
{% block pageTitle %}
Check an export health certificate - GOV.UK
{% endblock %}
{% block beforeContent%}
{{super()}}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check a UK export health certificate</h1>
    <p class="govuk-body">Check whether a UK export health certificate is authentic.</p>
    <img src="/public/images/before-you-start-illustration.jpg" style="max-width:100%;
    max-height:100%;" alt="Diagram showing a valid and invalid export health certificate" class="govuk-!-margin-bottom-6">

    <p class="govuk-body">You will do this by entering 2 different numbers from the certificate.</p>



    <p class="govuk-body">This will take around 2 minutes.</p>

    <a href="/check-ehc-v2/unique-code" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg></a>


    <h2 class="govuk-heading-m">Before you start</h2>

    <p class="govuk-body">If your certificate has a 12 digit number starting with a number 3, use the service from the <a href="javascript:alert('Not in prototype');">Department of Agriculture, Environment and Rural Affairs (DAERA)</a> instead.</p>
<p class="govuk-body">If your certificate does not have a 12 digit number, you cannot use this service. This includes certificates printed on crown gold paper.</p>


  </div>

  <div class="govuk-grid-column-one-third">

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->



  </div>
</div>

</div>
{% endblock %}
