{% extends "layout.html" %}
{% block pageTitle %}
What is the unique code? - Check an export health certificate - GOV.UK
{% endblock %}
{% block beforeContent %}
{{super()}}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
</div>
<div class="govuk-grid-column-two-thirds">
{% if showlanguages %}
<ul class="language-toggle govuk-list govuk-!-margin-top-4">
   <li> English </li>
   <li> <a href="/check-ehc-internationalisation/select-language" lang="cy" class="govuk-link">Change language</a> </li>
  </ul>
  {% endif %}
  </div>
  </div>
{% endblock %}
{% block content %}
<!--start-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
    Use a different service
    </h1>
    <p class="govuk-body">The certificate you are checking was issued in Northern Ireland.</p>
    <p class="govuk-body">To check the certificate, use the service from the <a href="javascript:alert('DAERA service not yet built!');">Department of Agriculture, Environment and Rural Affairs (DAERA).</a></p>





  </div>
</div>
{% endblock %}
