{% extends "layout.html" %}
{% block pageTitle %}
What is the unique code? - Check an export health certificate - GOV.UK
{% endblock %}
{% block beforeContent %}
{{super()}}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<!--start-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
    You cannot use this service
    </h1>
    <p class="govuk-body">The certificate you are checking was issued in Northern Ireland.</p>
    <p class="govuk-body">To check the certificate, use the <a href="javascript:alert('DAERA service not yet built!');">DAERA service.</a></p>





  </div>
</div>
{% endblock %}
