{% extends "layout.html" %}

{% block pageTitle %}
Certificate is not valid - Check an export health certificate - GOV.UK
{% endblock %}
{% block beforeContent%}
{{super()}}
{% endblock %}
{% block content %}
<style type="text/css">
  @media only screen and (max-device-width: 480px) {
#invalid {

}
#invalid-image {
  max-width:12%;
  margin-bottom: 10px;
}
  }

  @media only screen and (min-device-width: 480px) {
#invalid {
  margin-bottom: 5px;
  font-weight: bolder;
  margin-top: 10px;
}
#invalid-image {
  max-width:9%;
  margin-bottom: 15px;
}
  }

  </style>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">


            <div class="govuk-panel govuk-panel--red">


<div id="invalid">
  <img src="/public/images/invalid.png" alt="Invalid certificate" id="invalid-image" style=""/>
</div>

             <h1 class="govuk-panel__title">
              This isn't a valid certificate
             </h1>



           </div>



             <p class="govuk-body">The information you provided does not match our records for this certificate.</p>



           <p class="govuk-body">If you think you've made a mistake, <a href="/check-ehc-v2/unique-code">enter the certificate number again</a>.</p>


           <h2 class="govuk-heading-l">Your details</h2>

                   <table class="govuk-table">
                 <tbody class="govuk-table__body">
                   <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">12 digit number</th>
                     <td class="govuk-table__cell">{{ data['unique-code'] }}</td>
                   </tr>
                   <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Certificate number</th>
                     <td class="govuk-table__cell">{{ data['certificate-number'] }}</td>
                   </tr>
                 </tbody>
               </table>
           <!--
           <p class="govuk-body"><span class="govuk-!-font-weight-bold">Certificate number:</span> {{ data['certificate-number'] }}</p>
           <p class="govuk-body"><span class="govuk-!-font-weight-bold">12 digit number:</span> {{ data['unique-code'] }}</p>
-->


           <p><a href="/check-ehc-v2/unique-code">
             Check another certificate
             </a></p>

             <h2 class="govuk-heading-m">Advice on certificate authenticity</h2>

             <p class="govuk-body">If you are concerned that this certificate is not authentic, contact <a href="mailto:exports@apha.gov.uk">exports@apha.gov.uk</a> for advice. You must include a photo or scan of the certificate.</p<


         </div>
        </div>



{% endblock %}
