
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{super()}}
<br>
<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-7 govuk-!-margin-top-0">Back</a>
{% endblock%}

{% block content %}
        <style>.app-tabs {
            border: 1px solid #b58840;
        }
        .app-tabs:hover {
            border: 1px solid #1d70b8	;
        }
       </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Multiples
      </h1>
      <!-- <p class="govuk-body"><a href="https://eaflood.atlassian.net/browse/EXP-8907">View Jira ticket</a></p> -->
        <ul class="govuk-list">
          <li><a href="dashboard">Start from dashaboard</a></li>
          <li><a href="certificate/check-your-progress?certificate=ehc2849">Start new certificate 2849EHC</a></li>
          <li><a href="certificate/new_ehc&certificate=ehc2849">EHC tasklist (new)</a></li>
          <li><a href="certificate/check-your-answers-ehc">Check your answers for EHC only (new)</a></li>
          <li><a href="certificate/certificate-list?show_fake_ehc=yes">Certificates added to applciation (new)</a></li>

    </div>
</div>

{% endblock %}
