{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
  .app-tabs {
    border: 1px solid #b58840;
  }

  .app-tabs:hover {
    border: 1px solid #1d70b8;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      EXP-9676 confirm Certifier address
    </h1>
    <p class="govuk-body"><a href="https://eaflood.atlassian.net/browse/EXP-9676">View jira story</a></p>

    <span class="govuk-body govuk-!-margin-bottom-0">Pages:</span>
    <ul class="govuk-list">
      <li><a href="certificate/exa/certifier">Find and select certifier (no change)</a> </li>
      <li><a href="certificate/exa/certifier-confirm-address">Confirm certifier address (updated)</a> </li>
    </ul>
  </div>
</div>

{% endblock %}
