
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
        <style>.app-tabs {
            border: 1px solid #b58840;
        }
        .app-tabs:hover {
            border: 1px solid #1d70b8	;
        }
       </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        EXP-8639 Update clone journey
      </h1>{{releaseVersion | log }}
      <p class="govuk-body"><a href="https://eaflood.atlassian.net/browse/EXP-8639"><span class="govuk-!-font-weight-bold">Jira:</span>Update exporter dashboard 'clone' flow</a></p>

      <!-- <p class="govuk-body"><a href="https://eaflood.atlassian.net/browse/EXP-8086"><span class="govuk-!-font-weight-bold">Jira:</span> Increase prominence of 'Search' CTA on the 'Certifier Search' page</a></p> -->
        <ul class="govuk-list">
          <li><h3 class="govuk-header-sm">New clone journey from dashboard </h3></li>
          <li><a class="govuk-link--no-visited-state" href="dashboard?copy_as_new=&certificate=ehc6969">From Dashboard (using the older dashboard)</a></li>
          <li><a class="govuk-link--no-visited-state" href="clone?copy_as_new=&certificate=ehc6969&cloned=no">Do you want to clone this application?</a></li>
          <li><a class="govuk-link--no-visited-state" href="clone-new-version?copy_as_new=&certificate=ehc6969&cloned=no">Clone application with new certificate version</a></li>
          <br>
          <li><a class="govuk-link--no-visited-state" href="certificate/check-your-answers-cloned?copy_as_new=&&data=&certificate=ehc6969&cloned=yes&alert=cloned">Check your answers (with alert successfully cloned)</a></li>
          <br>
          <li><h3 class="govuk-header-sm">Same with copy as new</h3></li>
          <li><a class="govuk-link--no-visited-state" href="dashboard?copy_as_new=yes&certificate=ehc6969">From Dashboard</a></li>
          <li><a class="govuk-link--no-visited-state" href="clone?copy_as_new=yes&certificate=ehc6969&cloned=no">Do you want to clone this application?</a></li>
          <li><a class="govuk-link--no-visited-state" href="certificate/check-your-answers-cloned?copy_as_new=yes&&data=&certificate=ehc6969&cloned=yes&alert=cloned">Cloned: Check your answers (with alert)</a></li>
          <br>
          <li><h3 class="govuk-header-sm">Clone when starting new appliction <strong class="govuk-tag">Experimental</strong></h3></li>
          <li><a class="govuk-link--no-visited-state" href="dashboard-new-clone?copy_as_new=&certificate=ehc6969">0. From Dashboard</a></li>
          <li><a class="govuk-link--no-visited-state" href="certificate/new-certificate">1. Do you want to clone?</a></li>
          <li><a class="govuk-link--no-visited-state" href="certificate/choose-certificate">2. Select certificate</a></li>
          <li><a class="govuk-link--no-visited-state" href="certificate/find-application?selected_certificate=6969EHC&certificate=ehc6969">3. Which application do you want to clone</a></li>
          <li><a class="govuk-link--no-visited-state" href="certificate/find-application?selected_certificate=8254EHC&certificate=ehc8254">3-1. There is a new version alert</a></li>

      </div>
    </div>

{% endblock %}
