{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service
    </span>
  </p>
</div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Add a notification</h1>
<form method="post" action="/form-builder/notifications/add">
    <div class="govuk-form-group">
      <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="notification-title">
          Title
        </label>
      </h2>
      <input class="govuk-input" id="notification-title" name="notification-title" type="text">
    </div>

    <div class="govuk-form-group">
      <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="notification-message">
          Message
        </label>
      </h2>
      <div id="more-detail-hint" class="govuk-hint">
        Use no more than 250 characters.
      </div>
      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>

    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        What is the notification type?
      </h2>
    </legend>

    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="notification-type-information" name="notification-type" type="radio" value="information">
        <label class="govuk-label govuk-radios__label" for="notification-type-information">
          Information
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="notification-type-warning" name="notification-type" type="radio" value="warning">
        <label class="govuk-label govuk-radios__label" for="notification-type-warning">
          Warning
        </label>
      </div>
    </div>
    </div>

    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Which services should show the notification?
      </h1>
    </legend>
    <div id="services-show-hint" class="govuk-hint">
      Select all that apply.
    </div>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="services-show-defraid" name="services-show" type="checkbox" value="DEFRA Identity">
        <label class="govuk-label govuk-checkboxes__label" for="services-show-defraid">
          DEFRA Identity
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="services-show-ehco" name="services-show" type="checkbox" value="EHCO">
        <label class="govuk-label govuk-checkboxes__label" for="services-show-ehco">
          EHCO
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="services-show-ipaffs" name="services-show" type="checkbox" value="IPAFFS">
        <label class="govuk-label govuk-checkboxes__label" for="services-show-ipaffs">
          IPAFFS
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="services-show-plant-exports" name="services-show" type="checkbox" value="plant-exports">
        <label class="govuk-label govuk-checkboxes__label" for="services-show-plant-exports">
          Plant exports
        </label>
      </div>

    </div>

  </fieldset>
</div>

    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Who will see the notification?
      </h2>
    </legend>
    <div id="waste-hint" class="govuk-hint">
      Select all that apply.
    </div>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="notification-visibility-exporters" name="notification-visibility" type="checkbox" value="exporters">
        <label class="govuk-label govuk-checkboxes__label" for="notification-visibility-exporters">
          Exporters
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="notification-visibility-certifiers" name="notification-visibility" type="checkbox" value="certifiers">
        <label class="govuk-label govuk-checkboxes__label" for="notification-visibility-certifiers">
          Certifiers
        </label>
      </div>
    </div>

  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        What date will the notification start?
      </h1>
    </legend>
    <div id="notification-start-hint" class="govuk-hint">
      For example, 12 11 2020
    </div>
    <div class="govuk-date-input" id="notification-start">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="notification-start-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="notification-start-day" name="notification-start-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="notification-start-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="notification-start-month" name="notification-start-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="notification-start-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="notification-start-year" name="notification-start-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
    </div>

  </fieldset>
</div>

<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="applicant-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              What time will the notification start?
            </h1>
          </legend>
          <span id="submit-date-hint" class="govuk-hint">
            For example, 9:30am or 2:50pm
          </span>
          <div class="govuk-date-input" id="notification-start-time">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="notification-start-hour">
                  Hour
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="notification-end-hour" name="notification-start-hour" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="notification-start-minute">
                  Minute
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="notification-start-minute" name="notification-start-minute" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                  am or pm
                </label>
                <select class="govuk-select govuk-input--width-" id="sort" name="notification-start-period">
                  <option value="empty"></option>
                  <option value="am">am</option>
                  <option value="pm">pm</option>
                </select>
              </div>
            </div>
          </div>
        </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        What date will the notification end?
      </h1>
    </legend>
    <div id="notification-end-hint" class="govuk-hint">
      For example, 12 11 2020
    </div>
    <div class="govuk-date-input" id="notification-end">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="notification-end-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="notification-end-day" name="notification-end-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="notification-end-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="notification-end-month" name="notification-end-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="notification-end-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="notification-end-year" name="notification-end-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
      </div>
    </div>

  </fieldset>
</div>
<div class="govuk-form-group">
<fieldset class="govuk-fieldset" aria-describedby="applicant-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              What time will the notification end?
            </h1>
          </legend>
          <span id="submit-date-hint" class="govuk-hint">
            For example, 9:30am or 2:50pm
          </span>
          <div class="govuk-date-input" id="notification-end-time">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="notification-end-hour">
                  Hour
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="notification-end-hour" name="notification-end-hour" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="notification-end-minute">
                  Minute
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="notification-end-minute" name="notification-end-minute" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                  am or pm
                </label>
                <select class="govuk-select govuk-input--width-" id="sort" name="notification-end-period">
                  <option value="empty"></option>
                  <option value="am">am</option>
                  <option value="pm">pm</option>
                </select>
              </div>
            </div>
          </div>
        </fieldset>
</div>


      <input type="hidden" name="name" value=""/>

                <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
                  Add a notification
                </button>
      </form>
  </div>
</div>
{% endblock %}
