{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service
    </span>
  </p>
</div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <form method="post" action="/delete-notification">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-heading-xl">Remove in-service message</h1>
          </legend>

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m"></caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Message</th>
                <td class="govuk-table__cell">You can now request a pre-certificate if you need an official copy of the certificate before APHA processes your application.
                  Dismiss notification</td>

              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Type</th>
                <td class="govuk-table__cell">Warning</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Audience</th>
                <td class="govuk-table__cell">Exporters</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Start</th>
                <td class="govuk-table__cell">18:00 17 May 2021</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">End</th>
                <td class="govuk-table__cell">20:00 17 May 2021</td>
              </tr>
             </tbody>
          </table>
          <input type="hidden" name="name" value="" />
          <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
            Confirm
          </button>
      </form>
    </div>
  </div>
  {% endblock %}