{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service
    </span>
  </p>
</div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Manage notifications</h1>

    <form method="get" action="/form-builder/notifications/add">
      <input type="hidden" name="name" value=""/>
      <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
        Add new
      </button>
    </form>

    {% if activenotifications %}
    <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Title</th>
      <th scope="col" class="govuk-table__header">Message</th>
      <th scope="col" class="govuk-table__header">Alert type</th>
<!--       <th scope="col" class="govuk-table__header">Services</th> -->
      <th scope="col" class="govuk-table__header">Audience</th>
      <th scope="col" class="govuk-table__header">Starts</th>
      <th scope="col" class="govuk-table__header">Ends</th>
        <th scope="col" class="govuk-table__header">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Planned downtime</td>
      <td class="govuk-table__cell">The service will be unavailable from 01 August 2021 until 04 August 2021 due to maintenance.</td>
      <td class="govuk-table__cell">Information</td>
<!--       <td class="govuk-table__cell">EHCO<br/>Plant Exports</td> -->
      <td class="govuk-table__cell">Exporters</td>
      <td class="govuk-table__cell">01 July 2021 at 12:01am</td>
      <td class="govuk-table__cell">04 August 2021 at 11:59pm</td>
      <td class="govuk-table__cell"><a href="javascript:alert('Not in prototype!')">Edit</a><br/><a href="/form-builder/notifications/delete">Delete</td>

    </tr>

  </tbody>
</table>
{% else %}
<p class="govuk-body">There are no notifications.</p>
{% endif %}
<!-- <p class="govuk-body"><a href="/form-builder/notifications/add">Add a notification</a></p>
 -->
  </div>
</div>
{% endblock %}
