{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service
    </span>
  </p>
</div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Manage In-service messaging</h1>

    {% if activenotifications %}
    {% else %}
    <p class="govuk-body">There are no in-service messages.</p>
    {% endif %}

    <form method="get" action="/form-builder/notifications/add">
      <input type="hidden" name="name" value="" />
      <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
        Add new
      </button>
    </form>

    {% if activenotifications %}
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Message</th>
          <th scope="col" class="govuk-table__header">Alert type</th>
          <th scope="col" class="govuk-table__header">Audience</th>
          <th scope="col" class="govuk-table__header">Start date</th>
          <th scope="col" class="govuk-table__header">End date</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>


      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">


          {% for item in results %}
          <td class="govuk-table__cell"><strong class="{{item.tag}}">
            {{item.status}}
          </strong></td>
          <td class="govuk-table__cell">{{item.message}}</td>
          <td class="govuk-table__cell">{{item.alert}}</td>
          <td class="govuk-table__cell">{{item.audience}}</td>
          <td class="govuk-table__cell">{{item.dateStart}}</td>
          <td class="govuk-table__cell">{{item.dateEnd}}</td>
          <td class="govuk-table__cell"><a href="/form-builder/notifications/edit">Edit</a><br /><a
              href="/form-builder/notifications/delete">Delete</td>
        </tr>
        {% endfor %}
<!-- 
          {% for item in results %}
          <td class="govuk-table__cell {% if not item.dateStart %}inactive{% endif %}">{{item.message}}</td>
          <td class="govuk-table__cell {% if not item.dateStart %}inactive{% endif %}">{{item.alert}}</td>
          <td class="govuk-table__cell {% if not item.dateStart %}inactive{% endif %}">{{item.audience}}</td>
          <td class="govuk-table__cell {% if not item.dateStart %}inactive{% endif %}">{{item.dateStart}}</td>
          <td class="govuk-table__cell {% if not item.dateStart %}inactive{% endif %}">{{item.dateEnd}}</td>
          <td class="govuk-table__cell {% if not item.dateStart %}inactive{% endif %}"><a href="/form-builder/notifications/edit">Edit</a><br /><a
              href="/form-builder/notifications/delete">Delete</td>
        </tr>
        {% endfor %}
 -->
      </tbody>
    </table>

    {% endif %}
    <!-- <p class="govuk-body"><a href="/form-builder/notifications/add">Add a notification</a></p>
 -->
  </div>
</div>
{% endblock %}