{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<style>
  .app-tabs {
    border: 1px solid #b58840;
  }

  .app-tabs:hover {
    border: 1px solid #1d70b8;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Application page with tabs
    </h1>
    <!-- <p class="govuk-body"><a href="https://eaflood.atlassian.net/browse/EXP-8086"><span class="govuk-!-font-weight-bold">Jira:</span> Increase prominence of 'Search' CTA on the 'Certifier Search' page</a></p> -->
    <ul class="govuk-list">
      <li><a href="application?id=0#ehc-tab">Application with attachments</a></li>
      <li><a href="application?id=24#ehc-tab">Application with attachments - multiple certificates</a></li>
      <li><a href="application?id=31#attachment-tab">Application <strong>without</strong> attachments</a></li>
      <li><a href="application?id=4">Application no tabs (draft) </a></li>
    </ul>
  </div>
</div>


{% endblock %}
