{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent%}
{{super()}}
<a href="../dashboard" class="govuk-back-link">Return to your applications</a>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      Apply for 6969EHC
    </h1>
    <span class="govuk-caption-l govuk-!-margin-bottom-6">(Experiimental) Export dairy and dairy products to Australia</span>
    <p id="next-task" class="govuk-body govuk-!-margin-bottom-6">You have completed <span class="completed-count">1</span> of 7 tasks <a href="#">Next: Where will certification take place?</a></p>
    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> About your application
        </h2>
        <ul class="app-task-list__items">

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="exa/your-commodity" aria-describedby="eligibility-completed">
                Confirm your commodity
              </a>
            </span>

            <strong class="govuk-tag app-task-list__task-completed not-started" id="contact-details-completed">Not started</strong>

          </li>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="exa/reference" aria-describedby="eligibility-completed">
                Your reference
              </a>
            </span>

            <strong class="govuk-tag app-task-list__task-completed not-started" id="contact-details-completed">Not started</strong>

          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="exa/certifier" aria-describedby="eligibility-completed">
                Your certifier
              </a>
            </span>

            <strong class="govuk-tag app-task-list__task-completed not-started" id="contact-details-completed">Not started</strong>

          </li>




        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Information needed by APHA
        </h2>
        <p class="govuk-body govuk-!-margin-left-6">APHA uses this information to control the spread of disease. This information does not appear on the EHC.</p>








        <ul class="app-task-list__items">

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->

          <!-- New group. set the current group name to the pages group_name -->

          <!-- disabled state, set this in the parent page-->

          <!-- active state-->
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">

              <a href="page?id=11&amp;next=check-your-progress&amp;return_url=check-your-progress&amp;journey=new" aria-describedby="">

                Certification
              </a>
            </span>

            <strong class="govuk-tag app-task-list__task-completed not-started">Not started</strong>

          </li>
          <!-- IF disabled END -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->

          <!-- New group. set the current group name to the pages group_name -->

          <!-- disabled state, set this in the parent page-->

          <!-- active state-->
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">

              <a href="page?id=17&amp;next=check-your-progress&amp;return_url=check-your-progress&amp;journey=new" aria-describedby="">

                Export details
              </a>
            </span>

            <strong class="govuk-tag app-task-list__task-completed not-started">Not started</strong>

          </li>
          <!-- IF disabled END -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->

          <!-- New group. set the current group name to the pages group_name -->

          <!-- disabled state, set this in the parent page-->

          <!-- active state-->
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">

              <a href="page?id=15&amp;next=check-your-progress&amp;return_url=check-your-progress&amp;journey=new" aria-describedby="">

                Your commodity
              </a>
            </span>

            <strong class="govuk-tag app-task-list__task-completed not-started">Not started</strong>

          </li>
          <!-- IF disabled END -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

        </ul>
        <!-- IF is_multiple END -->

      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span>Information for the export health certificate
        </h2>
        <p class="govuk-body govuk-!-margin-left-6">This information will appear on the certificate.</p>








        <ul class="app-task-list__items">

          <!-- display_type should be set in the parent page -->

          <!-- New group. set the current group name to the pages group_name -->

          <!-- disabled state, set this in the parent page-->

          <!-- active state-->
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">

              <a href="page?id=1&amp;next=check-your-progress&amp;return_url=check-your-progress&amp;journey=new" aria-describedby="">

                Your product
              </a>
            </span>

            <strong class="govuk-tag app-task-list__task-completed">Completed</strong>

          </li>
          <!-- IF disabled END -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->

          <!-- New group. set the current group name to the pages group_name -->

          <!-- disabled state, set this in the parent page-->

          <!-- active state-->
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">

              <a href="page?id=6&amp;next=check-your-progress&amp;return_url=check-your-progress&amp;journey=new" aria-describedby="">

                Your consignment
              </a>
            </span>

            <strong class="govuk-tag govuk-tag--blue app-task-list__tag">In progress</strong>

          </li>
          <!-- IF disabled END -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

          <!-- display_type should be set in the parent page -->
          <!-- IF display_type and current_group_title END -->

        </ul>
        <!-- IF is_multiple END -->

      </li>

      <!-- Hack to make part 3 active from the start -->
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span>Additional documents (optional)
        </h2>
        <p class="govuk-body govuk-!-margin-left-6">Upload packing lists, schedules and other supporting documents to attach to your application</p>

        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name"><a href="supporting-documents?test=yes" aria-describedby="">Supporting documents</a></span>
            <strong class="govuk-tag app-task-list__task-completed">None added</strong>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">5. </span> Check and submit your application
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name"><a href="check-your-answers">Check your answers and submit application</a></span>
            <strong class="govuk-tag app-task-list__task-completed not-started">Not started</strong>
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>
{% endblock %}
