{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
<style media="screen">
  .download-a-document-container {
  padding-bottom: 0px;
}
@media (min-width: 641px) {
  .gem-c-govspeak .attachment .attachment-thumb {
    position: relative;
    float: left;
    margin-top: 5px;
    margin-left: -124px;
    padding-bottom: 15px;
}
.gem-c-govspeak .attachment:after {
    content: "";
    display: block;
    clear: both;
}
.gem-c-govspeak .attachment:first-child {
    margin-top: 0;
    padding-top: 0;
}

.gem-c-govspeak .attachment {
    position: relative;
    margin: 30px 0;
    padding: 15px 0 0 129px;
}
.gem-c-govspeak .attachment .attachment-thumb img {
    display: block;
    width: 99px;
    height: 140px;
    background: #ffffff;
    outline: 5px solid rgba(11,12,12,0.1);
    box-shadow: 0 2px 2px rgba(11,12,12,0.4);
}
.gem-c-govspeak img {
    width: auto;
    height: auto;
    max-width: 100%;
}
  .download-a-document-container {
    padding-bottom: 10px;
  }
}
.defra-alert--no-border{
  border-width:0;
}
.download-a-document {
  margin-bottom:0;
}
.download-a-document:after {
  content: "";
  display: block;
  clear: both;
}
.download-a-document-image {
  display:block;
  float:left;
  overflow:hidden;
  margin-right:20px;
}
.download-a-document-content {
  font-size: 16px;
  font-weight: normal;
  display: inline-grid;
}
.download-a-document-section-1 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.download-a-document-section-2 {
  display: block;
}
</style>
{% endblock%}
{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">
        Review your answers
      </h1>
      <p class="govuk-body">
        Your application for a health certificate is now ready to be submitted.<br>
        Please check that the answers you've provided are correct.
      </p>

      <div class="app-summary-card ">
        <header class="app-summary-card--header">
          <h4 class="app-summary-card--title">1. About the application</h4>
        </header>
        <div class="app-summary-card--content">
          <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m">
            {% if (db.commodities | length) > 1 %}


            <!-- <h2 class="govuk-heading-m">Commodity Details</h2> -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What are you exporting?
              </dt>
              <dd class="govuk-summary-list__value">
                {{data.commodity_type}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="exa/your-commodity?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-specific-commodity-question">Change</a>
              </dd>
            </div>

            <!-- </dl> -->
            {% endif %}
            <!-- <h2 class="govuk-heading-m">Do you want to provide an applicant reference number?</h2> -->
            <!-- <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m"> -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Your reference
              </dt>
              <dd class="govuk-summary-list__value">
                {{data.reference_num or "no reference"}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="exa/reference?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-0">Change</a>
              </dd>
            </div>
            <!-- </dl> -->
            {% if data.is_block_application == "yes" and db.allow_blocks == "yes"%}
            <!-- <h2 class="govuk-heading-m">How many certificates do you need?</h2> -->
            <!-- <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m"> -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Number of certificates
              </dt>
              <dd class="govuk-summary-list__value">
                {{data.certificate_request_amount or "1"}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="exa/certificates?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-1">Change</a>
              </dd>
            </div>
            <!-- </dl> -->
            {% endif %}
            {% if db.destination == "EU" %}
            <!-- <h2 class="govuk-heading-m">Where are you exporting to?</h2> -->
            <!-- <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m"> -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Point of entry into the European Economic Area
              </dt>
              <dd class="govuk-summary-list__value">
                {{data.export_destination_entry}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="exa/export-destination?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-2">Change</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Destination in the European Economic Area
              </dt>
              <dd class="govuk-summary-list__value">{{data.export_destination}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="exa/export-destination?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-2">Change</a>
              </dd>
            </div>
            <!-- </dl> -->
            {% endif %}
            <!-- <h2 class="govuk-heading-m">Select the certifier practice to include with your application</h2> -->
            <!-- <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m"> -->

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Select the certifier practice to include with your application
              </dt>
              <dd class="govuk-summary-list__value">{{data.certifier_name or 'CBA VETS LIMITED'}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="exa/certifier?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-4">Change</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Select certificate delivery address
              </dt>
              <dd class="govuk-summary-list__value">{{data.certifier_addressLine1}} {{data.certifier_addressLine2}}, {{data.certifier_town}}, {{data.certifier_postcode}},
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="exa/certifier-confirm-address?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-5">Change</a>
              </dd>
            </div>
            <!-- </dl> -->
            <!-- <h2 class="govuk-heading-m">How would you like the certificate to be delivered to the certifier?</h2> -->
            <!-- <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-summary-list__m"> -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Delivery method
              </dt>
              <dd class="govuk-summary-list__value">{{data.delivery_options}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="exa/certifier-certificate-delevery?change=yes" data-qa-id="Link-ChangeAnswer" id="Link-ChangeAnswer-6">Change</a>
              </dd>
            </div>
          </dl>
        </div>
      </div>

      <!-- -------------------------
        EXA RESPONSES
        -------------------------- -->
      <div class="app-summary-card ">
        <header class="app-summary-card--header">
          <h4 class="app-summary-card--title">2. Information needed by APHA </h4>
        </header>
        <div class="app-summary-card--content">
          <p class="govuk-hint">This infomation does not appear on the certificate.</p>
          <!-- display_type is used to show correct informtion from JSON file, EXA or EHC -->
          {% set display_type = "EXA"%}
          <!-- loading partial to show all repsonses for the EXA partials/check-your-answers-block -->
          {% block EXAanswers %}{% include "./partials/check-your-answers-block.html" %}{% endblock %}
        </div>
      </div>
      <!-- -------------------------
        EHC RESPONSES
        -------------------------- -->
      <div class="app-summary-card ">
        <header class="app-summary-card--header">
          <h4 class="app-summary-card--title">3. Information for the export health certificate</h4>
        </header>
        <div class="app-summary-card--content">
          {% if data.block_version == "2" and data.is_blank_block == 'yes'%}
          <div class="defra-alert defra-alert--info">
            <p class="govuk-body">This is a block application. Anything you enter in this section will appear on <strong>all {{data.certificate_request_amount or '50'}} certificates</strong>. </p>

          </div>
          {% endif %}
          <!-- display_type is used to show correct informtion from JSON file, EXA or EHC -->
          {% set display_type = "EHC"%}
          <!-- loading partial to show all repsonses for the EHC partials/check-your-answers-block -->
          {% block EHCanswers %}{% include "./partials/check-your-answers-block.html" %}{% endblock %}
          <div class="gem-c-govspeak govuk-govspeak direction-ltr" data-module="govspeak">
            <section class="attachment embedded govuk-!-margin-bottom-0" id="attachment_3220161">
              <div class="attachment-thumb">
                <a aria-hidden="true" class="thumbnail" tabindex="-1" href="/public/images/{{db.sample_PDF or 'ehc-2580ehc-7.6.pdf'}}"><img alt="" src="/public/images/specimin_thumb.png"></a>
              </div>
              <div class="attachment-details">
                <p class="govuk-body">See what all {{data.certificate_request_amount or '50'}} certificates will look like by <a aria-describedby="attachment-3220161-accessibility-help" href="/public/images/{{db.sample_PDF or 'ehc-2580ehc-7.6.pdf'}}">previewing
                    your answers in a specimen certificate (opens in a new tab)</a></p>
                <p class="metadata">
                  <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">784KB</span>, <span class="page-length">2 pages</span> <br>This file may not be suitable for users of assistive technology.
                </p>

                <p class="govuk-body">

                </p>

              </div>
            </section>
          </div>
          <!-- <div class="defra-alert defra-alert--info govuk-!-margin-bottom-0">
            <p class="download-a-document">
              <span class="download-a-document-image"><img class="" src="/public/images/icon-file-download.png" alt="your answers in a specimen certificate"><span class="govuk-visually-hidden">File download</span></span>
              <strong><a href="/public/images/{{db.sample_PDF or 'ehc-2580ehc-7.6.pdf'}}" target="_blank" data-qa-id="Link-PreviewCertificate" class="govuk-link">Preview these answers in a specimen certificate</a> (PDF, 23KB)
                <br>(opens in a new tab)</strong>
            </p>
          </div> -->
        </div>
      </div>

      <div class="app-summary-card ">
        <header class="app-summary-card--header">
          <h4 class="app-summary-card--title">4. Attachments (optional)</h4>
        </header>
        <div class="app-summary-card--content">
          {% if (data.uploaded_files | length) > 0 %}
          <p class="govuk-body">{{data.uploaded_files | length}} file{% if (data.uploaded_files | length) > 1 %}s{% endif %} attached</p>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9 ">


            {% for file in data.uploaded_files %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                File {{loop.index}}
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#"><strong>{{file}}</strong></a>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="supporting-documents?change=yes">
                  Delete<span class="govuk-visually-hidden"> {{file}}</span>
                </a>
              </dd>
            </div>

            {% endfor%}
            <p class="govuk-body govuk-!-margin-top-6"><a href="supporting-documents?change=yes" class="govuk-link">Add more attachments</a></p>
            {% else %}
            <p class="govuk-body">You have uploaded no attachments</p>
            <p class="govuk-body"><a href="supporting-documents?change=yes" class="govuk-link">Add attachments</a></p>
            {% endif %}
            <dl>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div>
        <form action="review" method="POST">
          <input type="hidden" name="crumb_csrf_token" value="gTlLBKyL-1hcIX_eIlqttNqVHhFrTHmuqTG5yTJsotb">
          <input type="hidden" name="applicationFormStatus" value="">
          <input class="govuk-button margin-top-30" type="submit" value="Continue" id="Button-Continue" data-qa-id="Button-Continue">
        </form>
      </div>
    </div>
  </div>
</div>
{% block chatbot %}{% include "../../../../includes/chat.html" %}{%endblock%}
{% endblock %}
