{% extends "layout.html" %}
{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}
<style media="screen">

</style>
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service
    </span>
  </p>
</div>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST" action="/form-builder/conditional-routing-2/reference-data/fish">

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

          <span class="govuk-caption-l ">Live shellfish: clams</span>
          <h1 class="govuk-heading-l">Who will do the disease clearance check?</h1>


        </legend>


        <div class="govuk-radios">





              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="disease-check-certifier" name="disease-check" type="radio" value="Certifier">
                <label class="govuk-label govuk-radios__label" for="disease-check-certifier">
              Certifier
            </label>

              </div>







              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="disease-check-caseworker" name="disease-check" type="radio" value="Case worker">
                <label class="govuk-label govuk-radios__label" for="disease-check-caseworker">
              Case worker
            </label>

              </div>







              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="disease-check-no" name="disease-check" type="radio" value="Disease clearance not needed">
                <label class="govuk-label govuk-radios__label" for="disease-check-no">
              Disease clearance not needed
            </label>

              </div>








        </div>


      </fieldset>


      </div>
<input class="govuk-button govuk-!-margin-top-3"
       type="submit"
       value="Save and continue"
       >
</form>
  </div>
</div>
{% endblock %}
